<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" lang='en'>
    <!--table-model is the normal table without GRS-->
  <div id = 'table-model' class = 'hidden'>
  <br><br>
  <div class='google-charts'></div> 
  <table class='results-table hidden tablesorter sortable unadded'>
    <thead>
    <tr>
      <th>Disease</th>
      <th>Genes</th>
      <th class="sorttable_numeric">dbSNP</th>
      <th>Genotype</th>
      <th>Risk Allele</th>
      <th class="sorttable_numeric">OR or beta</th>
      <th class="sorttable_numeric">P-Value</th>
      <!--<th>Study Size</th>-->
      <th class="sorttable_numeric">Link</th>
    </tr>
    </thead>
    <tbody>
    <script id='table-template' type='text/template'>
      <tr>
      <td><%= disease_trait %></td>
      <td><%=  reported_genes %></td>
      <td><%= strongest_snp %></td>
      <td><%= genotype %></td>
    <td><%= risk_allele %></td>
      <td><%=  or_or_beta %></td>
      <td><%=  p_value %></td>
      //<!--<td><%=  initial_sample_size %></td>-->
      <td><a href='<%=  link %>'><%=  pubmedid %></a></td>
    </script>
    </tbody>
  </table>
  </div>
  
  <!--table-model-p has p_value_text -->
   <div id = 'table-model-p' class = 'hidden'>
  <br><br>
  <div class='google-charts'></div> 
  <table class='results-table hidden tablesorter sortable unadded'>
    <thead>
    <tr>
      <th>Disease</th>
      <th>Measurement</th>
      <th>Genes</th>
      <th class="sorttable_numeric">dbSNP</th>
      <th>Genotype</th>
      <th>Risk Allele</th>
      <th class="sorttable_numeric">OR or beta</th>
      <th class="sorttable_numeric">P-Value</th>
      <!--<th>Study Size</th>-->
      <th class="sorttable_numeric">Link</th>
    </tr>
    </thead>
    <tbody>
    <script id='table-template' type='text/template'>
      <tr>
      <td><%= disease_trait %></td>
       <td><%= p_value_text %></td>
      <td><%=  reported_genes %></td>
    <td><%= strongest_snp %></td><td><%= genotype %></td><td><%= risk_allele %></td>
      <td><%=  or_or_beta %></td><td><%=  p_value %></td>
      //<!--<td><%=  initial_sample_size %></td>-->
      <td><a href='<%=  link %>'><%=  pubmedid %></a></td>
    </script>
    </tbody>
  </table>
  </div>
  
  <!--table-model-grs has p_value_text -->
  <div id = 'table-model-grs' class = 'hidden'>
  <br class='hidden'><br class='hidden'>
  <div class='google-charts'></div> 


	<table class='results-table hidden tablesorter unadded sortable'>
    <thead>
	  <tr>
	    <th class="sorttable_numeric">dbSNP</th>
      <th>Genotype</th>
      <th>Risk Allele</th>
      <th class="sorttable_numeric">β</th>
      <th class="sorttable_numeric">Score</th>
	  </tr>
    </thead>
    <tbody>
	  <script id='table-template' type='text/template'>
		  <tr>
        <td><%= dbsnp %></td>
        <td><%= genotype %></td>
        <td><%= risk_allele %></td>
        <td><%= beta %></td>
      </tr>
		</script>
    </tbody>
	</table>
  </div>
  <head>
    <title>GENOtation</title>
    <meta charset='utf-8'/>
    <meta property="og:title" content="GENOtation" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.genotation.stanford.edu" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="GENOtation" />
    <meta property="fb:admins" content="678649016" />

    <link rel='stylesheet' type='text/css' href='/media/css/interpretome.css'>

    <link rel='stylesheet' type='text/css' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/flick/jquery-ui.css' />



    <!--import diseaselist.js, which stores all the diseases-->
    <script type='text/javascript' src='/media/js/diseaselist.js'>
    </script>

    <script type='text/javascript' src='/media/js/utils/jquery-1.7.1.min.js'>
    </script>
    <script type='text/javascript' src='/media/js/utils/jquery-ui.min.js'>
    </script>
    <script type='text/javascript' src='/media/js/utils/jquery.tmpl.min.js'>
    </script>
    <script type='text/javascript' src='/media/js/jquery/sorttable.js'>
    </script>
    <script type="text/javascript" src="/media/js/jquery/jquery.tablesorter.min.js">
    </script>
    <script type='text/javascript' src='/media/js/utils/underscore-min.js'>
    </script>
    <script type='text/javascript' src='/media/js/utils/backbone-min.js'>
    </script>
    <script type="text/javascript" src='/media/js/jquery/theme_switcher_tool.js'>
    </script>
    <script type="text/javascript" src='/media/js/figue-read-only/figue.js'>
    </script>
    <!-- Models. -->
    <script type='text/javascript' src='/media/js/model/user.js'>
    </script>
    <script type='text/javascript' src='/media/js/model/custom_exercise.js'>
    </script>
    <!-- Controllers. -->
    <script type='text/javascript' src='/media/js/controller/app.js'>
    </script>
    <!-- Views. -->
    <script type='text/javascript' src='/media/js/view/app.js'>
    </script>
    <script type='text/javascript' src='/media/js/view/start.js'>
    </script>
    <script type='text/javascript' src='/media/js/view/lookup.js'>
    </script>
    <script type='text/javascript' src='/media/js/view/explore.js'>
    </script>
    <script type='text/javascript' src='/media/js/view/disease.js'>
    </script>

    <script>
      
      //imports the js files for each disease view
      for(var i = 0; i < arrayList.length; i++)
      {
        for(var j = 0; j < arrayList[i].length; j++)
        {    
          document.write("<scr"+"ipt type='text/javascript' src='/media/js/view/" + arrayList[i][j] + ".js'></scr"+"ipt>"); 

        }
       }   
    </script>




    


    <script type='text/javascript' src='/media/js/interpretome.js'>
    </script>
    <script type = 'text/javascript' src='/media/js/view_functions.js'>
    </script>
    <script type='text/javascript' src='/media/js/sylvester.js'>
    </script>
    <script type='text/javascript' src='/media/js/highcharts_2.2.0.js'>
    </script>




    <!--<script type="text/javascript"-->
    <!--  src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCVa-mkXhJMpBiAzRZoM3xWHPY-ye8YwwA&sensor=false">-->
    <!--</script>-->
    <script type="text/javascript" src="https://www.google.com/jsapi?key=AIzaSyCVa-mkXhJMpBiAzRZoM3xWHPY-ye8YwwA">
    </script>
    <script type="text/javascript">
      google.load('visualization', '1', {'packages': ['corechart', 'gauge']});
    </script>
    
  </head>


  <body onhashchange="goTo(window.location.hash.substr(1));">
  



    <div id='wrap'>
      <div id='header'>
        <br/>
        <div id='title'>
          GENOtation
        </div>
        <!--<img src="http://gifsoup.com/view4/1326957/frilled-lizard-o.gif">-->
        <div id='global-settings'>
          <div id='user-settings' class='stack'>
            <div id='loading-genome' title='Loading' class='dialog hidden'>
              Please be patient. This may take a few moments.
              <br/>
              <br/>
              <strong>Loading</strong>:
              <div id='loading-bar' class='progress-bar'>
              </div>
              <br/>
              <strong>Parsing</strong>: <span id='snps-loaded'>0</span> SNPs
              <div id='parsing-bar' class='progress-bar'>
              </div>
            </div>
            <div id='please-load-genome' title='Load your genome' class='dialog hidden'>
              Please load your genome first.
              <br>
              <br>
              <input id='genome-file' multiple type='file' name='file' />
            </div>
            <div class='setting'>
              <span id='genome' class='stack'>
                <button id='open-confirm-dialog' class='setting-label'>
                  Begin exploring!
                </button>
              </span>
              <span id='advanced'>
                <button id='advanced-settings' type='submit' class='small-button hidden'>
                  Advanced Settings
                </button>
                <button id='add-genome' type='submit' class='small-button'>
                  Add add'l genome
                </button>
                <br/>
                <br/>
                <label for='genome-analysis' class='setting-label'>
                  Genome:
                </label>
               <select id='genome-analysis' name='genome-analysis'>
               </select>
                <button id='clear-genome' class='small-button hidden'>
                  Clear this genome
                </button>
              <br/>
              <br/>
                <div id='population-setter'>
                 <label for='toolbar-population' class='setting-label'>
                  <span id='pre-population-selection'>
                    Select your population:
                  </span>
                  <span id='post-population-selection' class='hidden'>
                    Population:
                  </span>
                 </label>
                 <select id='toolbar-population' name='population'>
                   <!--
                   I don't like having to copy and paste,
                   but these should always be the same as above.
                   -->
    
                   <option id='dummy-2' value="null">Select a population</option>
                   <option value="ANY">ANY RACE</option>
                   <option value="CEU">European</option>
                   <option value="YRI">African</option>
                   <option value="CHB">Chinese</option>
                   <option value="JPT">Japanese</option>
                   <option value="null">--------</option>
                   <option value="ASW">African-American (Southwest)</option>
                   <option value="CHD">Chinese (Denver)</option>
                   <option value="GIH">Guajarti Indian (Houston)</option>
                   <option value="LWK">Lukya (Kenya)</option>
                   <option value="MEX">Mexican (Los Angeles)</option>
                   <option value="MKK">Maasai (Kenya)</option>
                   <option value="TSI">Toscans (Italy)</option>
                 </select>
                </div>
              </span>
              <div id='confirm-dialog' title='Confirm Terms' class='dialog hidden'>
                <h3>GENOtation is intended for <i>educational and research purposes only</i>.</h3>
                <p>
                  No information should be considered diagnostic and as with any genetic testing service, the interpretation is not regulated by the FDA.
                  We assume no responsibility for any injury or damage to persons or property arising out of or related to any use of interpretome annotations
                  or for any errors or omissions: consult your physician with any medical concerns.
                  We retain copyright to the materials herein.
                  By using this website, you agree that you accept these terms and are aware of the risks and benefits of genome interpretation
                  and that you accept the full
                  <span class='link' onclick='$("#terms").dialog({
                    modal: true, width: "80%", buttons: {
                      "Close": function() {$(this).dialog("close");}
                    }});'>Terms and Conditions</span>.
                <br/>
                <br/>
                Please feel free to <a href='mailto:stuartkm@stanford.edu'>email us</a> with questions, comments, or concerns.
                <br/>
                <br/>
                <input id='terms-remembered' type='checkbox'> <label for='terms-remembered'>Remember me (will not prompt for Terms again for 30 days)</label>
                <br/>
                <br/>
                <button id='open-load-genome-dialog' class='setting-label'>
                  Begin exploring!
                </button>
              </div>
              <div id='load-genome-dialog' title='Load your Genome' class='dialog'>
                <h3>Please load your genotype file</h3>
                For genotype files, please load an unzipped .txt file.
                <br/>
                At this time, only raw files from 23andme and Lumigenix are supported natively.
                <br/>
                <br/>
                <div class='left_short'>
                File type:
                <br/>
                Name this genome:
                <br/>
                File:
                <br/>
                <span style='font-size: medium' class='link' onclick='$("#terms").dialog({
                  modal: true, width: "80%", buttons: {
                    "Close": function() {$(this).dialog("close");}
                  }});'>
                  Terms and Conditions
                </span>
                </div>
                <div class='right_long'>
                <select id='file-format' name='file-format'>
                  <option value="genotype">Genotype</option>
                  <option value="exome">Full Exome (coming soon!)</option>
                  <!--<option value="genome">Full Genome (coming soon!)</option>-->
                </select>
                <!--For full exome or genome files, please load a VCF file (experimental).-->
                <!--<br/>-->
                <!--<br/>-->
                <br/>
                <textarea id='genome-name' rows='1' cols='16'></textarea>
                <i>(optional)</i> (useful for analysis of multiple genomes)
                <br/>
                <span id='genome-file-wrap'>
                  <input id='genome-file' type='file' multiple name='file' />
                </span>
                <br/><br/>
                <div id='dropbox' class='box'>
                  Or drag your file here.
                </div>
                </div>
                <br/>
              </div>
            </div>
            <div id='confirm-clear-genome' title='Clear your genome?' class='hidden'>
              Are you sure you want to end your session?
            </div>
          </div>
          <div id='population' class='stack'>
            <div id='please-select-population' title='Select your population' class='dialog hidden'>
              Please select your population first.
              <select id='check-population' name='population'>
                <option id='dummy' value="null">Select a population</option>
                <option value="ANY">ANY RACE</option>
                <option value="CEU">European</option>
                <option value="YRI">African</option>
                <option value="CHB">Chinese</option>
                <option value="JPT">Japanese</option>
                <option value="null">--------</option>
                <option value="ASW">African-American (Southwest)</option>
                <option value="CHD">Chinese (Denver)</option>
                <option value="GIH">Guajarti Indian (Houston)</option>
                <option value="LWK">Lukya (Kenya)</option>
                <option value="MEX">Mexican (Los Angeles)</option>
                <option value="MKK">Maasai (Kenya)</option>
                <option value="TSI">Toscans (Italy)</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <br class='clear' />
        <div class="addthis_toolbox addthis_default_style ">
          <a class="addthis_button_facebook"></a>
          <a class="addthis_button_twitter"></a>
          <a class="addthis_button_email"></a>
          <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4e0588ec6e728d54"></script>

      <div id='tabs'>
        <ul>
          <span style='float:left' class='module_selection' class='setting'>
            <input type='radio' id='module_start' name='module_selection'/>
            <label for='module_start'>
              Start
            </label>&nbsp;
            <input type='radio' id='module_explore' name='module_selection'/>
            <label for='module_explore'>
              Class Exercises
            </label>&nbsp;
            <input type='radio' id='module_c' name='module_selection'/>
            <label for='module_c' onclick="goTo('clinical');">
              Clinical
            </label>&nbsp;
            <input type='radio' id='module_t' name='module_selection'/>
            <label for='module_t' onclick="$('#tabs').tabs('select', '#traits');">
              Traits
            </label>&nbsp;
            <input type='radio' id='module_ancestry' name='module_selection'/>
            <label for='module_ancestry'>
              Ancestry
            </label>&nbsp;
            <input type='radio' id='module_lookup' name='module_selection'/>
            <label for='module_lookup'>
              Lookup
            </label>&nbsp;
           
            <span id='module-arrow' style='display: none'>&#x2192;</span>
          </span>


          
          <li class='start'>
            <a href='#start'>Start</a>
          </li>
          <li class='lookup'>
            <a href='#lookup'>Lookup</a>
          </li>
          <li class='explore'>
            <a href='#explore'>Explore</a>
          </li>

          <!--puts the clinical buttons here when it makes them on line 844-->
          <div id='clinical-buttons'></div>
          
          

         

         <!-- puts ancestry stuff here when it makes them on line 850 something-->
          <div id='ancestry-buttons'></div>

          

          <div id='traits-buttons'></div>
          <div id='no-buttons'></div>

          
          
          
          <!--<li class='ancestry'>-->
          <!--  <a href='#family'>Family</a>-->
          <!--</li>-->
        </ul>
        <div id='start'>
        </div>
        <div id='lookup'>
        </div>
        <div id='explore'>
        </div>
        <div id='disease'>
        </div>

        <div id='link-divs'></div>

      
      </div>
      <div id='confirm-submit-exercise' title='Confirm submission' class='dialog hidden'>
          Are you sure you want to submit your information?
      </div>
      <div id='settings' title='Advanced Settings' class='dialog hidden'>

        <div class='advanced-setting'>
          <div class='label left'>
            LD cutoff: r
            <sup>
              2
            </sup> &#x2265; <span id='ld-cutoff-amount'></span>
            <br/>
            <br/>
            Select a theme:
            <br/><br/>
            <div id="fb_buttons">
              <fb:login-button size="small">Login</fb:login-button>
            </div>
            <div id="fb_like">
              <fb:like href="http://www.interpretome.com" send="true" layout="button_count" width="450" show_faces="true" font=""></fb:like>
            </div>
          </div>
          <div class='right'>
            <div id='ld-slider'>
            </div>
            <br/>
            <br/>
            <div id='ThemeRoller'>
            </div>
          </div>
          <br class='clear' />
        </div>
      </div>
      <div id='looking-up' title='Loading' class='dialog hidden'>
        Please be patient. This may take a few moments.
        <br/>
        <br/>
      </div>
      <div id='looking-up2' title='Loading' class='dialog hidden'>
        Please be patient. This may take a few moments.<br>
        <div id='loading-bar2' class='progress-bar'>
              </div>
        <br/>
        <br/>
      </div>
      <div id='imputing-lots' title='Imputing' class='dialog hidden'>
        Imputing <span id='imputing-number'></span> SNPs. Please be patient.
        This will take a while.
        <br/>
        <br/>
        <strong>Done</strong>: <span id='snps-imputed'>0</span> SNPs
        <div id='imputing-bar' class='progress-bar'>
        </div>
      </div>
      <div id='confirm-submit-snps' title='Submit your SNPs?' class='dialog hidden'>
        Are you sure you want to submit these SNPs?
      </div>
      <div id='thank-you' title='Thank You' class='dialog hidden'>
        Your information has been submitted. <span id='thank-you-info'></span>
      </div>
      <div id='nothing' title='Oops' class='dialog hidden'>
        Nothing was submitted.
      </div>
      <div id='footer'>
        &copy; 2011-2012 Karczewski, Tirrell, Kim, and the (<span class='link' onclick='$("#about").dialog({
  modal: true, width: "60%", height: 400, buttons: {
    "Close": function() {$(this).dialog("close");}
  }});'>Interpreteam</span>)
        <br />
        <span class='link' onclick='$("#terms").dialog({
          modal: true, width: "80%", buttons: {
            "Close": function() {$(this).dialog("close");}
          }});'>
          Terms and Conditions
        </span>
	      <div id='terms' title='Terms and Conditions' class='dialog hidden'>
	        <h3>GENOtation is intended for <i>educational and research purposes only</i>.</h3>
	        <p>
	          No information should be considered diagnostic and as with any genetic testing service, the interpretation is not regulated by the FDA.
	          We assume no responsibility for any injury or damage to persons or property arising out of or related to any use of interpretome annotations
	          or for any errors or omissions: consult your physician with any medical concerns.
	          We retain copyright to the materials herein.
	          By using this website, you agree that you accept these terms and are aware of the risks and benefits of genome interpretation.
	        </p>
          <br/>
          <p>
            Recipients acknowledge that this distribution is made available as a 
            research courtesy, "as is", potentially with defects, without any obligation 
            on the part of The Board of Trustees of the Leland Stanford Junior 
            University or the developers and authors of the website to provide support, services, or repair.
            THE BOARD OF TRUSTEES OF THE LELAND STANFORD JUNIOR UNIVERSITY AND THE DEVELOPERS
            AND AUTHORS OF THE WEBSITE DISCLAIM ALL 
            WARRANTIES, EXPRESS OR IMPLIED, WITH REGARD TO THIS SOFTWARE, INCLUDING 
            WITHOUT LIMITATION ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR 
            A PARTICULAR PURPOSE, AND IN NO EVENT SHALL THE BOARD OF TRUSTEES OF THE 
            LELAND STANFORD JUNIOR UNIVERSITY OR THE DEVELOPERS
            AND AUTHORS OF THE WEBSITE DISCLAIM BE LIABLE FOR ANY SPECIAL, INDIRECT OR 
            CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, 
            DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, TORT (INCLUDING 
            NEGLIGENCE) OR STRICT LIABILITY, ARISING OUT OF OR IN CONNECTION WITH THE 
            USE OR PERFORMANCE OF THIS SOFTWARE.
          </p>
	        <br/>
	        <h3>How are my data kept private?</h3>
	        <p>
	          Your genome will not be sent to any server, it remains on your computer.
	          This website will make requests to a database that only contain "rsid" (without genotypes) and "population" (self-reported in the top-right) information.
	          At no point will any genotypes be sent across the wires (all computation will be done in the browser).
	        </p>
	        <br>
	        <p>
	          Some exercises may have an option to submit personal information, including genotypes or results of analyses.
	          Entry of your data is not required and all information will be anonymously stored on a secure server.
	          However, there is a theoretical possibility that this information can be intercepted and misused.
	          If you are accessing this site on an unecrypted WiFi network, any party may observe the data sent over the connection.
	        </p>
	        <br/>
	        Please feel free to <a href='mailto:stuartkm@stanford.edu'>email us</a> with questions, comments, or concerns.
	      </div>
	    </div>
    </div>

    <div class='darken' style='position:absolute;top:0;left:0;background-color:rgba(0,0,0,.75);width:100%;height:100%;display:none'>
    </div>


    <script>

    var nicknameIndex;
      //for every element in every array inside arrayList...
       for(var k = 0; k < arrayList.length; k++)
      {
        for(var l = 0; l < arrayList[k].length; l++)
        {
          nicknameIndex = $.inArray(arrayList[k][l], hasNicknameList);
          //if the array we're looking at is the one with clinical stuff...
          if (arrayList[k][0] == clinicalList[0])
          {
            //then add buttons in a list with class clinical that render and link to the page
            if(nicknameIndex==-1)
            {
              document.getElementById('clinical-buttons').insertAdjacentHTML( 'beforeBegin', '<li class="clinical"><a onclick="doRender('+k+',  ' + l +');" href="#' + clinicalList[l] + '">'+capitalize(clinicalList[l], true) +'</a></li>');
            }
            else{
            document.getElementById('clinical-buttons').insertAdjacentHTML( 'beforeBegin', '<li class="clinical"><a onclick="doRender('+k+',  ' + l +');" href="#' + clinicalList[l] + '">'+ nicknameList[nicknameIndex] +'</a></li>');
            }
          }
          //if the array we're looking at is the one with ancestry stuff...
          else if (arrayList[k][0] == ancestryList[0])
          {

            //then add buttons in a list with class ancestry that render and link to the page
            if(nicknameIndex==-1)
            {
            document.getElementById('ancestry-buttons').insertAdjacentHTML( 'beforeBegin', '<li class="ancestry"><a onclick="doRender('+k+',  ' + l +');" href="#' + ancestryList[l] + '">'+capitalize(ancestryList[l], true) +'</a></li>');
            }
            else{
            document.getElementById('ancestry-buttons').insertAdjacentHTML( 'beforeBegin', '<li class="ancestry"><a onclick="doRender('+k+',  ' + l +');" href="#' + ancestryList[l] + '">'+ nicknameList[nicknameIndex] +'</a></li>');
            }
          }
          //if the array we're looking at is the one with traits stuff...
          else if (arrayList[k][0] == traitsList[0])
          {
            
            //then add buttons in a list with class traits that render and link to the page
            if(nicknameIndex==-1)
            {
            document.getElementById('traits-buttons').insertAdjacentHTML( 'beforeBegin', '<li class="traits"><a onclick="doRender('+k+',  ' + l +');" href="#' + traitsList[l] + '">'+capitalize(traitsList[l], true) +'</a></li>');
            }
            else{
            document.getElementById('traits-buttons').insertAdjacentHTML( 'beforeBegin', '<li class="traits"><a onclick="doRender('+k+',  ' + l +');" href="#' + traitsList[l] + '">'+ nicknameList[nicknameIndex] +'</a></li>');
            }
          }
          else if (arrayList[k][0] == noButtonList[0])
          {
            
            //then add buttons in a list with class traits that render and link to the page
            
            document.getElementById('no-buttons').insertAdjacentHTML('beforeBegin', '<li class="clinical"><a style="display:none" onclick="doRender('+k+',  ' + l +');" href="#' + noButtonList[l] + '">'+capitalize(noButtonList[l], true) +'</a></li>');

            
          }

          //creates ids that will be linked to
          document.getElementById('link-divs').insertAdjacentHTML( 'afterEnd', '<div id="'+ arrayList[k][l] +'"></div>');
        }

       }
    

       $(function(){
    //This emulates a click on the correct button on page load
    if(document.location.hash){
     $("a").removeClass('selected');
     s=$(document.location.hash.replace("_","")).addClass('selected').attr("href").replace("javascript:","");
     eval(s);
    }

    //Click a button to change the hash
    $("a").click(function(){
            $("a").removeClass('selected');
            $(this).addClass('selected');
            document.location.hash=$(this).attr("href").replace("#", "")+"_";
            window.history.replaceState(null,null, "/"+$(this).attr("href"));
            //return false;
    });


});
    </script>
  </body>
</html>


