<!--<link href="../css/interpretome.css" rel="stylesheet" type="text/css" />-->
<div class='main2'>
	<h2>Chronic Kidney Disease</h2>
	
<p>Click to look up your CKD Genetic Risk Score. (use ANY Race, do not use your specific race).</p>
<div>
  <p>(Use ANY RACE for your race.)</p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
      <div>
<button id='get-gwas' type='submit'>
	    Show my CKD risk score
	  </button>
	</div>


<div class='main2'>
  <div id='help-disease-help'>
    <blockquote>
      <p><a href="http://www.ncbi.nlm.nih.gov/pubmed/20383146">Kottgen et al. 2010</a> derived a genetic risk score for chronic kidney disease using 16 SNPs and counting the number of risk alleles at each locus. Each of the SNPs was associated with the glomerular filtration rate of the kidney. The glomerular filtration rate is a measure of the function of the kidney, and is derived by estimating the GFR using levels of creatinine (eGFR<sub>crea</sub>). Overall, the genetic risk score for CKD accounts for only 1.4% of the variance in glomerular filtration rate. </p>
      <table width="805" border="0">
        <tr>
          <td width="430"><img src="/media/graphics/ckd1.jpg" width="430" height="290" alt="ckd" /></td>
          <td width="365">The Figure shows how your score relates to the average levels of kidney function (eGFRcrea) and risk for chronic kidney disease. The x axis indicates the number of risk alleles you have from the 16 SNPs. Grey squares indicate mean eGFRcrea; white circles indicate CKD prevalence. Error bars represent 95% confidence intervals. The number of individuals in each risk score category is indicated.</td>
        </tr>
      </table>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
<p>&nbsp;</p>
<blockquote>
  <blockquote>
    <blockquote>&nbsp;</blockquote>
  </blockquote>
</blockquote>
    </blockquote>
    <blockquote>
  <p>&nbsp;</p>
</blockquote>
<p>&nbsp;</p>
  </div>
</div>

<br class='clear'>