<div class='main2'>
<a href="http://www.ncbi.nlm.nih.gov/pubmed/20383145">Chambers et al (2010</a>) performed a GWAS for SNPs associated with Creatinine levels. 
<p>Click to look up your creatinine level SNPs (use ANY Race, do not use your specific race). </p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
<p>&nbsp;</p>
	<div>
<button id='get-gwas' type='submit'>
	    Show my creatinine Level SNPs
	  </button>
    
  <br/>
  <br/>
	
	
</div>

<div class='main2'>
  <div id='help-disease-help'>
  
    <p>rs10206899 is tightly linked to a missense mutation (rs15358; A595G) in NAT8, which is a gene that encodes an N-acetyltransferase enzyme that catalyzes transfer of an acetyl group from acetyl-coenzyme A to a wide range of acceptor substrates. <em>NAT8</em>&nbsp;is almost exclusively expressed in tubular cells of the renal cortex of the kidney <a href="http://www.ncbi.nlm.nih.gov/pubmed/20383145">(Chambers et al (2010</a>). Acetylation is a key metabolic pathway for the detoxification of nephrotoxic substances such as aminoglycosides, inhalational anaesthetics and environmental toxins including industrial solvents such as trichloroethylene.</p>
    <p>rs4805834 is a common SNP located close to <em>SLC7A9</em>, a cationic amino acid transporter, highly expressed in kidney tubular cells <a href="http://www.ncbi.nlm.nih.gov/pubmed/20383145">(Chambers et al (2010</a>). This is interesting because rare mutations in <em>SLC7A9</em>&nbsp;cause two kidney-related diseases (cystinuria and nephrolithiasis), and ar associated with increased risk of CKD.</p>
</div>
</div>

<br class='clear'>