<div class='main2'>
<h2>Nephropathy
</h2>
<p>Idiopathic membranous nephropathy occurs when the glomeruli become inflamed, leading to leakage of proteins into the urine. Idiopathic membranous nephropathy is an autoimmune disease and the glomeruli typically have deposits of immunoglobulin and complement proteins. Autoimmunity against M-type phospholipase A2&nbsp;receptor (PLA2R1), aldose reductase (aldo-keto-reductase family 1, member 1 [AKR1B1]) and mitochondrial superoxide dismutase 2 (SOD2) are involved in causing this disease. Finally, mothers that lack neutral endopeptidase can generate an immune response against this antigen in their new born infants. The incidence of idiopathic membranous nephropathy is about  1 case per 100,000 persons per year.</p>
<p>&nbsp;</p>
<p>Click to look up your nephropathy SNPs (use ANY Race, do not use your specific race). </p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
<p>&nbsp;</p>
	<div>
<button id='get-gwas' type='submit'>
	    Show my nephropathy SNPs
	  </button>
    
  <br/>
  <br/>
	
	
</div>

<div class='main2'>
  <div id='help-disease-help'>
  
    <p><strong>rs2187668</strong> and <strong>rs4664308</strong> show  very strong associations with idiopathic membranous nephropathy. Interestingly, these two SNPs point to a target and trigger mechanism for this autoimmune disease. <strong>rs2187668</strong> is located within the first intron of HLA-DQA,  which is an HLA class II alpha-chain paralogue gene (trigger). The risk allele (A) is associated with HLA-DQA1 (23andme codes this as T on the opposite strand). It was previously known that HLA-DR was associated with membranous nephropathy using serological tests. <strong>rs2187668</strong> is a risk allele for a number of authoimmune disorders besides membranous nephropathy, such as IgA nephropathy, celiac disease, systemic lupus erythematosis and autoimmune hepatitis type-1.</p>
    <p><strong>rs4664308 </strong>lies within the first intron of<em>PLA2R1</em>, which is an autoantigen giving rise to this autoimmune disease (target).</p>
<p>&nbsp;</p>
  </div>
</div>

<br class='clear'>