<div class='main2'>
<h2>Renal-function related traits
</h2>
<p>Chronic kidney disease occurs when the kidney loses its ability to filter waste from the blood. There are several different related ways to measure kidney function.</p>
<ol>
  <li>Blood Urea Nitrogen (BUN): Blood urea nitrogen concentration reflects the amount of nitrogen in the blood and is related to protein metabolism, including excretion by the kidneys. Average level of BUN is about 12-15 mg/dl. </li>
  <li>serum creatinine (sCR): levels of creatinine in the blood. Creatinine is a waste product from muscle, and is filtered out by the kidney. High filtration rates from the kidney results in lower levels of creatinine in the blood. Average levels of sCR are about 0.6 to 1.0 mg/dl.</li>
  <li>estimated Glomerular Filtration Rate based on creatinie (eGFRcrea): The glomerular filtration rate is estimated using the amount of creatinine found in the blood. This measurement is highly related to sCR, as both are based on levels of creatinine. Average eGFRcrea ranged from 55-91ml/min/1.73<sup>2</sup>) in the study.</li>
  <li>urea: Urea (or uric acid) is the end product of purine metabolism, and impaired renal excretion of uric acid leads to hyperuricemia. Epidemiological studies suggest that uric acid is a risk factor for various diseases, including gout and myocardial infarction. Urea measurements averaged 5.3 to 6.4 mg/dl in the different populations.</li>
</ol>
<p>Click to look up your renal function SNPs (use ANY Race, do not use your specific race). </p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
<p>&nbsp;</p>
	<div>
<button id='get-gwas' type='submit'>
	    Show my renal function Level SNPs
	  </button>
    
  <br/>
  <br/>
	
	
</div>

<div class='main2'>
  <div id='help-disease-help'>
  
    <p><a href="http://www.ncbi.nlm.nih.gov/pubmed/22797727">Okada et al 2012</a> performed a GWAS for various measurements of kidney function in East Asians. When the results were tested using data from European population, nine of fifteen loci replicated indicating that the genetic basis for kidney function show similarity between East Asians and Europeans.</p>
    <p>The beta scores indicate how much each risk allele affects your average measurement.</p>
  </div>
</div>

<br class='clear'>