<div class='main2'>
<h2>Renal Transplant Outcome
</h2>
<p>A small study was successful in finding a  SNP associated with successful renal transplants in recipients, using only 326 subjects. Renal transplant outcome was based on serum creatinine levels five years after the transplantation.</p>
<p>Click to look up your renal transplant outcome SNPs (use ANY Race, do not use your specific race). </p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
<p>&nbsp;</p>
	<div>
<button id='get-gwas' type='submit'>
	    Show my renal transplant outcome Level SNPs
	  </button>
    
  <br/>
  <br/>
	
	
</div>

<div class='main2'>
  <div id='help-disease-help'>
  
    <p>rs6565887 genotype explains about 8.8% of the variance in renal transplant outcome.</p>
    <table width="754" border="0">
      <tr>
        <td width="313"><img src="/media/graphics/renal_tranplant.png" width="313" height="222" alt="renal transplant" /></td>
        <td width="431">The figure shows the time to transplant failure based on genotype of rs6565887. The G allele leads to worse renal transplant outcome.</td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</div>

<br class='clear'>