<div class='main2'>
	
<h2>Calcium </h2>

<p>Calcium is a mineral needed  for heathy bones, teeth, heart, muscles, and nerves. While calcium supplementation will likely not increase athletic performance, it is extrememly important for reducing one's risk for osteoporosis and low bone mineral density. About 99% of the calcium in the body is stored in the skeletal system, while the remaining 1% resides in cells. Athletes should consume the recommended amount of daily calcium to maximize the body's peak bone mineral density, which is typically reached around the age of 30. Proper calcium intake at a younger age will lower one's risk for osteoporosis and fractures later on in life.</p>
<p>Calcium plays an important role in physiologic processes associated with energy metabolism and muscle contraction. Typically, young women involved in weight-control sports, such as distance running, may have inadequate dietary intake of calcium. Additionally, exercise may increase calcium loss. A deficiency of calcium during exercise can cause cramps and fatigue. It is important for athletes to monitor calcium levels because inadequate intake and increased loss may predispose individuals to cramping. Long term deficiencies can result in osteoporosis and stress fractures. Supplementation may be necessary for those not achieving the recommended dietary intake. Taking more than the recommended daily amount can be harmful and will not enhance athletic performance beyond that observed with normal calcium levels.</p>
<p><span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});">Table Legend </span></p>
<div>
<button id='get-gwas' type='submit'>
	    Show my calcium level SNPs
	  </button>
    
  <br/>
  <br/>
	
	
</div>

<div class='main2'>
  <div id='help-disease-help'>
    <p><strong><em>CASR</em>, rs17251221 and rs1801725:</strong>&nbsp;The protein encoded by this gene is a G protein-coupled receptor that is expressed in the parathyroid hormone-producing cells of the parathyroid gland, and the cells lining the kidney tubule. It senses small changes in circulating calcium concentration and couples this information to intracellular signaling pathways that modify parathyroid hormone secretion or renal cation handling. Thus this protein plays an essential role in maintaining mineral ion homeostasis. Individuals with the guanine (G) allele for rs17251221 are more likely to have elevated serum Ca2+ concentrations. This allele has a frequency of 14% in populations of European descent. The G allele has also been associated with higher serum magnesium levels and lower serum phosphate levels. Individuals with the thymine (T) nucleotide at rs1801725 are also likely to have increased serum calcium concentrations. The frequency of this allele in populations of European descent is 18%. The two SNPs, rs17251221 and rs1801725, have been shown to explain 0.54% and 1.26% of the observed varience in serum calcium levels, respectively.</p>
    <h2>Intervention</h2>
    <p>The body cannot produce calcium, therefore, it must be absorbed from dietary sources. For those with a genetic pre-disposition for low levels of calcium, special emphasis should be placed on consuming calcium-rich foods. Usually, maintaining a well-balanced diet supplies individuals with enough calcium that supplements are not needed. Good sources of calcium include:</p>
    <ul>
      <li>Dairy products: low-fat or nonfat milk, cheese, and yogurt.</li>
      <li>Dark green leafy vegetables: bok choy, broccoli, and spinach.</li>
      <li>Calcium fortified foods: orange juice, cereal, bread, and soy products.</li>
      <li>Nuts: almonds.</li>
    </ul>
    <p>The recommended amount of calcium varies for individuals. In general, adults should consume between 1000 and 1200mg per day. It is possible to consume too much calcium. Adults should not consume more than 1500mg per day; anything above this becomes harmful. Vitamin D plays an important role in the absorption of calcium and can be taken as a supplement to maximize calcium intake.  </p>
  </div>
</div>

<br class='clear'>