<div class='main2'>
	
<h2>Homocysteine </h2>

<p>Homocysteine  can be converted to the amino acids cysteine and methionine.</p>
<p>Definciencies in folate, vitamin B6 and vitamin B12 can lead to increased levels of homocystiene.</p>
<p><span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});">Table Legend </span></p>
<div>
<button id='get-gwas' type='submit'>
	    Show my homocysteine level SNPs
  </button>
    
  <br/>
  <br/>
</div>
<div class='main2'>
  <div id='help-disease-help'>
    <p><a href="http://www.ncbi.nlm.nih.gov/pubmed/23824729">Van Meurs et al. 2013</a> found SNPs at 13 loci associated with 'homocysteine levels' that together explain 5.9% of the variation in homocysteine. For &nbsp;<a href="http://www.ncbi.nlm.nih.gov/pubmed/23824729">Van Meurs et al. 2013</a> (homocysteine levels) the beta score indicates the change in the number of standard deviations in the concentration of homocysteine (for each risk allele). </p>
    <p><strong><em>MTHFR</em>, rs1801133, rs3737967, and rs2274976:&nbsp;</strong>The MTHFR gene codes for the protein methylenetetrahydrofolate reductase. This protein is involved in the breakdown  of homocysteine, and defects in the&nbsp;<em>MTHFR</em>&nbsp;gene can raise homocysteine levels. The most studied polymorphism is rs1801133, found in the exon of the gene. Individuals with the adenosine (A) allele have a varient of the gene that results in an enzyme that is less effective in the conversion pathway to methionine. Homozygous individuals (A;A) have about 30% of the expected MTHFR enzyme activity and heterozygotes have about 65% of the expected enzyme activity, compared to the most common genoytype, G;G. The A allele has a frequency of 33% in populations of European descent. The A and T allele at rs3737967 and rs2274976, respectively, are also associated with elevated levels of homocysteine. These alleles both have frequencies of 5% among populations of European descent.</p>
    <p><strong><em>NOX4</em>, rs11018628:</strong>&nbsp;This gene encodes a member of the NOX-family of enzymes, which function as the catalytic subunit in the NADPH oxidase complex. The protein acts as an oxygen sensor and catalyzes the reduction of molecular oxygen to various reactive oxygen species. This activity of this protein can affect numerous biological functions, including signal transduction, cell differentiation, and tumor growth. Individuals with the C allele are more likely to have lowered levels of homocysteine than average.  This allele has a frequency of 7% in populations of European descent.</p>
    <p><strong><em>CENPQ</em>, rs4267943:</strong>&nbsp;This gene codes for centromere protein Q, which is required for proper kinetochore function during mitosis (cell division). The kinetochore is the protein structure on chromatids (copied chromosomes which are paired with identical chromosomes) where the spidle fibers attach during cell division to pull sister chromatids apart.  Individuals with the guanine (G) allele are more likely to have elevated levels of homocysteine. This allele has a frequency of 64% in populations of European descent.</p>
    <p><strong><em>CBS</em>, rs6586282:</strong>&nbsp;This gene codes for the protein cystathionine beta-synthase, which acts in the chemical pathway that converts homocysteine to cysteine. This enzyme is responsible for using vitamin B6 to convert homocysteine and serine to  cytathionine. Another enzyme then converts cystathionine to the amino acid cysteine. If this protein does not function properly, homocysteine levels can rise because the conversion to cysteine will be slowed. Individuals with the T allele are more likely to have lower levels of homocysteine than average. This allele has a frequency of 18% in populations of European descent.</p>
    <p><strong><em>CLCN6 (MTHFR)</em>, rs17350396:</strong>&nbsp;This SNP is not located directly within the coding region of a gene. The two closest genes are CLCN6 and MTHFR. CLCN6 enocdes the protein chloride channel 6, which is a member of the voltage-dependent chloride channel protein family. MTHFR is the gene described above that is directly involved in the conversion of homocysteine to methionine. Since rs17350396 is located between the coding regions of these two genes, its exact relationship with homocysteine levels is unknown. Individuals with the G allele have lower levels than average. The G allele has a frequency of 17% in populations of European descent.</p>
    <p><strong><em>AGTRAP</em>, rs12564559:</strong>&nbsp;This gene codes for the angiotensin II receptor- associated protein.This protein nteracts with the angiotensin II type I receptor and negatively regulates angiotensin II signaling. The direct relationship between this gene and homocysteine levels is unknown, and likely a statistical correlation. Individuals with the C allele are more likely to have elevated levels of homocysteine. This allele has a frequency of 11% in populations of European descent.</p>
    <h2>Intervention</h2>
    <p>If you are at risk for elevated homocysteine levels, you may have a B vitamin deficiency. Taking a multi-vitamin should cover an athlete's need for the compounds necessary to convert homocysteine to useful amino acids.</p>
<p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</div>

<br class='clear'>