<div class='main2'>
	
<h2>Iron levels </h2>

<p>Iron is one of the most critical minerals for sports performance. Iron is a component of hemoglobin, myoglobin, cytochromes, and various enzymes in the muscle cells, all of which are involved in the transport and metabolism of oxygen for aerobic energy production during endurance exercise.&nbsp; Iron deficiency is a condition resulting from too little iron in the body. Iron deficiency is the most common nutritional deficiency and the leading cause of anemia in the United States.&nbsp; Iron deficiency can hinder an athlete&rsquo;s performance. It is estimated that 10% of male athletes, and 20% of female athletes are iron deficient.</p>
<p><em>Iron deficiency without anemia</em>: This refers to an iron deficiency that is mild enough that it does not cause anemia.&nbsp; If a person is otherwise healthy, symptoms seldom appear before the hemoglobin in the blood drops below 10 g/dL (generally accepted as the marker for mild or moderate anemia).&nbsp; As iron stores are depleted, signs that your body is low in iron may develop. These may include:</p>
<ol>
  <li>Chronic fatigue/tiredness</li>
  <li>Dizziness</li>
  <li>Weakness</li>
  <li>Headaches</li>
</ol>
<p>Several studies have shown that untrained, iron-depleted, non-anemic women who received an iron supplement during exercise training had significantly greater increases in VO2max and 15-kilometer cycling endurance performance as compared to the placebo group, suggesting that iron deficiency without anemia impairs favorable adaptation to aerobic exercise.</p>
<p><em>Iron-deficiency anemia</em>&nbsp;occurs when the body is depleted of iron to the point where there is a deficiency of red blood cells or of hemoglobin in the blood.&nbsp; Iron deficiency anemia impairs muscular performance. The prevalence of iron deficiency anemia is likely to be higher in athletic groups, especially in younger female athletes, than in healthy sedentary individuals. &nbsp;Possible causes of iron loss in athletic individuals include inadequate dietary sources of iron, myoglobin leakage, gastrointestinal losses, sweat losses, and heavy menstrual losses. &nbsp;Such losses could eventually lead to iron deficiency anemia. If an athlete fatigues easily or does not perform up to expectations, iron deficiency may be suspected.</p>
<p>Hepcidin is the main iron regulatory hormone. When iron levels are high, the synthesis of hepcidin increases and the release of iron from stores is decreased. Conversely, when iron stores drop, the synthesis of hepcidin is downregulated and cells release more iron.</p>
<h2><strong>Iron physiology</strong></h2>
<p>Iron is homeostatically distributed to hemoglobin in erythrocytes and stored in the liver (predominantly involving ferritin) through a network of local and systemic regulators. Systemic regulation relies on the hormone hepcidin and the iron exporter ferroportin. Local regulation implies iron-regulatory proteins that bind iron-responsive elements in messenger RNAs.<a href="http://www.ncbi.nlm.nih.gov/pubmed/21149283">Oexle et al., 2011</a></p>
<p>Iron ciculates in plasma bound to the glycoprotein transferrin, which has two high-affinity binding sites for Fe (III). When bound to transferrin, iron is maintained in a soluble form that can be delivered into cells (via the transferrin receptor, TfR1), and limits the generation of toxic radicals. In humans, plasma transferrin is normally about 30% saturated with iron. Transferrin saturation &lt;16% indicates iron dificiency, whereas &gt;45% saturation is a sign of iron overload. When transferrin saturation exceeds 60%, non-transferrin-bound iron begins to accumulate in the circulation and damages parenchymal cells (functional cells of organs).&nbsp;<a href="http://www.sciencedirect.com/science/article/pii/S009286741000718X">Hentze et al., 2010</a></p>
<p>Iron is released into circulation from duodenal enterocytes, which absorb 1-2mg of dietary iron per day, and machrophages, which internally recycle 20-25mg of iron from older erythrocytes. Hepatocytes are the major site of iron storage and they secrete the regulatory hormone hepcidin, which controls plasma iron levels by binding to the iron exporter ferroportin on the surgace of iron-releasing cells and triggering its degredation.</p>
<p>Macrophages phagocytose aged or damaged erythrocytes and catabolize heme using hemoxygenase. Export of ferrous iron from macrophages occurs via ferroportin, whose expression in macrophages is regulated at multiple levels: ferroportin transcription is induced by erythrophagocytosis and heme iron, its translation is regulated by the IRE/IRP system, and its protein stability by hepcidin. Ferroportin-mediated iron export is coupled to the function of the multicopper oxidase ceruloplasmin, a protein synthesized and secreted by the liver. Ceruloplasmin-deficient mice and humans show hepatocyte and macrophage iron accumulation.</p>
<p><span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});">Table Legend </span></p>
<div>
<button id='get-gwas' type='submit'>
	    Show my Iron level SNPs
	  </button>
    
  <br/>
  <br/>
	
	
</div>

<div class='main2'>
  <div id='help-disease-help'>
    <p>The&nbsp;<strong>mean corpuscular volume</strong>, or&nbsp;<strong>mean cell volume</strong>&nbsp;(<strong>MCV</strong>), is a measure of the average volume of a red blood cell. The beta value indicates the change in MCV in femtoliters per risk allele. The normal range for MCV is  80-100 fL. &nbsp;</p>
    <p><strong>Total iron-binding capacity</strong>&nbsp;measures the blood's capacity to bind iron with transferrin. &nbsp;</p>
    <p><strong>Soluble Transferrin Receptor (sTfR</strong>). Soluble transferrin receptor (sTfR) concentrations are inversely related to iron status; sTfR elevates in response to iron deficiency and decreases in response to iron repletion. Transferrin is the protein responsible for transporting iron in the plasma, and donates iron to cells through its interaction with a specific membrane receptor, the transferrin receptor. Transferrin receptors are found in virtually all cells, except mature red blood cells. Their density is related to the availability of iron: deprivation of iron triggers synthesis of transferrin receptors and excess iron surpresses receptor numbers. In the discussion of the genes below, we are only interested in the soluble form of this receptor. Soluble transferrin receptors are produced by proteolysis, which is mediated by a membrane-associated serine protease that occurs mostly at the surface of vesicles before exocytosis. The bulk of soluble transferrin receptor measured in the blood is proportional to the mass of cellular transferrin receptor, and orginates mostly from erythroblasts, cells within the the bone marrow that produce mature red blood cells. Serum soluble transferrin receptor levels average 5.0&plusmn;1.0 mg/L in normal subjects but the various commercial assays give disparate values because of the lack of an international standard.</p>
    <p><strong>Ferritin</strong> is an intracellular protein that stores iron and acts as a buffer against iron deficiency and iron overload. It is responsible for maintaining iron in a soluble and non-toxic form within the body. Free iron is toxic to cells because it acts as a catalyst in the formation of free radicals from reactive oxygen species. Apoferritin (ferritin not bound to iron) binds to free ferrous iron and stores it in the ferric state. Ferritin accumulates to form protein aggregates called hemosiderin within cells. Under steady state conditions, the serum ferritin level correlates with the total body iron stores. For this reason, the serum ferritin FR5RI is the most convenient test to estimate iron stores.</p>
    <p><strong>Serum&nbsp;iron</strong> measures the amount of circulating&nbsp;iron&nbsp;that is bound to&nbsp;transferrin.&nbsp;</p>
    <p><strong>Serum Transferrin. </strong>Transferrin is an extracellular iron-binding protein that is used to transfer iron between tissues. Like ferritin, transferrin levels are inversely proportional to iron levels; low iron levels lead to high transferrin levels in the blood.</p>
    <p><strong>Transferrin saturation</strong> indicates how much of transferrin is bound by iron. Typical levels are 15&ndash;50% (males) and 12&ndash;45% (females) of  transferrin is bound to iron. </p>
    <p>&nbsp;</p>
  </div>
</div>

<br class='clear'>