<div class='main2'>
	
<h2>Magnesium </h2>

<p>Magnesium is the fourth most abundant mineral in the body and is necessary for nearly all biochemical processes. It helps maintain normal muscle and nerve function, keeps the bones strong, controls the heartbeat, and helps regulate blood pressure. Magnesium also controls blood sugar levels, supports the immune system and is known to be involved in energy metabolism and protein synthesis. Magnesium is also crucial for energy metabolism by the activation of enzymes known as ATPases, which are needed to generate ATP (adenosine triphosphate).</p>
<p>When ATP is broken down, energy is released for all muscle contractions, and when exercising strenuously, this turnover is extremely high, requiring quick synthesis of ATP . A shortfall of magnesium can limit energy production, leading to fatigue, lethargy, reduced power, muscle twitches or cramps. Chronic deficiencies of magnesium are also implicated in reduced bone mineral density and increased risk of osteoporosis as well as anemia, depression and irregular heart rate. Virtually every body system can display symptoms because systems throughout the body rely on magnesium. Athletes in particular might find it easy to explain away fatigue or muscle cramps, lowered immunity, and even altered heart rates, and indeed these symptoms are common and multi-faceted in cause. However, a simple magnesium deficiency could also be the underlying factor.</p>
<p>Magnesium requirements for athletes, especially endurance athletes, are significantly elevated when compared to the general population; about 10-20% greater. Research suggests that endurance athletes can safely consume 500 to 800 mg daily, compared to the recommended minimums of 300 to 350 mg for women and 400 to 450 mg for men.</p>
<p>Approximately 50% of total body magnesium is found in bone, and the other half is predominantly inside cells of tissues and organs. Only 1% of magnesium is found in blood, but the body works extremely hard to maintain a constant serum concentration of this mineral. A normal range of magnesium found in the blood is typically considered to be between 1.7 and 2.2 mg/dL. An individual is considered to have hypomagnesemia, or a deficiency of magnesium, when the blood concentration is below 0.7mmol/L.</p>
<p><strong>Drug Interactions</strong><br />
  Some types of drugs can cause hypomagnesemia. These include diuretics, proton pump inhibitors, and anti-hypertensives (beta-blockers, angiotensin receptor blockers and/or ACE inhibitors). If you have an increased risk for hypomagnesemia and you take a drug that falls into the aforementioned categories, you should inform your primary physician so that your serum magnesium levels can be monitored.</p>
<p>Other drugs can increase magnesium consumption and cause hypermagnesemia. These include magnesium-containing antacids and laxatives. Excessive use of these drugs can inadvertently lead to elevated levels of magnesium in the blood.</p>
<p><span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});">Table Legend </span></p>
<div>
<button id='get-gwas' type='submit'>
	    Show my magnesium level SNPs
	  </button>
    
  <br/>
  <br/>
	
	
</div>

<div class='main2'>
  <div id='help-disease-help'>
    <p>The beta score indicates the change in magnesium concentration in mmol per risk allele. Normal serum magnesium concentrations range between 0.75 and 0.95 mmol.</p>
    <p><em><strong>MUC1</strong></em><strong>, rs4072037:</strong>&nbsp;This gene encodes the protein mucin 1. It is part of a family of proteins that play an essential role in forming protective mucous barriers on epithelial surfaces. These proteins also play a role in intracellular signaling. The direct relationship between MUC1 and magnesium levels is unknown. Individuals with the C allele are more likely to have lower levels of serum magnesium. This allele has a frequency of of 46% in populations of European descent.</p>
    <p><strong><em>TRPM6</em>, rs11144134:</strong>&nbsp;This gene is predominantly expressed in the kidney and colon, and encodes a protein containing an ion channel domain and a protein kinase domain. It is crucial for magnesium homeostasis, and plays an essential role in epithelial magnesium transport and in the active magnesium absorption in the gut and kidney. Mutations in this gene are associated with hypomagnesemia and with secondary hypocalcemia. Individuals with the T allele are more likely to observe lower levels of magnesium. This allele has a frequency of 92% in populations of Eurpean descent.</p>
    <p><strong><em>DCDC5</em>, rs3925584:</strong>&nbsp;This gene encodes the protein doublecortin domain containing 5. Not much detail is known of its function, but it is thought to bind tubulin and enhance microtubule polymerization. Individuals with C allele are more likely to have lower magnesium levels. This allele has a frequency of 45% in populations of European descent.</p>
    <p><strong><em>MDS1</em>, rs448378:</strong>&nbsp;This gene codes for the protein myelodysplasia syndrome 1 protein. It is a transcriptional regulator and oncoprotein that may be involved in hematopoiesis, apoptosis, development, and cell differentiation and proliferation. Overexpression of this gene has been linked with the onset of leukemia. The relationship between this gene and magnesium levels is currently unknown. Individuals with the G allele are more likely to have lower levels of magnesium. This allele has a frequency of 47% in populations of European descent.    </p>
    <h2>Intervention</h2>
    <p>Early signs of magnesium deficiency include loss of appetite, nausea, vomiting, fatigue, and weakness. As magnesium deficiency worsens, numbness, tingling, muscle contractions and cramps, seizures, personality changes, abnormal heart rhythms, and coronary spasms can occur.</p>
    <p>Individuals with a genetic predisposition for abnormal magnesium levels should consult with their physician about ordering a blood test and discuss the individual's dietary intake of magnesium.</p>
    <p>Green vegetables such as spinach are good sources of magnesium because the center of the chlorophyll molecule (which gives green vegetables their color) contains magnesium. Some legumes, nuts and seeds, and whole, unrefined grains are also good sources of magnesium. Pumpkin seeds are an excellent source of magnesium that can easily be incorporated into meals throughout the day.</p>
  </div>
</div>

<br class='clear'>