<div class='main2'>
	
<h2>Phytosterol</h2>

<p>Phytosterols, derived from plants, are steroid compounds similar to cholesterol. When taken as a supplement or consumed as part of a normal diet, studies have shown that they are effective at reducing LDL-cholesterol.</p>
<p>No direct ergogenic properties have been found to aid athletic performance. That said, however, several studies have shown that Ultramarathon runners supplemented with beta-sitosterol displayed fewer cellular markers of inflammation after a race compared to placebo-treated controls. This suggests that phytosterols may mitigate the effect of acute, strenuous exercise on immunity. A study of of older sedentary adults that underwent 6 months of endurance training showed reduced plasma cholesterol levels and increased absorptions of phytosterols. This suggests that phytosterols may beneficially regulate plasma lipids. Overall, the current limited research suggests that beta-sitosterol may mitigate the exercise-associated dysregulation of immune function and improve blood lipid profiles, however, it has no direct affect on athletics.</p>
<p><span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});">Table Legend </span></p>
<div>
<button id='get-gwas' type='submit'>
	    Show my phytosterol SNPs
	  </button>
    
  <br/>
  <br/>
	
	
</div>

<div class='main2'>
  <div id='help-disease-help'>
    <p>Serum phytosterol levels are under strong genetic control, with heritability estimates of &asymp;80%. However, the explained variance of serum phytosterols by&nbsp;<em>ABO</em>&nbsp;and<em>ABCG8</em>&nbsp;loci is only &asymp;10%.&nbsp;</p>
    <p><strong><em>ABCG8</em>, rs4245791 and rs41360247:</strong>&nbsp;The ABCG8 gene codes for a protein known as ATP-binding cassette, sub-family G (WHITE), member 8. ABC proteins transport various molecules across extra- and intra-cellular membranes. The protein encoded by this gene functions to exclude non-cholesterol sterol entry at the intestinal level, promote excretion of cholesterol and sterols into bile, and to facilitate transport of sterols back into the intestinal lumen. Mutations in this gene may contribute to sterol accumulation and atherosclerosis (hardening of the arteries), and have been observed in patients with sitosterolemia (a rare, inherited condition in which phytosterols cannot be broken down properly in the body). Although the exact mechanism of how polymorphisms in this gene affect phytosterol levels, however it is evident that the gene plays an important regulation role. Individuals with the C allele at rs4245791 are more likely to have higher levels of phytosterol. This allele has a frequency of 25% in populations of European descent. Individuals with the C allele at rs41360247 likely have lower levels of phytosterols (please note that the major allele was used for the score calculation). This allele has a frequency of 8.5% in populations of European descent.</p>
    <p><em><strong>ABO</strong></em><strong>, rs657152:</strong>&nbsp;This gene encodes an enzyme called histo-blood group ABO system transferase. It determines an individual's ABO blood group by modifying the oligosaccharides on cell surface glycoproteins. Variations in the sequence of the protein between individuals determine the type of modification and the blood group. The direct relationship between ABO blood groups and phytosterol levels is unknown, and likely statistical. Individuals with the adenine (A) allele are likely to have higher levels of phytosterol. This allele has a frequency of 37.6% in populations of European descent.</p>
</div>
</div>

<br class='clear'>