<link href="../css/interpretome.css" rel="stylesheet" type="text/css">
<p>Trace Elements</p>
<p>Zinc, selenium, and copper are trace minerals that are needed in very small amounts. Proper levels of blood trace elements (copper, selenium, zinc) are important because high levels can be toxic and low levels can be detrimental. Although blood trace elements are largely affected by diet, there is also a genetic component that explains variation between individuals. </p>
<p>Copper is important to bone and cartilage development, the formation of red blood cells, a cofactor for the absorption and utilization of iron, and for the metabolism of cholesterol and glucose. A number of nutrition surveys have indicated that the diets of approximately 25% of&nbsp;adolescents, adults, and people over 65, do not meet the recommended daily nutrient intake for copper. Acquired copper deficiency has recently been implicated in adult-onset progressive myeloneuropathy&nbsp;and in the development of severe blood disorders including myelodysplastic syndrome.&nbsp;Fortunately, copper deficiency can be confirmed by very low&nbsp;serum&nbsp;metal and&nbsp;ceruloplasmin&nbsp;concentrations in the blood.&nbsp;</p>
<p>Selenium plays critical roles in thyroid hormone metabolism, DNA synthesis, and protection from oxidative damage and infection. Exercise can increase oxygen consumption by 10 to 15 fold and thereby produce constant oxidative stress on muscles (<a href="http://www.ncbi.nlm.nih.gov/pubmed/19225360">Rodriguez et al., 2009</a>). Selenium is therefore beneficial to athletes for its protective role against oxidative muscle damage. Skeletal muscle is the major site of selenium storage, accounting for approximately 28% to 46% of the total selenium pool.</p>
<p>Zinc is an essential mineral that is required for immune function, protein synthesis, wound healing, DNA synthesis, and cell division. It is also important for normal growth and development, and is necessary for a proper sense of taste and smell (<a href="http://www.ncbi.nlm.nih.gov/pubmed/19225360">Rodriguez et al., 2009</a>; <a href="http://ods.od.nih.gov/factsheets/Zinc-HealthProfessional/#en11.">Office of Dietary Supplements, 2013</a>).&nbsp; Low zinc levels may lead to decreases in cardiorespiratory function, muscle strength, and endurance (<a href="http://www.ncbi.nlm.nih.gov/pubmed/11475319">Mitcheletti et al., 2001</a>; <a href="http://www.ncbi.nlm.nih.gov/pubmed/15212745">Lukaski, 2004</a>). </p>
<p>Athletes who restrict calories or use severe weight-loss practices, eliminate one or more food groups from their diet, or consume high- or low- carbohydrate diets of low micronutrient density are at greatest risk of micronutrient deficiencies (<a href="http://www.ncbi.nlm.nih.gov/pubmed/19225360">Rodriguez et al., 2009</a>).&nbsp; Vegetarian diets can lead to low levels of zinc, along with low calcium, iron, and magnesium (<a href="http://www.ncbi.nlm.nih.gov/pubmed/15212745">Lukaski, 2004</a>). &nbsp;</p>
<p>Click to look up your Zinc SNPs (use ANY Race, do not use your specific race). </p>
<p><span class = 'link' onclick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend</span></p>
<p>&nbsp; </p>
<div>
  <button id='get-gwas-1' type='submit'> Show my Zinc SNPs </button>
  <br/>
</div>
<div class='main2'>
  <div id='help-disease-help2'>
    <p>The three SNPs associated with increased risk for abnormal zinc levels  account for 8% of the variance in serum copper levels observed between people. </p>
    <p>rs1532423 (CAI, carbonic anhydrase 1): This gene encodes a protein that belongs to the carbonic anhydrase family, which is a large family of zinc metalloenzymes that catalyze the reversible hydration of carbon dioxide. They participate in a variety of biological processes, including respiration, calcification, acid-base balance, and bone resorption, The A allele of rs1532423 is associated with an increased level of serum zinc. This allele has a frequency of 43.3% in populations of European descent. </p>
    <p>rs2120019 (PPCDC, phosphopantothenoylcysteine decarboxylase): This gene codes for an enzyme that is one of the last enzymes in the essential universal pathway that synthesizes coenzyme A from vitamin B5. The C allele is associated with lower levels of serum zinc. This allele has a frequency of 15.5% in populations of European descent.</p>
  </div>
</div>
<p>Click to look up your Selenium SNPs (use ANY Race, do not use your specific race). </p>
<span class = 'link' onclick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
<p>&nbsp;</p>
<div>
  <button id='get-gwas-2' type='submit'> Show my Selenium SNPs </button>
  <br/>
</div>
<div class='main2'>
  <div id='help-disease-help2'>
    <p>The two SNPs associated with increased risk for abnormal selenium levels  account for 4% of the variance in serum copper levels observed between people. </p>
    <p>rs921943 (DMGDH, dimethylglycine dehydrogenase): This gene encodes an enzyme involved in the catabolism of choline, catalyzing the oxidative demethylation of dimethylglycine to form sarcosine. Rare null mutations in this gene cause dimethylglycine dehydrogenase deficiency, characterized by a fishlike body odor, chronic muscle fatigue, and ele</p>
  </div>
</div>
<p>Zinc (Zn) is one of the most important trace elements in the body and it is essential as a catalytic, structural and regulatory ion. It is involved in homeostasis, in immune responses, in oxidative stress, in apoptosis and in ageing.vated levels of the muscle form of creatine kinase in serum. The T allele in rs921943 is associated with increased serum selenium levels. This allele has a frequency of 30.5% in populations of European descent. </p>
<div class='main2'>
  <div id='help-disease-help'>
  <p>rs7700970 (BHMT, betaine-homocysteine S-methyltransferase): This gene encodes a cytosolic enzyme that catalyzes the conversion of betaine and homocysteine to dimethylglycine and methionine, respectively. Rare null mutations in this gene could lead to hyperhomocysteinemia. The common T in rs7700970 allele is associated with an increase in serum selenium levels. This allele has a frequency of 32.7% in populations of European descent. </p>
  </div>
</div>
	
	  <p>Click to look up your Copper SNPs (use ANY Race, do not use your specific race). </p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
<p>&nbsp;</p>
	<div>
<button id='get-gwas-3' type='submit'>
	    Show my Copper SNPs
	  </button>
    
  <br/>
  <br/>
	
</div>

<div class='main2'>
  <div id='help-disease-help'>
  
    <p>The two SNPs associated with increased risk for abnormal copper levels  account for 5% of the variance in serum copper levels observed between people. </p>
    <p>rs1175550 (SMIM1, small integral membrane protein 1): This gene codes for a small protein that participates in red blood formation. The protein is localized to the cell membrane, and it is the antigen for the Vel blood group (Vel Blood Group System). The A allele is associated with lower levels of serum copper levels. The A allele has a frequency of 78.3% in populations of European descent.    </p>
    <p>rs2769264 (SELENBP1, selenium binding protein 1): This gene encode a member of the selenium-binding protein family, which mediate the effects of selenium in preventing cancer and neurologic diseases. The G allele is associated with an increased serum level of copper. The G allele has a frequency of 83% in populations of European descent. </p>
  </div>
</div>

<br class='clear'>
<h2><strong>Intervention</strong></h2>
<p>SELENIUM<br />
  A low genetic score for selenium indicates that you have a slightly increased chance for low selenium levels. &nbsp;Individuals with a low genetic selenium score can request a blood test from their physicians to measure selenium levels in their plasma and serum. &nbsp;Even those with a low genetic score are unlikely to have true selenium deficiency, which is both very rare and does not cause overt illness. <br />
  <br />
  Selenium is available in multivitamin/multimineral supplements and as a stand-alone supplement, often in the forms of selenomethionine, sodium selenite or sodium selenate. The human body absorbs more than 90% of selenomethionine, but only about 50% of selenium from selenite. <br />
  <br />
  Seafoods and organ meats are the richest food sources of selenium. Other sources include muscle meats, cereals, and other grains, and dairy products (<a href="http://www.ncbi.nlm.nih.gov/pubmed/20032488">Chun et al., 2008</a>). &nbsp;Most selenium in animal and human tissue is in the form of selenomethionine. <br />
  <br />
  For athletes, a healthy diet and normal vitamin supplements are likely to provide adequate daily levels of selenium. &nbsp;Taking excess selenium that exceed the tolerable upper intake levels (UL) for antioxidants could have negative effects (<a href="http://www.ncbi.nlm.nih.gov/pubmed/19225360">Rodriguez et al., 2009</a>). <br />
  <br />
  Recommended Dietary Allowances for Selenium <br />
  14-51+ Men: 55mcg, Women 55mcg (Pregnancy: 60mcg, Lactation 70mcg). <br />
  Adults should not exceed 400 mcg/day as high levels of selenium can be toxic. <br />
  <br />
The <a href="http://ndb.nal.usda.gov/ndb/nutrients/report/nutrientsfrm?max=25&amp;offset=0&amp;totCount=0&amp;nutrient1=27&amp;nutrient2=&amp;nutrient3=&amp;subset=0&amp;fg=&amp;sort=c&amp;measureby=m">U.S. Department of Agriculture&rsquo;s Nutrient Database websit</a>e lists the nutrient content of most foods and provides a comprehensive list of foods containing selenium.</p>
<p>ZINC<br />
  A low genetic score indicates a medium risk for low zinc levels. &nbsp;Athletes with a low genetic score can learn more about their zinc levels by consulting their physician. &nbsp;Zinc levels are commonly measured in plasma or serum. The normal range of serum zinc is approximately 0.66 to 1.10 mcg/mL, but these reference values differ by the laboratories performing the tests. &nbsp;Zinc deficiency is usually due to inadequate zinc intake or absorption, increased losses of zinc, or increased requirements for zinc (<a href="http://www.ncbi.nlm.nih.gov/pubmed/8778139">Prasad, 1996</a>). <br />
  <br />
  Recommended Dietary Allowance: <br />
  14-18 years - Male: 11mg, Female: 9mg (Pregnancy: 12mg, Lactation: 13mg). <br />
  19+ - Male:11mg, Female: 8mg (Pregnancy: 11mg, Lactation: 12mg). <br />
  <br />
  Many different foods contain zinc. Oysters contain more zinc per serving than any other food. &nbsp;However, red meat and poultry provide the majority of zinc in the American diet. Other good sources include beans, nuts, certain types of seafood, whole grains, fortified breakfast cereals, and dairy products. The bioavailability of zinc from grains and plant foods is lower than that from animal foods, but many are still adequate sources of zinc. <br />
  <br />
  The <a href="http://ndb.nal.usda.gov/ndb/nutrients/report/nutrientsfrm?max=25&amp;offset=0&amp;totCount=0&amp;nutrient1=27&amp;nutrient2=&amp;nutrient3=&amp;subset=0&amp;fg=&amp;sort=c&amp;measureby=m">U.S. Department of Agriculture&rsquo;s Nutrient Database Web site</a> provides a comprehensive list of foods containing zinc.<br />
  <br />
  Dietary supplements contain several forms of zinc, such as zinc gluconate, zinc sulfate, and zinc acetate. The percentage of elemental zinc varies by form, and the elemental zinc content should appear in the Supplement Facts panel on the supplement container. <br />
  <br />
  Athletes should not take single-dose zinc supplements because they often exceed the tolerable upper intake level (UL) of 40 mg. Unnecessary zinc supplementation may lead to low HDL cholesterol and nutrient imbalances by interfering with absorption of other nutrients such as iron and copper (<a href="http://www.ncbi.nlm.nih.gov/pubmed/15212745">Lukaski, 2004</a>).</p>
<p>COPPER<br />
  Most multivitamin dietary supplements on the market include 2mg of copper, which is the midpoint of the Safe and Adequate Range of Intake recommended by the Food and Nutrition Board at the Institute of Medicine. <br />
  <br />
  NOTE: Use of vitamin and mineral supplements does not improve performance in individuals consuming nutritionally adequate diets (<a href="http://www.ncbi.nlm.nih.gov/pubmed/19225360">Rodriguez et al., 2009</a>). </p>
