<div class='main2'>
	
<h2>Vitamin B12 </h2>
<p>From<a href="http://www.ncbi.nlm.nih.gov/pubmed/22367966"> Lin et al., 2012</a>: &quot;Vitamin B12 (VitB12), also called cobalamin, is a water-soluble vitamin. It serves as a cofactor for two enzymes, adenosylcobalamin-dependent methylmalonyl-CoA mutase in mitochondria and methylcobalamin-dependent methionine synthase in the cytoplasm, that play key roles in a range of biological processes including DNA synthesis and regulation, energy production and the formation of the red blood cells. Deficiency in VitB12 is clinically associated with pernicious anemia, neuropsychiatric symptoms and glossitis (<a id="xref-ref-1-1" href="http://hmg.oxfordjournals.org/content/21/11/2610.long#ref-1">1</a>). VitB12 cannot be synthesized in the human body. Most of the diseases due to VitB12 deficiency were related to poor VitB12 absorption, rather than direct dietary deficiency. VitB12 absorption requires the glycoprotein intrinsic factor from the gastric cell in a functional gastrointestinal (GI) absorption system (<a id="xref-ref-2-1" href="http://hmg.oxfordjournals.org/content/21/11/2610.long#ref-2">2</a>,<a id="xref-ref-3-1" href="http://hmg.oxfordjournals.org/content/21/11/2610.long#ref-3">3</a>). Any factors influencing this system may cause VitB12 malabsorption.&quot;</p>
<p>Plasma levels of vitamin B12 are modifiable quantitative traits associated with certain diseases. Vitamin B12 found in meat (such as liver, shellfish, fish, poultry, and eggs) and milk products is composed of corrin and cobalt rings and is necessary for the formation of red blood cells, DNA synthesis during cell division, and maintenance of the myelin nerve sheath. Deficiency in vitamin B12, clinically associated with pernicious anemia, cardiovascular disease, cancer, and neurodegenerative disorders, is often related to poor intestinal B12 absorption rather than direct dietary deficiency (the recommended adult intake for vitamin B12 is 2.4 &micro;g/day). In the Nurses&rsquo; Health Study (NHS), we previously observed that women in the lowest quartile of plasma vitamin B12 levels had marginally worse cognitive performance (based on a global score averaging 6 cognitive tests) than women in the highest quartile of plasma vitamin B12 and that combined folate and vitamin B12 deficiency was associated with the lowest cognitive performance.</p>
<p>Click to look up your Vitamin B12 SNPs (use ANY Race, do not use your specific race). </p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
<p>&nbsp;</p>
	<div>
<button id='get-gwas' type='submit'>
	    Show my vitamin B12 SNPs
	  </button>
    
  <br/>
  <br/>
	
	
</div>

<div class='main2'>
  <div id='help-disease-help'>
  
    <p>For the SNPs from <a href="http://www.ncbi.nlm.nih.gov/pubmed/22367966">22367966</a>, the beta score refers to the change in vitamin B12 levels in pg/ml per risk allele. For reference, average levels of vitamin B12 are  243&ndash;894 pg/ml.</p>
    <p>Proportion of the variance explained by each SNP:</p>
    <table width="502" border="0">
      <tr>
        <td width="125">SNP</td>
        <td width="367"><div align="center">% variation in Vitamin B12 explained</div></td>
      </tr>
      <tr>
        <td>rs10515552</td>
        <td><div align="center">1.1</div></td>
      </tr>
      <tr>
        <td>rs2298585</td>
        <td><div align="center">1.7</div></td>
      </tr>
      <tr>
        <td> rs41281112</td>
        <td><div align="center">1.1</div></td>
      </tr>
      <tr>
        <td>rs3760776</td>
        <td><div align="center">1.4</div></td>
      </tr>
      <tr>
        <td>rs1047781</td>
        <td><div align="center">4.0</div></td>
      </tr>
      <tr>
        <td>All Five SNPs</td>
        <td><div align="center">9.3</div></td>
      </tr>
    </table>
    <p><strong><em>FUT2</em>, rs1047781:</strong>&nbsp;This gene encodes fucosyltransferase 2. This protein is involved in the creation of a precursor of the H antigen, which is required for the final step in the soluble A and B antigen synthesis pathway. This gene is one of two encoding the galactoside 2-L-fucosyltransferase enzyme. Polymorphisms in this gene are thought to be associated with Chrone's diesease. The relationship between FUT2 and circulating serum levels of viatmin B12 is unknown at this time. Individuals with the T allele are likely to have elevated levels of vitamin B12. This allele, however, is almost none existant in populations of European descent. It is more common in asian populations. This SNP has been shown to explain 1.1% of varience observed in vitamin B12 levels.</p>
    <p><strong><em>MS4A3</em>, rs2298585:</strong>&nbsp;This gene encodes a member of the membrane-spanning 4A gene family. This protein likely plays a role in signal transduction and may function as a subunit associated with receptor complexes. It's relationship with vitamin B12 levels is currently unknown. Individuals with the T allele are more likely to have higher levels of vitamin B12. This allele has a frequency of 0.4% in populations of European descent. This SNP has been shown to explain 1.7% of the varience observed in vitamin B12 levels.</p>
    <p><strong><em>FUT6</em>, rs3760776:</strong>&nbsp;This gene encodes fucosyltransferase 6. This protein is from the same protein family as FUT2 (see above), and is involved in the creation of sialyl-Lewis X, an E-selectin ligand. The direct relationship between FUT6 and vitamin B12 levels is unkown. Individuals with the guanine (G) allele are more likely to have higher serum levels. This allele has a frequency of 21.2% in populations of European descent. This SNP has been shown to account for 1.4% of the varience observed in vitamin B12 levels.</p>
    <p><strong><em>ASS1P10</em>, rs10515552:</strong>&nbsp;<em>ASS1P10</em>&nbsp;encodes argininosuccinate synthetase 1 pseudogene 10. Its relationship with levels of vitamin B12 is unknown. Individuals with the C allele are more likely to have lower levels of vitamin B12. This allele has a frequency of 3.4% in populations of European descent. It has been shown that rs10505552 explains 4% of the varience observed in vitamin B12 levels.</p>
<p>Vitamin B12 status is typically assessed via serum or plasma vitamin B12 levels. Values below approximately 170&ndash;250 pg/mL (120&ndash;180 picomol/L) for adults indicate a vitamin B12 deficiency. Some evidence suggests, however, that serum vitamin B12 concentrations might not accurately reflect intracellular concentrations. An elevated serum homocysteine level (values greater than 13 micromol/L) might also suggest a vitamin B12 deficiency. It should be noted, however, that this indicator of elevated homocysteine has poor specificity because it is also influenced by other factors, including low vitamin B6 or folate levels.</p>
    <p>Individuals with a genetic predisposition for abnormal vitamin B12 levels will want to consult with their physician about ordering a blood test.</p>
<p>&nbsp;</p>
  </div>
</div>

<br class='clear'>