<div class='main2'>
	
<h2>Vitamin D </h2>

<p>Vitamin D is a group of fat-soluble steriod-like molecules responsible for intestinal absorption of calcium and phosphate. It is naturally present in very few foods and can be produced endogenously when ultraviolet rays from sunlight strike the skin and trigger vitamin D synthesis.</p>
<p>Vitamin D plays an important role in maintaining good bone health and proper blood calcium levels within the body.  It is also involved in the modulation of cell growth, neuromuscular and immune function, and reduction of inflammation. Low levels of vitamin D can lead to osteoporosis, multiple sclerosis, selected malignancies, and especially colorectal cancer, with rickets being the most common expression of severe clinical vitamin D deficiency in children (<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2883344/#DDQ155C1" rid="DDQ155C1" co-class="co-refbox" co-rid="DDQ155C1">1</a>).</p>
<p>Athletic performance  peaks when 25-hydroxy-vitamin D levels peak, declines as they decline, and bottoms out when 25(OH)D levels are at their lowest. Vitamin D also increases the size and number of Type II (fast twitch) muscle fibers. Most cross-sectional studies show that 25(OH)D levels are directly associated with musculoskeletal performance in older individuals.</p>
<p>Many genes encoding proteins that regulate cell proliferation, differentiation, and apoptosis are modulated in part by vitamin D. Serum concentrations of 25(OH)D is the best indicator of vitamin D status. It reflects vitamin D produced cutaneously and that obtained from food and supplements and has a fairly long circulating half-life of 15 days. Serum level values vary by the type of test perform, and the laboratory used to process the sample.</p>
<p><span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});">Table Legend </span></p>
<div>
<button id='get-gwas' type='submit'>
	    Show my vitamin D SNPs
	  </button>
    
  <br/>
  <br/>
	
	
</div>

<div class='main2'>
  <div id='help-disease-help'>
    <p><strong>rs2282679</strong> in&nbsp;<em>GC</em>, <strong>rs3829251</strong> (rs11234027) in the<em>NADSYN1/DHCR7</em>&nbsp;locus, <strong>rs6599638</strong> in&nbsp;<em>C10orf88</em>&nbsp;and <strong>rs2060793</strong> (rs1993116) in&nbsp;<em>CYP2R1</em>&nbsp;accounted for 2.8% of the variance in circulating vitamin D levels.</p>
    <p><em><strong>GC</strong></em><strong>, rs2282679:&nbsp;</strong><em>GC&nbsp;</em>encodes group-specific component (vitamin D binding protein). It is a multifunctional protein found in plasma, ascitic fluid, cerebrospinal fluid and on the surface of many cell types. It binds to vitamin D and transports it to target tissues. It has been hypothesized that levels of vitamin D binding protein may affect the delivery of 25-OH D and activated vitamin D to target organs, as well as clearance of vitamin D metabolites from the circulation. On the other hand, alterations in quantity or function of vitamin D binding protein could be accompanied by changes in the relative proportions of free and bound 25-OH D, with the free fraction being the potential rate-limiting factor for active vitamin D production. Individuals carrying guanine (G) alleles at either rs2282679 or rs2282679 are more likely to have lower circulating levels of vitamin D. These alleles have frequencies of 26% in populations of European descent.</p>
    <p><strong><em>CYP2R1</em>, rs2060793:</strong>&nbsp;This gene encodes a protein that is a member of the cytochrome P450 superfamily of enzymes. The cytochrome P450 proteins are monooxygenases that catalyze many reactions involved in drug metabolism and synthesis of cholesterol, steroids and other lipids. This particular enzyme is a microsomal vitamin D hydroxylase that converts vitamin D into the active ligand for the<br />
      vitamin D receptor. A mutation in this gene has been associated with selective 25-hydroxyvitamin D deficiency. Individuals with the G alleleat <strong>rs2060793</strong> are more likely to observe low levels of vitamin D. This allele has a frequency of 59% in populations of European descent.</p>
  </div>
</div>

<br class='clear'>