<div class='main2'>
	
<h2>Vitamin E </h2>

<p>Vitamin E is a group of anti-oxidant micronutrients that protects cellular membranes and low-density lipoprotein (LDL) cholesterol from oxidative damage. Alpha-tocopherol, the primary form of vitamin E found in humans, also inhibits cell proliferation and angiogenesis (growth of new blood vessels), induces apoptosis (programmed cell death), and enhances immune function.</p>
<p>As an anti-oxidant, Vitamin E is thought to limit exercise-induced oxidative damage in muscles. Endurance athletes, who produce more reactive oxygen species over long periods of exercise, receive the most benefit from anti-oxidant supplements. There is little evidence that vitamin E supplementation alone reduces oxidative damage, however, a few studies have indicated that it reduces markers of oxidative damage when taken as part of a multi vitamin-mineral supplement.</p>
<p>Serum concentrations of alpha-tocopherol are regulated by the liver, which takes up various forms of vitamin E from the small intestine, and preferentially resecretes only alpha-tocopherol. The other forms of vitamin E are metabolized and excreted. As a result, blood and cellular concentrations these other forms are lower than those of alpha-tocopherol and have been the subjects of less research.</p>
<p>High doses of alpha-tocopherol supplements may cause hemorrhage and interrupt blood coagulation, in addition to inhibiting platelet aggregation.</p>
<p><span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});">Table Legend </span></p>
<div>
<button id='get-gwas' type='submit'>
	    Show my vitamin E SNPs
	  </button>
    
  <br/>
  <br/>
	
	
</div>

<div class='main2'>
  <div id='help-disease-help'>
    <p> <strong>rs964184</strong>, <strong>rs2108622 </strong>and <strong>rs11057830</strong> account for 1.7% of the variance in serum &alpha;-tocopherol concentrations observed between individuals.</p>
    <p><strong><em>ZNF259</em>, rs964184</strong>: This SNP is found in the gene ZNF259, which codes for a specific zinc finger protein. Individuals with the guanine (G) nucleotide at this site will likely have slightly elevated levels of &alpha;-tocopherol. The frequency of this G allele is approximately 15% in populations of European descent.</p>
    <p><strong><em>CYP4F2</em>, rs2108622</strong>: CYP4F2 encodes a cytochrome enzyme, which belongs to a group of membrane-bound hemoproteins that contain heme groups and catalyze many reactions involved in drug metabolism, synthesis of cholesterol, steroids and other lipids, and transport and metabolism of &alpha;-tocopherol. Individuals with a thymine (T) nucleotide at this location have been found to have higher serum &alpha;-tocopherol levels on average. This allele has a frequency of 21% in populations of European descent.</p>
    <p><strong><em>SCARB1</em>, rs11057830</strong>: Scavenger receptor class B, type I is an integral membrane protein found in numerous cell types/tissues, including the liver and adrenal glands. It is best known for its role in facilitating the uptake of cholesteryl esters from high-density lipoproteins in the liver. This process drives the movement of cholesterol from peripheral tissues towards the liver for excretion. This movement of cholesterol is known as reverse cholesterol transport and is a protective mechanism against the development of atherosclerosis, which is the principal cause of heart disease and stroke. SCARB1 is involved with the transport and metabolism of vitamin E, although its direct relationship with elevated levels of &alpha;-tocopherol is unknown.  </p>
  </div>
</div>

<br class='clear'>