pre {
  font-family: 'lucida console';
  color: '#006600';
}
p,h1,h2,h3,h4,h5,h6 {
	margin-bottom: 0.5em;
}

h1,h2,h3,h4,h5,h6 {

  font-family:'georgia', serif;
}


hr {
    height: 1px;
    color: #c6cccc;
    background: #c6cccc;
    font-size: 0;
    border: 0;
    margin-top: 0px;
    margin-bottom: 10px;
}

* {
  font-family: 'myriad pro', helvetica;
  margin: 20;
  padding: 20;
}

body {
  background-color: white;
 
  overflow-x: hidden;
  position: relative;
}
div.box {
  width:220px;
  padding:10px;
  border:2px solid gray;
  margin:0px;
}
div#wrap {
  -moz-box-shadow: 0px 0px 5px #888;
  -webkit-box-shadow: 0px 0px 5px #888;
  box-shadow: 0px 0px 5px #888;
  margin-left: 1%;
  padding-left: 1%;
  margin-right: 1%;
  padding-right: 1%;
  width: 96%;
  float: center;
  overflow: hidden;
}
.required {
  color: red;
}
div.multicolumn {
	-moz-column-width: 150px;
	-moz-column-gap: 20px;
	-webkit-column-width: 150px;
	-webkit-column-gap: 20px;
	column-width: 150px;
	column-gap: 20px;
}
div#header {
  height: 100px;
  padding: 5px;
  margin: auto;
}
div#title {
  float: left;
  width: 20%;
  font-size: 2.5em;
  padding-left: 1%;
  line-height: 40px;
}
div#fb_buttons {
  float:left;
  width:50%;
}
div#fb_like {
  float:right;
  width:50%;
}
div#global-settings {
  float: right;
  text-align: right;
  width: 60%;
  padding: 1%;
}
div#global-settings div.stack {
  line-height: 20px;
  height: 40px;
}
.setting-label {
  font-weight: bold;
  padding-right: 10px;
}
div#global-settings div.setting {
  float: right;
  width: 70%;
}
div.main {
  float: left;
  width: 60%;
}
div.main2 {
  float: left;
  width: 100%;
}
div.main3 {
  float: left;
  width: 65%;
}
.left {
  float: left;
  width: 49%;
}
.left_short {
  float: left;
  width: 35%;
}
.right_long {
  float: right;
  width: 64%;
}
.right {
  float: right;
  width: 49%;
}
.left_third {
  float: left;
  width: 30%;
}
.middle_third {
  float: none;
  display: inline-block;
  width: 40%;
}
.right_third {
  float: right;
  width: 25%;
}
.advanced-setting {
  margin-top: 2.5%;
}
.goog-gauge {
  display: inline-block;
}
.google-charts {
  width: 400px;
}
#settings .left {
  width: 30%;
  float: left;
  font-weight: bold;
}
#settings .right {
  float: right
  width: 70%;
}
#settings .right #ld-slider {
  margin-top: 3px;
}
div.help {
  float: left;
  width: 35%;
  padding-left: 2%;
}
div.help2 {
  float: left;
  width: 100%;
  padding-left: 4%;
}
div.help3 {
  float: left;
  width: 30%;
  padding-left: 2%;
}
div.description {
  font-size: 0.9em;
}
div#footer {
  margin: auto;
  background-color: white;
  padding: 2%;
  font-size: 0.8em;
}
/* Miscellaneous classes. */
.link {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}
.align-right * {
  text-align:right;
}
.link2:hover {
  text-decoration: underline;
  cursor: pointer;
}

.bold{
  font-weight:bold;
}

input[type="search"]
{


   -webkit-appearance: searchfield;
   -moz-appearance: searchfield;
   appearance: searchfield;
   padding-left:5px;
}
/* I don't think actually works. */
.dialog {
  width: 400px;
  height: 500px;
}
.hidden {
  display: none;
}
.note {
  font-style: italic;
  font-size: 0.8em;
  color: #111;
}
.clear {
  clear: both;
}
.clear-left {
  clear: left;
}
.clear-right {
  clear: right;
}
table.details {
  display: none;
}
table.results-table th {
  /* border-style: double; 
  border-width: 0 0 4px 0;
  border-color: #222; */a
  vertical-align: bottom;
  text-align: left;
}
table.results-table {
  border-collapse: collapse;
  /* CSS3 only.*/
}
table.results-table th, table.results-table td {
  /* padding: 3px 7px; */
  white-space: pre-wrap; /* CSS3. */
}
.ui-button-text {
  font-size: inherit !important;
}

.small-button {
  font-size: .9em !important;
}
/* Allow accordion to compute dimensions,
even when initially drawn offscreen. */
.ui-tabs .ui-tabs-hide {
  position: absolute;
  left: -10000px;
}
.large {
  font-size: 1.75em;
  line-height: 1.75em;
}
.bold {
  font-weight: bold;
}
#ld-slider {
  width: 400px;
  float: right;
}
#tabs ul li {
  display: none;
}
#module-arrow {
  font-weight: bold;
  font-size: 1em;
  line-height: 1.2em;
}
.tooltip {
  position:absolute;
  left:-2000px;
  background-color:#dedede;
  padding:5px;
  border:1px solid #fff;
  width:350px;
}
.tooltip p {
  margin:0;
  padding:0;
  color:#fff;
  background-color:#222;
  padding:2px 7px;
}



.reference {
  /*float:left;*/
  width:350px;
  margin:10px 25px 10px 10px;
  font-size:12px;
  padding-left:16px;
  
}

.columns{
    -webkit-column-width: 300px; /* Chrome, Safari, Opera */
    -moz-column-width: 300px; /* Firefox */
    column-width: 300px;

}

.columns2{
    -webkit-column-width: 370px; /* Chrome, Safari, Opera */
    -moz-column-width: 370px; /* Firefox */
    column-width: 370px;

}

/*.slide-menu ul {
  border-top: 1px solid #c6cccc;
  list-style: none;
  margin: 0;
  padding: 0;
}

/*.slide-menu li {
  border-bottom: 1px solid #c6cccc;
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
  padding-bottom: 1px;
  padding-left: 20px;
  padding-top: 1px;
}

.slide-menu a {
  font-size: 13px;
  text-decoration: none;
}

*/

.customize_module_list {
  margin:5px;
  list-style:none;
}
.customize_module_listitem li {
  padding:5px;
}



/* Class Exercise Charts */
#class-exercise-charts header {
	background-color: #fff;
	color: #171717;
	padding: 10px; 
}

#class-exercise-charts header h1, #class-exercise-charts header h2 {
	font-size: 2.5em;
	line-height: 40px;
	font-family: "myriad pro", "Helvetica Neue", sans-serif;
	font-weight: normal;
	margin: 5px 0 0 0;
}

#class-exercise-charts header h2 {
	font-size: 1.5em;
}

.chart-box {
	border: 1px solid #ddd;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin: 10px;
	padding: 10px;
}
#chart-controls {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */

}

#class-exercise-charts form select, 
#class-exercise-charts form button,
#class-exercise-charts form label {
	font-size: 1.0em;
}

#class-exercise-charts form label {
	display: block;
	font-weight: bold;
	color: #171717;
	font-size: 1.1em;
}

#class-exercise-charts form select {
	width: 400px;
}

#charts .chart {
	margin-bottom: 30px;
}

.highcharts-container {
	margin: 0 auto;
}

.invis{
  background-color:none;
  border:none;
  margin:none;
  padding:none;
}

table {
  background: white;
  margin-bottom: 1.25em;
  border: solid 1px #dddddd; }
  table thead,
  table tfoot {
    background: whitesmoke;
    font-weight: bold; }
    table thead tr th,
    table thead tr td,
    table tfoot tr th,
    table tfoot tr td {
      padding: 0.5em 0.625em 0.625em;
      font-size: 0.875em;
      color: #222222;
      text-align: left; }
  table tr th,
  table tr td {
    padding: 0.5625em 0.625em;
    font-size: 0.875em;
    color: #222222; }
  table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: #f9f9f9; }
  table thead tr th,
  table tfoot tr th,
  table tbody tr td,
  table tr td,
  table tfoot tr td {
    display: table-cell;
    line-height: 1.125em; }*/

table.tablesorter thead,
  table tfoot {
    background: whitesmoke;
    font-weight: bold; }

table.tablesorter {
  background: white;
  margin-bottom: 1.25em;
  border: solid 1px #dddddd; 
}
table.tablesorter tr th {
  padding: 0.5625em 0.625em;
    font-size: 0.875em;
    color: #222222; 
}

table.tablesorter tr th:hover {
  /*background-color:#737373;*/
  cursor:pointer;
}
table.tablesorter tr td {
  padding: 0.5625em 0.625em;
    font-size: 0.875em;
    color: #222222; 
}
table.tablesorter .even {
  background-color: #3D3D3D;
}
table.tablesorter .odd {
  background-color: #6E6E6E;
}

table.tablesorter .headerSortUp {
  /*background-color:#737373;*/
  color:#ff0084;
  background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
  /*background-color:#737373;*/
  color:#ff0084;
  background-repeat: no-repeat;
}




  table.tablesorter thead tr th,
  table.tablesorter tfoot tr th,
  table.tablesorter tbody tr td,
  table.tablesorter tr td,
  table.tablesorter tfoot tr td {
    display: table-cell;
    line-height: 1.125em; }

table.tablesorter tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: #f9f9f9; }
/* Style option groups in select menus */
optgroup {
	color: #7d7d7d;
	font-size: 0.9em;
}

optgroup > option {
    color: #000;
    margin-left: 20px;
    font-size: 1.1em;
}