<div class='main2'>
	<h2>Phenylketonuria</h2>
<p>(Written by Amalia Hadjitheodorou)</p>
<p align="left"><strong>Genetic basis of classical PKU and non-PKU hyperphenylalaninemia</strong><br />
</p>
<p align="left">In healthy individuals, the hepatic PAH enzyme catalyzes the conversion of&nbsp;L-Phe to&nbsp;L-Tyr in the presence of the co-factor BH4&nbsp;and O2. L-Tyr is thereafter converted to neurotransmitters dopamine, noradrenaline and adrenaline. In PKU cases an alternative metabolic pathway arises which breaks down&nbsp;L-Phe to phenylketones (phenylpyruvate and phenylacetate), as seen in Figure 2. Most cases of PKU are caused by mutations in the&nbsp;PAH&nbsp;gene (5). Indeed, mutations in the&nbsp;PAH&nbsp;gene account for 98% of PKU cases (6). The remaining PKU cases are attributed to mutations affecting BH4 (7). The genes implicated in the BH4-deficiency include guanosine triphosphate cyclohydrolase I (8), 6-pyruvoyl-tetrahydropeterin synthase (9), pterin-4a-carbinolamine dehydratase (10), and quinoid dihydropteridine reductase (11). Sepiapterin reductase is another genetic factor related with BH4-deficiency disorders, but mutations in&nbsp;it&nbsp;do not appear to lead to HPA (12). <br />
  <a href="interpetome/media/graphics/pku_Figure2.jpg"><img src="pku_Figure2.jpg" alt="fig2" width="577" height="450" hspace="20" vspace="20" align="left" /></a><br />
  <strong>Figure 2: </strong>The metabolic pathway of L-Phe. The primary pathway (blue box) is the catalytic conversion of L-Phe to L-Tyr by PAH. In PKU, the lack of PAH enzyme leads to the production of phenylketones by an alternative pathway (red box). A third pathway (green box) can be found in plants and yeast involving the enzyme phenylalanine ammonia lyase (3).</p>
<p align="left">The first mutation identified in the PAH gene as culpable for PKU was a single base change (GT-to-AT) in the canonical 5-prime splice donor site of intron 12. Gene transfer and expression experiments showed that the splice donor site mutation resulted in abnormal PAH mRNA processing and loss of PAH activity (13). Currently, there are over 567&nbsp;PKU&nbsp;mutations reported in the&nbsp;PAH mutation database (<a href="http://www.pahdb.mcgill.ca/">PAHdb</a>) (14). Mutations observed in&nbsp;PAH&nbsp;include missense, splice site, and nonsense mutations, small deletions, and insertions. Culpable mutations occur in all 13 exons of the gene and flanking sequence, but a mutation hotspot in exon 7 corresponds to the catalytic active site of the protein. Some cause PKU, others cause non-PKU hyperphenylalaninemia, and others are silent polymorphisms present on both normal and mutant chromosomes. The majority of pathogenic allelic variants in&nbsp;PAH&nbsp;are missense mutations (60.14% of mutations reported in&nbsp;<a href="http://www.pahdb.mcgill.ca/">PAHdb</a>), followed by deletions (13.40%), mutations affecting splicing (10.93%), then nonsense mutations and insertions (Figure 3). Missense&nbsp;PAH&nbsp;mutations may be categorized as: (i) null variants with no detectable enzymatic activity; (ii)&nbsp;<em>V</em>max variants with reduced maximum activity, (iii) kinetic variants with altered&nbsp;<em>KM</em>&nbsp;for either substrate or co-factor, and (iv) unstable variants with decreased levels of PAH polypeptide (6). Understanding the molecular defect of the missense mutations is anticipated to ameliorate symptom management, as well as diagnosis refinement. </p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center"><br />
  <img src="pku_Figure3.jpg" alt="fig3" width="832" height="341" align="left" /><br />
  <strong>Figure 3:</strong> Statistics of PAH gene mutations from the <a href="http://www.pahdb.mcgill.ca/">PAHdb</a> website.</p>
<p>The large number of PKU mutations show that disease-causing alleles have arisen independently many times. Differences in the mutation spectrum between Caucasian and Asian populations have been recorded. Furthermore, population-specific differences exist among European populations in accordance with historically and geographically recorded population migrations across Europe. <br />
  Most people with PKU have two different mutations. The exact combination of mutations determines, to some extent, how severe the manifestations of PKU will be. Indeed, with the accumulation of PAH&nbsp;mutation data, it became evident that there is a correlation between the mutations and the severity of the disorder, leading to the classification of PAH&nbsp;mutations as &ldquo;severe&rdquo;, &ldquo;moderate&rdquo;, &ldquo;mild&rdquo;, or &ldquo;non-PKU HPA&rdquo; (15,16). Null alleles (classified as &ldquo;severe&rdquo; mutations) include nonsense, frameshift, and splicing mutations affecting the canonical AG-GT dinucleotides at the exon-intron boundaries, and missense mutations that result in small residual enzymatic activity (16). Even though the majority of phenotypes are successfully linked to genotypes, there is still a significant number of discrepancies. This is most evident in patients who are homozygous for one mutation. For instance, of the 6 patients homozygous for p.Leu48Ser reported in Bercovich&nbsp;<em>et al.</em>, (17) two were classified as having classic PKU, 2 with moderate PKU and the other 2 with mild PKU. Such discrepancies of phenotypic outcome may be attributed to other factors, both genetic and non-genetic. </p>
<p align="center"><img src="pku_Figure4.jpg" alt="fig4" width="1003" height="790" hspace="20" vspace="20" align="left" /><br />
  <strong>Figure 4:</strong> Mutation map from the <a href="http://www.pahdb.mcgill.ca/">PAHdb</a> website. Known mutations at the q22-q24.1 PAH locus on chromosome 12. Introns are represented by the numbered white boxes, exons are the black lines separating boxes. Mutations that affect mRNA splicing are shown below the gene diagram; all others are shown above it. The plethora of known mutations in exons 5-12 reflects the importance of those domains to correct protein function. Note that the map was revised in 2007 and since then additional PKU mutations have been identified.</p>
<p>&nbsp;</p>
<blockquote>
  <blockquote>&nbsp; </blockquote>
</blockquote>
</div>

<div class='help'>
  <div id='help-disease-help'>
    <p>&nbsp;</p>
  </div>
</div>

<br class='clear'>