<link href="../css/interpretome.css" rel="stylesheet" type="text/css" />
<div class='main2'>
<h2>Achilles tendonopathy</h2>
<p>The Achilles tendon is the strongest tendon in the human body, and connects the heel bone to the calf muscles. The Achilles tendon is subject to highly-concentrated stress and overuse injuries: Achilles tendonitis, Achilles tendinosis, and Achilles tendon rupture. Achilles tendonitis is a short-term inflammation of the Achilles tendon that is accompanied by stiffness in the tendon area and heel pain.&nbsp; Tendinosis is a chronic condition characterized by degeneration and replacement of healthy tendon tissue with scar tissue. Achilles tendon ruptures range in severity from mild to complete tear and generally result from sudden, high-impact jumping or rebounding motions.</p>
<p><strong>Am I at risk for Achilles tendinopathy?</strong><br />
  Approximately 10-20 in 100,000 individuals in the general population will be affected by Achilles tendon injury, with men facing a six-fold increased risk of injury compared to women. The athletic population has a 24% lifetime risk for this injury. Runners are at highest risk for achilles tendinopathy, at 40 to 50 percent.<br />
</p>
<p><strong>How bad is it for my career?</strong><br />
  When Achilles tendonitis and Achilles tendinosis occur, the tendon repairs itself by replacing healthy tendon tissue with weaker scar tissue, making it more vulnerable to future injury. Fully ruptured Achilles tendons require surgical intervention to heal. Post-surgery recovery takes up to six months to complete until the patient can resume full athletic activity.</p>
<p>Click to look up your Achilles tendonopathy SNPs (use ANY Race, do not use your specific race). </p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
<p>&nbsp;</p>
	<div>
<button id='get-gwas' type='submit'>
	    Show my Achilles tendonopathy SNPs
	  </button>

	
</div>

<div class='main2'>
<div id='help-disease-help'>
  <p><strong>What genes modify my risk for achilles tendinopathy?</strong><br />
    Candidate gene studies have  identified variations in five genes that modify an individual&rsquo;s risk for achilles tendon injury: ABO, CASP-8, COL1A1, COL5A1, GDF-5, and MMP-3. Variation in these genes have a moderate to large effect on your chances of sustaining an achilles tendon injury, contributing to about&nbsp; a two and six-fold increase of injury. </p>
  <p>In the candidate gene studies, only a small number of athletes and SNPs were studied. The association of the SNPs in the table are significant given that only a few SNPs were tested, but none have p-values that are genome-wide significant (i.e. 5E-8).</p>
</div>

<br class='clear'>