<!--<link href="../css/interpretome.css" rel="stylesheet" type="text/css" />-->
<div class='main2'>
	<h2>ACL rupture</h2>
  <p>The anterior cruciate ligament (ACL) is one of four major knee ligaments. By definition, a ligament connects bones to bones; the ACL connects the posterolateral portion of the femoral condyle to the anterior fossa of tibia. The ACL is composed of two major bundles that work in opposition to maintain tension within the ACL at all times during normal range of motion. The anteromedial bundle is taut during flexion, while the posterolateral bundle (located behind the anteromedial bundle) is taut during extension. Our ACL plays an important role in stabilizing knee: it controls how far forward the tibia projects in front of the femur, and serves an additional protective function during rotation. </p>
	<p><strong>What is an ACL rupture?</strong><br />
	  The anterior cruciate ligament is one of four major knee ligaments that connects the femur to the tibia. The ACL plays an important role in stabilizing the knee, primarily by resisting the rotational motions commonly performed in sports. A rupture is the most severe injury to the ligament, and is classified as a grade III ligament sprain.</p>
	<p><strong>Am I at risk for ACL rupture?</strong><br />
	  On average, athletes have an estimated 3-6% risk of sustaining an ACL rupture each season, but this figure varies by sport and gender. More specifically, athletes participating in contact sports and sports involving high injury risk maneuvers such as cutting and quick deceleration experience higher incidence of ACL rupture. Therefore, gymnasts, football, soccer, basketball and lacrosse players are consistently ranked as the highest risk groups for ACL trauma: for example, female athletes participating in soccer and basketball are between two and eight times more likely to have an ACL rupture compared to their male counterparts. Athletes are up to eight times more likely to suffer from an ACL injury during competition compared to practices. The degree to which athletes’ knees point inward (the valgus angle) during landing, female gender, and muscle recruitment patterns are additional risk factors for ACL rupture.</p>
<p><strong>What are the implications of sustaining this injury?</strong><br />
	  Complete ACL ruptures often necessitate surgery and are associated with a long recovery period, taking up to one year to complete. Surgery and post-operative rehabilitation programs are successful in allowing athletes to resume pre-injury athletic activity. However, severe ACL injuries are potentially career-ending because of chronic instability, stiffness, and reduced range of motion in the knee. </p>
<p>Click to look up your Bone Mineral Density SNPs. (use ANY Race, do not use your specific race). </p>
<p><span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});">Table Legend </span>  </p>
<div>
<button id='get-gwas' type='submit'>
	    Show my ACL rupture SNPs
	  </button>
	</div>


  <div id='ACL-chart' class='google-charts'></div> <br /><br />


	<table id='acl-table' class='results-table hidden tablesorter'>
    <thead>
	  <tr>
	    <th>dbSNP</th>
	     <th>Gene</th>
      <th>Genotype</th>
      <th>Risk Allele</th>
      <th>β</th>
      <th>Running LR</th>
	  </tr>
    </thead>
    <tbody>
	  <script id='acl-template' type='text/template'>
		  <tr>
        <td><%= dbsnp %></td>
        <td><%= gene %></td>
        <td><%= genotype %></td>
        <td><%= risk_allele %></td>
        <td><%= beta %></td>
      </tr>
		</script>
    </tbody>
	</table>
	
</div>

<div class='main2'>
  <div id='help-disease-help'>
    </blockquote>
      <div id="mainContent">
        <p>The SNPs for ACL rupture were identified in candidate gene studies. In the candidate gene studies, only a small number of athletes and SNPs were studied. The association of the SNPs in the table are significant given that only a few SNPs were tested, but none have p-values that are genome-wide significant (i.e. 5E-8).</p>
        <p><strong>COL1A1, rs1800012</strong>: A single nucleotide change from the common C allele to the rare A allele at rs1800012 in the promotor region of the COL1A gene is has been shown to increase type I collagen production. Evidence suggests that the A allele serves a protective function against ACL injury, as individuals with the AA genotype are significantly underrepresented in ACL injury group data (Odds Ratio = 11.1). Although the literature currently only shows associations between this polymorphism and ACL and Achilles tendon injury, it is likely that this SNP modifies ligament and tendon injury risk throughout the body because type I collagen is present in all ligaments and tendons.</p>
<p><strong>COL5A1, rs12722</strong>: The protein encoded by the alpha I chain of type V collagen works with the COL1A1 protein to establish structure in the collagen that make up ligaments and tendons. A nucleotide change from cytosine (C) to thymine (T) occurs at rs12722. Evidence suggests that the TT genotype increases risk for ACL injury (Odds Ratio = 6.6). The frequency of the risk allele, T, at rs12722 is 56% in individuals of European descent and 13.6% in Africans.</p>
        <p><strong>COL12A1, rs970547</strong>: The protein encoded by the alpha I chain of type XII collagen works with the COL1A1 protein to establish structure in the collagen that make up ligaments and tendons. The TT genotype is found to a signifiantly greater extent in patients who sustain ACL injuries versus those without this injury (Odds Ratio = 2.4). Individuals will either have an T allele or C allele at rs970547. The frequency of the risk allele, T, at rs970547 is 81% in individuals of European descent and 71% in Africans.</p>
        <p><strong>MMP-12, rs2276109</strong>: Matrix metalloproteinases are a family of enzymes that maintain connective tissue by degrading collagen. The C allele at rs2276109 results in decreased expression of MMP-12 which serves a protective function against ACL injury; specifically, individuals without ACL injury have a significantly greater presence of C allele-carrying individuals (that is, CC and TC genotypes) when compared to those with this injury. The frequency of the protective allele, C, is 11% in individuals of European descent and found to a lesser extent in Africans. This SNP is imputed from rs17368814 (R^2 = 1).</p>
    </div>
      <h2>&nbsp;</h2>
<p>&nbsp;</p>
  </div>
</div>

<br class='clear'>