<style type="text/css">
<link href="../css/interpretome.css" rel="stylesheet" type="text/css">
</style>
<body leftmargin="20" marginwidth="20"><div class='main2'>
	<h2>Aging and Longevity</h2>
<p>In 2011, the mean life expectancy at age 65 in Europe was 21.3 years for women and 17.8 years for men.&nbsp;The genetic component of human lifespan based on twin studies has been estimated to be around 20&ndash;30 percent in the normal population&nbsp;<a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0112430#pone.0112430-Herskind1">[1]</a>, but higher in long-lived families&nbsp;<a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0112430#pone.0112430-Schoenmaker1">[2, </a><a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0112430#pone.0112430-Sebastiani1">3]</a>. Furthermore, siblings, parents, and offspring of centenarians also live well beyond average&nbsp;<a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0112430#pone.0112430-Perls1">[4</a>, <a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0112430#pone.0112430-Perls2">5]</a>. Lifestyle choices in terms of smoking, alcohol consumption, exercise, or diet does not appear to differ between centenarians and controls&nbsp;<a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0112430#pone.0112430-Rajpathak1">[6]</a>. Taken together, these findings provide ample evidence that extreme longevity has a genetic component.</p>
<p><strong>Hippocampal sclerosis of aging</strong> is defined by pathological manifestations: neuron loss, gliosis, and atrophy in the hippocampal formation. In elderly individuals, hippocampal sclerosis of aging is  relatively common; about 12% of elderly about 85 have hippocampal sclerosis of aging.  </p>
<p>The main factor responsible for extrinsic <strong>aging of the skin</strong> is Ultra Violet Radiation. Skin color influences the severity of photoaging (<a href="http://www.nature.com/jid/journal/v133/n4/full/jid2012458a.html#bib14">Kligman and Kligman, 1999</a>;&nbsp;<a href="http://www.nature.com/jid/journal/v133/n4/full/jid2012458a.html#bib21">Malvy&nbsp;<em>et al.</em>, 2000</a>). Individuals with dark phototypes (III&ndash;IV) commonly exhibit  deep wrinkling, coarseness, and lentigines, whereas fair phototype individuals (I&ndash;II) generally show fewer wrinkles with epidermal atrophy, focal depigmentation, as well as dysplastic changes, such as actinic keratosis, nonmelanoma, and melanoma skin cancers (<a href="http://www.nature.com/jid/journal/v133/n4/full/jid2012458a.html#bib28">Rabe&nbsp;<em>et al.</em>, 2006</a>;<a href="http://www.nature.com/jid/journal/v133/n4/full/jid2012458a.html#bib40">Yaar and Gilchrest, 2007</a>;&nbsp;<a href="http://www.nature.com/jid/journal/v133/n4/full/jid2012458a.html#bib26">Puizina-Ivi&eacute;, 2008</a>).</p>
<p>For <strong>successful aging without cognitive decline</strong>, the subjects were 85 years or older and had an MMSE &gt;26. (The MMSE or Mini Mental State Examination is a tool that assesses mental status [Folstein et al.,&nbsp;<a href="http://onlinelibrary.wiley.com/doi/10.1002/ajmg.b.30963/full#bib7" title="Link to bibliographic citation" rel="references:#bib7" shape="rect">1975</a>]. While the maximum score is 30, the score of &le;25 indicates cognitive impairment.) </p>
	<div>
	<p>(Use ANY RACE for your race.)</p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
      <div>
<button id='get-gwas' type='submit'>
	    Show my aging SNPs
	  </button>
	</div>
  

<div class='help2'>
  <div id='help-disease-help'>
    <p class="MsoNormal1">The&nbsp;<em><strong>ABCC9</strong></em>&nbsp;gene is also known as sulfonylurea receptor 2, SUR2. Sulfonylureas are a widely prescribed class of drugs used to treat type II diabetes mellitus; these drugs antagonize the function of the ABCC9 protein product. Prior GWAS found that different polymorphisms of the&nbsp;<em>ABCC9</em>&nbsp;gene were associated with cardiac problems and altered sleep patterns [<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4113197/#R32" rid="R32" id="__tag_391873234" role="button" aria-expanded="false" aria-haspopup="true">32</a>,&nbsp;<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4113197/#R34" rid="R34" id="__tag_391873267" role="button" aria-expanded="false" aria-haspopup="true">34</a>,&nbsp;<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4113197/#R38" rid="R38" id="__tag_391873242" role="button" aria-expanded="false" aria-haspopup="true">38</a>,&nbsp;<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4113197/#R55" rid="R55" id="__tag_391873249" role="button" aria-expanded="false" aria-haspopup="true">55</a>,&nbsp;<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4113197/#R58" rid="R58" role="button" aria-expanded="false" aria-haspopup="true">58</a>], which could theoretically be pathogenetic factors &ldquo;upstream&rdquo; from HS-Aging.&nbsp;Stop-codon mutations in&nbsp;<em>ABCC9</em>&nbsp;lead to Cant&uacute; syndrome [<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4113197/#R26" rid="R26" id="__tag_391873231" role="button" aria-expanded="false" aria-haspopup="true">26</a>,&nbsp;<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4113197/#R75" rid="R75" id="__tag_391873247" role="button" aria-expanded="false" aria-haspopup="true">75</a>], a rare condition with mostly uncharacterized neuropathology. The finding that a SNP located in <em>ABCC9</em> is associated with hippocampal sclerosis of aging suggests that&nbsp;<em>ABCC9</em>&nbsp;agonists  may be neuroprotective.</p>
    <p class="MsoNormal1"><strong>rs1412337</strong> (in DPT) and <strong>rs32566</strong> are assicuated with morbidity-free survival, which is  defined as achieving age 65 years free of CVD, dementia, and cancer. </p>
    <p class="MsoNormal1">Carriers of the minor allele of <strong>rs4420638</strong> (G) in APOE/TOMM40 showed significantly higher all-cause mortality (hazard ratio (HR) = 1.07,&nbsp;<em>P</em>&nbsp;= 0.019).</p>
    <p class="MsoNormal1"><strong>rs2149954</strong> is also associated with low blood pressure and decreased cardiovascular mortality risk.&nbsp;In a prospective meta-analysis, the minor allele of <strong>rs2149954 </strong>(T)  associates with increased survival past 90 (HR = 0.95,&nbsp;<em>P</em>&nbsp;= 0.003).&nbsp;</p>
    <p class="MsoNormal1"><strong>rs12474609</strong> is associated with successful aging without cognitive decline. This SNP is located in the lipoprotein-related protein 1B (LRP1B) gene, which belongs to the low density lipoprotein receptor gene family.</p>
    <p class="MsoNormal1">&nbsp;</p>
  </div>
</div>