<!--<style type="text/css">
<!--
div.MsoNormal {mso-style-unhide:no;
  mso-style-qformat:yes;
  mso-style-parent:"";
  margin:0in;
  margin-bottom:.0001pt;
  mso-pagination:widow-orphan;
  font-size:12.0pt;
  font-family:"Times New Roman";
  mso-fareast-font-family:Calibri;
  mso-fareast-theme-font:minor-latin;}
li.MsoNormal {mso-style-unhide:no;
  mso-style-qformat:yes;
  mso-style-parent:"";
  margin:0in;
  margin-bottom:.0001pt;
  mso-pagination:widow-orphan;
  font-size:12.0pt;
  font-family:"Times New Roman";
  mso-fareast-font-family:Calibri;
  mso-fareast-theme-font:minor-latin;}
p.MsoNormal {mso-style-unhide:no;
  mso-style-qformat:yes;
  mso-style-parent:"";
  margin:0in;
  margin-bottom:.0001pt;
  mso-pagination:widow-orphan;
  font-size:12.0pt;
  font-family:"Times New Roman";
  mso-fareast-font-family:Calibri;
  mso-fareast-theme-font:minor-latin;}
div.MsoNormal1 {mso-style-unhide:no;
  mso-style-qformat:yes;
  mso-style-parent:"";
  margin:0in;
  margin-bottom:.0001pt;
  mso-pagination:widow-orphan;
  font-size:12.0pt;
  font-family:"Times New Roman";
  mso-fareast-font-family:Calibri;
  mso-fareast-theme-font:minor-latin;}
li.MsoNormal1 {mso-style-unhide:no;
  mso-style-qformat:yes;
  mso-style-parent:"";
  margin:0in;
  margin-bottom:.0001pt;
  mso-pagination:widow-orphan;
  font-size:12.0pt;
  font-family:"Times New Roman";
  mso-fareast-font-family:Calibri;
  mso-fareast-theme-font:minor-latin;}
p.MsoNormal1 {mso-style-unhide:no;
  mso-style-qformat:yes;
  mso-style-parent:"";
  margin:0in;
  margin-bottom:.0001pt;
  mso-pagination:widow-orphan;
  font-size:12.0pt;
  font-family:"Times New Roman";
  mso-fareast-font-family:Calibri;
  mso-fareast-theme-font:minor-latin;}
span.SpellE {mso-style-name:"";
  mso-spl-e:yes;}
span.apple-converted-space {mso-style-name:apple-converted-space;
  mso-style-unhide:no;}
</style>-->
<div class='main2'>
  <h2>Age-related Macular Degeneration</h2>
<p>(Written by Karina Liker)</p>
<p><u>What We Know about AMD:</u></p>
<p>Age-related macular degeneration (AMD) is the leading cause
  of adult blindness in developed countries.<span style="mso-spacerun:yes">&nbsp; </span>It is estimated that 25% of the European/Caucasian population will show
  signs of AMD in their 80s (Miller 2013).<span style="mso-spacerun:yes">&nbsp; </span>The defining features of AMD are the loss of cells in the central retina
  (macula) leading to vision loss and the formation of drusen: extracellular
  deposits that accumulate between the Bruch&rsquo;s membrane and retinal pigment
  epithelium (RPE) in the retina.<span style="mso-spacerun:yes">&nbsp; </span>There
  is increasing evidence that lipid deposits in these membranes play a large role
  in the progression of AMD.<span style="mso-spacerun:yes">&nbsp; </span>The RPE
  normally degrades and processes segments from the overlaying photoreceptor cells,
  which include lipid material and pigment particles.<span
style="mso-spacerun:yes">&nbsp; </span>One theory of the etiology of AMD is
  that over time, the RPE may not be able to process these molecules as well and
  they begin to accumulate between the two membranes.<span
style="mso-spacerun:yes">&nbsp; </span>AMD may also be the result of immune
  inflammatory response in the retina, since many genetic variants associated
  with AMD are involved in complement response to injury or infection. (Miller
  2013)</p>
<p class="MsoNormal">&nbsp;  </p>
<p><u>Therapies:</u></p>
<p class="MsoNormal">
  <o:p></o:p>
AMD comes in two forms.<span style="mso-spacerun:yes">&nbsp; </span>The more common form is geographic atrophy (GA) or dry AMD, in which
  cells in the retina atrophy.<span style="mso-spacerun:yes">&nbsp; </span>The
  less common but more treatable form is neovascular or wet AMD, which is caused
  by spillage of blood vessels that begin to infiltrate the retina through
  angiogenesis (Miller 2013).<span style="mso-spacerun:yes">&nbsp; </span>Anti-vascular
  endothelial growth factor (anti-VEGF) therapies are now a common treatment
  available for neovascular AMD.<span style="mso-spacerun:yes">&nbsp; </span>More
  broad clinical management strategies include changes in diet (to target
  different steps in the etiology of the disease), vision rehabilitation, and
  changes in lifestyle.<span style="mso-spacerun:yes">&nbsp; </span>However,
  researchers are looking for therapies that treat the conditions earlier,
  prevent the spread of vision loss in the retina, and treat dry AMD.<span
style="mso-spacerun:yes">&nbsp; </span></p>
<p class="MsoNormal">
  <o:p>&nbsp;</o:p>
</p>
<p><u>Risk Factors and Genetics:</u></p>
<p class="MsoNormal">As the name suggests, age is cited as the largest risk
  factor for AMD.<span style="mso-spacerun:yes">&nbsp; </span>Cigarette smoking,
  hyperopia (farsightedness), and factors that increase risk for cardiovascular disease (like
  hypertension and cholesterol) also increase risk for AMD.<span
style="mso-spacerun:yes">&nbsp; </span>These factors can be exaggerated by age
  and over time.<span style="mso-spacerun:yes">&nbsp; </span>Protective factors
  include postmenopausal estrogen use in women and high levels of
  carotenoids.<span style="mso-spacerun:yes">&nbsp; </span>There is also evidence
  for a genetic component to AMD and several risk SNPs have been identified, as
  discussed below.<span style="mso-spacerun:yes">&nbsp; </span>It often runs in
  families and shows higher concordance among monozygotic twins than dizygotic
  twins.<span style="mso-spacerun:yes">&nbsp; </span>The genes identified
  generally fall into the categories of immunity, cell adhesion, lipid and
  protein metabolism, angiogenesis, and cellular toxicity and stress.<span
style="mso-spacerun:yes">&nbsp; </span>However, the heterogeneous nature of the
  disease (geographic atrophy vs. neovascular AMD vs. other subtypes of the
  disease) makes it difficult to study and categorize.<span
style="mso-spacerun:yes">&nbsp; </span>The fact that it affects elderly
  individuals also makes it difficult to track down information about parents and
  grandparents and keep track of younger descendants who are not old enough to
  suffer from AMD. <span style="mso-spacerun:yes">&nbsp;</span></p>
<p>Click to look up your Age-related Macular Degeneration SNPs. (Use ANY RACE for your race.)</p>
  <p>&nbsp;</p>
  <div>
<p>Click to look up your AMD SNPs (use ANY Race, do not use your specific race). </p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
<p>&nbsp;</p>
	<div>
<button id='get-gwas' type='submit'>
	    Show my AMD SNPs
	  </button>
    
  <br/>
  <br/>
  
</div>

<div class='help2'>
  <div id='help-disease-help'>
    <p class="MsoNormal1">
      <o:p>&nbsp;</o:p>
    </p>
    <p class="MsoNormal1">There are many SNPs in the NHGRI database that have an OR of
      greater than 2 and thus have been shown to have a relatively strong link to
      AMD, compared to many of the disease-related SNPs we have encountered in the
      course.<span style="mso-spacerun:yes">&nbsp; </span>Some are specifically risk
      factors for geographic atrophy (&ldquo;GA&rdquo;) or &ldquo;wet&rdquo;/&ldquo;neovascular&rdquo; AMD (see the
  &ldquo;Disease&rdquo; button), but the ones below are for general AMD risk.</p>
    <p class="MsoNormal1">
      <o:p>&nbsp;</o:p>
    </p>
    <p class="MsoNormal1"><u>rs380390:</u></p>
    <p class="MsoNormal1">One autosomal SNP for general AMD risk, rs<span
style='color:black;background:white'>380390, has an OR of 4.6.<span
style="mso-spacerun:yes">&nbsp; </span>It was identified in a case-control GWAS
      of just 96 AMD cases and 50 controls.<span style="mso-spacerun:yes">&nbsp; </span>However, since the population was homogeneous (non-Hispanic white
      patients), the SNPs were comprehensive over the genome (116,204 in all), and
      there was only one significant SNP identified with the <span class="SpellE">Bonferroni</span> correction applied (P=.0043 after <span class="SpellE">Bonferroni</span> correction; P=4.1*10<sup>-8</sup> without correction), the researchers felt
      this was a significant finding.<span style="mso-spacerun:yes">&nbsp; </span>
      <o:p></o:p>
    </span></p>
    <p class="MsoNormal1"><span style='color:black;background:white'>
      <o:p>&nbsp;</o:p>
    </span></p>
    <p class="MsoNormal1"><span style='color:black;background:white'>Having one C risk
      allele (non-disease-causing allele is G) for rs380390 gives an OR of 4.6 (CI
      95%: 2.0-11) if we assume the change is dominant, and an OR of 7.4 (CI 95%:
      2.9-19) if we assume the change is recessive and the person has inherited both
      risk alleles.<span style="mso-spacerun:yes">&nbsp; </span>The population attributable
      risk (PAR) for the dominant model is 70% (CI 95%: 42-84%) and the PAR for the
      recessive model is 46% (CI 95%: 31-57%).<span style="mso-spacerun:yes">&nbsp; </span>
  <o:p></o:p>
    </span></p>
    <p class="MsoNormal1"><span style='color:black;background:white'>
      <o:p>&nbsp;</o:p>
    </span></p>
    <p class="MsoNormal1"><span style='color:black;background:white'>The SNP lies in an
      intron of the complement factor H (CFH) gene on chromosome 1q31 and has been
      implicated in AMD in six other studies of linkage and in family-based studies.<span
style="mso-spacerun:yes">&nbsp; </span>CFH is a regulator of the complement
      immune response in the innate immunity system.<span
style="mso-spacerun:yes">&nbsp; </span>SNP rs380390 is in a very large area in
      high linkage disequilibrium with an allele in a coding region of the CFH gene.<span
style="mso-spacerun:yes">&nbsp; </span>This risk allele has a
      tyrosine-histidine change in a region of the protein that binds heparin and
      C-reactive protein, which are important to CFH&rsquo;s complement functions and which
      suggests a mechanism for the risk allele/SNP.<span
style="mso-spacerun:yes">&nbsp; </span>Additionally, blood levels of CFH are
      influenced by age and by smoking, which are two known risk factors for AMD, as
      stated above.<span style="mso-spacerun:yes">&nbsp; </span>CFH is known to be
      expressed in the RPE and in the choroid of the eye, so this association may suggest
      an accurate pathway for AMD causation in humans.<span
class="apple-converted-space">
  <o:p></o:p>
</span></span></p>
    <p class="MsoNormal1">
      <o:p>&nbsp;</o:p>
    </p>
    <p class="MsoNormal1"><span style='color:black;background:white'>
      <o:p>&nbsp;</o:p>
    </span></p>
    <p class="MsoNormal1"><span style='mso-no-proof:yes'>
      <!--[if gte vml 1]><v:shapetype
 id="_x0000_t75" coordsize="21600,21600" o:spt="75" o:preferrelative="t"
 path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
 <v:stroke joinstyle="miter"/>
 <v:formulas>
  <v:f eqn="if lineDrawn pixelLineWidth 0"/>
  <v:f eqn="sum @0 1 0"/>
  <v:f eqn="sum 0 0 @1"/>
  <v:f eqn="prod @2 1 2"/>
  <v:f eqn="prod @3 21600 pixelWidth"/>
  <v:f eqn="prod @3 21600 pixelHeight"/>
  <v:f eqn="sum @0 0 1"/>
  <v:f eqn="prod @6 1 2"/>
  <v:f eqn="prod @7 21600 pixelWidth"/>
  <v:f eqn="sum @8 21600 0"/>
  <v:f eqn="prod @7 21600 pixelHeight"/>
  <v:f eqn="sum @10 21600 0"/>
 </v:formulas>
 <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
 <o:lock v:ext="edit" aspectratio="t"/>
</v:shapetype><v:shape id="Picture_x0020_1" o:spid="_x0000_i1025" type="#_x0000_t75"
 alt="Description: An external file that holds a picture, illustration, etc.&#10;Object name is nihms10068f1.jpg"
 style='width:323pt;height:377pt;visibility:visible;mso-wrap-style:square'>
 <v:imagedata src="AMD_files/image001.jpg" o:title="An external file that holds a picture, illustration, etc.&#10;Object name is nihms10068f1.jpg"/>
</v:shape><![endif]-->
      <![if !vml]>
      <img
src="/media/template/AMD_files/image002.png"
alt="Description: An external file that holds a picture, illustration, etc.
Object name is nihms10068f1.jpg" width="325" height="379" hspace="20" vspace="20" align="left"
v:shapes="Picture_x0020_1" />
      <![endif]>
      </span><span class="apple-converted-space"><span
style='color:black;background:white'><span
style="mso-spacerun:yes">&nbsp;</span>
      <o:p></o:p>
    </span></span></p>
    <p class="MsoNormal1"><span class="apple-converted-space"><span style='color:black;
background:white'>We see that the AA (CC) genotype is associated with increased
      risk of AMD for SNP rs380390 and the BB (CC) genotype is associated with
      protection from AMD in the SNP rs1329428, but the latter was not significant
      after including re-genotyped individuals who previously were unable to be
      genotyped for this SNP.<span style="mso-spacerun:yes">&nbsp; </span></span></span><span
style='color:black;background:white'>
  <o:p></o:p>
</span></p>
    <p class="MsoNormal1">
      <o:p>&nbsp;</o:p>
    </p>
    <p class="MsoNormal1">
      <o:p>&nbsp;</o:p>
    </p>
    <p align="left" class="MsoNormal1">Sources: </p>
    <p><a href="https://www.nei.nih.gov/health/errors/hyperopia">Facts about Hyperopia. National Eye Institute (NEI).&nbsp; The National Institutes of Health</a>. &nbsp;<a href="https://www.nei.nih.gov/health/errors/hyperopia"></a></p>
    <p><a href="http://www.sciencedirect.com/science/article/pii/S0002939412007635">Miller, Joan (2013). Age-Related Macular Degeneration
      Revisited &#8211; Piecing the Puzzle: The LXIX Edward Jackson Memorial
    Lecture.<span style="mso-spacerun:yes">&nbsp; </span><i style='mso-bidi-font-style:
normal'>American Journal of Ophthalmology</i> 155: 1-35</a></p>
<p class="MsoNormal1" style='margin-left:.5in;mso-layout-grid-align:none;
text-autospace:none'><a href="http://www.ncbi.nlm.nih.gov/pubmed/15761122">Klein, Robert J. et al (2005).<span
style="mso-spacerun:yes">&nbsp; </span>Complement Factor H Polymorphism in
  Age-Related Macular Degeneration.<span style="mso-spacerun:yes">&nbsp; </span>Science 308 (5720): 385-389</a> <span
style='font-size:10.0pt;font-family:Arial;color:black;background:white'>
    <o:p></o:p>
    </span></p>
<p>&nbsp;</p>
  </div>
</div>

<br class='clear'>
