<style type="text/css">
<link href="../css/interpretome.css" rel="stylesheet" type="text/css">
</style>
<body leftmargin="20" marginwidth="20"><div class='main2'>
<h2>Ankylosing Spondylitis</h2>
<p>Ankylosing spondylitis is characterized by inflammation of the spine and sacroiliac joints causing pain and stiffness and ultimately new bone formation and progressive joint ankylosis. Inflammation may also involve extra-articular sites such as the uveal tract, tendon insertions, and proximal aorta. Hip and peripheral joint arthritis is common. </p>
<p>Ankylosing spondylitis is highly heritable (heritability &gt;90%)(<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3640413/#R1" rid="R1" id="__tag_310056010" role="button" aria-expanded="false" aria-haspopup="true">1</a>,<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3640413/#R2" rid="R2" id="__tag_310056020" role="button" aria-expanded="false" aria-haspopup="true">2</a>)&nbsp;and familial (sibling recurrence risk ratio &gt;52)(<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3640413/#R3" rid="R3" id="__tag_310056014" role="button" aria-expanded="false" aria-haspopup="true">3)</a>. Men are affected 2&ndash;3 times more frequently than women.&nbsp;The disease is strongly associated with the major histocompatibility gene&nbsp;<em>HLA-B27</em>. The overall prevalence of ankylosing spondylitis is ~5 per 1,000 in European populations however, this rate rises to ~10-50 per 1000 in HLA-B27-positive individuals.</p>
<p>Ankylosing spondylitis and IBD are closely related conditions, with ~70% of those with ankylosing spondylitis having microscopic terminal ileitis resembling Crohn&rsquo;s disease (<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3224997/#R12" rid="R12" id="__tag_287913403" role="button" aria-expanded="false" aria-haspopup="true">4)</a>&nbsp;and ~10% of those with IBD having ankylosing spondylitis. Crohn&rsquo;s disease and ankylosing spondylitis are each associated with&nbsp;<em>IL23R</em>&nbsp;<span class="MsoNormal1">(IL23 Receptor) and <em>PSMG1</em> (proteasome assembly chaperone 1) </span>SNPs.</p>
	<div>
	<p>(Use ANY RACE for your race.)</p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
      <div>
<button id='get-gwas' type='submit'>
	    Show my ankylosing spondylitis SNPs
	  </button>
	</div>
  <br/>
  <br/>
	
	
</div>

<div class='help2'>
  <div id='help-disease-help'>
    <p class="MsoNormal1"><strong>rs7743761</strong> and <strong>rs4349859</strong> are linked to each other near HLA-B. <strong>rs4349859</strong> (AA or AG) indicates HLA-B27 positive and (GG) indicates HLA-B27 negative. </p>
    <p class="MsoNormal1">The two SNPs in ERAP1 (<strong>rs30187</strong> and <strong>rs27434</strong>) represent independent signals that both affect your chance for ankylosing spondylitis. ERAP1 has two reported functions. First, it may  trim peptides in the endoplasmic reticulum down to nine amino acids in length, the optimal length for HLA class I binding and presentation<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3640413/#R21" rid="R21" id="__tag_310055986" role="button" aria-expanded="false" aria-haspopup="true">21</a>,<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3640413/#R22" rid="R22" id="__tag_310055977" role="button" aria-expanded="false" aria-haspopup="true">22</a>. Second,&nbsp;it may cleave cytokine receptors off the cell surface, including IL-6R, IL-1R2 and TNFR.</p>
    <p class="MsoNormal1"><strong>rs4333130</strong> is located in the <em> ANTXR2 </em>gene, which encodes capillary morphogenesis protein-2 (CMP2). Recessive mutations in this gene cause juvenile hyaline fibromatosis (MIM228600) and infantile systemic hyalinosis (MIM236490). </p>
</div>
</div>