<div class='main2'>
	
<p>&nbsp;</p>
<p>Asthma is a chronic lung disorder that is characterized by airflow obstruction, bronchial hyperresponsiveness (BHR) and underlying inflammation. Asthma affects approximately 300 million people worldwide (<a href="http://www.ncbi.nlm.nih.gov/pubmed/15080825">Masoli et al., 2004</a>). People with asthma have inflamed airways, which causes recurrent episodes of coughing, wheezing, breathlessness, and chest tightness. </p>
<p>Asthma signs and symptoms include:</p>
<ul>
  <li>Shortness of breath</li>
  <li>Chest tightness or pain</li>
  <li>Trouble sleeping caused by shortness of breath, coughing or wheezing</li>
  <li>A whistling or wheezing sound when exhaling (wheezing is a common sign of asthma in children)</li>
  <li>Coughing or wheezing attacks that are worsened by a respiratory virus, such as a cold or the flu</li>
</ul>
<p>For some people, asthma symptoms flare up in certain situations:</p>
<ul>
  <li><strong>Exercise-induced asthma. </strong>Physical exercise can be followed by temporary symptoms similar to an asthma attack and are due to post-exercise bronchoconstriction, or a narrowing of the airways. </li>
  <li><strong>Occupational asthma,</strong>&nbsp;triggered by workplace irritants such as chemical fumes, gases or dust</li>
  <li><strong>Allergy-induced asthma,</strong>&nbsp;triggered by particular allergens, such as pet dander, cockroaches or pollen</li>
</ul>
<p>Heritability of asthma is estimated at 60%.</p>
<p>Click to look up your Asthma SNPs (use ANY Race, do not use your specific race). </p>
<p>&nbsp;</p>
	<div>
<button id='get-gwas' type='submit'>
	    Show my Asthma SNPs
	  </button>
	</div>
  <br/>
  <br/>
	
</div>

<div class='help2'>
  <div id='help-disease-help'>
    <p>rs7216389 is a strong eQTL with ORMDL3 (risk T high, C low, expression). The rs7216389 locus is genetically heterogeneous, indicating that there is likely to be more than one underlying mutation.</p>
    <p>Many of the asthma SNPs are in genes that encode interleukins/SMAD. This suggests activation of helper T cells as an underlying mechanism.    </p>
    <p>For the SNPs from <a href="http://www.ncbi.nlm.nih.gov/pubmed/20860503">20860503</a>, the combined SNPs gave an area under the curve of 0.58. The population attributable risk for the joint action of the significant loci is 38%. This means that about 38% of the cases of childhood-onset asthma are attributable to SNP combinations. </p>
    <p>&nbsp;</p>
  </div>
</div>

<br class='clear'>