<style type="text/css">
<link href="../css/interpretome.css" rel="stylesheet" type="text/css">
</style>
<body leftmargin="20" marginwidth="20"><div class='main2'>
	<h2>Celiac Disease</h2>
<p>(Written by Stuart Kim)</p>
<p>&nbsp;</p>
	<div>
	<p>(Use ANY RACE for your race.)</p>
<span class = 'link' onclick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
      <div>
<button id='get-gwas' type='submit'>
	    Show my autotest SNPs
	  </button>
	</div>
  <br/>
  <br/>
	<table id='celiac-table' class='results-table hidden tablesorter'>
    <thead>
	  <tr>
      <th>Disease</th>
      <th>Genes</th>
	    <th>dbSNP</th>
      <th>Genotype</th>
      <th>Risk Allele</th>
      <!--<th>Genes</th>-->
      <th>OR</th>
      <th>P-Valuetest</th>
  
      <!--<th>Study Size</th>-->
      <th>Link</th>
	  </tr>
    </thead>
    <tbody>
	  <script id='celiac-template' type='text/template'>
		  <tr>
      <td><%= disease_trait %></td> <td><%=  reported_genes %></td>
    <td><%= strongest_snp %></td><td><%= genotype %></td><td><%= risk_allele %></td>
     
      <td><%=  or_or_beta %></td><td><%=  p_value %></td>
      
      <!--<td><%=  initial_sample_size %></td>-->
      <td><a href='<%=  link %>'><%=  pubmedid %></a></td>
		</script>
    </tbody>
	</table>
	
</div>

<div class='help2'>
  <div id='help-disease-help'>
    <p class="MsoNormal1">&nbsp;</p>
  </div>
</div>