<style type="text/css">
<link href="../css/interpretome.css" rel="stylesheet" type="text/css">
</style>
<body leftmargin="20" marginwidth="20"><div class='main2'>
	<h2>Bitter Taste</h2>
<p>From <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3857948/">Ledda et al., 2014</a>: &quot;Humans perceive several hundred chemically diverse compounds as bitter (<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3857948/#DDT404C3" rid="DDT404C3" id="__tag_345013885" role="button" aria-expanded="false" aria-haspopup="true">3</a>) and perception of these compounds is mediated via about 25 G-protein-coupled receptors from the T2R family (<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3857948/#DDT404C4" rid="DDT404C4" id="__tag_345013857" role="button" aria-expanded="false" aria-haspopup="true">4</a>&ndash;<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3857948/#DDT404C6" rid="DDT404C6" id="__tag_345013861" role="button" aria-expanded="false" aria-haspopup="true">6</a>). Some of these T2Rs are highly selective for specific chemical compounds or molecular groups, while others are broadly tuned (<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3857948/#DDT404C7" rid="DDT404C7" id="__tag_345013854" role="button" aria-expanded="false" aria-haspopup="true">7</a>). The mammalian T2R family of receptors shows pronounced signs of recent population-specific selection (<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3857948/#DDT404C8" rid="DDT404C8" id="__tag_345013874" role="button" aria-expanded="false" aria-haspopup="true">8</a>&ndash;<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3857948/#DDT404C10" rid="DDT404C10" id="__tag_345013870" role="button" aria-expanded="false" aria-haspopup="true">10</a>) that might reflect adaptation to the food-specific risks and opportunities found in ancestral food environments.&quot;&nbsp;</p>
<p>&nbsp;</p>
	<div>
	<p>(Use ANY RACE for your race.)</p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
      <div>
<button id='get-gwas' type='submit'>
	    Show my bitter taste SNPs
	  </button>
	</div>
  

<div class='help2'>
  <div id='help-disease-help'>
    <p class="MsoNormal1"><em>rs713598 </em>is located in the taste-receptor gene <em>TAS2R38</em>&nbsp;and account for a variance of 45.9% in bitter taste perception for PROP (propylthiouracil, a close chemical relative of PTC). For rs10246939, the C allele increases PROP/PTC bitter taste compared to the T allele.</p>
    <p class="MsoNormal1">rs1031391 in the <em>TAS2R31/43</em> gene explains 13.2% of the variance in quinine bitter taste perception. The C allele increases quinine bitter taste relative to the G allele.</p>
    <p class="MsoNormal1">rs2708377 in the <em>TAS2R46</em> gene explains 9.4% of the variance in caffeine bitter taste perception. The G allele increases the bitter taste of caffeine relative to the A allele.</p>
    <p class="MsoNormal1">&nbsp;</p>
  </div>
</div>