<style type="text/css">
<!--
div.MsoNormal {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;}
li.MsoNormal {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;}
p.MsoNormal {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;}
div.MsoNormal1 {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;}
li.MsoNormal1 {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;}
p.MsoNormal1 {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;}
span.SpellE {mso-style-name:"";
	mso-spl-e:yes;}
span.apple-converted-space {mso-style-name:apple-converted-space;
	mso-style-unhide:no;}
-->
</style>
<div class='main2'>
	<h2>Blood Pressure</h2>
<p>Blood pressure is comprised of two parts: systolic and diastolic blood pressure. The first number, systolic, refers to the blood pressure when your heart contracts and pumps blood. Values over 140 mmHg are considered high blood pressure, or hypertension. 120-139 mmHg is borderline high blood pressure. Less than 120 mmHg is normal.</p>
<p>The second number, diastolic, refers to the blood pressure in between heartbeats when the the heart rests between beats. For diastolic blood pressure, more than 90 mmHg iis high blood pressure, 80-89 mmHg is pre-hypertension, and less than 80 mmHg is normal. </p>
<p>Family and twin studies have shown that 40-50% of Blood Pressure is heritable.</p>
<p>Click to look up your blood pressure  SNPs. (Use ANY RACE for your race.)</p>
<div>
  <button id='get-gwas' type='submit'>
	    <p>Show my Blood Pressure risk score</p>
</button>
	</div>
	<br/>
  <br/>
</div>
<table id='stuart-table' class='results-table hidden tablesorter'>
    <thead>
	  <tr>
      <th>Disease</th>
	    <th>dbSNP</th>
      <th>Genotype</th>
      <th>Risk Allele</th>
      <!--<th>Genes</th>-->
      <th>OR</th>
      <th>P-Value</th>
      <!--<th>Study Size</th>-->
      <th>Link</th>
	  </tr>
    </thead>
    <tbody>
	  <script id='stuart-template' type='text/template'>
		  <tr>
      <td><%= disease_trait %></td>
    <td><%= strongest_snp %></td><td><%= genotype %></td><td><%= risk_allele %></td>
      <!--<td><%=  reported_genes %></td>-->
      <td><%=  or_or_beta %></td><td><%=  p_value %></td>
      <!--<td><%=  initial_sample_size %></td>-->
      <td><a href='<%=  link %>'><%=  pubmedid %></a></td>
		</script>
    </tbody>
	</table>
	
</div>

<div class='help2'>
  <div id='help-disease-help'>
    <p class="MsoNormal1">
      <o:p></o:p>
    A genome-wide association study was performed with a total of ~210,000 patients, and found 67 SNPs associated with blood pressure. The 67 SNPs were combined into a genetic risk score for systolic and diastolic blood pressure. Risk alleles for each polymorphism contribute to the overall risk for high blood pressure, weighted by their beta-coefficient. Overall, the genetic risk score explains about 3% of the variance in blood pressure for either systolic or diastolic blood pressure. <br />
    </p>
<div></div>
    <div></div>
  </div>
</div>

<br class='clear'>