<link href="../css/interpretome.css" rel="stylesheet" type="text/css" />

<div class='main2'>
	<h2>Blood Parameters </h2>
<span class="link" onclick="$('#tabs').tabs('select', '#BloodParameterData');"> your results </span></div>
  
	<h2><b style='mso-bidi-font-weight:normal'><u><span style='font-size:14.0pt;
font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
EN-US'>(by Thomas Roos and Andrew Roos)</span></u></b></h2>
	<p><b style='mso-bidi-font-weight:normal'><u><span style='font-size:14.0pt;
font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
EN-US'>Introduction
            <o:p></o:p>
    </span></u></b></p>
    <p class="MsoNormal2" style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='mso-bidi-font-size:14.0pt;font-family:Arial;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-fareast-language:EN-US'>
    <o:p></o:p>
    </span><span
style='mso-bidi-font-size:14.0pt;font-family:Arial;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-fareast-language:EN-US'>
    <o:p>&nbsp;</o:p>
    </span><span
style='font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
EN-US'>Aerobic performance is important for an athlete&rsquo;s success at all levels.
      A major limiting factor of athletic performance in endurance athletes is how
      much oxygen your body can deliver to the muscles, how much carbon dioxide it
      can get rid of, and how fast this process is carried out during exercise. While
      oxygen carrying capacity has traditionally been a predictor of aerobic
      performance in endurance athletes, it is also relevant to anaerobic performance
  in strength/agility athletes [<a href="http://www.ncbi.nlm.nih.gov/pubmed/9858393">El-Sayed 1998</a>]. </span></p>
    <p class="MsoNormal2" style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
EN-US'>
    <o:p>&nbsp;</o:p>
  </span></p>
    <p class="MsoNormal2" style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
EN-US'>Clinical blood tests are ordered for various reasons [<a href="http://www.ncbi.nlm.nih.gov/pubmed/3327567">Lowe 1987</a>],
      including:
<o:p></o:p>
  </span></p>
    <p class="MsoListParagraphCxSpFirst" style='margin-bottom:0in;margin-bottom:.0001pt;
mso-add-space:auto;text-indent:-.25in;mso-list:l0 level1 lfo2'>
      <![if !supportLists]>
      <span
style='font-family:Arial;mso-fareast-font-family:Arial;mso-fareast-language:
EN-US'><span style='mso-list:Ignore'>1)<span style='font:7.0pt &quot;Times New Roman&quot;'>&nbsp;&nbsp;&nbsp; </span></span></span>
      <![endif]>
      <span style='font-family:Arial;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-fareast-language:EN-US'>Review your overall health during
        routine medical exams.
        <o:p></o:p>
      </span></p>
    <p class="MsoListParagraphCxSpMiddle" style='margin-bottom:0in;margin-bottom:
.0001pt;mso-add-space:auto;text-indent:-.25in;mso-list:l0 level1 lfo2'>
      <![if !supportLists]>
      <span
style='font-family:Arial;mso-fareast-font-family:Arial;mso-fareast-language:
EN-US'><span style='mso-list:Ignore'>2)<span style='font:7.0pt &quot;Times New Roman&quot;'>&nbsp;&nbsp;&nbsp; </span></span></span>
      <![endif]>
      <span style='font-family:Arial;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-fareast-language:EN-US'>Screen for and diagnose medical
        conditions when a patient presents with symptoms of weakness, fatigue, bleeding,
        bruising, fever, infection, or inflammation.
        <o:p></o:p>
      </span></p>
    <p class="MsoListParagraphCxSpMiddle" style='margin-bottom:0in;margin-bottom:
.0001pt;mso-add-space:auto;text-indent:-.25in;mso-list:l0 level1 lfo2'>
      <![if !supportLists]>
      <span
style='font-family:Arial;mso-fareast-font-family:Arial;mso-fareast-language:
EN-US'><span style='mso-list:Ignore'>3)<span style='font:7.0pt &quot;Times New Roman&quot;'>&nbsp;&nbsp;&nbsp; </span></span></span>
      <![endif]>
      <span style='font-family:Arial;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-fareast-language:EN-US'>Monitor an existing blood
        condition through periodic checks.
        <o:p></o:p>
      </span></p>
    <p class="MsoListParagraphCxSpLast" style='margin-bottom:0in;margin-bottom:.0001pt;
mso-add-space:auto;text-indent:-.25in;mso-list:l0 level1 lfo2'>
      <![if !supportLists]>
      <span
style='font-family:Arial;mso-fareast-font-family:Arial;mso-fareast-language:
EN-US'><span style='mso-list:Ignore'>4)<span style='font:7.0pt &quot;Times New Roman&quot;'>&nbsp;&nbsp;&nbsp; </span></span></span>
      <![endif]>
      <span style='font-family:Arial;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-fareast-language:EN-US'>Monitor a medical treatment for
        patients taking certain medications.
        <o:p></o:p>
      </span></p>
    <p class="MsoNormal2" style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
EN-US'>
      <o:p>&nbsp;</o:p>
    </span></p>
    <p class="MsoNormal2" style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
EN-US'>Blood tests are not considered definitive diagnostic tests because many
      factors - such as exercise, diet, and medications - can alter the results.
      Abnormal results may or may not be relevant to your health and further medical
      testing may be recommended. Overall, it is important to work closely with your
      physician to determine the best course of action for your personal case.
      <o:p></o:p>
    </span></p>
    <p class="MsoNormal2" style='margin-bottom:0in;margin-bottom:.0001pt'><u><span
style='mso-bidi-font-size:14.0pt;font-family:Arial;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-fareast-language:EN-US'>
      <o:p><span style='text-decoration:
 none'>&nbsp;</span></o:p>
    </span></u></p>
    <p class="MsoNormal2" style='margin-bottom:0in;margin-bottom:.0001pt'><u><span
style='mso-bidi-font-size:14.0pt;font-family:Arial;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-fareast-language:EN-US'>Complete Blood Count
      <o:p></o:p>
    </span></u></p>
    <p class="MsoNormal2" style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='mso-bidi-font-size:14.0pt;font-family:Arial;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-fareast-language:EN-US'>
      <o:p>&nbsp;</o:p>
    </span></p>
    <p class="MsoNormal2" style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
EN-US'>Blood testing is usually done as a complete blood count (CBC), also
      called a full blood count (FBC), or full blood exam (FBE), and must be ordered
      by a physician or medical professional. The CBC consists of a panel of tests
      including: red blood cells (RBCs), hemoglobin (Hb), hematocrit (Hct), mean
      corpuscular hemoglobin (MCH), mean corpuscular hemoglobin concentration (MCHC),
      mean corpuscular volume (MCV), red blood cell distribution width (RDW), white
      blood cells (WBCs), and platelets. We report on 6 of these parameters listed in
      the table below.
      <o:p></o:p>
    </span></p>
    <p class="MsoNormal2" style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
EN-US'>
      <o:p>&nbsp;</o:p>
    </span></p>
  <p class="MsoNormal2" style='margin-bottom:0in;margin-bottom:.0001pt'>
      <!--[if gte vml 1]><v:shapetype
 id="_x0000_t75" coordsize="21600,21600" o:spt="75" o:preferrelative="t"
 path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
 <v:stroke joinstyle="miter"/>
 <v:formulas>
  <v:f eqn="if lineDrawn pixelLineWidth 0"/>
  <v:f eqn="sum @0 1 0"/>
  <v:f eqn="sum 0 0 @1"/>
  <v:f eqn="prod @2 1 2"/>
  <v:f eqn="prod @3 21600 pixelWidth"/>
  <v:f eqn="prod @3 21600 pixelHeight"/>
  <v:f eqn="sum @0 0 1"/>
  <v:f eqn="prod @6 1 2"/>
  <v:f eqn="prod @7 21600 pixelWidth"/>
  <v:f eqn="sum @8 21600 0"/>
  <v:f eqn="prod @7 21600 pixelHeight"/>
  <v:f eqn="sum @10 21600 0"/>
 </v:formulas>
 <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
 <o:lock v:ext="edit" aspectratio="t"/>
</v:shapetype><v:shape id="_x0000_s1037" type="#_x0000_t75" style='position:absolute;
 margin-left:0;margin-top:0;width:467.75pt;height:83.1pt;z-index:251688960;
 visibility:visible;mso-wrap-style:square;mso-wrap-distance-left:9pt;
 mso-wrap-distance-top:0;mso-wrap-distance-right:9pt;
 mso-wrap-distance-bottom:0;mso-position-horizontal:absolute;
 mso-position-horizontal-relative:text;mso-position-vertical:absolute;
 mso-position-vertical-relative:text'>
 <v:imagedata src="Blood%20writeup%20temp_files/image001.png" o:title=""/>
 <w:wrap type="tight"/>
</v:shape><![endif]-->
      <![if !vml]>
      <img
src="media/template/blood parameters/BloodParametersStuart_clip_image002.png" alt="2" width="470" height="85" hspace="9" align="left" v:shapes="_x0000_s1037" />
      <![endif]>
      <span
style='font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
EN-US'>
      <o:p></o:p>
  </span></p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <br><br>
  <span class="link" onclick="$('#tabs').tabs('select', '#BloodParameterData');"> your results </span></div>
  <ol style='margin-top:0in' start="1" type="1">
    <li class="MsoNormal21"><span
     style='mso-bidi-font-size:10.0pt;font-family:Arial;mso-bidi-font-family:
     &quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;mso-fareast-language:
     EN-US'>
      <o:p></o:p>
      </span><i
     style='mso-bidi-font-style:normal'><span style='mso-bidi-font-size:10.0pt;
     font-family:Arial;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:
     minor-bidi;mso-fareast-language:EN-US'>Red blood cells (RBCs) &#8211;</span></i><span
     style='mso-bidi-font-size:10.0pt;font-family:Arial;mso-bidi-font-family:
     &quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;mso-fareast-language:
     EN-US'> Red blood cells, also called erythrocytes, are the most common
        blood cells and are responsible for delivering oxygen to body tissues. The
        RBC count is the number of red blood cells per microliter (uL) of blood.
        Low RBC levels are a sign of anemia, iron deficiency, and/or extreme
        fatigue. High levels of RBCs are a sign of erythrocytosis, or the abnormal
        increase in the number or circulating red blood cells. Normal ranges vary
        slightly by laboratory. RBC count is affected by metabolism, hormones, and
        body composition [<a href="http://www.ncbi.nlm.nih.gov/pubmed/10723803">Evans 1999</a>; <a href="http://www.ncbi.nlm.nih.gov/pubmed/12082254">Brun 2002</a>]. </span></li>
  </ol>
  <ol style='margin-top:0in' start="2" type="1">
    <li class="MsoNormal21" style='margin-top:.1pt;margin-bottom:.1pt;mso-para-margin-top:
     .01gd;mso-para-margin-bottom:.01gd;mso-list:l6 level1 lfo1;tab-stops:list .5in'><i
     style='mso-bidi-font-style:normal'><span style='mso-bidi-font-size:10.0pt;
     font-family:Arial;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:
     minor-bidi;mso-fareast-language:EN-US'>Hemoglobin (Hb) -</span></i><span
     style='mso-bidi-font-size:10.0pt;font-family:Arial;mso-bidi-font-family:
     &quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;mso-fareast-language:
     EN-US'> Hemoglobin is the iron-containing protein in RBCs that delivers
      oxygen around the body and removes carbon dioxide. Hemoglobin accounts for
      ~35% of RBC volume [<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC289318/">Weed 1963</a>] and has an oxygen binding capacity of
      1.34mL O<sub>2</sub> per gram of Hb [<a href="http://www.ncbi.nlm.nih.gov/pubmed/7317251">Dominguez 1981</a>]. Levels of hemoglobin
      are measured in units of grams per deciliter (g/dL). Low hemoglobin levels
      are a sign of anemia, a deficiency of RBCs or hemoglobin in the blood.
      <o:p></o:p>
    </span></li>
  </ol>
  <ol style='margin-top:0in' start="3" type="1">
    <li class="MsoNormal21" style='margin-top:.1pt;margin-bottom:.1pt;mso-para-margin-top:
     .01gd;mso-para-margin-bottom:.01gd;mso-list:l6 level1 lfo1;tab-stops:list .5in'><i
     style='mso-bidi-font-style:normal'><span style='mso-bidi-font-size:10.0pt;
     font-family:Arial;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:
     minor-bidi;mso-fareast-language:EN-US'>Hematocrit (Hct) &#8211;</span></i><span
     style='mso-bidi-font-size:10.0pt;font-family:Arial;mso-bidi-font-family:
     &quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;mso-fareast-language:
     EN-US'> Hematocrit (or packed cell volume) is the fraction of total blood
      volume comprised of red blood cells, expressed as a percent. Hematocrit is
      measured by spinning down a blood sample so that the RBCs pack at the
      bottom of a test tube. Low hematocrit levels are indicative of anemia.
      <o:p></o:p>
    </span></li>
  </ol>
  <ol style='margin-top:0in' start="4" type="1">
    <li class="MsoNormal21" style='margin-top:.1pt;margin-bottom:.1pt;mso-para-margin-top:
     .01gd;mso-para-margin-bottom:.01gd;mso-list:l6 level1 lfo1;tab-stops:list .5in'><i
     style='mso-bidi-font-style:normal'><span style='mso-bidi-font-size:10.0pt;
     font-family:Arial;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:
     minor-bidi;mso-fareast-language:EN-US'>Mean corpuscular hemoglobin (MCH)</span></i><span
     style='mso-bidi-font-size:10.0pt;font-family:Arial;mso-bidi-font-family:
     &quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;mso-fareast-language:
     EN-US'> &#8211; </span><span style='font-family:Arial;mso-fareast-font-family:
     &quot;Times New Roman&quot;;mso-fareast-language:EN-US'>Mean corpuscular hemoglobin (or
      mean cell hemoglobin) is the average amount of hemoglobin per red blood
      cell, measured in picograms (pg). MCH is calculated from hemoglobin levels
      and RBC count.</span><span style='mso-bidi-font-size:10.0pt;font-family:
     Arial;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;
     mso-fareast-language:EN-US'>
        <o:p></o:p>
    </span></li>
  </ol>
  <ol style='margin-top:0in' start="5" type="1">
    <li class="MsoNormal21" style='margin-top:.1pt;margin-bottom:.1pt;mso-para-margin-top:
     .01gd;mso-para-margin-bottom:.01gd;mso-list:l6 level1 lfo1;tab-stops:list .5in'><i
     style='mso-bidi-font-style:normal'><span style='mso-bidi-font-size:10.0pt;
     font-family:Arial;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:
     minor-bidi;mso-fareast-language:EN-US'>Mean corpuscular hemoglobin
      concentration (MCHC)</span></i><span style='mso-bidi-font-size:10.0pt;
     font-family:Arial;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:
     minor-bidi;mso-fareast-language:EN-US'> - </span><span style='font-family:
     Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:EN-US'>Mean
        corpuscular hemoglobin concentration (or mean cell hemoglobin
        concentration) is the average concentration of hemoglobin in red blood
        cells, measured in grams per deciliter (g/dL). MCHC is calculated from the
        hemoglobin and hematocrit levels.</span><span style='mso-bidi-font-size:
     10.0pt;font-family:Arial;mso-bidi-font-family:&quot;Times New Roman&quot;;
     mso-bidi-theme-font:minor-bidi;mso-fareast-language:EN-US'>
          <o:p></o:p>
    </span></li>
  </ol>
  <ol style='margin-top:0in' start="6" type="1">
    <li class="MsoNormal21" style='margin-top:.1pt;margin-bottom:.1pt;mso-para-margin-top:
     .01gd;mso-para-margin-bottom:.01gd;mso-list:l6 level1 lfo1;tab-stops:list .5in'><i
     style='mso-bidi-font-style:normal'><span style='font-family:Arial;
     mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:EN-US'>Mean
      corpuscular volume (MCV) </span></i><span style='font-family:Arial;
     mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:EN-US'>- Mean
        corpuscular volume (or mean cell volume) is the average volume of a single
        red blood cell, measured in femtoliters (fL). MCV is calculated from hematocrit
        levels and RBC count. Anemia is classified as microcytic, normocytic, or
        macrocytic depending on whether MCV is low, normal, or high, respectively.
        RBC size can vary based on inherited conditions such as thalassemia,
        nutritional deficiencies (vitamin B12, folate), and exposures (alcohol,
        chemotherapy) [<a href="http://www.ncbi.nlm.nih.gov/pubmed/10723803">Evans 1999</a>].</span><span style='mso-bidi-font-size:10.0pt;
     font-family:Arial;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:
     minor-bidi;mso-fareast-language:EN-US'>
          <o:p></o:p>
    </span></li>
  </ol>
  <p class="MsoNormal21" style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
EN-US'>
    <o:p>&nbsp;</o:p>
    </span><span
style='font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
EN-US'>
      <o:p>&nbsp;</o:p>
      </span><span
style='font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
EN-US'>The table below lists the normal clinical ranges for each of the 6 blood
        parameters. Each range represents where 95% of the population will fall, with
        the lower and upper extremes being at the highest risk for blood disorders. For
        RBC count, hemoglobin, and hematocrit, the normal ranges for men and women are
        slightly different. Additionally, these normal ranges will vary slightly based
        on the specific lab that is doing the blood testing.
        <o:p></o:p>
      </span></p>
  <p class="MsoNormal21" style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
EN-US;mso-no-proof:yes'>
    <o:p>&nbsp;</o:p>
  </span></p>
  <p class="MsoNormal21" style='margin-bottom:0in;margin-bottom:.0001pt'>
    <!--[if gte vml 1]><v:shape
 id="_x0000_s1036" type="#_x0000_t75" style='position:absolute;margin-left:90pt;
 margin-top:12.6pt;width:254pt;height:104.8pt;z-index:251707392;visibility:visible;
 mso-wrap-style:square;mso-wrap-distance-left:9pt;mso-wrap-distance-top:0;
 mso-wrap-distance-right:9pt;mso-wrap-distance-bottom:0;
 mso-position-horizontal:absolute;mso-position-horizontal-relative:text;
 mso-position-vertical:absolute;mso-position-vertical-relative:text'>
 <v:imagedata src="Blood%20writeup%20temp_files/image003.png" o:title=""/>
 <w:wrap type="tight"/>
</v:shape><![endif]-->
    <![if !vml]>
    <img
src="media/template/blood parameters/BloodParametersStuart_clip_image004.png" alt="4" width="256" height="106" hspace="9" align="left" v:shapes="_x0000_s1036" />
    <![endif]>
    <span
style='font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
EN-US;mso-no-proof:yes'>
    <o:p></o:p>
  </span></p>
  <p class="MsoNormal21" style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
EN-US;mso-no-proof:yes'>
    <o:p>&nbsp;</o:p>
  </span></p>
  <p class="MsoNormal21" style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
EN-US;mso-no-proof:yes'>
    <o:p>&nbsp;</o:p>
  </span></p>
  <p class="MsoNormal21" style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
EN-US;mso-no-proof:yes'>
    <o:p>&nbsp;</o:p>
  </span></p>
  <p class="MsoNormal21" style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
EN-US;mso-no-proof:yes'>
    <o:p>&nbsp;</o:p>
  </span></p>
  <p class="MsoNormal21" style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
EN-US;mso-no-proof:yes'>
    <o:p>&nbsp;</o:p>
  </span></p>
  <p class="MsoNormal21" style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
EN-US'>
    <o:p>&nbsp;</o:p>
    </span><span
style='font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
EN-US'>
      <o:p>&nbsp;</o:p>
    </span></p>
  <p class="MsoNormal21" style='margin-bottom:0in;margin-bottom:.0001pt'><u><span
style='font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
EN-US'>Blood Parameters in Athletes
    <o:p></o:p>
  </span></u></p>
  <p class="MsoNormal21" style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
EN-US'>
    <o:p>&nbsp;</o:p>
  </span></p>
  <p class="MsoNormal21" style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
EN-US'>Elite and recreational athletes who participate in continuous long-term,
    high-intensity training will observe changes in blood parameter levels and
    blood chemistry. Fluctuations are not always apparent during or immediately
    after training sessions, sometimes taking weeks to show up. These changes are
    most likely due to the body&rsquo;s physiological adaptations to training [<a href="http://www.ncbi.nlm.nih.gov/pubmed/1521948">Nagel
      1992</a>]. For example, intense training can increase your RBC count through a
    hypoxic response, however it takes about 7 days for the process to result in
    mature RBCs circulating in your blood. The observed change in hematological
    parameters is different by sport and varies by season [<a href="http://www.ncbi.nlm.nih.gov/pubmed/17474885">Banfi 2011</a>]. Moreover,
    the measured values for RBC count, hemoglobin, and hematocrit have a diurnal
    pattern where they peak in the morning and then decline throughout the day [<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC1141821/">Pocock
      2004</a>]. There can be some uncertainty in the interpretation of abnormal values
    from blood tests taken from athletes because the results can be indicative of
    pathology or caused by the physiological demands of repeated training and
    competition [<a href="http://www.ncbi.nlm.nih.gov/pubmed/9858393">El-Sayed 1998</a>].</span><span style='mso-bidi-font-size:10.0pt;
font-family:Arial;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:
minor-bidi;mso-fareast-language:EN-US'> For example, low hemoglobin levels could
      indicate an iron deficiency caused by a poor diet or could just be a
      consequence of prolonged exercise. Biological and genetic factors play a role
      in determining what a normal value should be for each individual athlete
      [<a href="http://www.ncbi.nlm.nih.gov/pubmed/12905092">Bagger 2003</a>] and medical blood disorders can further alter these levels
      [<a href="http://www.ncbi.nlm.nih.gov/pubmed/16004921">Mercer 2005</a>].
      <o:p></o:p>
    </span></p>
  <p class="MsoNormal21" style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='mso-bidi-font-size:10.0pt;font-family:Arial;mso-bidi-font-family:&quot;Times New Roman&quot;;
mso-bidi-theme-font:minor-bidi;mso-fareast-language:EN-US'>
    <o:p>&nbsp;</o:p>
  </span></p>
  <p class="MsoListParagraphCxSpFirst1" style='margin-bottom:0in;margin-bottom:.0001pt;
mso-add-space:auto;text-indent:-.25in;mso-list:l15 level1 lfo4'>
    <![if !supportLists]>
    <span
style='mso-bidi-font-size:10.0pt;font-family:Arial;mso-fareast-font-family:
Arial;mso-fareast-language:EN-US'><span style='mso-list:Ignore'>-<span
style='font:7.0pt &quot;Times New Roman&quot;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span>
    <![endif]>
    <i
style='mso-bidi-font-style:normal'><span style='mso-bidi-font-size:10.0pt;
font-family:Arial;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:
minor-bidi;mso-fareast-language:EN-US'>Red blood cells</span></i><span
style='mso-bidi-font-size:10.0pt;font-family:Arial;mso-bidi-font-family:&quot;Times New Roman&quot;;
mso-bidi-theme-font:minor-bidi;mso-fareast-language:EN-US'>: The number of RBCs
      in an athlete&rsquo;s body is continuously in flux due to mechanical damage from
      sports (hemolysis) and synthesis of new cells (erythropoiesis) [<a href="http://www.ncbi.nlm.nih.gov/pubmed/16004921">Mercer 2005</a>]. RBC
      levels can fluctuate throughout a season of training and competition, but show
      no significant overall decline during the training season [<a href="http://www.ncbi.nlm.nih.gov/pubmed/20842374">Banfi 2007</a>]. RBC
      levels are significantly increased when elite athletes train at altitudes of
      over 5,000 feet [<a href="http://www.ncbi.nlm.nih.gov/pubmed/12215956">Rjetjens 2002</a>].
      <o:p></o:p>
    </span></p>
  <p class="MsoListParagraphCxSpMiddle1" style='margin-bottom:0in;margin-bottom:
.0001pt;mso-add-space:auto'><span style='mso-bidi-font-size:10.0pt;font-family:
Arial;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;
mso-fareast-language:EN-US'>
    <o:p>&nbsp;</o:p>
  </span></p>
  <p class="MsoListParagraphCxSpMiddle1" style='margin-bottom:0in;margin-bottom:
.0001pt;mso-add-space:auto;text-indent:-.25in;mso-list:l15 level1 lfo4'>
    <![if !supportLists]>
    <span
style='mso-bidi-font-size:10.0pt;font-family:Arial;mso-fareast-font-family:
Arial;mso-fareast-language:EN-US'><span style='mso-list:Ignore'>-<span
style='font:7.0pt &quot;Times New Roman&quot;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span>
    <![endif]>
    <i
style='mso-bidi-font-style:normal'><span style='mso-bidi-font-size:10.0pt;
font-family:Arial;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:
minor-bidi;mso-fareast-language:EN-US'>Hemoglobin</span></i><span
style='mso-bidi-font-size:10.0pt;font-family:Arial;mso-bidi-font-family:&quot;Times New Roman&quot;;
mso-bidi-theme-font:minor-bidi;mso-fareast-language:EN-US'>: Hb levels decrease
      with intense periods of training and are highest after a rest period or during
      the off-season [<a href="http://www.ncbi.nlm.nih.gov/pubmed/17474885">Banfi 2011</a>]. The decline in Hb levels during competition season
      varies between 3-8% [<a href="http://www.ncbi.nlm.nih.gov/pubmed/12383076">Schumacher 2002</a>; </span><span style='font-family:Arial;
mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi'><a href="http://www.ncbi.nlm.nih.gov/pubmed/18773375">M&oslash;rkeberg</a></span><a href="http://www.ncbi.nlm.nih.gov/pubmed/18773375"><span
style='mso-bidi-font-size:10.0pt;font-family:Arial;mso-bidi-font-family:&quot;Times New Roman&quot;;
mso-bidi-theme-font:minor-bidi;mso-fareast-language:EN-US'> 2009</span></a><span
style='mso-bidi-font-size:10.0pt;font-family:Arial;mso-bidi-font-family:&quot;Times New Roman&quot;;
mso-bidi-theme-font:minor-bidi;mso-fareast-language:EN-US'>]. Hemoglobin
        levels naturally drop during exercise due to increased water content in the
        blood (hemodilution), a phenomenon called &ldquo;sports anemia&rdquo; [<a href="http://www.ncbi.nlm.nih.gov/pubmed/1521949">Wright 1992</a>].
        Conversely, hemoglobin levels can be increased by 4-6% by training at altitude
        [</span><span style='font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;'><a href="http://www.ncbi.nlm.nih.gov/pubmed/16179396">Brugniaux
          2006</a></span><span style='mso-bidi-font-size:10.0pt;font-family:Arial;mso-bidi-font-family:
&quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;mso-fareast-language:EN-US'>].
            <o:p></o:p>
          </span></p>
  <p class="MsoListParagraphCxSpMiddle1" style='margin-bottom:0in;margin-bottom:
.0001pt;mso-add-space:auto'><span style='mso-bidi-font-size:10.0pt;font-family:
Arial;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;
mso-fareast-language:EN-US'>
    <o:p>&nbsp;</o:p>
  </span></p>
  <p class="MsoListParagraphCxSpLast1" style='margin-bottom:0in;margin-bottom:.0001pt;
mso-add-space:auto;text-indent:-.25in;mso-list:l15 level1 lfo4'>
    <![if !supportLists]>
    <span
style='mso-bidi-font-size:10.0pt;font-family:Arial;mso-fareast-font-family:
Arial;mso-fareast-language:EN-US'><span style='mso-list:Ignore'>-<span
style='font:7.0pt &quot;Times New Roman&quot;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span>
    <![endif]>
    <i
style='mso-bidi-font-style:normal'><span style='mso-bidi-font-size:10.0pt;
font-family:Arial;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:
minor-bidi;mso-fareast-language:EN-US'>Hematocrit</span></i><span
style='mso-bidi-font-size:10.0pt;font-family:Arial;mso-bidi-font-family:&quot;Times New Roman&quot;;
mso-bidi-theme-font:minor-bidi;mso-fareast-language:EN-US'>: Hct</span><span
style='font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
EN-US'> levels vary significantly throughout the course of an athletic season
      due to physiological adaptations to training [<a href="http://www.ncbi.nlm.nih.gov/pubmed/22020850">Meyer 2011</a>]. </span><span
style='mso-bidi-font-size:10.0pt;font-family:Arial;mso-bidi-font-family:&quot;Times New Roman&quot;;
mso-bidi-theme-font:minor-bidi;mso-fareast-language:EN-US'>Hematocrit levels can
        be elevated in highly-trained endurance athletes, especially if an athlete is
        dehydrated. Hematocrit levels decrease with intense periods of training and are
        highest after a rest period or during the off-season [<a href="http://www.ncbi.nlm.nih.gov/pubmed/17474885">Banfi 2011</a>]. The decline
        in hematocrit levels during competition season varies between 5-21% [<a href="http://www.ncbi.nlm.nih.gov/pubmed/12383076">Schumacher
          2002</a>; </span><span style='font-family:Arial;mso-bidi-font-family:&quot;Times New Roman&quot;;
mso-bidi-theme-font:minor-bidi'><a href="http://www.ncbi.nlm.nih.gov/pubmed/18773375">M&oslash;rkeberg</a></span><a href="http://www.ncbi.nlm.nih.gov/pubmed/18773375"><span style='mso-bidi-font-size:
10.0pt;font-family:Arial;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:
minor-bidi;mso-fareast-language:EN-US'> 2009</span></a><span style='mso-bidi-font-size:
10.0pt;font-family:Arial;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:
minor-bidi;mso-fareast-language:EN-US'>].
            <o:p></o:p>
          </span></p>
  <p class="MsoNormal21" style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
EN-US'>
    <o:p>&nbsp;</o:p>
  </span></p>
  <p class="MsoNormal21" style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
EN-US'>
    <o:p>&nbsp;</o:p>
  </span></p>
  <p class="MsoNormal21" style='margin-bottom:0in;margin-bottom:.0001pt'><span
style='font-family:Arial;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-fareast-language:
EN-US'>It is recommended that elite athletes get yearly tests of their blood parameters
    (CBC) tests [<a href="http://www.athletesheart.org/2010/09/more-on-laboratory-screening-in/">Creswell 2010</a>]. If the athlete has symptoms of chronic fatigue or
    a </span><span style='font-family:Arial;mso-bidi-font-family:&quot;Times New Roman&quot;;
mso-bidi-theme-font:minor-bidi'>family history of vascular disease,
      hyperlipidaemia, or haemochromatosis, it is important to screen for the six
      blood parameters </span><span style='font-family:Arial;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-fareast-language:EN-US'>[<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2465092/">Fallon 2006</a>; <a href="http://www.ncbi.nlm.nih.gov/pubmed/18070805">Fallon 2008</a>].
        <o:p></o:p>
      </span></p>
  <p>&nbsp;</p>
</div>
