<link href="../css/interpretome.css" rel="stylesheet" type="text/css" />
<div class='main2'>
	<h2>Bone Mineral Density</h2>
  <hr/>
	<p><a href="#BMDintro">Introduction</a></p>
	<p><a href="#BMDgrs">BMD genetic risk score</a>. Figure shows how the combined genetic information from all BMD loci is correlated with BMD, osteoporosis and fracture.</p>
	<p><a href="#info">More information on BMD</a></p>
	<p><a href="#BMDprevention">BMD prevention.</a> For young endurance athletes and active individuals, these are steps you can take to reduce risk of stress fracture.</p>
<p>&nbsp;</p>
	<h1><a name="BMDintro" id="BMDintro"></a>Bone Mineral Density Introduction</h1>
    <p>Maintaining bone health plays a large role in ensuring overall health and wellness. Bones are made primarily from collagens. However, they obtain their structure and density from calcium phosphate and other minerals. Bone remodeling is a dynamic process composed of formation and reabsorption. Both processes work harmoniously throughout your life to release calcium from storage in bones to the bloodstream. When calcium levels in your blood are low over an extended time, calcium is released from your bones into the blood stream which lowers bone density and puts you at higher risk for stress fractures. Conversely, when calcium levels in your blood are normal, then your bones absorb calcium from your bloodstream.</p>
    <p><br />
      Specialized bone-building cells called osteoblasts and osteoclasts contribute to bone formation and reabsorbtion, respectively. Around age 30, bones reach their peak bone mass. After this peak period, bone density steadily declines due to bone reabsorption from osteoclasts. Stress fractures of the lower extremity account for up to 15% of all injuries in runners.&nbsp;</p>
    <p><br />
      Adopting healthy habits that achieve peak bone mass creates a reserve of bone, which lessens the severity of loss of bone density later in life. Healthy diet and weight-bearing exercises are important factors in ensuring bone density. However, high-intensity physical activity puts individuals at risk for stress fracture and low bone mineral density. In later years, these risks also include osteopenia and osteoporosis.</p>
    <p>&nbsp;</p>
	<p>Click to look up your Bone Mineral Density SNPs. (use ANY Race, do not use your specific race). </p>
<p>&nbsp;</p>
	<div>
<button id='get-gwas' type='submit'>
	    Show my BMD SNPs
	  </button>
	</div>
  <h1><a name="BMDgrs" id="BMDgrs"></a>BMD genetic risk score</h1>
    <p>The table lists 63 SNPs associated with bone mineral density. Each SNPs has a score indicating how much weight a risk allele has in decreasing your bone mineral density - larger scores means that the risk allele has a bigger effect. The cumulative score from every SNP is added, giving you an overall genetic risk score. </p>
    <p>&nbsp;</p>
    <p>This figure shows how the genetic score works. The X axis is the genetic score from the 63 SNPs scored above. The grey bars are a histagram of the number of people with each genetic score. Figure A shows the bone mineral density measured by DEXA, showing that the genetic risk score correlates with bone mineral density. Figure B shows that the genetic risk score is correlated with chance for osteoporosis.  Figure C shows that genetic risk score corrlates with risk for fracture. </p>
    <p><a href="../graphics/BMD genetic risk score.jpg"><img src="media/graphics/BMD genetic risk score.jpg" width="946" height="328" alt="figure" /></a></p>
  <p>(<strong>a</strong>&ndash;<strong>c</strong>) Effects are shown for baseline FN-BMD standardized residuals (<em>Z</em>&nbsp;scores) (<strong>a</strong>), risk for osteoporosis (<strong>b</strong>) and risk for any type of fracture (<strong>c</strong>). The genetic score of each individual in&nbsp;<strong>a</strong>&nbsp;and&nbsp;<strong>b</strong>&nbsp;was based on the 63 SNPs showing genome-wide significant association with BMD (55 main and 8 secondary signals) and in&nbsp;<strong>c</strong>&nbsp;was based on the 16 BMD SNPs associated with fracture. Both genetic scores are weighted for relative effect sizes estimated without the PERF study. Weighted allele counts summed for each individual were divided by the mean effect size, making them equivalent to the percent of alleles carried by each individual, and sorted into five bins. Histograms show the numbers of individuals in each genetic score category (left&nbsp;<em>y</em>&nbsp;axis). Diamonds (right&nbsp;<em>y</em>&nbsp;axis) represent mean FN-BMD standardized levels in&nbsp;<strong>a</strong>, risk estimates in the form of odds ratios and osteoporosis (defined as NHANES&nbsp;<em>T</em>&nbsp;score of ??2.5) in&nbsp;<strong>b</strong>&nbsp;and any type of fracture in&nbsp;<strong>c</strong>, using the middle category as reference (OR = 1). Vertical lines represent 95% confidence limits.</p>
  <table id='bmd-table' class='results-table hidden tablesorter'>
    <thead>
	  <tr>
      <th>Disease</th>
	    <th>dbSNP</th>
      <th>Genotype</th>
      <th>Risk Allele</th>
      <!--<th>Genes</th>-->
      <th>β</th>
      <th>P-Value</th>
      <!--<th>Study Size</th>-->
      <th>Link</th>
      <th>Running LR</th>
	  </tr>
    </thead>
    <tbody>
	  <script id='bmd-template' type='text/template'>
		  <tr>
      <td><%= disease_trait %></td>
     <td><%= strongest_snp %></td><td><%= genotype %></td><td><%= risk_allele %></td>
      <!--<td><%=  reported_genes %></td>-->
      <td><%=  or_or_beta %></td><td><%=  p_value %></td>
      <!--<td><%=  initial_sample_size %></td>-->
      <td><a href='<%=  link %>'><%=  pubmedid %></a></td>
		</script>
    </tbody>
	</table>
	
</div>

<div class='help2'>
  <div id='help-disease-help'>
    <blockquote>
      <h1>&nbsp;</h1>
<h1><a name="info" id="info"></a>Bone Health Details</h1>
      <h2>Bone Mineral Density</h2>
      <p>Bone mineral density (BMD) is a measure of bone quality in units of grams of mineral per square centimeter (g/cm2). For young populations, bone mineral density measurements can be best interpreted through a Z-score. Your BMD can be compared to those of a reference group composed of subjects matched to your age and gender. The Z-score expresses how many standard deviations away from average your BMD lies from BMD values of individuals in your reference group. Negative Z-scores indicate that your BMD is below average, while positive Z-scores indicate that your BMD is above average.</p>
      <p>&nbsp;</p>
      <h2>Stress Fracture</h2>
      <p>Stress fracture is a common overuse injury that accounts for roughly 10-20% of sports medicine consultations. The estimated annual incidence of stress fractures in athletes is 5-30%. These fractures occur when the bone withstands strain higher than the bone&rsquo;s threshold value. When an individual experiences high impact over a short period of time or repeated impact over a prolonged period, their chances of sustaining a stress fracture increases. Athletes participating in track and field, gymnastics, and field sports tend to have higher incidence of stress fractures. Gymnasts, sprinters, and jumpers see more stress fractures to the foot, while court athletes, field athletes, and distance runners are at higher risk for tibial fracture.</p>
      <p>Athletes recovering from stress fractures should rest or alter their training regimen to reduce loads to healing joints. Allowing ample recovery time from a stress fracture is crucial in reducing risk of further damage to the injured site.</p>
      <h2>Osteopenia</h2>
      <p>Osteopenia is a condition that describes low bone density in individuals ages 50 and older. Osteopenia is diagnosed using a T-score, which are calculated in reference to peak bone mass in 30-year-old females. Individuals with T-scores one to two standard deviations below the reference value are categorized as osteopenic.</p>
      <blockquote>
        <blockquote>
          <blockquote>
            <p><img src="media/graphics/Osteopenia.jpg" width="546" height="299" alt="osteopenia" /></p>
          </blockquote>
        </blockquote>
      </blockquote>
      <h2>Osteoporosis</h2>
      <p>Osteoporosis is the most common bone disease for people over 50, affecting 50% of females. Osteoporosis is characterized by high levels of bone reabsorption and deterioration, resulting in very low bone density. The T-score range to diagnose osteoporosis is 2.5 standard deviations below average peak bone mass. Women are affected by osteoporosis twice as much compared to men. Osteoporotic individuals are at increased risk for severe fracture at much lower impact thresholds. Projected costs of osteoporotic fracture are an estimated $25.3 billion in 2050.</p>
      <blockquote>
        <blockquote>
          <blockquote>
            <blockquote>
              <p align="left"><img src="media/graphics/BMD.jpg" width="300" height="240" alt="BMD" /></p>
            </blockquote>
          </blockquote>
        </blockquote>
      </blockquote>
      <h1>&nbsp;</h1>
    </blockquote>
    <blockquote>
      <h1><a name="BMDprevention" id="BMDprevention"></a>Prevention of Low BMD and Stress Fractures</h1>
      <p>For those found to have increased genetic risk for low bone mineral density, there are a number of actions one can take to reduce overall risk and manage bone health.</p>
      <h2>Diagnostic Procedures</h2>
      <ol>
        <ul>
          <li><a name="DXA" id="DXA"></a>DXA Scans</li>
        </ul>
      </ol>
<p>Dual-energy X-ray absorptiometry (DXA) is a technique used to measure bone mineral density.&nbsp; Two X-ray beams of different energy levels are aimed at a patient&rsquo;s bones to determine BMD.&nbsp; Although a DXA scan uses x-rays to asses bone health, the radiation dose is about one tenth that of a standard chest X-ray. This scan is typically used to diagnose and follow osteoporosis.&nbsp;</p>
      <p>Athletes with genetic risk for osteoporosis and stress fractures should discuss getting a scan with their physician, if they have not already done so.&nbsp; Female athletes who participate in high-impact and running sports, such as gymnastics, cross country, and track and field, should get a DXA scan regardless of their results for these genetic markers.</p>
      <p>DXA scans are available for Stanford varsity athletes through the Human Performance Lab.</p>
      <h3><a name="bloodtests" id="bloodtests"></a>Blood Tests</h3>
      <p>If you have a genetic predisposition for low bone mineral density, it might be a good idea to get blood tests ordered for vitamin D and calcium levels to make sure you are not deficient in either.</p>
      <p>You should consult your physician and ask them for a 25-hydroxy-vitamin D, or 25(OH)D, test. Studies indicate that for proper health, serum vitamin D levels should be a minimum of 50 ng/mL (125 nmol/L), with optimal levels falling between 50-80 ng/mL (125-200 nmol/L). Serum levels below 30ng/mL define a dificiency in vitamin D.</p>
      <p>You may need two seperate blood tests ordered to check your serum calcium levels. About half of the calcium in your blood is attached to proteins. A separate test measures the free, or ionized, calcium that is not attached to proteins in the blood.</p>
      <p>&nbsp;</p>
      <p>Serum Calcium: Normal values range from 8.5 to 10.2 mg/dL.</p>
      <p>Ionized Calcium: Normal values for adults range from 4.4 to 5.3 mg/dL</p>
      <p>Normal value ranges may vary slightly among different laboratories. Talk to your doctor about the meaning of your specific test results.</p>
      <p>&nbsp;</p>
      <h3><a name="calcium" id="calcium"></a>Calcium Consumption/Vitamin D Intake</h3>
      <p>Poor nutritional habits hinder the ability of bone to repair and maintain itself because the components needed in the healing process are not present in sufficient quantity. Proper calcium and vitamin D intake have been clearly shown to improve bone density and prevent fractures at all ages. Calcium deposits within the bone contribute to overall bone health and density. Other vitamins and minerals, such as Vitamin D and Zinc, aid in the absorption and deposition of calcium within the body. The recommended intake of calcium for the average adult is between 1000 and 1200mg per day. These amounts are the sum of calcium consumed in a normal diet and supplements. The body can only absorb up to 500mg at a time, so calcium should be spread accross meals throughout the day inorder to maximize absorbtion. It is possible to take too much calcium, therefore adults should take in no more than 1500mg in a day. There are different types of calcium supplements available, and each work in different ways. For example, calcium citrate can be taken at any time throughout the day. Calcium carbonate, however, must be taken directly after a meal in order to be absorbed. You should consult your physician about which type of supplement would work best for you. It is important to be consistant with your calcium supplementation and take it every day.</p>
      <p>Vitamin D aids in the absorption of calcium and should be closely monitored as well. The daily range recommended for vitamin D intake is between 800 and 2,000 IU per day. These numbers refer solely to the amount of vitamin D consumed from supplements as food and sunshine are not always reliable sources. Inidividuals who are considered to have low levels of 25-hydroxy vitamin D (the most common form found in the human body) typically have serum concentrations lower than 30 ng/mL. Be sure to consider your genetic risk for low vitamin D when looking at your scores for bone health. You can jump to your vitamin D results&nbsp;<a href="https://dl-web.dropbox.com/get/sports%20genetics/Website/nutrients/Vitamin%20D%20page.html">here</a>.</p>
      <p>Peak bone mass, which can be defined as the amount of bony tissue present at the end of the skeletal maturation, is an important determinant of osteoporotic fracture risk. Both males and females reach their peak bone mass around the age of 30. It is highly likely that young athletes with genetic risks for low bone mineral density will have normal scores on diagnostic tests. To prevent low BMD and stress fractures later on in life, these athletes should focus on adequate mineral intake before reaching 30 to maximize the body's peak bone mass.</p>
      <h3><a name="biomechanics" id="biomechanics"></a>Biomechanics and Running Habits</h3>
      <p>Proper gait mechanics and footwear can greatly reduce the risk of injury for many runners. Biomechanical causes of stress fractures include running on hard surfaces, improper shoes, and malformation problems, such as forefoot hyperpronation, rearfoot valgus, cavus and planus deformity of the feet. These problems are causes of stress fractures in both female and male athletic populations.</p>
      <p>Gait mechanics can be evaluated by trained professionals, such as athletic trainers, physical therapists, or physicians. If you are at increased risk for low bone mineral density, and thus stress fractures, it is important to get your biomechanics evaluated, especially if you spend a considerable amount of time running in your sport.</p>
      <p>It is essential for both female and male athletes to wear the proper athletic shoes for their sport and level of training. This means that shoes must be replaced at least every six months to avoid high-impact activities with shoes that no longer absorb shock. Athletes who have flat feet should wear shoes with good arch support. Orthotics are another option to consider for those with additional feet deformities. Ask your sports medicine physician or podiatrist about obtaining costom orthotics.</p>
      <p>Proper stretching and strenthening of the lower leg and ankle are just as important as obtaining proper footwear. Talk to your athletic trainer or physical therapist about specific exercises and stretches that are appropriate for your sport.</p>
      <p><a href="http://www.uwhealth.org/sports-medicine/stress-fractures-in-the-female-athlete/13070">More information on stress fractures.</a></p>
      <h3><a name="physicalactivity" id="physicalactivity"></a>Frequency of Physical Activity</h3>
      <p>As stress fractures result from repeated stresses, decreasing the volume of impact activities will decrease an athlete's risk for this injury. Athletes in high-impact sports may need to alter their training routine that includes alternative forms of exercise, such as swimming or biking, that reduce the stress placed on the body. Individuals should consult their physican and coaches to develop a training plan that reduces the overall volume of impact stress.</p>
      <h3><a name="smoking" id="smoking"></a>Smoking</h3>
      <p>Smoking has been proven by a number of studies to lower bone mineral density. Given the number of negative health effects caused by cigarettes, no serious athlete should smoke anyways, regardless of their risk for low BMD.</p>
      <h3><a name="alcohol" id="alcohol"></a>Alcohol Consumption</h3>
      <p>Excessive drinking has been associated with low bone mineral density. Alcohol consumption should be monitored not only for bone health purposes, but also for athletic performance in general.</p>
      <h3><a name="posture" id="posture"></a>Posture</h3>
      <p>Practicing good posture can prevent the characteristic stooping and curve of the spine that occurs with osteoporosis later on in life. Sitting up straight when working in front of a computer and maintaining a strong core will aid in a straight spine.</p>
      <h3><a name="medications" id="medications"></a>Medications</h3>
      <p>Your physician will inform you if any prescription medication may be indicated to control your bone health. Below is a brief summary of common medications used to treat low BMD and osteoporosis:</p>
      <blockquote>
        <p>Estrogen can be used to treat low BMD and osteoporosis in female athletes only. Women are naturally at greater risk for stress fractures than men due to fluctuations in hormone levels. Females with irregular menstrual cycles (amenorrhemia) are the most at risk population due to a decrease in the rate of estrogen production. This causes a decreased absorption of minerals in bone, a decrease in bone mineral density, and thus causes a decreased ability of the bone to withstand the repeated microtrauma induced by competitive athletics. Regulating the body's production of estogen should help to stabilize absorption rates and promote bone health.</p>
        <p>Bisphosphonates are considered to be the &quot;go to&quot; drug for osteoporosis, and reduce fractures by suppressing bone resorption. Bisphosphonates that are approved for use in the United States (alendronate, ibandronate, risedronate, and zoledronate) have nitrogen-containing R2 side chains that enhance antiresorptive and antifracture potency. Variations in the structure of the side chains determine the strength with which the biphosphonate binds to bone, the distribution through bone, and the amount of time it remains in the bone after treatment is discontinued.</p>
      </blockquote>
      <ul>
        <blockquote>
          <p>Favus, Murray J. &quot;Bisphosphonates for Osteoporosis.&quot;&nbsp;<em>N Engl J Med</em>&nbsp;2010; 363:2027-2035.</p>
        </blockquote>
      </ul>
      <blockquote>
        <p>Teriparatide is a synthetic version of parathyroid hormone, which is the body's primary regulator of calcium and phosphate in the bones. Teriparatide stimulates bone growth and slows the rate of bone loss. Teriparatide is used to treat severe osteoporosis in people at high risk for bone fractures. It can be used by both men and women. Teriparatide treatment is reserved for people with severe osteoporosis who are unable to take other medications, or for whom other medications are not effective. The reasons why teriparatide is used after other treatments include its high cost, need for daily injections, and unknown long-term effects.</p>
        <p>Most medications that are used to treat osteoporosis are intended for middle-aged and older populations. If you have a T-score around -2.5, however, it is also possible that you could be prescribed one of the following: alendronate (Fosamax), risedronate (Actonel), or raloxifene (Evista). You should ask your physician for more information.</p>
      </blockquote>
      <h1>&nbsp;</h1>
</blockquote>
<p>&nbsp;</p>
  </div>
</div>

<br class='clear'>