<!--<link href="../css/interpretome.css" rel="stylesheet" type="text/css" />-->
<div class='main2'>
	<h2>Blood Pressure/Coronary Artery Disease/Stroke</h2>
<p>Blood pressure is composed of two measurements: systolic and diastolic blood pressure. Systolic blood pressure measures the pressure when your heart beats. Normal systolic blood pressure is 120 mm Hg and high blood pressure is above 140 mm Hg. Diastolic blood pressure measures the pressure between beats, with normal being 80 mm Hg and high being above 90 mm Hg.</p>
<p>High blood pressure coronary is a risk factor for many other diseases, such as coronary artery disease and stroke. The blood pressure risk score is also predictive for these diseases as well.</p>
<table width="1056" border="0">
  <tr>
    <td width="435"><img src="/media/graphics/blood pressure.png" width="435" height="276" alt="bp" /></td>
    <td width="611">This <a href="http://www.cdc.gov/nchs/data/databriefs/db133.htm">figure</a> shows the prevalence of hypertension. Hypertension affects about one third of people overall.  76% of people with hypertension take medication to control their blood pressure. Aging is the largest risk factor for hypertension. </td>
  </tr>
</table>
<p>About 40-50% of the variability in blood pressure is heritable. </p>
<p>Click to look up your genetic risk score for systolic blood pressure. (use ANY Race, do not use your specific race).</p>
<div>
(Use ANY RACE for your race.)
<p><span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});">Table Legend </span>
</p>
<p>The coefficients for the genetic risk scores have units of mm Hg. For instance, having a single T allele at rs880315 lowers your average systolic blood pressure by 0.47 mm Hg. </p>
<p>The overall score from all 67 SNPs represents the predicted change in your blood pressure in mm Hg. </p>
<div>
<button id='get-gwas-1' type='submit'>
    Show my systolic blood pressure risk score
  </button>
</div>
<br /><br />


	
	<p>Click to look up your genetic risk score for diastolic blood pressure. (use ANY Race, do not use your specific race).</p>
<div>
  <p>(Use ANY RACE for your race.)</p>
  <p><span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span></p>
  <p>The overall score from all 67 SNPs represents the predicted change in your blood pressure in mm Hg. </p>
  <div>
<button id='get-gwas-2' type='submit'>
	    Show my diastolic blood pressure risk score
	  </button>
	</div>
<br /><br />


</div>

<div class='main2'>
  <div id='help-disease-help'>
    <blockquote>
      <p>Recently, a <strong>genetic risk score for blood pressure</strong> was derived that summed the contribution from 67 SNPs. Each SNP was associated with either systolic or diastolic blood pressure, and weighted according to its effect size in a regression model. The genetic risk scores for systolic and diastolic blood pressure explain about 3.36% and 3.46% of the variability in blood pressure, respectively.      </p>
      <p><strong>Coronary artery disease</strong>: For each mM Hg above average in the blood pressure score, the odds ratio for <strong>coronary artery disease</strong> increases 2.83 fold, the  <strong>left ventricular mass</strong> in your heart increases 0.45 g, and the <strong>left ventricular wall thickness</strong> increases 0.004 mM.</p>
      <p><strong>Stroke</strong>: For each mM Hg above average in the blood pressure score, the odds ratio for <strong>stroke</strong> increases 2.88 fold, the <strong>left ventricular mass</strong> in your heart increases 0.45 g, and the <strong>left ventricular wall thickness</strong> increases 0.004 mM.    </p>
    </blockquote>
</div>
</div>

<br class='clear'>