<style type='text/css'>

div.MsoNormal {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:'';
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:'Times New Roman';
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;}
li.MsoNormal {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:'';
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:'Times New Roman';
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;}
p.MsoNormal {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:'';
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:'Times New Roman';
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;}
div.MsoNormal1 {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:'';
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:'Times New Roman';
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;}
li.MsoNormal1 {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:'';
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:'Times New Roman';
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;}
p.MsoNormal1 {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:'';
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:'Times New Roman';
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;}
span.SpellE {mso-style-name:'';
	mso-spl-e:yes;}
span.apple-converted-space {mso-style-name:apple-converted-space;
	mso-style-unhide:no;}
-->
</style>

<div class='main2'>

  <h2>Breast cancer</h2>
    <hr style = 'clear:both;margin:0;display:block'>
    <br/>
    <table>
      <tr>
        <td><a href='#breast-intro'>1 Introduction</a></td>
      </tr>
       <tr>
        <td><a href='#breast-risk-factors'>2 Risk factors</a></td>
      </tr>
      <tr>
        <td><a href='#breast-genetics'>3 Genetics</a></td>
      </tr>
      <tr>
       <td><a href='#breast-treatment'>4 Treatment</a></td>
      </tr>
      <tr>
       <td><a href='#breast-rehabilitation'>5 Rehabilitation</a></td>
      </tr>
      <tr>
       <td><a href='#breast-references'>6 References</a></td>
      </tr>
    </table>

  <div id='breast-intro'>
    
   
  </div>





</div>

<div>
<p>&nbsp;</p>
<h3 id ='breast-risk-factors'>Risk factors</h3>
<hr/>



<br/><p>&nbsp;</p>
</div>


<div id='breast-genetics'>

<h3>Genetics</h3>
<hr/>

<p>Click to look up all of your breast cancer SNPs. (Use ANY RACE for your race.)</p>
  <div>
<button id='breast_cancer-get-gwas' type='submit'>
      Show my breast cancer SNPs
    </button>
  </div>
  <br/>
  <br/>
  <table id='breast_cancer-table' class='results-table hidden tablesorter'>
    <thead>
    <tr>
      <th>Disease</th>
      <th>dbSNP</th>
      <th>Genotype</th>
      <th>Risk Allele</th>
      <!--<th>Genes</th>-->
      <th>OR</th>
      <th>P-Value</th>
      <!--<th>Study Size</th>-->
      <th>Link</th>
    </tr>
    </thead>
    <tbody>
    <script id='breast_cancer-template' type='text/template'>
      <tr>
      <td><%= disease_trait %></td>
    <td><%= strongest_snp %></td><td><%= genotype %></td><td><%= risk_allele %></td>
      <!--<td><%=  reported_genes %></td>-->
      <td><%=  or_or_beta %></td><td><%=  p_value %></td>
      <!--<td><%=  initial_sample_size %></td>-->
      <td><a href='<%=  link %>'><%=  pubmedid %></a></td>
    </script>
    </tbody>
  </table>

 </div>

<div id = 'breast-treatment'>
<h3>Treatment</h3>
<hr/>

<br/>
</div>

<div id = 'breast-rehabilitation'>
<h3>Rehabilitation</h3>
<hr/>

<br/>
</div>

<div id = 'breast-references' style='padding-left:1.5em; text-indent:-1.5em'>
<h3>References</h3>
<hr/>


</div>


<div><span
class='apple-converted-space'>
  <o:p></o:p>
</span></span></p>
    <p class='MsoNormal1'>
      <o:p>&nbsp;</o:p>
    </p>
    <p class='MsoNormal1'><span style='color:black;background:white'>
      <o:p>&nbsp;</o:p>
    </span></p>
    <p class='MsoNormal1'><span style='mso-no-proof:yes'>
    



<br class='clear'>
