<div class='main2'>
	
  <h2>Caffeine consumption</h2>
  <p>(Written by Robin Yeo)</p>
  <p>Caffeine Consumption Intro</p>
  <p> Caffeine, a methylxanthine that acts as a CNS stimulant, is the most widely consumed psychoactive substance with nearly 90% of North American adults reporting its daily consumption (<a href="http://www.ncbi.nlm.nih.gov/pubmed/15635355">Frary et al., 2005</a>).  Although environmental and sociocultural factors certainly impact the varying levels of caffeine consumption, results from twin studies consistently suggest the heritability of coffee consumption to be approximately 50% (<a href="http://www.ncbi.nlm.nih.gov/pubmed/?term=Swan+GE,+Carmelli+D,+Rosenman+RH,+Fabsitz+RR,+Christian+JC.+Smoking+and+alcohol+consumption+in+adult+male+twins">Swan et al., 1990</a>; <a href="http://www.ncbi.nlm.nih.gov/pubmed/19469749">Laitala et al., 2008</a>; <a href="http://www.ncbi.nlm.nih.gov/pubmed/19335181">Vink et al., 2009</a>).  There exists a wealth of contradictory epidemiological evidence supporting both caffeine's health benefits and risks to a range of health conditions and diseases including Alzheimer's disease, Parkinson's disease, type II diabetes, a range of cancers, blood pressure, and myocardial infarction.  Caffeine is most commonly consumed through the intake of coffee which is the 2nd most popular beverage in the world (after water).</p>
<p>Click to look up your caffeine SNPs. (Use ANY RACE for your race.)  </p>
 
 <span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
           <div>
<button id='get-gwas' type='submit'>
	    Show my caffeine SNPs
	  </button>
	</div>
  
<div class='help2'>
  <div id='help-disease-help'>
    <p>Genetics Discussion</p>
    <p>rs4410790 is a SNP who's risk allele T (minor allele frequency of 0.38) is associated with decreased caffeine consumption [<a href="http://www.ncbi.nlm.nih.gov/pubmed/21490707">PMID 21490707</a>].  It is located in the 7p21 region of chromosome 7 near the aryl hydrocarbon receptor (AHR) gene.  AHR encodes a receptor that detects xenobiotics, such as the polycyclic aryl hydrocarbons found in roasted coffee, as well as induces the transcription of CYP1A1 and CYP1A2.</p>
    <p>rs2470893's risk allele T (minor allele frequency of 0.31) is positively associated with both increased caffeine and increased coffee consumption [<a href="http://www.ncbi.nlm.nih.gov/pubmed/21490707">PMID 21490707</a>; <a href="http://www.ncbi.nlm.nih.gov/pubmed/21876539">PMID 21876539</a>].  It is present in the 15q24 region of chromosome 15 which is between the genes CYP1A1 and CYP1A2.  CYP1A2 is a gene encoding a member of the cytochrome P450 family of metabolic enzymes and the primary enzyme involved in caffeine metabolism (<a href="http://www.ncbi.nlm.nih.gov/pubmed/20532872">Yang et al., 2010</a>).  Approximately 95% of the dose of caffeine is metabolized by CYP1A2 and its expression and activity are known to vary 10- to 60- fold between individuals.  It is thus possible that allelic variants of CYP1A2 are positively associated with increased caffeine consumption due to their enhanced ability to metabolize caffeine enzymatically.</p>
  </div>
</div>

<br class='clear'>