
<h2 style="float:left;">Cancers</h2>
  <span id = "cancer-sort" style="float:right;margin-left:12px;border:1px solid #c6c6c6;border-radius:3px;padding:4px;font-size:10px">Sort <span style="font-size:7px">▼</span></span> 

  <input id = "cancer-search" style="width:30%; float:right; font-size:16px;"type="search" placeholder="Search"><br/>
  
  <div id='cancer-break' class='hidden'><br/></div>

  <div id='cancer-sort-options' class='hidden align-right' style='float:right;font-size:12px'> 
      <p id='alphabetically' class='bold'>Alphabetically</p> 
      <p id='ralph' class='link2'>Reverse</p>
      <p id='risk134' class='link2'>By risk</p>
      <br/>
  </div>

  <br/>
      <hr style = 'clear:both;margin:0;display:block'>
    <br/>

<div class='main2' >


    
    <div id = 'cancer-page-buttons'>

    <!--where clinical columns are populated-->
    <div id='cancer-butts' class='columns'></div>
    <div id='cancer-buttons-reverse' class='columns hidden'></div>
    <div id='cancer-buttons-risk' class='columns hidden'></div>

    </div>

    <div id ="cancer-search-failed" style = "display:none" > No search results found</div>
  

</div>


<br class='clear' />


<script>

var string;
var nicknameIndex;
      //for every element in every array inside arrayList...

        for(var l = 0; l < cancersList.length; l++)
        {

          string = cancersList[l];

          nicknameIndex = $.inArray(cancersList[l], hasNicknameList);
            //then add buttons in a list with class clinical that render and link to the page
            if(nicknameIndex==-1)
            {
              document.getElementById('cancer-butts').innerHTML+='<button class="cancer-buttons" id="cancer-'+string+'"style="width:100%" onclick="goTo(\''+string+'\')">'+capitalize(string, true)+'</button><br/>';

            }
            else{
            document.getElementById('cancer-butts').innerHTML+='<button class="cancer-buttons" id = "cancer-'+string+'"style="width:100%" onclick="goTo(\''+string+'\')">'+ nicknameList[nicknameIndex] +'</button><br/>';
            }
          

       }

       for(var l = cancersList.length-1; l >= 0; l--)
        {

          string = cancersList[l];

          nicknameIndex = $.inArray(cancersList[l], hasNicknameList);
            //then add buttons in a list with class clinical that render and link to the page
            if(nicknameIndex==-1)
            {
              document.getElementById('cancer-buttons-reverse').innerHTML+='<button class="cancer-buttons" id="cancer-'+string+'"style="width:100%" onclick="goTo(\''+string+'\')">'+capitalize(string, true)+'</button><br/>';
            }
            else{
            document.getElementById('cancer-buttons-reverse').innerHTML+='<button class="cancer-buttons" id = "cancer-'+string+'"style="width:100%" onclick="goTo(\''+string+'\')">'+ nicknameList[nicknameIndex] +'</button><br/>';
            }
          

       }

     


</script>
