<style type="text/css">
<!--
div.MsoNormal {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	mso-pagination:widow-orphan;
	font-size:11.0pt;
	font-family:Calibri;
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-fareast-language:JA;}
li.MsoNormal {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	mso-pagination:widow-orphan;
	font-size:11.0pt;
	font-family:Calibri;
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-fareast-language:JA;}
p.MsoNormal {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	mso-pagination:widow-orphan;
	font-size:11.0pt;
	font-family:Calibri;
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-fareast-language:JA;}
span.GramE {mso-style-name:"";
	mso-gram-e:yes;}
div.MsoNormal1 {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	mso-pagination:widow-orphan;
	font-size:11.0pt;
	font-family:Calibri;
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-fareast-language:JA;}
li.MsoNormal1 {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	mso-pagination:widow-orphan;
	font-size:11.0pt;
	font-family:Calibri;
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-fareast-language:JA;}
p.MsoNormal1 {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	mso-pagination:widow-orphan;
	font-size:11.0pt;
	font-family:Calibri;
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-fareast-language:JA;}
span.GramE1 {mso-style-name:"";
	mso-gram-e:yes;}
span.MsoHyperlink {mso-style-priority:99;
	color:#0563C1;
	text-decoration:underline;
	text-underline:single;}
span.apple-converted-space {mso-style-name:apple-converted-space;
	mso-style-unhide:no;}
span.apple-converted-space1 {mso-style-name:apple-converted-space;
	mso-style-unhide:no;}
-->
</style>
<div class='main2'>
	<h2>Coffee</h2>
<p>(Written by Shizuka Yamada)</p>
<p class="MsoNormal"><b style='mso-bidi-font-weight:normal'>Coffee Consumption
  <o:p></o:p>
</b></p>
<p class="MsoNormal"><b style='mso-bidi-font-weight:normal'>Mechanism of Action
  <o:p></o:p>
</b></p>
<p class="MsoNormal"><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Coffee
  is one of the most widely consumed <span class="GramE">beverage</span> worldwide
  and contains caffeine as its main psychoactive constituent [1].<span
style="mso-spacerun:yes">&nbsp; </span>Upon consumption it takes roughly 45
  minutes in the human adult for caffeine to be internalized by the
  gastrointestinal tract  [2]. <span class="GramE">The
    only potential mechanism of action for caffeine in relevant doses is supported
    by the evidence of its antagonistic effect on adenosine receptors (ADOR) [2],
    specifically isoforms A1 and A<sub>2A</sub></span> (<i style='mso-bidi-font-style:
normal'>ADORA1</i> and <i style='mso-bidi-font-style:normal'>ADORA2A</i>,
  respectively). ADOR agonist adenosine binds and activates the receptor, leading
  to subsequent activation of adenylyl cyclase and Ca<sup>2+ </sup><span
class="GramE">channels which</span> then act to inhibit the release of
  neurotransmitters [3]. Furthermore, this pathway is thought to cause downstream
  effects such as decreased affinity of dopamine for dopamine receptors and
  changes in gene expression [4]. Such downstream changes are thought to be
  responsible for the cognitive and behavioral changes induced by caffeine
  consumption. </p>
<p class="MsoNormal"><b style='mso-bidi-font-weight:normal'>Potential Health
  Concerns
  <o:p></o:p>
</b></p>
<p class="MsoNormal"><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Due
  to the high consumption of coffee worldwide, the study of potential health effects
  of caffeine has been since the mid-1900s and continues to be of key interest
  (Figure 1, adapted from PubMED). On the one hand, coffee has been illustrated
  to have potential positive effects on health due to associations with decreased
  risk of dementia, Alzheimer&rsquo;s disease, Parkinson&rsquo;s disease, and type II
  diabetes [5,6]. This has been hypothesized to occur due to high antioxidant
  concentrations in coffee and not necessarily linked to caffeine itself per se.
  On the other hand, it is known that the roasting of coffee beans generates
  highly carcinogenic compounds called polycylic aromatic hydrocarbons [3<span
class="GramE">] which</span> may explain the association with an increased risk
  of some cancers, high blood pressure and heart attack. In addition to polycyclic
  aromatic hydrocarbon production, other caffeine-independent factors such as
  aliphatic dicarbonyls and hydrogen peroxide are thought to be responsible for
  this association and possibly causative. There is also much investigation on
  the effect of caffeine on early development of the nervous system such as in
  fetuses, breast-feeding infants and children. The hydrophobic nature of
  caffeine allows for its passage though membranes, and indeed there is no
  blood-brain-barrier to caffeine in adults or fetal animals. Furthermore, there
  is no placental barrier to caffeine, allowing for transfer from mother to fetus
  and rapid delivery to the brain in a fetus [2]. While these studies of health
  concerns are merely correlative to date and lacking any causative data, the
  study of coffee consumption is also of interest from a psychological perspective.
  Although not officially considered an addictive behavior by the DSM-IV
  (Diagnostic and Statistical Manual of Mental Disorder)[3], coffee consumption
  particularly in regards to caffeine has been proposed as a model for addictive
  behavior and drug abuse. Thus, the investigation of genetic factors underlying increased
  coffee consumption is important for both epidemiological studies and for
  development of addictive behavior models. </p>
<p class="MsoNormal">
  <!--[if gte vml 1]><o:wrapblock><v:group id="Group_x0020_6"
  o:spid="_x0000_s1027" style='position:absolute;margin-left:0;margin-top:0;
  width:5in;height:234.25pt;z-index:251659264' coordsize="4572000,2974856"
  o:gfxdata="UEsDBBQABgAIAAAAIQDSM32GHQEAAF4CAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbIySy07DMBBF
90j8g+Utip12gRBq0gUpS0CofIBlTx4ifsjjpu3fM0nDogi1XVn2+N5zZ+zV+mB7NkDEzruCL0TO
GTjtTeeagn9tX7MnzjApZ1TvHRT8CMjX5f3dansMgIzUDgvephSepUTdglUofABHldpHqxJtYyOD
0t+qAbnM80epvUvgUpZGD16uKqjVrk9sc6DjUxKSc/ZyujeiCq5C6DutEgWVY1X+q4vQ4wXh4Myf
dNmcTJByMse2C/gwE95pNLEzwD5UTG/KUg5pIkpY+sprcTnlCLOY+bruNIgq4mZSXfPWLbFQTsvi
BsT5tGec8XpnacbCRLWnx7S9mAyvwY3fuwjDDdizziqSfcLw6y6n31H+AAAA//8DAFBLAwQUAAYA
CAAAACEAI7Jq4dcAAACUAQAACwAAAF9yZWxzLy5yZWxzpJDBasMwDIbvg72D0X1xmsMYo04vo9Br
6R7A2IpjGltGMtn69vMOg2X0tqN+oe8T//7wmRa1IkukbGDX9aAwO/IxBwPvl+PTCyipNnu7UEYD
NxQ4jI8P+zMutrYjmWMR1ShZDMy1lletxc2YrHRUMLfNRJxsbSMHXay72oB66Ptnzb8ZMG6Y6uQN
8MnvQF1upZn/sFN0TEJT7RwlTdMU3T2qDmzLHN2RbcI3co1mOWA14Fk0DtSyrv0I+r5++Kfe00c+
47rVfoeM649Xb7ocvwAAAP//AwBQSwMEFAAGAAgAAAAhACGzoGzcAAAABQEAAA8AAABkcnMvZG93
bnJldi54bWxMj0FLw0AQhe+C/2EZwZvdRG0taTalFPVUhLaC9DZNpklodjZkt0n67x296OXB8Ib3
vpcuR9uonjpfOzYQTyJQxLkrai4NfO7fHuagfEAusHFMBq7kYZnd3qSYFG7gLfW7UCoJYZ+ggSqE
NtHa5xVZ9BPXEot3cp3FIGdX6qLDQcJtox+jaKYt1iwNFba0rig/7y7WwPuAw+opfu0359P6ethP
P742MRlzfzeuFqACjeHvGX7wBR0yYTq6CxdeNQZkSPhV8V6kCtTRwPNsPgWdpfo/ffYNAAD//wMA
UEsDBBQABgAIAAAAIQCqITmKfgIAACAGAAAOAAAAZHJzL2Uyb0RvYy54bWycVNuO2jAQfa/Uf7D8
XsL9EhFW7VJQpdUWabcfYBznoiaxOzYk/H3HzgUKVNvuS8AT58ycM2dm+VDlGTkK0KksAjro9SkR
BZdhWsQB/fG6+TSnRBtWhCyThQjoSWj6sPr4YVkqXwxlIrNQAEGQQvulCmhijPI9T/NE5Ez3pBIF
vowk5MzgEWIvBFYiep55w35/6pUSQgWSC60xuq5f0pXDjyLBzfco0sKQLKBYm3FPcM+9fXqrJfNj
YCpJeVMGe0cVOUsLTNpBrZlh5ADpDVSecpBaRqbHZe7JKEq5cByQzaB/xWYL8qAcl9gvY9XJhNJe
6fRuWP583AFJw4DOKClYji1yWcnUSlOq2McbW1AvagdNIK5Plm0VQW5/kQepnKinTlRRGcIxOJ7M
sFGoPcd3w8VsPJ84bObzBHtz8x1Pvr7xpdcm9mx9XTn1wXVyA8ikK78hOGwJPiYMDBleENzADi66
5z5/kvynRsouCYpQ37FJ7rIejgbTlth96rPxCIWwWR1ki9KY7yL9X83z9jRwSw0dw1FcS7IeLH7j
l39FagBwYK4MdwegNvNa8kMuClNPJ4iMGVwNOkmVpgR86zT4Fg6cDH+MC8rSnRuJGmm6buKK0Ocp
0DdF/dcUvCRMCTdc2nq8McmoNckrNvGLrMi4tom7Y4eAmArDuOrauMbgnVkYL0aLBSW384DxeTcO
k+lkXFui9TTzFWizFTIn9g+qhTsMy2Q+Oz5pY91zvmLDhdykWVa7Svt1NaXSvqn2FUbt370MT1h5
iWsuoPrXgYHAXpjsUbqtaFG0+nwwiOQSnL9xjXCyNy3BNeQqaFpjrXp5drfOi331GwAA//8DAFBL
AwQUAAYACAAAACEAqxbNRrkAAAAiAQAAGQAAAGRycy9fcmVscy9lMm9Eb2MueG1sLnJlbHOEj80K
wjAQhO+C7xD2btN6EJEmvYjQq9QHWNLtD7ZJyEaxb2/Qi4LgcXaYb3bK6jFP4k6BR2cVFFkOgqxx
7Wh7BZfmtNmD4Ii2xclZUrAQQ6XXq/JME8YU4mH0LBLFsoIhRn+Qks1AM3LmPNnkdC7MGJMMvfRo
rtiT3Ob5ToZPBugvpqhbBaFuCxDN4lPzf7brutHQ0ZnbTDb+qJBmwBATEENPUcFL8vtaZOlTkLqU
X8v0EwAA//8DAFBLAwQUAAYACAAAACEA2R32DOMAAABUAQAAIAAAAGRycy9jaGFydHMvX3JlbHMv
Y2hhcnQxLnhtbC5yZWxzhJBPSwMxFMTvgt8hvLubrQeRstke+gd6EEHb215i8nY3mn1vyYu1/fbm
IlgQPA7D/GaYZnWeojphksBkYFHVoJAc+0CDgeNhd/cISrIlbyMTGrigwKq9vWleMNpcQjKGWVSh
kBgYc56XWosbcbJS8YxUnJ7TZHORadCzdR92QH1f1w86/WZAe8VUe28g7f0C1OEyl+b/2dz3weGG
3eeElP+o0Bzx+e0dXS5QmwbMBvoQsUzW62V3lPJD99pt+IsiWy9dDhPGQFg5Of1EntiXNdtzxkQ2
gm4bffVF+w0AAP//AwBQSwMEFAAGAAgAAAAhAFnNC3JcCgAAUzQAABUAAABkcnMvY2hhcnRzL2No
YXJ0MS54bWzsm1tv28oRx98L9DuoQt4KR7yTEiIf2ApyENQ5MeLkFO3bilzZrHnRISlf8uk7u8vd
kR3rDyc9BdL05MHhZTTcnd/uzv7F0auf7upqciO7vmyb5dR/6U0nssnbomwul9NPH98cZdNJP4im
EFXbyOX0XvbTn47//KdX+SK/Et1wsRW5nJCTpl/ky+nVMGwXs1mfX8la9C/brWzo3qbtajHQaXc5
KzpxS87rahZ4XjLTTqajA/ENDmpRNvbz3XM+3242ZS5ft/muls1gWtHJSgwUgf6q3PbTY+pcIQbp
z71ociOq5dSbztTFSjSX5oJsjj5dmItdu2sKWazarqEw7tnX+eKkGmTXkKtV2wz0tLGf9bMiVYvu
erc9ytt6S41bl1U53OvmUgPJ9+qqpX5MPsjfdmUn++U09yMbCDr8IhR1mXdt326Gl+RxZqJgaSi3
6SybBSMP6qwfLfrhvpKmQ74XqN7O3HN1E96IqlqL/FrFZs/YmfJ99cHHwVCf0vjVwVAOldQHd+pv
V+ZXx6/EYt0W9+fdpGsHBWHSb/M3ZdcPZ6IfzkVH48WfqtE7vKc/m6q9XU5lVRHDsjfXKQpt93k6
ue3Edjntf9uJTk4nosnpMkVs6OzJaqBzX/VRLKp+uFBd1ydbdWV73qn/Crn5QK3pP5Np5FF71roB
pW7bbjltaIqo6dKV1zRVmvZCH00n1zQIyJKCrLugzdeil1WpppRHPMWib6uyeFNWlT5R80euqs5E
f7jztU21q9+1hbmWxB65M+3d1e83G3M5tJdn5NJ6IXCPHqCGezMZ7rdyQ/N3Of1r3RxVg3EnxaMb
Upgbef/oRt6rG+TbBEYfjqHS8eooWGrOEBU9X0y8dJuH45XYbCQFYHIx7Ir7yYqm0dAfne/WtSyU
z0G7Iz90TBBmdlDQwaDHSCXu291A3vJFS/jp1IRgnKz92JKmVVE1gWpUcN0FclzpK5Jakg9nvXJG
7s0n1XPsoBS7of2oTl7LSg5yRDA+aFu1w0knhWrIXpvWolupFVJdpuPX5QgzbysVtXxxSSvHlpZC
0+q82vW0WMjC3LwR3f2qrdoHKwo1TVJA8kVZ3D3oa9sVcnQ/NsqEiIbiB7lRn9gcD2WtB9xfXpy+
8FU39XWyWAkaJ8pmO2gIxrOeCyoYzsCcaH8qNpqBDTIavSLPaekz/h4Pw68BQt1u1Fx/u/lFXtL4
vRnXprHHudChbnb1E10+eREsXpy8mIeu42TnOm7y06ot5PHPklZxUWkznbX01cfBmeslTkVsQijU
IqDid3MceH780lMfvtEjaaubZK0CtooOW4VsFR62itgqOGwVsxWl9kPtStjKO2yVOitvftgqY6vs
sNWcrdLDVr5aGU1YvQSYcfQ9EH2fw++B8Pscfw/En3KtaxsA4DMBDxDwGYEHEPiWgT+fAwa+hUBm
AIJvKZAZoBBYCmQGKASWApkBCoGlQGaAQmApkBmgEFgKZAYoBJYCmQEKgaVAZoBCwBQyQCFgChmg
EDCFDFAImUIGKIRMIQMUQqaQAQohU8gAhZApZIBCyBQyQCFkChmgEDKFFFAImUIKKIRMIQUUIqaQ
AgoRU0gBhYgppIBCxBRSQCFiCimgEDGFFFCImEIKKERMIQEUIqaQAAoRU0gAhZgpJIBCzBQSQCFm
CgmgEDOFBFCImUICKMRMIQEUYqaQAAoxU4gBhZgpxIBCzBRiQCFhCjGgkDCFGFBImEIMKCRMIQYU
EqYQAwoJU4gBhYQpxIBCwhQiQCFhChGgkDCFCFBImUIEKKRMIQIUUqYQAQopU4gAhZQpRCC8KVMI
QdxSphACCilTCEB4U6YQoLgxhQDELWMKAQhIxhR80LaMKfgAfcYUfDDIM6bgAwoZU/BBeDOm4KG2
OQoZ2g1mjkKGdoOZo5ChjdncUcjQjmvuKGRf7pFIurEyNCdW8Y4Ck74QVDv/p3XmqdKZp/81nWk7
CADZzkVo4XMDzEOs7fiaozRgR1eGdmF2bGUBWFXsyMrQFLLjKg3RdBy1WYrSnB1TKQqUk6Ap2ur7
NugpWlydAE1DMF2d/kygdrNhx75s3FO0sDrxmaIk6LRnCmWxndD09SRQ7Db2CdrQOuGZoJ27050J
gu1kZ4K29051Jh5Ynp3oTFBUneZMIkDbSc7EB1nIKc4EreBOcMY+SKNOb0ZofDm5GaPJ6NRmhNS3
E5sRVK52tQmRRHdSM0Q7f6c0wxBkYyc0wwDkRaczQ/QdlJOZAfq6wqnMAPXRicwwAnPIacwwBGPV
ScwwAGPCKcwQpQMnMEP0VZbTlwEUhHaxD1DacOoyCMFew4nLAM0O1paoXSwtAzBrWVmifMbCEql7
1pXwiW69B0PViUo0IpykRIuXE5RIejg5GYKly4lJKNfsvgYlDSck0XrqZCTasjgRCY1sxEO0ZbEJ
Fq2SLB9BnFg8osfZ7Ir2+ywcwdq3JxsPp2kWjWDQsWQEjuzajvzYeCMbG25kY1cWZGN3kcjGxRr0
y+5jgB+Whof9sC4ENm7PDmxsnMHaxXIQ+LFxRn6eEefsGXFmCQja84w4s/g77IeV32MbIPu03qP7
46vX4mxd9UoA9lft7Zm8lE3xN/nozTPd+VVQWc1e6YiyXonhF1E/fGuprl/I7snr57JTb06/8HO6
W68reVF+3ndFLXRNuxTbv5fFcDW+yaWkpl84i7u345vro8APgtCbe/RF2dO3gpS+3zOvw/dfZJMG
PtEvfoGvPhdU2HCpYtR2JXVAl9aYttRl807cjY73DAv9Xv1BT8XdeTuW06xNI93rePPu+fuvEVEV
Gt9SI/J/XxvyDym6760GhL7weVMPE64VWE7HYgEq6ml3NFXPyuZaFqoaQM+pWvyr7T6W+fU7KuQy
Q1sXCJmbZXP45kAfomXGjf9G3g0fW+PVVly4KhZVxDKhwqd5TJJzkqs6pw2V99BhvaXG9M0l1ThV
l1SAlFO507eUGvm2pogetVdqlNnLVEcDSo10fZxaSWC1jSooMUVW+yVfRwlNIfVP1019J6Vf83FW
U6O+qvLrB5/VlAhVSZ4qkNuv+TLkTQGXQUxVf1SI2J+MJUxjLrIJZ7wrx6VfVV79U3bj4FdnY1Iz
s6FaVyc0ts01Nb715KKrVBDXyzF1+qZQjr6zbd/tqqE8u6lodu0lG8qdLrFR0j6Q4biFe4kLZLh8
UYuxjz41gUpr7cwfH22uqK0FZ0ycCMfKMb2y/NyVhSogNJuRsdjtR1gKKCBfdvAZuf8opprM72yt
IO5/bAG+rTxU14NO2s2EaijLvJL9j7ghoAJWtyr8jvuBryhz/SPx/q+XWv+HiZdFoE7LTydefetU
DrdSjsl2bU7U6KUF22XNJ7enXzEcydd+PbU6/rXs3zfVKLHHvXVR9ttT2mZc9yfjRoE0r5lJSlG/
pvzeq98EkNh8lOdtSfaTDVX76ID+/U4babP3eVAb/W27YXJEu2f8swTzsHEf8BVjgrSF+o1K9VoM
YtJRafly2r0tzBtNtd/6tFW/hXkYxf3PaP78W6DjfwMAAP//AwBQSwECLQAUAAYACAAAACEA0jN9
hh0BAABeAgAAEwAAAAAAAAAAAAAAAAAAAAAAW0NvbnRlbnRfVHlwZXNdLnhtbFBLAQItABQABgAI
AAAAIQAjsmrh1wAAAJQBAAALAAAAAAAAAAAAAAAAAE4BAABfcmVscy8ucmVsc1BLAQItABQABgAI
AAAAIQAhs6Bs3AAAAAUBAAAPAAAAAAAAAAAAAAAAAE4CAABkcnMvZG93bnJldi54bWxQSwECLQAU
AAYACAAAACEAqiE5in4CAAAgBgAADgAAAAAAAAAAAAAAAABXAwAAZHJzL2Uyb0RvYy54bWxQSwEC
LQAUAAYACAAAACEAqxbNRrkAAAAiAQAAGQAAAAAAAAAAAAAAAAABBgAAZHJzL19yZWxzL2Uyb0Rv
Yy54bWwucmVsc1BLAQItABQABgAIAAAAIQDZHfYM4wAAAFQBAAAgAAAAAAAAAAAAAAAAAPEGAABk
cnMvY2hhcnRzL19yZWxzL2NoYXJ0MS54bWwucmVsc1BLAQItABQABgAIAAAAIQBZzQtyXAoAAFM0
AAAVAAAAAAAAAAAAAAAAABIIAABkcnMvY2hhcnRzL2NoYXJ0MS54bWxQSwUGAAAAAAcABwDLAQAA
oRIAAAAA
">
  <v:shapetype id="_x0000_t75" coordsize="21600,21600" o:spt="75"
   o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
   <v:stroke joinstyle="miter"/>
   <v:formulas>
    <v:f eqn="if lineDrawn pixelLineWidth 0"/>
    <v:f eqn="sum @0 1 0"/>
    <v:f eqn="sum 0 0 @1"/>
    <v:f eqn="prod @2 1 2"/>
    <v:f eqn="prod @3 21600 pixelWidth"/>
    <v:f eqn="prod @3 21600 pixelHeight"/>
    <v:f eqn="sum @0 0 1"/>
    <v:f eqn="prod @6 1 2"/>
    <v:f eqn="prod @7 21600 pixelWidth"/>
    <v:f eqn="sum @8 21600 0"/>
    <v:f eqn="prod @7 21600 pixelHeight"/>
    <v:f eqn="sum @10 21600 0"/>
   </v:formulas>
   <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
   <o:lock v:ext="edit" aspectratio="t"/>
  </v:shapetype><v:shape id="Chart_x0020_2" o:spid="_x0000_s1028" type="#_x0000_t75"
   style='position:absolute;left:-12192;top:219456;width:4596384;height:2767584;
   visibility:visible' o:gfxdata="UEsDBBQABgAIAAAAIQDkmcPA+wAAAOEBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRQU7DMBBF
90jcwfIWJQ5dIISSdEHaJSBUDjCyJ4nVZGx53NDeHictG4SKWNrj9//TuFwfx0FMGNg6quR9XkiB
pJ2x1FXyY7fNHqXgCGRgcISVPCHLdX17U+5OHlkkmriSfYz+SSnWPY7AufNIadK6MEJMx9ApD3oP
HapVUTwo7SgixSzOGbIuG2zhMESxOabrs0nCpXg+v5urKgneD1ZDTKJqnqpfuYADXwEnMj/ssotZ
nsglnHvr+e7S8JpWE6xB8QYhvsCYPJQJrHDlGqfz65Zz2ciZa1urMW8Cbxbqr2zjPing9N/wJmHv
OH2nq+WD6i8AAAD//wMAUEsDBBQABgAIAAAAIQAjsmrh1wAAAJQBAAALAAAAX3JlbHMvLnJlbHOk
kMFqwzAMhu+DvYPRfXGawxijTi+j0GvpHsDYimMaW0Yy2fr28w6DZfS2o36h7xP//vCZFrUiS6Rs
YNf1oDA78jEHA++X49MLKKk2e7tQRgM3FDiMjw/7My62tiOZYxHVKFkMzLWWV63FzZisdFQwt81E
nGxtIwddrLvagHro+2fNvxkwbpjq5A3wye9AXW6lmf+wU3RMQlPtHCVN0xTdPaoObMsc3ZFtwjdy
jWY5YDXgWTQO1LKu/Qj6vn74p97TRz7jutV+h4zrj1dvuhy/AAAA//8DAFBLAwQUAAYACAAAACEA
My8FnkEAAAA5AAAADgAAAGRycy9lMm9Eb2MueG1ssrGvyM1RKEstKs7Mz7NVMtQzUFJIzUvOT8nM
S7dVCg1x07VQUiguScxLSczJz0u1VapMLVayt+PlAgAAAP//AwBQSwMEFAAGAAgAAAAhAMy7sW7B
AAAA2gAAAA8AAABkcnMvZG93bnJldi54bWxEj8FqwzAQRO+F/oPYQm6N3FCKcaMEpxDsSwN28wGL
tbZMrJWxFMf9+6gQ6HGYmTfMdr/YQcw0+d6xgrd1AoK4cbrnTsH55/iagvABWePgmBT8kof97vlp
i5l2N65orkMnIoR9hgpMCGMmpW8MWfRrNxJHr3WTxRDl1Ek94S3C7SA3SfIhLfYcFwyO9GWoudRX
q+C7LU4VlpSf0dTF4T1pXZ7OSq1elvwTRKAl/Icf7VIr2MDflXgD5O4OAAD//wMAUEsBAi0AFAAG
AAgAAAAhAOSZw8D7AAAA4QEAABMAAAAAAAAAAAAAAAAAAAAAAFtDb250ZW50X1R5cGVzXS54bWxQ
SwECLQAUAAYACAAAACEAI7Jq4dcAAACUAQAACwAAAAAAAAAAAAAAAAAsAQAAX3JlbHMvLnJlbHNQ
SwECLQAUAAYACAAAACEAMy8FnkEAAAA5AAAADgAAAAAAAAAAAAAAAAAsAgAAZHJzL2Uyb0RvYy54
bWxQSwECLQAUAAYACAAAACEAzLuxbsEAAADaAAAADwAAAAAAAAAAAAAAAACZAgAAZHJzL2Rvd25y
ZXYueG1sUEsFBgAAAAAEAAQA8wAAAIcDAAAAAA==
">
   <v:imagedata src="Genotation%20Button-Coffee%20Consumption_files/image001.png"
    o:title=""/>
   <o:lock v:ext="edit" aspectratio="f"/>
  </v:shape><v:shapetype id="_x0000_t202" coordsize="21600,21600" o:spt="202"
   path="m0,0l0,21600,21600,21600,21600,0xe">
   <v:stroke joinstyle="miter"/>
   <v:path gradientshapeok="t" o:connecttype="rect"/>
  </v:shapetype><v:shape id="TextBox_x0020_4" o:spid="_x0000_s1029" type="#_x0000_t202"
   style='position:absolute;left:49399;width:939800;height:256540;visibility:visible;
   mso-wrap-style:square;v-text-anchor:top' o:gfxdata="UEsDBBQABgAIAAAAIQAyPL0++wAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRQU7DMBBF
90jcwfIWJQ4sEEJNuiCwBATlACN7klgkY8tjQnt7Jm3ZIFTE0p55/z/Zq/V2GtWMiX2gWl+WlVZI
NjhPfa3fNg/FjVacgRyMgbDWO2S9bs7PVptdRFZCE9d6yDneGsN2wAm4DBFJJl1IE2Q5pt5EsO/Q
o7mqqmtjA2WkXOQlQzerFjv4GLO638r1wURwre4Oe0tVrSHG0VvIImqWqfmVSzjyCXAm98OuOJqV
Qu7DefCRL44NT/I0yTtUz5DyI0ziYVxiwwNElJ3ytOdSN3ERus5bLNvErwv3V7gLn5Rw/m92K9gL
zt/pZv9DzRcAAAD//wMAUEsDBBQABgAIAAAAIQCqi10N0wAAAI8BAAALAAAAX3JlbHMvLnJlbHOk
kLFqAzEMhvdA38Fo7/mSoZQQX7ZC1pBCV2Hr7kzOlrHMNXn7uJRCL2TLoEG/0PcJ7faXMKmZsniO
BtZNC4qiZefjYODz9PH6DkoKRocTRzJwJYF997LaHWnCUpdk9ElUpUQxMJaStlqLHSmgNJwo1knP
OWCpbR50QnvGgfSmbd90/s+AbsFUB2cgH9wa1OmaqvmOHbzNLNyXxnLQ3PfePqJqGTHRV5gqBvNA
xYDL8pvW05paoB+bN0+aHX/HI81L8U+Yaf7z6sUbuxsAAAD//wMAUEsDBBQABgAIAAAAIQAzLwWe
QQAAADkAAAAQAAAAZHJzL3NoYXBleG1sLnhtbLKxr8jNUShLLSrOzM+zVTLUM1BSSM1Lzk/JzEu3
VQoNcdO1UFIoLknMS0nMyc9LtVWqTC1Wsrfj5QIAAAD//wMAUEsDBBQABgAIAAAAIQBr4hZgwQAA
ANoAAAAPAAAAZHJzL2Rvd25yZXYueG1sRI9Pa8JAFMTvBb/D8gRvdWOlpURXEf+Ah15q4/2RfWaD
2bch+2rit3eFQo/DzPyGWa4H36gbdbEObGA2zUARl8HWXBkofg6vn6CiIFtsApOBO0VYr0YvS8xt
6PmbbiepVIJwzNGAE2lzrWPpyGOchpY4eZfQeZQku0rbDvsE941+y7IP7bHmtOCwpa2j8nr69QZE
7GZ2L/Y+Hs/D1653WfmOhTGT8bBZgBIa5D/81z5aA3N4Xkk3QK8eAAAA//8DAFBLAQItABQABgAI
AAAAIQAyPL0++wAAAOIBAAATAAAAAAAAAAAAAAAAAAAAAABbQ29udGVudF9UeXBlc10ueG1sUEsB
Ai0AFAAGAAgAAAAhAKqLXQ3TAAAAjwEAAAsAAAAAAAAAAAAAAAAALAEAAF9yZWxzLy5yZWxzUEsB
Ai0AFAAGAAgAAAAhADMvBZ5BAAAAOQAAABAAAAAAAAAAAAAAAAAAKAIAAGRycy9zaGFwZXhtbC54
bWxQSwECLQAUAAYACAAAACEAa+IWYMEAAADaAAAADwAAAAAAAAAAAAAAAACXAgAAZHJzL2Rvd25y
ZXYueG1sUEsFBgAAAAAEAAQA9QAAAIUDAAAAAA==
" filled="f" stroked="f">
   <v:textbox style='mso-fit-shape-to-text:t'>
    <![if !mso]>
    <table cellpadding=0 cellspacing=0 width="100%">
     <tr>
      <td><![endif]>
      <div>
      <p style='margin:0in;margin-bottom:.0001pt'><b><span style='font-size:
      11.0pt;font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-bidi-font-family:
      "Times New Roman";mso-bidi-theme-font:minor-bidi;color:black;mso-themecolor:
      text1;mso-font-kerning:12.0pt'>Figure 1</span></b></p>
      </div>
      <![if !mso]></td>
     </tr>
    </table>
    <![endif]></v:textbox>
  </v:shape><w:wrap type="topAndBottom"/>
 </v:group><![endif]-->
  <![if !vml]>
  <span style='mso-ignore:vglayout;position:
 relative;z-index:251659264;left:-1px;top:0px;width:364px;height:237px'><img
 src="/media/template/Genotation Button-Coffee Consumption_files/image002.png" alt="fig1"
 width="364" height="237" v:shapes="Chart_x0020_2 TextBox_x0020_4 Group_x0020_6" /></span>
  <![endif]>
  <!--[if gte vml 1]></o:wrapblock><![endif]-->
  <br
style='mso-ignore:vglayout' clear="all" />
  <span style='font-size:8.0pt;line-height:107%'>Adapted from PubMed [Accessed 12
    May 2015].</span></p>
<p class="MsoNormal"><b style='mso-bidi-font-weight:normal'>
  <o:p>&nbsp;</o:p>
</b></p>
<p>Click to look up your coffee consumption SNPs. (Use ANY RACE for your race.)</p>
	<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
	<div>
<button id='get-gwas' type='submit'>
	    Show my coffee SNPs
	  </button>
	</div>
  

<div class='help2'>
  <div id='help-disease-help'>
    <div class="WordSection1">
      <p class="MsoNormal1"><b style='mso-bidi-font-weight:normal'>Coffee Consumption
        Genetics &amp; Relevant SNPs
        <o:p></o:p>
      </b></p>
      <p class="MsoNormal1"><b style='mso-bidi-font-weight:normal'><span
style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></b>The
        initial insights that coffee consumption may be heritable came from genetic
        studies of <span class="GramE1">twins which</span> proposed the heritability to be
        in the range of 0.39 to 0.56 [REF]. Further despite differences in coffee consumption between countries (e.g. caffeine levels in coffee, preferred coffee beverage, religious or geographical preferences, availability and cost between countries), large differences within such populations suggest a variation in preference that is likely influenced by genetic variation.  Much of the focus on the genetics of coffee consumption to
        date has focused on two loci: <i style='mso-bidi-font-style:normal'>CYP1A2</i> and <i style='mso-bidi-font-style:normal'>ADORA2A</i>. The <i style='mso-bidi-font-style:
normal'>ADORA2A </i><span class="GramE1">loci as discussed above is</span> of
        particular interest because it is the proposed antagonistic target of caffeine.
        Upon consumption, coffee is shunted to the liver where the cytochrome P450
        system plays a key role in coffee metabolism. In particular, the CYP1A1 is
        responsible for metabolism of polycyclic aromatic hydrocarbons, while caffeine
        is primarily metabolized by CYP1A2. The following single nucleotide
        polymorphisms (SNPs) listed (also found in the look-up table provided), were
        found to be significantly associated with high coffee consumption (as defined
        below) from two independent meta-analysis studies* of previous genome-wide
        association studies (GWAS) analysis on coffee consumption mainly in European
        and American countries:</p>
      <p class="MsoNormal1" style='text-indent:.5in'>In 2011, Sulem <span class="GramE1"><i
style='mso-bidi-font-style:normal'>et</i></span><i style='mso-bidi-font-style:
normal'>. <span class="GramE1">al</span></i> conducted a meta-analysis of 4 GWAS
        of coffee consumption among coffee drinkers from Iceland (n=2680 people), the
        Netherlands (n=2791), the Sorbs Slavonic population isolate in Germany (n=771),
        and the USA (n=369). Combining all the data from these studies, two significant
        SNPs were identified:</p>
      <p class="MsoNormal1" style='margin-left:40.5pt'><span class="GramE1">rs</span><a
href="http://www.ncbi.nlm.nih.gov/pubmed/21357676"><span style='mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;'>2472297</span></a><span
style='mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#222222'> located at chromosome 15q24 (p = 5.4*10<sup>-14</sup>) lies
        between CYP1A1 and CYP1A2, two genes of interest in the metabolism of coffee.
        An effect of ~0.2 cups/day per allele was observed.
        <o:p></o:p>
      </span></p>
      <p class="MsoNormal1" style='margin-left:40.5pt'><span class="GramE1"><span
style='mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#222222'>rs</span></span><a
href="http://www.ncbi.nlm.nih.gov/pubmed/21357676"><span style='mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;'>6968865</span></a><span
style='mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#222222'> located at chromosome 7q21 (p = 2.3*10<sup>-11</sup>) near the
        aryl hydrocarbon receptor (AHR). AHR detects xenobiotics such as polycyclic
        aryl hydrocarbons found in roasted coffee, translocates to the nucleus and
        binds the dioxin response element (DRE) and induces the transcription of CYP1A1
        and CYP1A2 which contain 13 DREs in their intervening region (see Figure 2). An
        effect of ~0.2 cups/day per allele was observed.
        <o:p></o:p>
      </span></p>
      <p class="MsoNormal1"><span style='mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#222222'>The significance of
        finding two significant SNPs in the same pathway (i.e. coffee metabolism) led
        to the proposal that these SNPs may allow people to consume more coffee through
        increased clearance of caffeine due to high CYP1A1 and A1 enzymatic activity.
        While this needs to be investigated experimentally, heavy consumers have been
        shown to have higher CYP1A2 activity and low CYP1A2 activity has been associated
        with higher caffeine toxicity (e.g. insomnia, depression, anxiety, etc.) [7].
        <o:p></o:p>
      </span></p>
      <p class="MsoNormal1" style='margin-right:220.5pt'>
        <!--[if gte vml 1]><v:rect
 id="Rectangle_x0020_4" o:spid="_x0000_s1026" style='position:absolute;
 margin-left:-6.35pt;margin-top:11.45pt;width:259.85pt;height:199.5pt;
 z-index:251660288;visibility:visible;mso-wrap-style:square;
 mso-width-percent:0;mso-height-percent:0;mso-wrap-distance-left:9pt;
 mso-wrap-distance-top:0;mso-wrap-distance-right:9pt;
 mso-wrap-distance-bottom:0;mso-position-horizontal:absolute;
 mso-position-horizontal-relative:text;mso-position-vertical:absolute;
 mso-position-vertical-relative:text;mso-width-percent:0;mso-height-percent:0;
 mso-width-relative:margin;mso-height-relative:margin;v-text-anchor:middle'
 o:gfxdata="UEsDBBQABgAIAAAAIQDkmcPA+wAAAOEBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRQU7DMBBF
90jcwfIWJQ5dIISSdEHaJSBUDjCyJ4nVZGx53NDeHictG4SKWNrj9//TuFwfx0FMGNg6quR9XkiB
pJ2x1FXyY7fNHqXgCGRgcISVPCHLdX17U+5OHlkkmriSfYz+SSnWPY7AufNIadK6MEJMx9ApD3oP
HapVUTwo7SgixSzOGbIuG2zhMESxOabrs0nCpXg+v5urKgneD1ZDTKJqnqpfuYADXwEnMj/ssotZ
nsglnHvr+e7S8JpWE6xB8QYhvsCYPJQJrHDlGqfz65Zz2ciZa1urMW8Cbxbqr2zjPing9N/wJmHv
OH2nq+WD6i8AAAD//wMAUEsDBBQABgAIAAAAIQAjsmrh1wAAAJQBAAALAAAAX3JlbHMvLnJlbHOk
kMFqwzAMhu+DvYPRfXGawxijTi+j0GvpHsDYimMaW0Yy2fr28w6DZfS2o36h7xP//vCZFrUiS6Rs
YNf1oDA78jEHA++X49MLKKk2e7tQRgM3FDiMjw/7My62tiOZYxHVKFkMzLWWV63FzZisdFQwt81E
nGxtIwddrLvagHro+2fNvxkwbpjq5A3wye9AXW6lmf+wU3RMQlPtHCVN0xTdPaoObMsc3ZFtwjdy
jWY5YDXgWTQO1LKu/Qj6vn74p97TRz7jutV+h4zrj1dvuhy/AAAA//8DAFBLAwQUAAYACAAAACEA
IUJS65sCAACPBQAADgAAAGRycy9lMm9Eb2MueG1srFRLb9swDL4P2H8QdF9t59GtQZwiSNFhQNEW
bYeeVVmKBciiJilxsl8/Sn4064odhvkgiyL5UfxEcnl5aDTZC+cVmJIWZzklwnColNmW9PvT9acv
lPjATMU0GFHSo/D0cvXxw7K1CzGBGnQlHEEQ4xetLWkdgl1kmee1aJg/AysMKiW4hgUU3TarHGsR
vdHZJM/PsxZcZR1w4T2eXnVKukr4Ugoe7qT0IhBdUrxbSKtL60tcs9WSLbaO2Vrx/hrsH27RMGUw
6Ah1xQIjO6f+gGoUd+BBhjMOTQZSKi5SDphNkb/J5rFmVqRckBxvR5r8/4Plt/t7R1RV0hklhjX4
RA9IGjNbLcgs0tNav0CrR3vvesnjNuZ6kK6Jf8yCHBKlx5FScQiE4+F0muezYkIJR91kPp2ezxPp
2au7dT58FdCQuCmpw/CJSra/8QFDoulgEqMZuFZap3fThrRYdBc5YkaVB62qqE1CLCGx0Y7sGT5+
OBQxGwQ7sUJJGzyMOXZZpV04ahEhtHkQEsnBPCZdgN8xGefChKJT1awSXah5jt8QbPBIoRNgRJZ4
yRG7BxgsO5ABu7tzbx9dRarq0bnP/G/Oo0eKDCaMzo0y4N7LTGNWfeTOfiCpoyay9ALVEUvHQddT
3vJrhQ94w3y4Zw6bCNsNB0O4w0VqwIeCfkdJDe7ne+fRHmsbtZS02JQl9T92zAlK9DeDVX9RzGax
i5Mwm3+eoOBONS+nGrNrNoBPX+AIsjxto33Qw1Y6aJ5xfqxjVFQxwzF2SXlwg7AJ3bDACcTFep3M
sHMtCzfm0fIIHlmNBfp0eGbO9lUcsAFuYWhgtnhTzJ1t9DSw3gWQKlX6K68939j1qXD6CRXHyqmc
rF7n6OoXAAAA//8DAFBLAwQUAAYACAAAACEAqu9pIuEAAAAKAQAADwAAAGRycy9kb3ducmV2Lnht
bEyPy07DMBBF90j8gzVI7Fo75lEa4lSoPCQQmwY23TnxNI6Ix1HspuHvMStYjubo3nOLzex6NuEY
Ok8KsqUAhtR401Gr4PPjeXEHLERNRveeUME3BtiU52eFzo0/0Q6nKrYshVDItQIb45BzHhqLToel
H5DS7+BHp2M6x5abUZ9SuOu5FOKWO91RarB6wK3F5qs6OgWHob563+/2oqpf37ZPL8byx8kqdXkx
P9wDizjHPxh+9ZM6lMmp9kcygfUKFplcJVSBlGtgCbgRqzSuVnAtszXwsuD/J5Q/AAAA//8DAFBL
AQItABQABgAIAAAAIQDkmcPA+wAAAOEBAAATAAAAAAAAAAAAAAAAAAAAAABbQ29udGVudF9UeXBl
c10ueG1sUEsBAi0AFAAGAAgAAAAhACOyauHXAAAAlAEAAAsAAAAAAAAAAAAAAAAALAEAAF9yZWxz
Ly5yZWxzUEsBAi0AFAAGAAgAAAAhACFCUuubAgAAjwUAAA4AAAAAAAAAAAAAAAAALAIAAGRycy9l
Mm9Eb2MueG1sUEsBAi0AFAAGAAgAAAAhAKrvaSLhAAAACgEAAA8AAAAAAAAAAAAAAAAA8wQAAGRy
cy9kb3ducmV2LnhtbFBLBQYAAAAABAAEAPMAAAABBgAAAAA=
" filled="f" strokecolor="black [3213]" strokeweight="1.5pt"/><![endif]-->
        <![if !vml]>
        <![endif]>
      <b
style='mso-bidi-font-weight:normal'><span style='mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#222222'>Figure 2</span></b><span
style='mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#222222'><br />
        </span><span style='mso-fareast-language:EN-US;mso-no-proof:yes'>
          <!--[if gte vml 1]><v:shape
 id="Picture_x0020_1" o:spid="_x0000_i1025" type="#_x0000_t75" alt="Description: An external file that holds a picture, illustration, etc.&#10;Object name is ddr08602.jpg"
 style='width:243pt;height:132pt;visibility:visible;mso-wrap-style:square'>
 <v:imagedata src="Genotation%20Button-Coffee%20Consumption_files/image004.jpg"
  o:title="An external file that holds a picture, illustration, etc.&#10;Object name is ddr08602.jpg"/>
</v:shape><![endif]-->
          <![if !vml]>
          <![endif]>
      </span></p>
      <table width="859" height="26" border="1">
        <tr>
          <td><span class="MsoNormal1" style="margin-right:220.5pt"><span class="MsoNormal1" style="margin-right:220.5pt"><b style='mso-bidi-font-weight:
normal'><span style='mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:
&quot;Times New Roman&quot;;color:#222222'><br />
          </span></b><span style='font-size:9.0pt;line-height:107%;color:black;
background:white'>&ldquo;A schematic overview of the induction of<span
class="apple-converted-space1">&nbsp;</span><em><span style='font-family:Calibri;
mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
&quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi'>CYP1A1</span></em><span
class="apple-converted-space1">&nbsp;</span>and<span class="apple-converted-space1">&nbsp;</span><em><span
style='font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:
minor-latin;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi'>CYP1A2</span></em><span
class="apple-converted-space1">&nbsp;</span>by the xenobiotic&#8211;AHR complex.
          The complex of AHR, ARNT (AHR nuclear translocator) and a xenobiotic substance,
          such as polycyclic aromatic hydrocarbons, binds to the DNA at the DRE and
          induces the transcription of<em><span style='font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:&quot;Times New Roman&quot;;
mso-bidi-theme-font:minor-bidi'>CYP1A1</span></em><span
class="apple-converted-space1">&nbsp;</span>and<span class="apple-converted-space1">&nbsp;</span><em><span
style='font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-hansi-theme-font:
minor-latin;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi'>CYP1A2</span></em>.&rdquo;
          [7, Figure 2]</span><span style='font-size:9.0pt;line-height:107%;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;color:#222222'>
          <o:p></o:p>
          </span></span></span></td>
          <td><span class="MsoNormal1" style="margin-right:220.5pt"><span style="mso-fareast-language:EN-US;mso-no-proof:yes"><img border="0" width="245" height="134"
src="/media/template/Genotation Button-Coffee Consumption_files/image005.png"
alt="Description: An external file that holds a picture, illustration, etc.
Object name is ddr08602.jpg"
v:shapes="Picture_x0020_1" /></span></span></td>
        </tr>
      </table>
      <p class="MsoNormal1" style='margin-right:220.5pt'>&nbsp;</p>
      <p class="MsoNormal1">*A meta-analysis is a study based on the re-evaluation and
        comparison of two or more independent studies in the literature. </p>
      <p class="MsoNormal1"><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
style='mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#222222'>In 2012, the Amin <span class="GramE1"><i style='mso-bidi-font-style:
normal'>et</i></span><i style='mso-bidi-font-style:normal'>. <span class="GramE1">al</span> </i>group conducted an independent meta-analysis of GWAS on coffee intake from
        8 Caucasian cohorts (n=18176 people) and further tested highly-associated loci
        in 7929 additional individuals. The following significant SNPs were found to be
        highly associated with coffee consumption:
        <o:p></o:p>
      </span></p>
      <p class="MsoNormal1" style='margin-left:40.5pt'><span class="GramE1"><span
style='mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#222222'>rs</span></span><a
href="http://www.ncbi.nlm.nih.gov/pubmed/21876539"><span style='mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;'>2470893</span></a><span
style='mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#222222'> is located in the 15q24 region (p=1.6*10<sup>-11</sup>) lies
        between the 5&rsquo; flanking region shared by <i style='mso-bidi-font-style:normal'>CYP1A1
          and CYP1A2</i>. <span class="GramE1">Shares strong linkage disequilibrium with rs<span
style='mso-fareast-font-family:&quot;\FF2D\FF33 \660E\671D&quot;;mso-fareast-theme-font:
minor-fareast;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;
color:windowtext'><a href="http://www.ncbi.nlm.nih.gov/pubmed/21876539"><span
style='mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;'>2472297</span></a></span>.</span>
          <o:p></o:p>
      </span></p>
      <p class="MsoNormal1" style='margin-left:40.5pt'><span class="GramE1"><span
style='mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#222222'>rs</span></span><a
href="http://www.ncbi.nlm.nih.gov/pubmed/21876539"><span style='mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;'>2472297</span></a><span
style='mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#222222'> is located in the 15q24 region (p=2.7*10<sup>-11</sup>) lies
        between the 5&rsquo; flanking region shared by <i style='mso-bidi-font-style:normal'>CYP1A1
          and CYP1A2</i>. <span class="GramE1">Shares strong linkage disequilibrium with rs<span
style='mso-fareast-font-family:&quot;\FF2D\FF33 \660E\671D&quot;;mso-fareast-theme-font:
minor-fareast;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;
color:windowtext'><a href="http://www.ncbi.nlm.nih.gov/pubmed/21876539"><span
style='mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;'>2470893</span></a></span>.</span>
          <o:p></o:p>
      </span></p>
      <p class="MsoNormal1" style='margin-left:40.5pt'><span class="GramE1"><span
style='mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#222222'>rs</span></span><a
href="http://www.ncbi.nlm.nih.gov/pubmed/21876539"><span style='mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;'>382140</span></a><span
style='mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#222222'> is located near the <i style='mso-bidi-font-style:normal'>NRCAM </i>gene
        (p=3.9*10<sup>-9</sup>). This gene has been implicated in vulnerability to
        addiction [8] where decreased expression has been associated with resistance to
        addiction. <i style='mso-bidi-font-style:normal'>NRCAM </i>encodes a neuronal
        cell adhesion molecule and is important in nervous system development. This is
        of particular interest because twin study analyses have illustrated
        heritability in higher coffee consumption with the use of nicotine and alcohol
        [10].
        <o:p></o:p>
      </span></p>
      <p class="MsoNormal1" style='margin-left:40.5pt'><span class="GramE1"><span
style='mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#222222'>rs</span></span><a
href="http://www.ncbi.nlm.nih.gov/pubmed/21876539"><span style='mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;'>6495122</span></a><span
style='mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#222222'> located in the 15q24 region (p=7.1*10<sup>-9</sup>) near the
        genes <i style='mso-bidi-font-style:normal'>ULK3</i> and <i style='mso-bidi-font-style:
normal'>CPLX3</i>, but does not appear to be in strong linkage disequilibrium
        with the nearby rs</span><a href="http://www.ncbi.nlm.nih.gov/pubmed/21876539"><span
style='mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;'>2470893</span></a><span
style='mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#222222'> and rs</span><a
href="http://www.ncbi.nlm.nih.gov/pubmed/21876539"><span style='mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;'>2472297</span></a><i
style='mso-bidi-font-style:normal'><span style='mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:&quot;Times New Roman&quot;;color:#222222'>.</span></i><span
style='mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:&quot;Times New Roman&quot;;
color:#222222'> This SNP has also previously been associated with high blood
          pressure [9<span class="GramE1">] which</span> may support evidence that high
          blood pressure and higher coffee consumption are correlated.
          <o:p></o:p>
        </span></p>
      <p class="MsoNormal1">
        <o:p>&nbsp;</o:p>
      </p>
      <p class="MsoNormal1"><span style='font-size:10.0pt;line-height:107%'>[<span
class="GramE1">1]I<span style='color:#0A0905;background:white'>nternational Coffee
        Organization.</span></span><span class="apple-converted-space"><span
style='color:#0A0905;background:white'>&nbsp;</span></span></span><span
style='mso-field-code:&quot; HYPERLINK \0022http\:\/\/www\.ico\.org\/\0022 \\t \0022_blank\0022 &quot;'><span
class="MsoHyperlink"><span style='font-size:10.0pt;line-height:107%;color:#0768A9;
background:white'>www.ico.org</span></span></span><span style='font-size:10.0pt;
line-height:107%;color:#0A0905;background:white'>. [Accessed 12 May 2015].
          <o:p></o:p>
        </span></p>
      <p class="MsoNormal1"><span style='font-size:10.0pt;line-height:107%;color:#0A0905;
background:white'>[2] Fredholm <span class="GramE1">et</span>. <span class="GramE1">al</span> (1999) Pharmacol. Rev. </span><a
href="http://www.ncbi.nlm.nih.gov/pubmed/10049999"><span style='font-size:10.0pt;
line-height:107%;background:white'>http://www.ncbi.nlm.nih.gov/pubmed/10049999</span></a><span
style='font-size:10.0pt;line-height:107%;color:#0A0905;background:white'>
        <o:p></o:p>
      </span></p>
      <p class="MsoNormal1"><span style='font-size:10.0pt;line-height:107%;color:#0A0905;
background:white'>[3] Amin <span class="GramE1">et</span>. <span class="GramE1">al</span> (2012) Molecular Psychiatry. </span><a
href="http://www.ncbi.nlm.nih.gov/pubmed/21876539"><span style='font-size:10.0pt;
line-height:107%;background:white'>http://www.ncbi.nlm.nih.gov/pubmed/21876539</span></a><span
style='font-size:10.0pt;line-height:107%;color:#0A0905;background:white'>
        <o:p></o:p>
      </span></p>
      <p class="MsoNormal1"><span style='font-size:10.0pt;line-height:107%;color:#0A0905;
background:white'>[4] </span><span style='font-size:10.0pt;line-height:107%;
mso-bidi-font-family:Arial;color:#444444;background:#FFFEF1'>Ferre <span
class="GramE1">et</span>. <span class="GramE1">al</span> (1991) PNAS. </span><a
href="http://www.ncbi.nlm.nih.gov/pubmed/1678519"><span style='font-size:10.0pt;
line-height:107%;mso-bidi-font-family:Arial;background:#FFFEF1'>http://www.ncbi.nlm.nih.gov/pubmed/1678519</span></a><span
style='font-size:10.0pt;line-height:107%;mso-bidi-font-family:Arial;color:#444444;
background:#FFFEF1'>
        <o:p></o:p>
      </span></p>
      <p class="MsoNormal1"><span style='font-size:10.0pt;line-height:107%'>[5] <span
style='color:black;background:white'>Gongora-Alfaro <span class="GramE1">et</span>. <span class="GramE1">al</span> (2010) Rev. Neurol. </span></span><a
href="http://www.ncbi.nlm.nih.gov/pubmed/20198594"><span style='font-size:10.0pt;
line-height:107%;background:white'>http://www.ncbi.nlm.nih.gov/pubmed/20198594</span></a><span
style='font-size:10.0pt;line-height:107%'>
        <o:p></o:p>
      </span></p>
      <p class="MsoNormal1"><span style='font-size:10.0pt;line-height:107%'>[6] <span
class="GramE1"><span style='color:black;background:white'>van</span></span><span
style='color:black;background:white'> Dieren S et. <span class="GramE1">al</span> (2009) Diabetologia. </span></span><a
href="http://www.ncbi.nlm.nih.gov/pubmed/19727658"><span style='font-size:10.0pt;
line-height:107%;background:white'>http://www.ncbi.nlm.nih.gov/pubmed/19727658</span></a><span
style='font-size:10.0pt;line-height:107%;color:black;background:white'>
        <o:p></o:p>
      </span></p>
      <p class="MsoNormal1"><span style='font-size:10.0pt;line-height:107%'>[7] Sulem <span
class="GramE1">et</span>. <span class="GramE1">al</span> (2011) Human Mol. Genetics. </span><a
href="http://www.ncbi.nlm.nih.gov/pubmed/21357676"><span style='font-size:10.0pt;
line-height:107%'>http://www.ncbi.nlm.nih.gov/pubmed/21357676</span></a><span
style='font-size:10.0pt;line-height:107%'>
        <o:p></o:p>
      </span></p>
      <p class="MsoNormal1"><span style='font-size:10.0pt;line-height:107%'>[8] Ishiguro <span class="GramE1">et</span>. <span class="GramE1">al</span> (2014) Addict Biol. </span><a
href="http://www.ncbi.nlm.nih.gov/pubmed/22780223"><span style='font-size:10.0pt;
line-height:107%'>http://www.ncbi.nlm.nih.gov/pubmed/22780223</span></a><span
style='font-size:10.0pt;line-height:107%'>
        <o:p></o:p>
      </span></p>
      <p class="MsoNormal1"><span style='font-size:10.0pt;line-height:107%'>[9] Levy <span
class="GramE1">et</span>. <span class="GramE1">al</span> (2009) Nat Genetics. </span><a
href="http://www.ncbi.nlm.nih.gov/pubmed/19430479"><span style='font-size:10.0pt;
line-height:107%'>http://www.ncbi.nlm.nih.gov/pubmed/19430479</span></a><span
style='font-size:10.0pt;line-height:107%'>
        <o:p></o:p>
      </span></p>
      <p class="MsoNormal1"><span style='font-size:10.0pt;line-height:107%'>[10] Swan <span
class="GramE1">et</span>. <span class="GramE1">al</span> (1996) J Subst. Abuse. </span><a
href="http://www.ncbi.nlm.nih.gov/pubmed/8743766"><span style='font-size:10.0pt;
line-height:107%'>http://www.ncbi.nlm.nih.gov/pubmed/8743766</span></a><span
style='font-size:10.0pt;line-height:107%'>
        <o:p></o:p>
      </span></p>
    </div>
    <p>&nbsp;</p>
  </div>
</div>

<br class='clear'>