<div class='main'>
	<h2>Bipolar Disorder (<a href="http://en.wikipedia.org/wiki/Bipolar_disorder">wikipedia,</a><a href="http://www.mayoclinic.org/diseases-conditions/bipolar-disorder/basics/definition/con-20027544"> Mayo Clinic</a>, <a href="http://www.nimh.nih.gov/health/topics/bipolar-disorder/index.shtml">NIMH</a>) </h2>
<p>Bipolar disorder, also known as manic-depressive illness, is a brain disorder that causes unusual shifts in mood, energy, activity levels, and the ability to carry out day-to-day tasks.&nbsp;People with bipolar disorder experience unusually intense emotional states that occur in distinct periods called &quot;mood episodes.&quot; Each mood episode represents a drastic change from a person&rsquo;s usual mood and behavior. An overly joyful or overexcited state is called a manic episode, and an extremely sad or hopeless state is called a depressive episode.&nbsp;</p>
<p>There are four basic types of bipolar disorder:</p>
<ol>
  <li><strong>Bipolar I Disorder&mdash;</strong>defined by manic  episodes that last at least seven days, or by manic symptoms that are so severe that the person needs immediate hospital care. Usually, depressive episodes occur as well, typically lasting at least 2 weeks.</li>
  <li><strong>Bipolar II Disorder&mdash;</strong>defined by a pattern of depressive episodes, but no full-blown manic or mixed episodes.</li>
  <li><strong>Bipolar Disorder Not Otherwise Specified (BP-NOS)&mdash;</strong>diagnosed when the symptoms are less severe than  bipolar  II but clearly out of the person's normal range of behavior.</li>
  <li><strong>Cyclothymic Disorder, or Cyclothymia&mdash;</strong>a mild form of bipolar disorder. People with cyclothymia have episodes of hypomania as well as mild depression for at least 2 years. </li>
</ol>
<p>Click to look up your bipolar disorder SNPs. </p>
	<p>&nbsp;</p>
	<div>
<button id='get-gwas' type='submit'>
	    Show my Bipolar SNPs
	  </button>
	</div>
  <br/>
  <br/>
	<table id='colorectal-table' class='results-table hidden tablesorter'>
    <thead>
	  <tr>
      <th>Disease</th>
	    <th>dbSNP</th>
      <th>Genotype</th>
      <th>Risk Allele</th>
      <!--<th>Genes</th>-->
      <th>OR</th>
      <th>P-Value</th>
      <!--<th>Study Size</th>-->
      <th>Link</th>
	  </tr>
    </thead>
    <tbody>
	  <script id='colorectal-template' type='text/template'>
		  <tr>
      <td><%= disease_trait %></td>
    <td><%= strongest_snp %></td><td><%= genotype %></td><td><%= risk_allele %></td>
      <!--<td><%=  reported_genes %></td>-->
      <td><%=  or_or_beta %></td><td><%=  p_value %></td>
      <!--<td><%=  initial_sample_size %></td>-->
      <td><a href='<%=  link %>'><%=  pubmedid %></a></td>
		</script>
    </tbody>
	</table>
	
</div>

<div class='help'>
  <div id='help-disease-help'>
    <p>&nbsp;</p>
  </div>
</div>

<br class='clear'>