<style type="text/css">
<!--
div.MsoNormal {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;}
li.MsoNormal {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;}
p.MsoNormal {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;}
div.MsoNormal1 {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;}
li.MsoNormal1 {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;}
p.MsoNormal1 {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;}
span.SpellE {mso-style-name:"";
	mso-spl-e:yes;}
span.apple-converted-space {mso-style-name:apple-converted-space;
	mso-style-unhide:no;}
-->
</style>
<div class='main2'>
	<h2>Inflammatory Bowel Disease/Crohn's disease</h2>
<p>Inflammatory Bowel Disease is a chronic inflammatory condition of the gastrointestinal tract that includes Crohn's diseae and ulcerative colitus. Crohn's disease affects any part of the andgastrointestinal (GI) tract, from the mouth to the anus. Ulcerative colitis is limited to the colon, also called the large intestine. In addition, ulcerative colitis affects only the innermost lining, whereas Crohn&rsquo;s disease can affect the entire thickness of the intestinal wall. Crohn's is more prevalent among adolescents and young adults between the ages of 15 and 35.</p>
<p>&nbsp;</p>
<p>The symptom's of Crohn's disease and ulcerative colitis are similar and include:</p>
<p>Symptoms related to inflammation of the GI tract:</p>
<ul>
  <li>Persistent Diarrhea</li>
  <li>Rectal bleeding</li>
  <li>Abdominal cramps and pain</li>
  <li>Sensation of incomplete evacuation</li>
  <li>Constipation (can lead to bowel obstruction)</li>
</ul>
<p>General symptoms that may also be associated with IBD:</p>
<ul>
  <li>Fever</li>
  <li>Loss of appetite</li>
  <li>Weight Loss</li>
  <li>Fatigue</li>
  <li>Night sweats</li>
  <li>Loss of normal menstrual cycle</li>
</ul>
<p>&nbsp;</p>
<p>Click to look up your Crohn's disease SNPs. (Use ANY RACE for your race.)</p>
<p>&nbsp;</p>
	<p>&nbsp;</p>
	<div>
<button id='get-gwas' type='submit'>
	    Show my Crohn's disase SNPs
	  </button>
	</div>
	<br/>
  <br/>
</div>
<table id='stuart-table' class='results-table hidden tablesorter'>
    <thead>
	  <tr>
      <th>Disease</th>
	    <th>dbSNP</th>
      <th>Genotype</th>
      <th>Risk Allele</th>
      <!--<th>Genes</th>-->
      <th>OR</th>
      <th>P-Value</th>
      <!--<th>Study Size</th>-->
      <th>Link</th>
	  </tr>
    </thead>
    <tbody>
	  <script id='stuart-template' type='text/template'>
		  <tr>
      <td><%= disease_trait %></td>
    <td><%= strongest_snp %></td><td><%= genotype %></td><td><%= risk_allele %></td>
      <!--<td><%=  reported_genes %></td>-->
      <td><%=  or_or_beta %></td><td><%=  p_value %></td>
      <!--<td><%=  initial_sample_size %></td>-->
      <td><a href='<%=  link %>'><%=  pubmedid %></a></td>
		</script>
    </tbody>
	</table>
	
</div>

<div class='help2'>
  <div id='help-disease-help'>
    <p class="MsoNormal1">
      <o:p>&nbsp;</o:p>
    </p>
    <p class="MsoNormal1">&nbsp;</p>
</div>
</div>

<br class='clear'>