<!--<link href="../css/interpretome.css" rel="stylesheet" type="text/css" />-->
<div class='main2'>
	<h2>Cardiovascular Disease</h2>
	<p>Coronary heart disease occurs when plaque builds up in your coronary arteries. In the United States, CHD is the #1 cause of death for both men and women. Heritable factors account for as much as 30–60% of the variation in coronary heart disease. </p>
<p>Click to look up your Cardiovascular Disease SNPs. (use ANY Race, do not use your specific race).</p>
<div>
  <p>(Use ANY RACE for your race.)</p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
      <div>
<button id='get-gwas' type='submit'>
	    Show my cardiovascular disease risk score
	  </button>
	</div>

<div id='CVD-chart' class='google-charts'></div> <br /><br />

	
</div>

<div class='main2'>
  <div id='help-disease-help'>
    <blockquote>
      <p><a href="http://www.ncbi.nlm.nih.gov/pubmed/25748612">Mega et al., 2015</a> derived a genetic risk score for cardiovascular disease. The score is based on results from 27 SNPs that are each genome-wide significant for association with coronary heart disease. Each allele is weighted by the log of the allelic odds ratio for that SNP. </p>
      <table width="1123" border="0">
        <tr>
          <td width="554"><img src="/media/template/cvd/grs.jpeg" alt="grs" width="530" height="190" hspace="12" align="left" /></td>
          <td width="559">The Figure shows how your genetic risk score affects your risk. Low risk is the bottom 20% and high risk is the top 20% of genetic risk scores. The hazard ratio for coronary heart disease is 1.72 times higher for those in the high risk compared to those in the low risk score. Those with the highest genetic risk scores derived greater relative risk reduction and absolute risk reduction with statin therapy</td>
        </tr>
      </table>
      <p>&nbsp;</p>
<p>&nbsp;</p>
<blockquote>
  <blockquote>
    <blockquote>&nbsp;</blockquote>
  </blockquote>
</blockquote>
    </blockquote>
    <blockquote>
  <p>&nbsp;</p>
</blockquote>
<p>&nbsp;</p>
  </div>
</div>

<br class='clear'>