<div class='main2'>
<h2>Cystic Fibrosis</h2>
<p>(written by Gergana Vandova)</p>
<p>Cystic fibrosis (CF) is the most common autosomal recessive disorder in populations with European ancestry: the average carrier frequency is 1:25. It is caused by mutations in the cystic fibrosis transmembrane conductance regulator gene (CFTR). The CFTR gene encodes a chloride transporter, gated by ATP binding and hydrolysis. It regulates the transport of chloride and other ions across the cell membrane. Mutations in CFTR result in raised sweat chloride, respiratory infections, and pancreatic insufficiency.</p>
<p>To date, 1939 mutations in the CFTR gene that cause cystic fibrosis have been curated in the Cystic Fibrosis Mutation Database. Different combinations of mutations in the gene have different effects on its function and thus cause different disease phenotypes. The most common mutation is deltaF508 (rs113993960 or i3000001), which is present in about 70% of the cystic fibrosis patients. Because cystic fibrosis is an autosomal recessive inherited disease, one needs to carry two defective copies of the CFTR gene to develop the disease.&nbsp;</p>
<p>Click to look up your Cystic Fibrosis SNPs (use ANY Race, do not use your specific race). </p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend</span>
<div>
  <button id='get-gwas' type='submit'>
	    Show my Cystic Fibrosis SNPs
  </button>
    
  <br/>
  <br/>
	
	
</div>

<div class='main2'>
  <div id='help-disease-help'>
  
    <p><strong>The rare allele i4000320:</strong> also known as 2789+5G&gt;A and as&nbsp;<a href="http://www.snpedia.com/index.php/Rs80224560" title="Rs80224560">rs80224560</a>&nbsp;to the rest of the world (outside of 23andMe), is a rare mutation in the CFTR gene located at position 117242922 of chromosome 7 that causes a mild form of cystic fibrosis [<a rel="nofollow" href="http://www.ncbi.nlm.nih.gov/pubmed/2570460?dopt=Abstract">PMID 2570460</a>].  Most commonly, patients harboring the 2789+5G&gt;A variant will be compound heterozygotes carrying other CFTR mutations.</p>
<p>Highsmith&nbsp;<em>et al</em>&nbsp;first identified the&nbsp;<strong>i4000320</strong>&nbsp;SNP in 1997 [<a rel="nofollow" href="http://www.ncbi.nlm.nih.gov/pubmed/9101293?dopt=Abstract">PMID 9101293</a>] in a study of eight CF patients in a single inbred family. Three of them were homozygous for the&nbsp;<strong>i4000320</strong>&nbsp;mutation, and the rest were compound heterozygotes, harboring both the&nbsp;<strong>i4000320</strong>&nbsp;and deltaF508 mutations. Sequencing of exon 14b identified a G to A substitution at position +5 of the splice donor site. Such a mutation was predicted to lead to splicing of exon 14a to exon 15, with the deletion of a 38bp exon 14b from the mature CFTR mRNA, resulting in a frameshift mutation and likely in a truncated protein. Southern hybridization and quantitative analyses demonstrated that the patients homozygous for the 14b mutation could produce 4% of the normal CFTR mRNA compared to normal subjects. The patients homozygous for this mutation suffered from a more mild form of cystic fibrosis compared to patients that were compound heterozygous for deltaF508 and 2789+5G&gt;A mutations. In 2008, the truncated version of the CFTR was experimentally identified, further supporting the predicted outcome of the mutation [<a rel="nofollow" href="http://www.ncbi.nlm.nih.gov/pubmed/17707141?dopt=Abstract">PMID 17707141</a>].</p>
    <p>The first thorough genotype-to-phenotype correlation analysis for&nbsp;<strong>i4000320</strong>, after the Highsmith&nbsp;<em>et al</em>study, was published in 2005, in which 34 French patients having the 2789+5G-&gt;A/deltaF508 genotype were compared with their matched homozygous deltaF508 patients. The authors reported that the compound heterozygotes had milder disease phenotype: higher frequency of pancreatic sufficiency, better anthropometric and lung function measure, and lower infection susceptibility [<a rel="nofollow" href="http://www.ncbi.nlm.nih.gov/pubmed/15738290?dopt=Abstract">PMID 15738290</a>]. In 2006, Mainz,&nbsp;<em>et al</em>, described the case of the oldest living German brothers who are both compound heterozygotes for 2789+5G-&gt;A and deltaF508. This study serves as evidence for the association between this particular splicing mutation with the more mild form of cystic fibrosis and thus long term survival [<a rel="nofollow" href="http://www.ncbi.nlm.nih.gov/pubmed/16763370?dopt=Abstract">PMID 16763370</a>].</p>
    <p>In another study the authors used the database of the US Cystic Fibrosis Foundation National Registry to examine the genotype-phenotype association by looking at the mortality rate of patients homozygous for deltaF508 and the most common compound heterozygous ones. 17853 out of 28455 patients enrolled in the registry were genotyped. Of these, 82 had the 2789+5G-&gt;A mutation. They had a significantly lower standardized mortality rate of 4.4 deaths per 1000 person-years (p-value &lt; 0.0001) than those homozygous for deltaF508 (21.8, which was associated with the highest mortality rate [<a rel="nofollow" href="http://www.ncbi.nlm.nih.gov/pubmed/12767731?dopt=Abstract">PMID 12767731</a>].</p>
    <p>The distribution and frequencies of the CF mutations have been found to be heterogeneous among different ethnic groups. Knowing the precise distribution of the CF mutations, as well as their frequencies, is crucial for genetic counseling and genetic diagnostics. The available data up to date for the 2789+5G-&gt;A polymorphism worldwide is summarized in the following table:</p>
<p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</div>

<br class='clear'>