<div class='main2'>
  
  Testing
  <br><br>

  <div>
    <button id='get-gwas' type='submit'>
      Show my Diastolic BP's SNPs
    </button>
  </div>
  <br/>
  <br/>
  <table id='diatolic_bp-table' class='results-table hidden tablesorter'>
    <thead>
    <tr>
      <th>Disease</th>
      <th>dbSNP</th>
      <th>Genotype</th>
      <th>Risk Allele</th>
      <!--<th>Genes</th>-->
      <th>OR</th>
      <th>P-Value</th>
      <!--<th>Study Size</th>-->
      <th>Link</th>
    </tr>
    </thead>
    <tbody>
    <script id='diastolic_bp-template' type='text/template'>
      <tr>
      <td><%= disease_trait %></td>
    <td><%= strongest_snp %></td><td><%= genotype %></td><td><%= risk_allele %></td>
      <!--<td><%=  reported_genes %></td>-->
      <td><%=  or_or_beta %></td><td><%=  p_value %></td>
      <!--<td><%=  initial_sample_size %></td>-->
      <td><a href='<%=  link %>'><%=  pubmedid %></a></td>
    </script>
    </tbody>
  </table>
  
</div>


<br class='clear'>