<div class='main'>
	<h2>GWAS Variants</h2>
  <br/>
  This project will let you look up your genotype at ~5000 SNPs for 502 GWA studies. The data is from the NHGRI GWAS catalog, which is updated daily. Current version is from 2011. The application returns information depending on your race, so CEU has much more information than Asian or African. Click to intersect your personal genome with the NHGRI GWAS Catalog.
	<div>
	  <button id='get-gwas' type='submit'>
	    Show my GWAS SNPs
	  </button>
	</div>
  <br/>
  <br/>
	<table id='diseasetest-table' class='results-table hidden tablesorter'>
    <thead>
	  <tr>
      <th>Disease</th>
	    <th>dbSNP</th>
      <th>Genotype</th>
      <th>Risk Allele</th>
      <!--<th>Genes</th>-->
      <th>OR</th>
      <th>P-Value</th>
      <!--<th>Study Size</th>-->
      <th>Link</th>
	  </tr>
    </thead>
    <tbody>
	  <script id='diseasetest-template' type='text/template'>
		  <tr>
      <td><%= disease_trait %></td>
      <td><%= strongest_snp %></td><td><%= genotype %></td><td><%= risk_allele %></td>
      <!--<td><%=  reported_genes %></td>-->
      <td><%=  or_or_beta %></td><td><%=  p_value %></td>
      <!--<td><%=  initial_sample_size %></td>-->
      <td><a href='<%=  link %>'><%=  pubmedid %></a></td>
		</script>
    </tbody>
	</table>
	
</div>

<div class='help'>
  <div id='help-disease-help'>
    <h2>GWAS Catalog</h2>
    Genome-wide association studies (GWAS) have been successful at identifying some of the variation in traits attributable to genetics.
    The National Human Genome Research Institute (<a href='http://www.genome.gov'>NHGRI</a>)
    has begun aggregating results of association studies into a master <a href='http://www.genome.gov/gwastudies/'>GWAS catalog</a>.
    <br/><br/>
    In this exercise, you can look up your genotype at all entries in the GWAS catalog.
    Note that the risk allele is displayed as reported from the catalog and may not correspond to the plus strand (as your genotype is).
    For this reason, your genotype may be AG at some locus, but the risk allele may be C.
    The most likely explanation of this is a strand flip: see the original publication to determine the cause.
    <br/><br/>
    Note that no information in this exercise is diagnostic.
    These variants have been shown in the literature to be associated with a disease or trait.
    No combination of alleles has been shown to definitively cause a disease, but can simply adjust your risk.
    In the future, information such as these variants may be used to guide medical decision making.
    However, the use of this particular set of variants has not been approved by the FDA.
    Consult your physician with any medical questions and concerns.
  </div>
</div>

<br class='clear'>