<style type="text/css">
<!--
div.MsoNormal {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	mso-pagination:widow-orphan;
	font-size:11.0pt;
	font-family:Calibri;
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\B9D1\C740 \ACE0\B515";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-fareast-language:KO;}
li.MsoNormal {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	mso-pagination:widow-orphan;
	font-size:11.0pt;
	font-family:Calibri;
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\B9D1\C740 \ACE0\B515";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-fareast-language:KO;}
p.MsoNormal {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	mso-pagination:widow-orphan;
	font-size:11.0pt;
	font-family:Calibri;
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\B9D1\C740 \ACE0\B515";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-fareast-language:KO;}
span.MsoFootnoteReference {mso-style-noshow:yes;
	mso-style-priority:99;
	vertical-align:super;}
span.SpellE {mso-style-name:"";
	mso-spl-e:yes;}
span.apple-converted-space {mso-style-name:apple-converted-space;
	mso-style-unhide:no;}
div.MsoNormal1 {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	mso-pagination:widow-orphan;
	font-size:11.0pt;
	font-family:Calibri;
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\B9D1\C740 \ACE0\B515";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-fareast-language:KO;}
li.MsoNormal1 {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	mso-pagination:widow-orphan;
	font-size:11.0pt;
	font-family:Calibri;
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\B9D1\C740 \ACE0\B515";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-fareast-language:KO;}
p.MsoNormal1 {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	mso-pagination:widow-orphan;
	font-size:11.0pt;
	font-family:Calibri;
	mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\B9D1\C740 \ACE0\B515";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Calibri;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;
	mso-fareast-language:KO;}
span.MsoFootnoteReference1 {mso-style-noshow:yes;
	mso-style-priority:99;
	vertical-align:super;}
span.SpellE1 {mso-style-name:"";
	mso-spl-e:yes;}
-->
</style>
<div class='main2'>
	<h2>Esophageal cancer</h2>
<p>(Written by Mia Kanzawa)</p>
<p class="MsoNormal"><u><span style='mso-bidi-font-family:Arial;background:white'>Esophageal
  Cancer Introduction
  <o:p></o:p>
</span></u></p>
<p class="MsoNormal"><span style='mso-bidi-font-family:Arial;background:white'>Esophageal
  cancer is the 8<sup>th</sup> most common cancer worldwide and the 6<sup>th</sup> most common cause of death from cancer.<span style="mso-spacerun:yes">&nbsp; </span>Areas in central Asia to North-Central China have the highest incidences
  of esophageal cancer, while areas in Western Africa and Central America have
  the lowest incidence rates.<span style="mso-spacerun:yes">&nbsp; </span>The
  U.S. is considered a low-risk area with an incidence of 3.17 cases per 100,000 persons at risk per year, and this can be seen in the figure below which shows incidence rates around the world. However, in the U.S.,</span><span
class="apple-converted-space"><span style='mso-bidi-font-family:Arial'>&nbsp;</span></span><span
style='mso-bidi-font-family:Arial'>an estimated 16,980 cases of esophageal
    cancer are diagnosed annually, and 15,590 deaths are expected from the disease<span
style='background:white'>.<a href="#_ftn6"
name="_ftnref6" title="" id="_ftnref6" style='mso-footnote-id:ftn6'><span class="MsoFootnoteReference"><span
style='mso-special-character:footnote'>
  <![if !supportFootnotes]>
  <span style='font-size:11.0pt;line-height:107%;
font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
&quot;\B9D1\C740 \ACE0\B515&quot;;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:
minor-latin;mso-bidi-font-family:Arial;background:white;mso-ansi-language:EN-US;
mso-fareast-language:KO;mso-bidi-language:AR-SA'>[6]</span>
  <![endif]>
  </span></span></a>
    <o:p></o:p>
</span></span></p>
<p class="MsoNormal"><span style='mso-bidi-font-family:Arial;background:white'>The
  two main types of esophageal cancers are squamous cell and adenocarcinoma.<span
style="mso-spacerun:yes">&nbsp; </span>Other types of esophageal cancer are
  rare.<span style="mso-spacerun:yes">&nbsp; </span>In high risk areas, 90% of
  esophageal cancers are squamous cell carcinomas.<span
style="mso-spacerun:yes">&nbsp; </span>However, in the U.S., adenocarcinomas
  are the most common types of esophageal cancers and can arise from Barrett
  esophagus (a disease of the lower esophagus).
  <o:p></o:p>
</span></p>
<p class="MsoNormal"><span style='mso-bidi-font-family:Arial;background:white;
mso-fareast-language:EN-US;mso-no-proof:yes'>
  <!--[if gte vml 1]><v:shapetype
 id="_x0000_t75" coordsize="21600,21600" o:spt="75" o:preferrelative="t"
 path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
 <v:stroke joinstyle="miter"/>
 <v:formulas>
  <v:f eqn="if lineDrawn pixelLineWidth 0"/>
  <v:f eqn="sum @0 1 0"/>
  <v:f eqn="sum 0 0 @1"/>
  <v:f eqn="prod @2 1 2"/>
  <v:f eqn="prod @3 21600 pixelWidth"/>
  <v:f eqn="prod @3 21600 pixelHeight"/>
  <v:f eqn="sum @0 0 1"/>
  <v:f eqn="prod @6 1 2"/>
  <v:f eqn="prod @7 21600 pixelWidth"/>
  <v:f eqn="sum @8 21600 0"/>
  <v:f eqn="prod @7 21600 pixelHeight"/>
  <v:f eqn="sum @10 21600 0"/>
 </v:formulas>
 <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
 <o:lock v:ext="edit" aspectratio="t"/>
</v:shapetype><v:shape id="Picture_x0020_2" o:spid="_x0000_i1025" type="#_x0000_t75"
 style='width:468pt;height:258pt;visibility:visible;mso-wrap-style:square'>
 <v:imagedata src="Kanzawa%20Mia%20-%20Esophageal%20cancer%20Genotation%20Button_files/image001.jpg"
  o:title=""/>
</v:shape><![endif]-->
  <![if !vml]>
  <img
src="/media/template/Kanzawa Mia - Esophageal cancer Genotation Button_files/image002.png" alt="fig1" width="470" height="260"
v:shapes="Picture_x0020_2" />
  <![endif]>
  </span><a
href="#_ftn7" name="_ftnref7" title="" id="_ftnref7" style='mso-footnote-id:ftn7'><span class="MsoFootnoteReference"><span
style='mso-bidi-font-family:Arial;background:white'><span style='mso-special-character:
footnote'>
  <![if !supportFootnotes]>
  <span
style='font-size:11.0pt;line-height:107%;font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:&quot;\B9D1\C740 \ACE0\B515&quot;;mso-fareast-theme-font:
minor-fareast;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Arial;
background:white;mso-ansi-language:EN-US;mso-fareast-language:KO;mso-bidi-language:
AR-SA'>[7]</span>
  <![endif]>
  </span></span></span></a><span
style='mso-bidi-font-family:Arial;background:white'>
  <o:p></o:p>
</span></p>
<p class="MsoNormal"><span style='mso-bidi-font-family:Arial;background:white'>
  <o:p>&nbsp;</o:p>
</span></p>
<p class="MsoNormal"><u><span style='mso-bidi-font-family:Arial;background:white'>Etiology
  <o:p></o:p>
</span></u></p>
<p class="MsoNormal"><span style='mso-bidi-font-family:Arial;background:white'>Contribution
  of hereditary factors to the pathogenesis of esophageal cancer remains
  uncertain, but familial aggregation has been reported in high risk areas, such
  as China.<span style="mso-spacerun:yes">&nbsp; </span>Reports of familial
  aggregation in the U.S. are conflicting.
  <o:p></o:p>
</span></p>
<p class="MsoNormal"><span style='mso-bidi-font-family:Arial;background:white'>Squamous
  cell carcinoma:
  <o:p></o:p>
</span></p>
<p class="MsoNormal"><span style='mso-bidi-font-family:Arial;background:white'>It
  is estimated that 90% of esophageal squamous cell carcinomas in the U.S. are
  associated with a history of smoking, alcohol consumption, and diets low in
  fruits and vegetables.
  <o:p></o:p>
</span></p>
<p class="MsoNormal"><span style='mso-bidi-font-family:Arial;background:white'>In
  Asia, dietary factors have been associated with increased risk, including
  consumption of foods containing N-<span class="SpellE">nitroso</span> compounds
  (typically pickled vegetables, cured meats, Japanese smoked and cured fish, and
  beer<a href="#_ftn8" name="_ftnref8" title="" id="_ftnref8" style='mso-footnote-id:ftn8'><span
class="MsoFootnoteReference"><span style='mso-special-character:footnote'>
  <![if !supportFootnotes]>
  <span style='font-size:11.0pt;line-height:107%;
font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
&quot;\B9D1\C740 \ACE0\B515&quot;;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:
minor-latin;mso-bidi-font-family:Arial;background:white;mso-ansi-language:EN-US;
mso-fareast-language:KO;mso-bidi-language:AR-SA'>[8]</span>
  <![endif]>
  </span></span></a>).<span
style="mso-spacerun:yes">&nbsp; </span>Consumption of high temperature
  beverages and foods are thought to increase the risk of esophageal cancer by
  causing damage to the esophageal mucosa.
  <o:p></o:p>
</span></p>
<p class="MsoNormal"><span style='mso-bidi-font-family:Arial;background:white'>Adenocarcinoma:
  <o:p></o:p>
</span></p>
<p class="MsoNormal"><span style='mso-bidi-font-family:Arial;background:white'>For
  the past three decades, frequency of adenocarcinoma of the esophagus, <span
class="SpellE">esophagogastric</span> junction, and gastric cardia has increased
  dramatically, affecting whites five times more often than blacks and men eight
  times more often than women.
  <o:p></o:p>
</span></p>
<p class="MsoNormal"><span style='mso-bidi-font-family:Arial;background:white'>It
  is estimated that 80% of esophageal adenocarcinomas in the U.S. are associated
  with a history of smoking, obesity, <span class="SpellE">gastroesophageal</span> reflux disease, and a diet low in fruits and vegetables.<span
style="mso-spacerun:yes">&nbsp; </span>Chronic <span class="SpellE">gastroesophageal</span> reflux disease may lead to Barrett&rsquo;s esophagus, a disease in which normal
  stratified squamous epithelium in the esophagus is replaced by metaplastic
  columnar epithelium.<span style="mso-spacerun:yes">&nbsp; </span>Patients with
  Barrett&rsquo;s esophagus have a 30-fold increased risk of developing esophageal
  adenocarcinoma.
  <o:p></o:p>
</span></p>
<p class="MsoNormal"><span style='mso-bidi-font-family:Arial;background:white'>In
  contrast to esophageal squamous cell carcinoma, adenocarcinoma has not been
  associated with alcohol consumption, but is associated with obesity.
  <o:p></o:p>
</span></p>
<p class="MsoNormal"><u><span style='mso-bidi-font-family:Arial;background:white'>Symptoms
  <o:p></o:p>
</span></u></p>
<p class="MsoNormal"><span style='mso-bidi-font-family:Arial;background:white'>Early
  symptoms tend to be more subtle and nonspecific.<span
style="mso-spacerun:yes">&nbsp; </span>These may include the feeling of food
  &ldquo;sticking&rdquo; in the esophagus that can be overcome by careful chewing, or a
  burning sensation underneath the sternum.
  <o:p></o:p>
</span></p>
<p class="MsoNormal"><span style='mso-bidi-font-family:Arial;background:white'>In
  advanced stages of esophageal cancer, the tumor may obstruct the esophagus,
  causing difficulty swallowing and weight loss.<span
style="mso-spacerun:yes">&nbsp; </span>Other possible symptoms are hoarse voice
  and regurgitation of saliva or food without gastric fluids.<span
style="mso-spacerun:yes">&nbsp; </span>
  <o:p></o:p>
</span></p>
<p class="MsoNormal"><u><span style='mso-bidi-font-family:Arial;background:white'>Lifestyle
  changes and prevention
  <o:p></o:p>
</span></u></p>
<p class="MsoNormal"><span style='mso-bidi-font-family:Arial;background:white'>Avoiding
  smoking, alcohol consumption, maintaining a healthy BMI, and eating a diet high
  in fruits and vegetables may decrease risk of developing esophageal cancer.
  <o:p></o:p>
</span></p>
<p class="MsoNormal"><span style='mso-bidi-font-family:Arial;background:white'>Former
  smokers can significantly decrease their risk of esophageal cancer by quitting
  for 3-7 years, and can decrease risk to levels of never-smokers with a
  cessation period of 8-12 years.<span style="mso-spacerun:yes">&nbsp; </span>Former drinkers can decrease their risk to levels of never-drinkers with
  a cessation period of 10 years.<span style="mso-spacerun:yes">&nbsp; </span>Quitting both smoking and drinking simultaneously has a synergistic
  effect and can decrease risk of esophageal cancer by 70% within 5-9 years.<a href="#_ftn9" name="_ftnref9" title="" id="_ftnref9"
style='mso-footnote-id:ftn9'><span
class="MsoFootnoteReference"><span style='mso-special-character:footnote'>
  <![if !supportFootnotes]>
  <span style='font-size:11.0pt;line-height:107%;
font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
&quot;\B9D1\C740 \ACE0\B515&quot;;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:
minor-latin;mso-bidi-font-family:Arial;background:white;mso-ansi-language:EN-US;
mso-fareast-language:KO;mso-bidi-language:AR-SA'>[9]</span>
  <![endif]>
  </span></span></a><i
style='mso-bidi-font-style:normal'>
  <o:p></o:p>
</i></span></p>
<p class="MsoNormal"><u><span style='mso-bidi-font-family:Arial;background:white'>Diagnostic
  Tests
  <o:p></o:p>
</span></u></p>
<p class="MsoNormal"><span style='mso-bidi-font-family:Arial;background:white'>Barium
  swallow &#8211; consumption of a fluid containing barium sulfate which is a
  metallic compound that is visible on x-rays and can help elucidate abnormalities
  in the esophagus and stomach.<a href="#_ftn10"
name="_ftnref10" title="" id="_ftnref10" style='mso-footnote-id:ftn10'><span class="MsoFootnoteReference"><span
style='mso-special-character:footnote'>
  <![if !supportFootnotes]>
  <span style='font-size:11.0pt;line-height:107%;
font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
&quot;\B9D1\C740 \ACE0\B515&quot;;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:
minor-latin;mso-bidi-font-family:Arial;background:white;mso-ansi-language:EN-US;
mso-fareast-language:KO;mso-bidi-language:AR-SA'>[10]</span>
  <![endif]>
  </span></span></a>
  <o:p></o:p>
</span></p>
<p class="MsoNormal"><span style='mso-bidi-font-family:Arial;background:white'>Upper
  endoscopy to visualize the lining of the esophagus
  <o:p></o:p>
</span></p>
<p class="MsoNormal"><span style='mso-bidi-font-family:Arial;background:white'>Biopsy
  &#8211; sample tissue from the esophagus to look for cancer cells.<span
style="mso-spacerun:yes">&nbsp; </span>
  <o:p></o:p>
</span></p>
<p class="MsoNormal"><u><span style='mso-bidi-font-family:Arial;background:white'>Treatment
  <o:p></o:p>
</span></u></p>
<p class="MsoNormal"><span style='mso-bidi-font-family:Arial;background:white'>Surgery
  to remove cancer followed by reconnection of esophagus to stomach, radiation
  therapy, or chemotherapy are possible treatment options that may be used in
  conjunction with one another.<span style="mso-spacerun:yes">&nbsp; </span>Cure
  of early stage esophageal cancer is possible with treatment.<span
style="mso-spacerun:yes">&nbsp; </span>In cancers that cannot be cured,
  procedures to reduce the tumor size or widen the esophagus can decrease
  symptoms.<span style="mso-spacerun:yes">&nbsp; </span>
  <o:p></o:p>
</span></p>
<p>&nbsp;</p>
<p>Click to look up your Esophageal cancer SNPs. (Use ANY RACE for your race.)</p>
	<p>&nbsp;</p>
	<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
	<div>
<button id='get-gwas' type='submit'>
	    Show my Esophageal Cancer SNPs
	  </button>
	</div>
  <br/>
  <br/>
	
</div>

<div class='help2'>
  <div id='help-disease-help'>
    <p class="MsoNormal1"><u>Esophageal cancer GWAS Studies
      <o:p></o:p>
    </u></p>
    <p class="MsoNormal1"><u>Cui et al. 2009<a
href="#_ftn1" name="_ftnref1" title="" id="_ftnref1" style='mso-footnote-id:ftn1'><span class="MsoFootnoteReference1"><span
style='mso-special-character:footnote'>
      <![if !supportFootnotes]>
      <u><span style='font-size:11.0pt;line-height:107%;
font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
&quot;\B9D1\C740 \ACE0\B515&quot;;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:
minor-latin;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;
mso-ansi-language:EN-US;mso-fareast-language:KO;mso-bidi-language:AR-SA'>[1]</span></u>
      <![endif]>
      </span></span></a></u> found that rs671 in gene ALDH2, rs1229984 in ADH1B, smoking, and alcohol
      consumption were associated with esophageal squamous cell cancer (ESCC) in the
      Japanese population.<span style="mso-spacerun:yes">&nbsp; </span>Rs671 is a
      classic SNP known for its involvement in &ldquo;Asian Flush&rdquo;<a href="#_ftn2" name="_ftnref2" title="" id="_ftnref2" style='mso-footnote-id:
ftn2'><span class="MsoFootnoteReference1"><span
style='mso-special-character:footnote'>
  <![if !supportFootnotes]>
  <span style='font-size:11.0pt;line-height:107%;
font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
&quot;\B9D1\C740 \ACE0\B515&quot;;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:
minor-latin;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;
mso-ansi-language:EN-US;mso-fareast-language:KO;mso-bidi-language:AR-SA'>[2]</span>
  <![endif]>
  </span></span></a>.<span
style="mso-spacerun:yes">&nbsp; </span>Rs671 also increased the risk of ESCC
      more prominently in the smoker, heavy drinker, and younger populations, while
      these factors did not significantly alter the effect of rs1229984 on the risk
      of ESCC.</p>
    <p class="MsoNormal1"><u>Wu et al. 2011<a
href="#_ftn3" name="_ftnref3" title="" id="_ftnref3" style='mso-footnote-id:ftn3'><span class="MsoFootnoteReference1"><span
style='mso-special-character:footnote'>
      <![if !supportFootnotes]>
      <u><span style='font-size:11.0pt;line-height:107%;
font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
&quot;\B9D1\C740 \ACE0\B515&quot;;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:
minor-latin;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;
mso-ansi-language:EN-US;mso-fareast-language:KO;mso-bidi-language:AR-SA'>[3]</span></u>
      <![endif]>
      </span></span></a></u> found that minor variant alleles of rs10052657 and rs2014300 showed significant
      protective effects against ESCC, while minor variant alleles of <span
style='mso-bidi-font-family:Arial;background:white'>rs11066015, rs10484761,
        rs11066280, rs2074356 and rs2274223 showed increased risks in the Chinese
        population.<span style="mso-spacerun:yes">&nbsp; </span>Among the variants that
        were associated with increased risk, rs11066015, rs11066280, and rs2074356 were
        lifestyle dependent, with more pronounced risk enhancement seen in smokers and
        drinkers. </span></p>
    <p class="MsoNormal1"><u><span style='mso-bidi-font-family:Arial;background:white'>Wu
      et al. 2012<a href="#_ftn4" name="_ftnref4"
title="" id="_ftnref4" style='mso-footnote-id:ftn4'><span class="MsoFootnoteReference1"><span style='mso-special-character:
footnote'>
  <![if !supportFootnotes]>
  <u><span
style='font-size:11.0pt;line-height:107%;font-family:Calibri;mso-ascii-theme-font:
minor-latin;mso-fareast-font-family:&quot;\B9D1\C740 \ACE0\B515&quot;;mso-fareast-theme-font:
minor-fareast;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Arial;
background:white;mso-ansi-language:EN-US;mso-fareast-language:KO;mso-bidi-language:
AR-SA'>[4]</span></u>
  <![endif]>
  </span></span></a></span></u><span
style='mso-bidi-font-family:Arial;background:white'> found that rs2239612 in <span
style='mso-bidi-font-style:italic'>ST6GAL1</span> was associated with increased
    risk of ESCC, and rs9288520 and rs17450420 were associated with an increased
    risk of ESCC in conjunction with alcohol consumption in the Chinese
    population.<span style="mso-spacerun:yes">&nbsp; </span>They also found a joint
    effect of variants in ADH1 at rs1042026 with variants in ALDH2 and alcohol
    consumption that produced the highest risk of ESCC.<span
style="mso-spacerun:yes">&nbsp; </span>Alcohol dehydrogenase (ADH) proteins
    metabolize alcohol into acetaldehyde, a carcinogen, which is then detoxified by
    aldehyde dehydrogenase (ALDH). <span style="mso-spacerun:yes">&nbsp;</span>Individuals
    with a fast ADH protein and slow ALDH protein build up acetaldehyde and are
    expected to have an increased risk of cancer.
  <o:p></o:p>
</span></p>
    <p class="MsoNormal1"><span style='mso-bidi-font-family:Arial;background:white'><span
style="mso-spacerun:yes">&nbsp;</span><span class="SpellE1"><u>Abnet</u></span><u> et al. 2011</u> found 5 SNPs at 10q23 associated with gastric cardia cancer and
      esophageal squamous cell cancer: rs2274223, rs3765524, rs3781264, rs11187842,
      and rs753724.<span style="mso-spacerun:yes">&nbsp; </span><u>
  <o:p></o:p>
</u></span></p>
    <p class="MsoNormal1"><u>Wu et al. 2013<a
href="#_ftn5" name="_ftnref5" title="" id="_ftnref5" style='mso-footnote-id:ftn5'><span class="MsoFootnoteReference1"><span
style='mso-special-character:footnote'>
      <![if !supportFootnotes]>
      <u><span style='font-size:11.0pt;line-height:107%;
font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
&quot;\B9D1\C740 \ACE0\B515&quot;;mso-fareast-theme-font:minor-fareast;mso-hansi-theme-font:
minor-latin;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;
mso-ansi-language:EN-US;mso-fareast-language:KO;mso-bidi-language:AR-SA'>[5]</span></u>
      <![endif]>
      </span></span></a></u> found <span style='mso-bidi-font-family:Arial;background:white'>rs1050631 in
        SLC39A6 to be associated with the survival times of individuals with esophageal
        squamous cell carcinoma</span></p>
    <p>&nbsp;</p>
  </div>
</div>

<br class='clear'>