
<div class='main'>
  <h2>Explore your genome</h2>
  <br />
  <div id='exercises'> 
    <h3><a href='#'>Choose an existing exercise</a></h3>
    <div id='default-exercises'>
      <select id='toolbar-exercise' name='exercise'>
        <option id='dummy-2' value='null'>Select a presentation:</option>
        <!--<option value='null'>-----------------</option>
        <option value='eqtl'>eQTLs</option>
        <option value='selection'>Selection</option>
        <option value='null'>-----------------</option>-->
        
        <optgroup label="3/31, Stuart Kim">
			<option value='kim_linkage_p1'>Genetic Linkage, part 1</option>
			<option value='kim_linkage_p2'>Genetic Linkage, part 2</option>
			<option value='kim_linkage_p3'>Genetic Linkage, part 3</option>
		</optgroup>
		
		<optgroup label="4/2 and 4/7, Stuart Kim">
			<option value='gwas'>GWAS</option>
		</optgroup>
		
		<optgroup label="4/9, Stuart Kim">
			<option value='height'>Height</option>
		</optgroup>
		
		<optgroup label="4/14, Stuart Kim">
			<option value='longevity'>Longevity</option>
		</optgroup>
		
		<optgroup label="4/16, Stuart Kim">
			<option value='disease_ckd'>Chronic Kidney Disease</option>
			<option value='disease_egfrcrea'>GFR Creatinine</option>
			<option value='disease_egfrcys'>GFR Cystatin C</option>
		</optgroup>

		<optgroup label="4/21, Aaron Gitler">
			<option value='neuro_ad'>Alzheimer's Disease</option>
			<option value='neuro_ftd'>Frontotemporal Dementia</option>
			<option value='neuro_als'>Amyotrophic Lateral Sclerosis</option>
			<!--
			<option value='neuro_pd'>Parkinson's Disease</option>
			-->
		</optgroup>
		
		<optgroup label="4/23, Aaron Gitler">
			<option value='neuro_autism'>Autism Spectrum Disorders</option>
			<option value='neuro_schiz'>Schizophrenia</option>
			<option value='neuro_intelligence'>Intelligence</option>
			<option value='neuro_education'>Educational Attainment</option>
		</optgroup>
		
		<optgroup label="4/28, Stuart Kim">
			<option value='selection'>Positive Selection</option>
			<option value='kim_selection'>Positive Selection, part 2</option>
			<option value='neandertal'>Neandertal</option>
			<option value='kim_neandertal'>Neandertal, part 2</option>
		</optgroup>
		
		<optgroup label="4/30, Stephen Montgomery">
			<option value='montgomery_expression'>Expression QTLs</option>
		</optgroup>

		<optgroup label="Test">
			<option value='ashley_cad'>Ashley CAD</option>
		</optgroup>
		
		

		<optgroup label="5/5, Aaron Gitler">
			<option value='gitler_cancer_colorectal'>Colorectal Cancer</option>
			<option value='gitler_cancer_prostate'>Prostate Cancer</option>
			<option value='gitler_cancer_lung'>Lung Cancer</option>
			<option value='gitler_cancer_melanoma'>Melanoma</option>
		</optgroup>

		<optgroup label="4/15, Rosalind Chuang">
			<option value='neuro_alcohol'>Alcoholism</option>
			<option value='neuro_smoking'>Smoking</option>
		</optgroup>
		
		<optgroup label="4/22, Stuart Kim">
			<option value='disease_bmd'>Bone Mineral Density</option>
		</optgroup>
		
		
		<optgroup label="5/1, Josh Knowles">
			<option value='ashley_cad'>Coronary Artery Disease</option>
		</optgroup>
			
		<optgroup label="5/8, Russ Altman">
			<option value='pgx_2013'>Selected Pharmacogenomic SNPs</option>
		</optgroup>
		
		<optgroup label="5/8, Stuart Kim">
			<option value='ashley_diabetes'>Diabetes</option>
		</optgroup>
		
		<optgroup label="4/24, Stuart Kim">
			<option value='kim_neandertal'>Neandertal, part 2</option>
		</optgroup>
		
		<optgroup label="5/15, Stephen Montgomery">
			<option value='montgomery_intro'>Introduction</option>
		</optgroup>
		
		<optgroup label="5/21, Jonathan Mortensen & Francisco Gimenez">
			<option value='mating_superproject'>Super Project</option>
		</optgroup>
		
		
		
      </select>
      <br />
      <br />
	    <button id='lookup-exercise' type='submit' class='small-button'>
	      Lookup Exercise
	    </button>
    </div>
    
	  <h3><a href='#'>Load your own SNP annotations</a></h3>
    <div id='custom-exercise'>
      <i><a href='#explore' id='annotation-file-help'>Example annotation file</a></i>
      <br />
      <br />
	    <input id='exercise-file' type='file' name='file' />
      <br/>
      <div id='annotation-file-help-dialog' class='dialog hidden'>
	      <p>
	        Custom annotation files must be <strong>tab delimited</strong>, 
	        have a header row, and the first column must be the SNP rsid. 
	        For example,
	      </p>
		    <br />
        <pre style='font-size: 0.9em'>
   # This line is ignored
   # Actually, any line that starts with a hash...
   rsid        Disease/Trait   count(Risk Alelle)   Comments   
   rs3094315   RLS             A             This is a SNP
   rs3934834   Earwax          G             G = wet earwax
   rs9442372   High IQ         C             Not an association
			      <p>
			        Surrounding a column header with count(*) as with the "Risk Allele" column in the example above
			        indicates that the user's genotype will be compared against the column and a summary
			        of total counts will be displayed with the results.
			      </p>
	        </pre>
	    </div>
      <br />
	    <button id='lookup-custom' class='small-button'>
	      Lookup custom exercise
	    </button>
    </div>
  </div> <!-- Exercise. -->
  <br />
  <!-- Submission buttons. -->
  <div id='table-options'>
		<button id='submit-exercise' class='small-button'>Submit my information</button>
    <button id='clear-snps' type='submit' class='small-button'>
      Clear table
    </button>
    <button id='toggle-unknown-genotypes' type='submit' class='small-button'>
      Hide unknown genotypes
    </button>
    <!-- FB share doesn't seem to be working, commenting out button for now (3/21/2013) 
    <button id='fb-submit-exercise' class='small-button'>Share <img width='20px' height='20px' src='http://aux.iconpedia.net/uploads/1728669589.png'/></button> -->
  </div>
  
  <div id='too-many-snps' title='Too Many' class='dialog hidden'>
    You have entered too many SNPs. Your browser will not be able to display this many SNPs.
  </div>
  <br class='clear'>
	<br /><br/>
  <div id='exercise-content'>
  </div>
  
</div>
<div class='help'>
  <div id='help-explore-help'>
    <h2>Exploration</h2>
    Part of the power of genome interpretation is that the wealth of knowledge spread across the biomedical literature can be applied to a personal genome.
    While not all annotations will be applicable to every individual in every condition,
    and reverse inferences (applying large studies to an individual) are not always valid,
    there is still much to be learned in exploring the biological and clinical effect of variants.
    <br/><br/>
    This section contains exercises for the lectures of the <a href='http://gene210.stanford.edu'>Stanford course in Personalized Medicine and Genomics</a>.
    <br/><br/>
    Explore the exercises available or load your own: the world is your oyster.
  </div>
  <br/>
  <hr/>
  <br/>
  <div id='help-exercise-help'>
  </div>
</div>
<br class='clear' />
