<style type="text/css">
<!--
div.MsoNormal {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:Cambria;
	mso-ascii-font-family:Cambria;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Cambria;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
li.MsoNormal {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:Cambria;
	mso-ascii-font-family:Cambria;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Cambria;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
p.MsoNormal {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:Cambria;
	mso-ascii-font-family:Cambria;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Cambria;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
span.GramE {mso-style-name:"";
	mso-gram-e:yes;}
span.SpellE {mso-style-name:"";
	mso-spl-e:yes;}
div.MsoNormal1 {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:Cambria;
	mso-ascii-font-family:Cambria;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Cambria;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
li.MsoNormal1 {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:Cambria;
	mso-ascii-font-family:Cambria;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Cambria;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
p.MsoNormal1 {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:Cambria;
	mso-ascii-font-family:Cambria;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Cambria;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
span.GramE1 {mso-style-name:"";
	mso-gram-e:yes;}
span.SpellE1 {mso-style-name:"";
	mso-spl-e:yes;}
div.MsoNormal2 {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:Cambria;
	mso-ascii-font-family:Cambria;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Cambria;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
li.MsoNormal2 {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:Cambria;
	mso-ascii-font-family:Cambria;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Cambria;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
p.MsoNormal2 {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:Cambria;
	mso-ascii-font-family:Cambria;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Cambria;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
span.GramE2 {mso-style-name:"";
	mso-gram-e:yes;}
span.SpellE2 {mso-style-name:"";
	mso-spl-e:yes;}
body {
	/*margin-left: 20px;
	margin-right: 20px;*/
}
-->
</style>
<body leftmargin="20" marginwidth="20"><div class='main2'>
	<h2>Eye Color</h2>
<p>(quoted from <a href="http://www.ncbi.nlm.nih.gov/pubmed/20463881">Liu et al., PLOS Genet. 2010</a>)</p>
<p>&quot;The iris functions as the diaphragm of the eye controlling the amount of light reaching the retina. The type, distribution, and amount of pigments in the iris determine eye color&nbsp;<a href="http://journals.plos.org/plosgenetics/article?id=10.1371/journal.pgen.1000934#pgen.1000934-Sturm1">[1]</a>,&nbsp;<a href="http://journals.plos.org/plosgenetics/article?id=10.1371/journal.pgen.1000934#pgen.1000934-Parra1">[2]</a>. Eye color shows a high degree of variation in people of European ancestry and correlates with latitude within the European continent, which may be explained by a combination of natural and sexual selection&nbsp;<a href="http://journals.plos.org/plosgenetics/article?id=10.1371/journal.pgen.1000934#pgen.1000934-Frost1">[3]</a>. The inheritance of eye color is not strictly Mendelian although blue iris color follows largely a recessive pattern&nbsp;<a href="http://journals.plos.org/plosgenetics/article?id=10.1371/journal.pgen.1000934#pgen.1000934-Sturm1">[1]</a>. Genome-wide association studies in people of Europeans decent&nbsp;<a href="http://journals.plos.org/plosgenetics/article?id=10.1371/journal.pgen.1000934#pgen.1000934-Sulem1">[4]</a>&ndash;<a href="http://journals.plos.org/plosgenetics/article?id=10.1371/journal.pgen.1000934#pgen.1000934-Han1">[7]</a>&nbsp;have confirmed eye color as a polygenic trait, with the&nbsp;<em>HERC2</em>/<em>OCA2</em>genes explaining the most of the blue and brown eye color inheritance, whereas other genes such as&nbsp;<em>SLC2A4</em>,&nbsp;<em>TYR</em>,&nbsp;<em>TYRP1</em>,&nbsp;<em>SLC45A2</em>, and&nbsp;<em>IRF4</em>&nbsp;contribute additionally to eye color variation, albeit with minor effects&nbsp;<a href="http://journals.plos.org/plosgenetics/article?id=10.1371/journal.pgen.1000934#pgen.1000934-Liu1">[8]</a>. These findings increased our understanding of the genetic basis of human pigmentation, and drew attention to their potential applications, such as in forensic sciences&nbsp;<a href="http://journals.plos.org/plosgenetics/article?id=10.1371/journal.pgen.1000934#pgen.1000934-Kayser2">[9]</a>,&nbsp;<a href="http://journals.plos.org/plosgenetics/article?id=10.1371/journal.pgen.1000934#pgen.1000934-Walsh1">[10]</a>.&quot;</p>
	<p>Click to look up your Eye Color SNPs (use ANY Race, do not use your specific race). </p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
	<div>
<button id='get-gwas' type='submit'>
	    Show my eye color SNPs
	  </button>
	</div>
  

<div class='main2'>
  <div id='help-disease-help'>
    <p class="MsoNormal1">&nbsp;</p>
    <p class="MsoNormal1">In&nbsp;<em>HERC2</em>, the well-known SNP rs12913832 explains&nbsp;<img src="http://journals.plos.org/plosgenetics/article/asset?id=info:doi/10.1371/journal.pgen.1000993.e055.PNG">% of the variance in eye color, with the A allele associated with darker eyes.  In&nbsp;<em>SLC24A4</em>, rs12896399  explains 1.6% of the variance in eye color. In&nbsp;<em>IRF4</em>, rs12203592 explains 1.4% of the variance. In&nbsp;<em>SLC45A2</em>, rs16891982 explains&nbsp;<img src="http://journals.plos.org/plosgenetics/article/asset?id=info:doi/10.1371/journal.pgen.1000993.e062.PNG">% of the variance. In&nbsp;<em>TYR</em>, rs1393350  explains&nbsp;<img src="http://journals.plos.org/plosgenetics/article/asset?id=info:doi/10.1371/journal.pgen.1000993.e065.PNG">% of the variance.&nbsp;</p>
    <p class="MsoNormal1">&nbsp;</p>
    <p class="MsoNormal1">rs12913832, rs1667394 and rs12896399 are also associated with green versus blue eyes.</p>
    <p class="MsoNormal1">&nbsp;</p>
    <p class="MsoNormal1"><a href="http://www.ncbi.nlm.nih.gov/pubmed/20463881">Liu et al.</a> made an eye color predictor that explains ~50% of the variance in eye color.</p>
    <p class="MsoNormal1">&nbsp;</p>
  </div>
</div>