<h2>Familial Hypercholesterolemia</h2>
<p>Familial hypercholesterolemia is a genetic disorder leading to increased levels of cholesterol. APOB is a protein that is part of low density lipoprotein that binds to cholestrol in blood. APOB is bound by the in LDL receptor. Loss-of-function mutations in either the LDL receptor APOB genes increase cholestrol levels. One mutant copy has a moderate effect and two mutant copies has a strong effect in increasing cholestrol levels.  </p>
<p>Click to look up your Familial Hypercholesterolemia SNPs (use ANY Race, do not use your specific race). </p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
<p>&nbsp;</p>
	<div>
<button id='get-gwas' type='submit'>
	    Show my Familial Hypercholesterolemia SNPs
	  </button>
    
  <br/>
  <br/>
	
	
</div>

<div class='main2'>
  <div id='help-disease-help'>
  
    <p>The 23andme chips test for three SNPs in the APOB gene (rs12713559, rs5742904, i4000339). All three cause missense mutations in the APOB gene.These three SNPs act in a semi-dominant fashion, meaning that one risk allele has moderate effects and two risk alleles have strong effects on elevating cholesterol levels.. </p>
</div>
</div>

<br class='clear'>