
<link href="../css/interpretome.css" rel="stylesheet" type="text/css">
<body leftmargin="20" marginwidth="20"><div class='main2'>
	<h2>Lung Function</h2>

<p>Lung function is assessed by how much air your lungs can store and how fast your lungs can expel. These are measured by forced expiratory volume in one second (FEV1), forced vital capacity (FVC) and the FEV1&nbsp;to FVC ratio (FEV1/FVC). Lung function is important for assessing conditions such as&nbsp;<a href="https://en.wikipedia.org/wiki/Asthma" title="Asthma">asthma</a>,<a href="https://en.wikipedia.org/wiki/Pulmonary_fibrosis" title="Pulmonary fibrosis">pulmonary fibrosis</a>,&nbsp;<a href="https://en.wikipedia.org/wiki/Cystic_fibrosis" title="Cystic fibrosis">cystic fibrosis</a>, and&nbsp;<a href="https://en.wikipedia.org/wiki/Chronic_obstructive_pulmonary_disease" title="Chronic obstructive pulmonary disease">COPD</a>.</p>
<p><strong>Forced vital capacity</strong> is the maximal amount of air you can expel from your lungs. A normal adult has a vital capacity between 3 and 5&nbsp;litres, but this amount depends on your size, sex, age and ethnicity. Forced vital capacity shows an annual rate of decline  ranging from 12 to 47 ml in the general population. For people with lung disease, forced vital capacity can be reduced. For athletes, forced vital capacity is a measure of your aerobic capacity. Twin studies indicate that the heritability of FVC is very high - 91%.</p>
<p><strong>Forced expiratory volume in 1 second </strong>(FEV1) is the amount of air you can expel in 1 second. Twin studies indicate that the heritability of FVC is very high -85%.</p>
<p><strong>FEV1/FVC&nbsp;</strong>is the ratio of FEV1&nbsp;to FVC. In healthy adults this should be approximately 70&ndash;85%. In obstructive diseases (asthma, COPD, chronic bronchitis, emphysema), this ratio is lower than normal because your ability to exhale is affected more than the total volume in your lungs. In restrictive disease (pulmonary fibrosis), this ratio is either not affected or is higher because the total volume of air in your lungs is diminished.&nbsp;Twin studies indicate that the heritability of FVC is very high - 45%.</p>
<p>&nbsp;</p>
	<div>
	<p>(Use ANY RACE for your race.)</p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>

      <div>
<button id='get-gwas-1' type='submit'>
	    Show my forced vital capacity SNPs
	  </button>
	</div>
   

	   <p class="MsoNormal1">&nbsp;</p>
      <p class="MsoNormal1"><a href="http://www.ncbi.nlm.nih.gov/pubmed/24929828">Loth et al 2014</a> did performed a genome-wide association study involving 52,253 individuals. The beta coefficient shows how much each allele affects forced vital capacity, ranging from 16 to 30 ml (out of a total of 3000-5000 ml). This is about the same amount that lung capacity declines each year due to aging.</p>
      <p class="MsoNormal1"><em>BMP6</em>&nbsp;is a member of the bone morphogenetic protein (BMP) family that constitutes a key canonical signaling pathway in the regulation of lung development, repair and response to injury.&nbsp;</p>
      <p class="MsoNormal1"><em>EFEMP1</em>&nbsp;is part of the fibulin family of extracellular matrix glycoproteins and encodes fibulin-3. Targeted disruption of a member of this family,&nbsp;<em>Efemp2</em>&nbsp;(also known as&nbsp;<em>fibulin-4</em>), has been shown to cause reduced elasticity and emphysematous morphology in the lungs of mice. </p>
      <p class="MsoNormal1"><em>WWOX</em>&nbsp;might influence protein-induced apoptosis and behaves as a tumor suppressor gene in various types of neoplasms, including small-cell lung cancer.</p>
      <p class="MsoNormal1">rs4237643 is a SNP located in the HSD17B12 gene. The G allele is protective and associated with higher expression and the T risk allele is associated with lower expression of HSD17B12 in blood cells and brain tissue. </p>
      <p class="MsoNormal1">The SNPs in <em>GSTCD</em>&nbsp;and&nbsp;<em>PTCH1</em> are also associated with FEV1, which is forced expiratory volume in 1 sec.  The SNPs in <em>BMP6</em>&nbsp;and&nbsp;<em>EFEMP1</em>are also associated with height.</p>
      <p class="MsoNormal1">The six SNPs associated with forced vital capacity explain only a modest proportion of the additive polygenic variance in FVC (1.78%).&nbsp;</p>
      <br/>
</div>

<div>
	<p>(Use ANY RACE for your race.)</p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>

      <div>
<button id='get-gwas-2' type='submit'>
	    Show my lung function SNPs
	  </button>
	</div>
 
    
	 <p>&nbsp;</p>
<p>The beta scores for the SNPs reported by  Artigas et al., 2011 (PMID <a href="http://www.ncbi.nlm.nih.gov/pubmed/21946350">21946350</a>) denote FEV1 (ml) or FEV1/FVC (%). So for rs2284746 associated with FEV1/FVC, the beta score of .04 means each G allele raises the ratio by .04%. For rs7068966 associated with FEV1, the beta score of .03 means that each T allele raises the FEV1 volume by .03 mls.</p>
<p>&nbsp;</p>
  <p><br/>
</div>

<div class='main2'>
  <div id='help-disease-help'>
    <p class="MsoNormal1">&nbsp;</p>
<p class="MsoNormal1">&nbsp;</p>
    <p class="MsoNormal1">&nbsp;</p>
    <p class="MsoNormal1">&nbsp;</p>
  </div>
</div>