<!--<link href="../css/interpretome.css" rel="stylesheet" type="text/css" />-->
<div>
	<h2>Frequency</h2>
  <button> get frequencies </button>
</div><br><br>
<div>
  <table id = 'freq' class = ''>
  <tr id = 'head'>
  	
  </tr>

  </table>



	</div>


<br class='clear'>