<div class='main2'>
	
  <p class="p1"><span style="font-family:helvetica;"><span style="font-size: 24px;"><span style="color: rgb(51, 51, 51);"><b>Graves&#39; Disease</b></span></span></span></p>
  <ul>
    <li class="p2"><span style="font-family:helvetica;"><a href="#QuickFacts" target="_self"><span style="color:#333333;"><span style="font-size: 16px;">Graves&#39; disease quick facts</span></span></a></span></li>
    <li class="p2"><span style="font-family:helvetica;"><span style="font-size: 16px;"><a href="#GravesDisease"><span style="color:#333333;">What is Graves&#39; disease</span></a><span style="color:#333333;">?</span></span></span></li>
    <li class="p2"><span style="font-family:helvetica;"><span style="font-size: 16px;"><a href="#Symptoms"><span style="color:#333333;">What are the symptoms of Graves&#39; disease</span></a><span style="color:#333333;">?</span></span></span></li>
    <li class="p2"><span style="font-family:helvetica;"><span style="font-size: 16px;"><a href="#Common"><span style="color:#333333;">How common is Graves&rsquo; disease</span></a><span style="color:#333333;">?</span></span></span></li>
    <li class="p2"><span style="font-family:helvetica;"><span style="font-size: 16px;"><a href="#Genes"><span style="color:#333333;">What genes are related to Graves&rsquo; Disease</span></a><span style="color:#333333;">?</span></span></span></li>
    <li class="p3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><a href="#OtherNames"><span style="color:#333333;">What are other names for Graves&rsquo; disease</span></a><span style="color:#333333;">?</span></span></span></li>
    <li class="p3"><span style="font-family:helvetica;"><a href="#AdditionalInfo"><span style="color:#333333;"><span style="font-size: 16px;">For more information on Graves&#39; disease</span></span></a></span></li>
  </ul>
  <p class="p4"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);"><b><i><a id="QuickFacts" name="QuickFacts">Graves&#39; Disease Quick Facts</a>:</i></b></span></span></span></p>
  <p class="p5"><span style="font-family:helvetica;"><span style="font-size:10px;"><span style="color: rgb(51, 51, 51);">From Charles Patrick Davis, MD, PhD</span></span></span></p>
  <ul class="ul1">
    <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Graves&#39; disease is a thyroid condition that results from abnormal stimulation of the thyroid gland by a material in the blood referred to as thyroid stimulating immunoglobins (TSIs) that bind to and activate thyrotropin receptors.</span></span></span></li>
    <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Graves&#39; disease is the most common cause of hyperthyroidism in the US.</span></span></span></li>
    <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">The cause of Graves&#39; disease is thought to be related to many factors including genes, gender, stress, pregnancy, and possibly infections.</span></span></span></li>
    <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Symptoms of Graves&#39; disease include diffuse goiter, problems conceiving a child, lighter menstrual flow and less frequent periods, weight loss, frequent bowel movements, heart palpitations, thinning of hair, brittle hair, hand tremors, problems sleeping, heat insensitivity, increased sweating, eye changes (exophthalmos), and reddening and thickening of the skin on the shins and top of the feet (pretibial myxedema).</span></span></span></li>
    <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Graves&#39; disease affects both men and women; however, women are affected about 8&shy; 10 times more often than men.</span></span></span></li>
    <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Risk factors for Graves&#39; disease are associated with other autoimmune diseases such as vitiligo, rheumatoid arthritis, Addison&#39;s disease, type 1 diabetes, pernicious anemia, and lupus.</span></span></span></li>
    <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Tests to diagnose Graves&#39; disease include thyroid function tests, radioactive iodine uptake tests, and tests to detect TSI&#39;s.</span></span></span></li>
    <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Treatments for Graves&#39; disease include radioactive iodine, antithyroid medications such as methimazole (Tapazole) and propylthiouracil (PTU), andbeta blockers; in some patients, surgery is done.</span></span></span></li>
    <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Untreated Graves&#39; disease can lead to thyrotoxicosis and its severe form, thyroid storm, heart problems, weak and brittle bones, and death.</span></span></span></li>
    <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Poorly treated Graves&#39; disease during pregnancy can cause problems for the woman such as preterm birth, miscarriage, heart failure, preeclampsia, and placental abruption.</span></span></span></li>
    <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Poorly treated Graves&#39; disease can cause health problems for a fetus or baby such as preterm birth, low birth weight, thyroid problems, and still birth.&nbsp;</span></span></span></li>
  </ul>
  <p class="p4"><span style="font-family:helvetica;"><em><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);"><b><a id="GravesDisease" name="GravesDisease">What is Graves&rsquo; Disease</a>?</b></span></span></em></span></p>
  <p class="p3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Graves&rsquo; disease, also known as toxic diffuse goiter and Flajani-Basedow-Graves disease, is an autoimmune disease that affects the function of the thyroid, a butterfly-shaped gland in the lower region of the neck that is responsible for producing hormones that aid in regulating a variety of critical bodily functions such as growth and development, body temperature, menstrual cycles, weight, and heart rate. The disease is often characterized by hyperthyroidism, diffuse goiter, ophthalmopathy, and in some rare cases dermopathy.&nbsp;</span></span></span></p>
  <p class="p3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">The pathogenesis of Graves&#39; disease is illustrated in Figure 1. Specifically, Graves&rsquo; disease is an autoimmune disorder in which antibodies, produced primarily in the thyroid, to the thyroid-stimulating hormone receptor (TSHR), lead to hyperthyroidism, or an increased release of hormones from the thyroid gland. Typically, release of thyroid hormones is mediated by thyroid-stimulating hormone (TSH), a hormone secreted by the pituitary gland that binds to TSHR, which in turn stimulates the thyroid gland to release thyroid hormones. In a normal cycle release of hormones is self-regulated in that the hormones secreted by the thyroid keep more TSH from being produced (Ginsberg, 2003). In the case of Graves&rsquo; disease, the autoantibodies produced are not subject to negative feedback, resulting in continued production and binding to TSHR even when thyroid hormone levels rise too high. These antibodies act as agonists, stimulating more hormones to be released and thus leading to hyperthyroidism.</span></span></span></p>
  <p class="p3" style="text-align: center;"><span style="font-family:helvetica;"><span style="font-size: 16px;"><a href="http://www.cmaj.ca/content/168/5/575/F2.large.jpg"><span style="color: rgb(51, 51, 51);"><img alt="Pathogenesis of Graves' Disease" src="http://www.cmaj.ca/content/168/5/575/F2.large.jpg" style="width: 500px; height: 643px;" /></span></a></span></span></p>
  <p class="p6" style="text-align: center;"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);"><b>Figure&nbsp;1. Proposed pathogenesis of Graves&rsquo; disease. TSH = thyroid-stimulating hormone, T3 = triiodothyronine, T4 = thyroxine.</b></span></span></span></p>
  <p class="p4"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);"><b><i><a id="Symptoms" name="Symptoms">What are the symptoms of Graves&rsquo; Disease</a>?</i></b></span></span></span></p>
  <p class="p3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Excess thyroid hormones may cause a variety of symptoms, including extreme fatigue, rapid and irregular heartbeat, hand tremors, anxiety, frequent bowel movements or diarrhea, increased appetite, profuse sweating, trouble sleeping, and weight loss. Those affected may develop an enlarged thyroid, even causing the the neck to look swollen, sometimes interfering with swallowing and breathing (figures 2 and 3). Some people with Graves&rsquo; disease begin to have eye abnormalities, such as swelling, inflammation, redness, dryness, puffiness, the sensation of having sand in their eyes, and even bulging of the eyes caused by inflammation of the tissue behind the eye and retraction of the eyelids (figures 4 and 5). Rarely, other more serious eyes problems such as double vision, pain, and compression of the optic nerve can cause vision loss. Women may have irregular menstrual cycles, such as infrequent periods or light menstrual flow. Some small percentage of people develop pretrial myxedema, a painless skin abnormality which causes skin on the lower extremities to become thick, red, and lumpy (figure 6).</span></span></span></p>
  <p class="p6" style="text-align: center;"><span style="font-family:helvetica;"><span style="font-size: 16px;"><img alt="Thyroid Goiter" src="http://4.bp.blogspot.com/-BL1_By3OBJ4/UHmVoc_T23I/AAAAAAAAAEg/wSEzv3htJrM/s1600/Nursing%2BCare%2BPlan%2Bfor%2BGoiter%2B-%2BAssessment%2Band%2BDiagnosis.gif" style="width: 581px; height: 305px;" /><img alt="Goiter Symptoms" src="http://www.endocrineweb.com/sites/default/files/imagecache/gallery-large/wysiwyg_imageupload/48/2015/02/11/goiter32558857_s.jpg" style="width: 450px; height: 337px;" /></span></span></p>
  <p class="p6" style="text-align: center;"><span style="font-family:helvetica;"><b style="color: rgb(51, 51, 51); font-size: 16px; text-align: center;">Figure</b><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);"><b>&nbsp;2. Large thyroid goiter examples.</b></span></span></span></p>
  <p class="p6" style="text-align: center;"><span style="font-family:helvetica;"><span style="font-size: 16px;"><a href="http://images.emedicinehealth.com/images/gravesdisease_ab.jpg"><span style="color: rgb(51, 51, 51);"><b><img alt="Thyroid Scan" src="http://images.emedicinehealth.com/images/gravesdisease_ab.jpg" style="width: 400px; height: 213px;" /></b></span></a></span></span></p>
  <p class="p6" style="text-align: center;"><span style="font-family:helvetica;"><b style="color: rgb(51, 51, 51); font-size: 16px; text-align: center;">Figure</b><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);"><b> 3. Thyroid scan: (a) normal/healthy versus (b) Graves&#39; disease&nbsp;shows significant enlargement (goiter).</b></span></span></span></p>
  <p class="p6" style="text-align: center;"><span style="font-family:helvetica;"><span style="font-size: 16px;"><img alt="Opthalmopathy Example" src="http://www.hormone.org/~/media/Hormone/Images/Questions%20and%20Answers/Thyroid/Graves.jpg" style="width: 450px; height: 491px;" /></span></span></p>
  <p class="p6" style="text-align: center;"><span style="font-family:helvetica;"><b style="color: rgb(51, 51, 51); font-size: 16px; text-align: center;">Figure</b><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);"><b> 4.&nbsp;Opthalmopathy: example of normal, healthy eye versus Graves&#39; disease.</b></span></span></span></p>
  <p class="p6" style="text-align: center;"><span style="font-family:helvetica;"><span style="font-size: 16px;"><img alt="Opthalmopathy Scan" src="http://upload.wikimedia.org/wikipedia/commons/8/8d/Graves_Ophthalmopathy_MRT_01.jpg" style="width: 450px; height: 518px;" /></span></span></p>
  <p class="p6" style="text-align: center;"><span style="font-family:helvetica;"><b style="color: rgb(51, 51, 51); font-size: 16px; text-align: center;">Figure</b><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);"><b> 5. MRI scan of patient with opthalmopathy. Arrows indicate&nbsp;inflammed/bulging tissue behind the eyes.</b></span></span></span></p>
  <p class="p6" style="text-align: center;"><span style="font-family:helvetica;"><span style="font-size: 16px;"><img alt="Pretibial Myxedema Example A" src="https://escholarship.org/uc/item/06h136t6/1b.jpg" style="width: 400px; height: 294px;" />&nbsp;<img alt="Pretibial Myxedema Example 2" src="http://file2.answcdn.com/answ-cld/image/upload/w_726,c_fill,g_faces:center,q_60/v1/tk/view/getty/treatment/e45621c4/120065954.jpg" style="width: 400px; height: 601px;" /></span></span></p>
  <p class="p6" style="text-align: center;"><span style="font-family:helvetica;"><b style="color: rgb(51, 51, 51); font-size: 16px; text-align: center;">Figure</b><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);"><b>&nbsp;6: Patients with pretibial myxedema.</b></span></span></span></p>
  <p class="p4"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);"><b><i><a id="Common" name="Common">How common is Graves&rsquo; Disease</a>?</i></b></span></span></span></p>
  <p class="p3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Graves&rsquo; disease is estimated to affect one percent of the population or about 1 in 100 people, with occurrence more often in women than in men, possibly because of hormonal factors. Graves&rsquo; disease is the most common cause of hyperthyroidism, or overactivity of the thyroid, in the United States. (ATA, 2015)</span></span></span></p>
  <p>&nbsp;</p>
  <span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
	<div>
<button id='get-gwas' type='submit'>
	    Show my Graves' disease SNPs
	  </button>
	</div>
 
 
	
</div>

<div class='help2'>
  <div id='help-disease-help'>
    <p class="p4"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);"><b><i><a id="Genes" name="Genes">What genes are related to Graves&rsquo; Disease</a>?</i></b></span></span></span></p>
    <p class="p3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Several predisposing factors can influence a person&#39;s susceptibility to Graves&#39; disease (Ginsberg, 2003), including:</span></span></span></p>
    <ul class="ul1">
      <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Genetic susceptibility (including HLA alleles)&nbsp;</span></span></span></li>
      <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Stress (negative life events)</span></span></span></li>
      <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Smoking (especially associated with ophthalmopathy)</span></span></span></li>
      <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Female sex (sex steroids)&nbsp;</span></span></span></li>
      <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Postpartum period<br />
        Iodine (including amiodarone)&nbsp;</span></span></span></li>
      <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Lithium</span></span></span></li>
      <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Rare factors:</span></span></span>
        <ul class="ul2">
          <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Interferon-<span class="s1">&alpha;</span>&nbsp;therapy&nbsp;</span></span></span></li>
          <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Highly active antiretroviral therapy<br />
            (HAART) for HIV infection&nbsp;</span></span></span></li>
          <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Campath 1-H monoclonal antibody (for<br />
            multiple sclerosis)&nbsp;</span></span></span></li>
        </ul>
      </li>
    </ul>
    <p class="p3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Females are much more likely to contract the disease than males, with the highest-risk ages for either sex being between 40 and 60 years (Weetman, 2000). White and Asian populations are at higher risk than black populations. The onset of Graves&#39; disease is often preceded by some traumatic event, indicating that stress may play a role in initiation. Smoking is also a significant risk factor and is most strongly associated with the development and persistence of ophthalmopathy (Bartalena&nbsp;et al., 1998).</span></span></span></p>
    <p class="p3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Genetic factors are important for predisposition to Graves&#39; disease, but are definitive. Studies in twins show a 20 percent concordance rate between monozygotic twins with the disease and lower rates among dizygotic twins and HLA-identical siblings. Several HLA alleles have been shown to predispose certain groups of people to the disease with&nbsp;variation in region and race&nbsp;(Weetman, 2000). Among the alleles linked between British Caucasians are HLA class II alleles DRB1-0304, DQB1-02, and DQA1-0501 (Heward&nbsp;et al., 1998). HLA alleles associated with susceptibility to Graves&#39; disease is typical of an autoimmune disorder.</span></span></span></p>
    <p class="p3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Through genetic analysis, polymorphisms in the cytotoxic T-lymphocyte antigen 4 (CTLA-4) gene are associated with Graves&#39; disease (Weetman, 2000). CTLA-4 is a receptor expressed on activated T cells that inhibits T cell proliferation by binding to the costimulatory B7 molecule and preventing further activation. CTLA-4 has also been linked to other organ-specific autoimmune diseases and may play a role as an autoimmunity trigger.</span></span></span></p>
    <p class="p3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Another gene linked to Graves&#39; disease is the vitamin D-binding protein (DBP) gene (Pani,&nbsp;<i>et al</i>., 2002). Graves&#39; disease patients have much less vitamin D in their bloodstream than healthy individuals. Pani,&nbsp;<i>et al</i>. found that in a study of nearly a hundred families, a polymorphism of the DBP gene was associated with susceptibility to Graves&#39; disease but not Hashimoto&#39;s thyroiditis, a hypothyroid disease. The mechanism whereby DBP could affect autoimmunity is unknown, but clearly vitamin D regulation is important in Graves&#39; disease.</span></span></span></p>
    <p class="p4"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);"><b><i><a id="OtherNames" name="OtherNames">What are other names for Graves&rsquo; Disease</a>?</i></b></span></span></span></p>
    <ul class="ul1">
      <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Autoimmune hyperthyroidism</span></span></span></li>
      <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Basedow disease</span></span></span></li>
      <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Basedow&#39;s disease</span></span></span></li>
      <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Exophthalmic goiter</span></span></span></li>
      <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);">Toxic diffuse goiter</span></span></span></li>
    </ul>
    <p class="p4"><span style="font-family:helvetica;"><span style="font-size: 16px;"><span style="color: rgb(51, 51, 51);"><b><i><a id="AdditionalInfo" name="AdditionalInfo">Additional information on Graves&rsquo; Disease</a>:</i></b></span></span></span></p>
    <ul class="ul1">
      <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><a href="http://www.nlm.nih.gov/medlineplus/hyperthyroidism.html" target="_blank"><span style="color: rgb(51, 51, 51);">MedlinePlus</span></a><span style="color: rgb(51, 51, 51);">&nbsp;- Health information</span></span></span></li>
      <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><a href="http://www.niddk.nih.gov/health-information/health-topics/endocrine/graves-disease/Pages/fact-sheet.aspx" target="_blank"><span style="color: rgb(51, 51, 51);">National Institute of Diabetes and Digestive and Kidney Diseases</span></a><span style="color: rgb(51, 51, 51);">&nbsp;- Additional NIH Resources - National Institutes of Health</span></span></span></li>
      <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><a href="http://www.diseaseinfosearch.org/Graves%27+Disease/3178" target="_blank"><span style="color: rgb(51, 51, 51);">Educational resources</span></a><span style="color: rgb(51, 51, 51);">&nbsp;- Information page</span></span></span></li>
      <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><a href="http://www.gdatf.org/" target="_blank"><span style="color: rgb(51, 51, 51);">Patient support</span></a><span style="color: rgb(51, 51, 51);">&nbsp;- For patients and families&nbsp;</span></span></span></li>
      <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><a href="http://www.ncbi.nlm.nih.gov/gtr/conditions/C0018213/" target="_blank"><span style="color: rgb(51, 51, 51);">Genetic Testing Registry</span></a><span style="color: rgb(51, 51, 51);">&nbsp;- Repository of genetic test information</span></span></span></li>
      <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><a href="https://clinicaltrials.gov/ct2/results?cond=%22Graves%20disease%22" target="_blank"><span style="color: rgb(51, 51, 51);">ClinicalTrials.gov</span></a><span style="color: rgb(51, 51, 51);">&nbsp;- Linking patients to medical research</span></span></span></li>
      <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=%28Graves%20Disease%5BMAJR%5D%29%20AND%20%28Graves%20disease%5BTI%5D%29%20AND%20english%5Bla%5D%20AND%20human%5Bmh%5D%20AND%20%22last%20360%20days%22%5Bdp%5D" target="_blank"><span style="color: rgb(51, 51, 51);">PubMed</span></a><span style="color: rgb(51, 51, 51);">&nbsp;- Recent literature search2</span></span></span></li>
      <li class="li3"><span style="font-family:helvetica;"><span style="font-size: 16px;"><a href="http://omim.org/entry/275000" target="_blank"><span style="color: rgb(51, 51, 51);">OMIM</span></a><span style="color: rgb(51, 51, 51);">&nbsp;- Online Mendelian Inheritance in Man: Genetic disorder catalog</span></span></span></li>
    </ul>
    <p class="p4"><span style="font-family:helvetica;"><span style="font-size:16px;"><span style="color: rgb(51, 51, 51);"><strong>REFERENCES</strong>:</span></span></span></p>
    <ol>
      <li class="p4"><span style="font-family:helvetica;"><span style="color: rgb(51, 51, 51);">American Thyroid Association. 2015.&nbsp;</span><a href="http://www.thyroid.org/media-main/about-hypothyroidism/"><span style="color: rgb(51, 51, 51);">http://www.thyroid.org/media-main/about-hypothyroidism/</span></a></span></li>
      <li class="p3"><span style="font-size:16px;"><span style="font-family:helvetica;"><span style="color: rgb(51, 51, 51);">Bartalena, L. Orbital radiotherapy for Graves&rsquo; ophthalmopathy. Thyroid. 1998;8(5):439&ndash;441.</span></span></span></li>
      <li class="p3"><span style="font-size:16px;"><span style="font-family:helvetica;"><span style="color: rgb(51, 51, 51);">Ginsberg, J. Diagnosis and management of Graves&rsquo; disease. CMAJ 2003;168(5):575-85.</span></span></span></li>
      <li class="p3"><span style="font-size:16px;"><span style="font-family:helvetica;"><span style="color: rgb(51, 51, 51);">Heward, J.M., Allahabadia, A., Daykin Jet. Linkage disequilibrium between the human leukocyte antigen class II region of the major histocompatibility complex and Graves&rsquo; disease: replication using a population case control and family-based study. J Clin Endocrinol Metab. 1998;83:3394&ndash;7.</span></span></span></li>
      <li class="p3"><span style="font-size:16px;"><span style="font-family:helvetica;"><span style="color: rgb(51, 51, 51);">Pani M.A., Regulla, K., Segni, M., Krause, M., Hofmann, S., Hufner, M., et al. Vitamin D 1alpha-hydroxylase (CYP1alpha) polymorphism in Graves&rsquo; disease, Hashimoto&rsquo;s thyroiditis and type 1 diabetes mellitus. Eur J Endocrinol. 2002;146:777&ndash;81.</span></span></span></li>
      <li class="p3"><span style="font-size:16px;"><span style="font-family:helvetica;"><span style="color: rgb(51, 51, 51);">Weetman, A. P. Graves&#39; Disease. N Engl J Med 2000; 343:1236-1248.</span></span></span></li>
    </ol>
    <p class="p3"></p>
    <p>&nbsp;</p>
  </div>
</div>

<br class='clear'>