
<div class='main2'>
	<h2>Kidney Diseases</h2>
	<p>The kidney functions to filter waste products from the blood into the urine. The function of the kidney is measured by the glomerular filtration rate. A healthy kidney has a glomerular filtration rate  &ge; 90 ml/min for an adult. Chronic kidney disease is defined as people with glomerular filtration rate below 60 ml/min. End stage renal disease is the most severe form of kidney disease, and occurs when the glomerular filtration rate is below 15 ml/min. Patients with end stage renal disease require dialysis or a kidney transplant for survival.</p>
	<p>Creatinine levels in the blood can be used to estimate levels of kidney function. Creatinine is a waste product produced by muscle and cleared by the kidney. With a healthy kidney, creatinine levels are low bu twith a poorly-funcitoning kidney, creatinine levels can rise. Muscle mass in a person also determines the baseline levels of creatinine in the blood, so creatinine levels are somewhat inaccurate at measuring kidney function but are easy to obtain.&nbsp; </p>
	<table width="704" height="142" border="0">
	  <tr>
	    <td width="141"><div align="center"><span class="link" onclick="$('#tabs').tabs('select', '#creatinine');"> Creatinine Levels </span></div></td>
	    <td width="115"><div align="center"><span class="link" onclick="$('#tabs').tabs('select', '#esrd');"> End Stage Renal Disease </span></div></td>
	    <td width="146"><div align="center"><span class="link" onclick="$('#tabs').tabs('select', 'ckd');"> chronic kidney disease GRS</span></div> </td>
      </tr>
	  <tr>
	    <td width="146"><div align="center"><span class="link" onclick="$('#tabs').tabs('select', '#renfun');"> Renal function</span></div></td>
	    <td width="146"><div align="center"><span class="link" onclick="$('#tabs').tabs('select', '#nephropathy');"> Nephropathy</span></div></td>
	    <td width="146"><div align="center"><span class="link" onclick="$('#tabs').tabs('select', '#rentran');"> Renal Transplant Outcome  </span></div></td>

      <!-- </tr>
	  <tr>
	    <td width="146"><div align="center"><span class="link" onclick="$('#tabs').tabs('select', '#magnesium');"> sCR </span></div></td>
	    <td width="146"><div align="center"><span class="link" onclick="$('#tabs').tabs('select', '#homocysteine');"> Urea </span></div></td>
	    <td width="146"><div align="center"><span class="link" onclick="$('#tabs').tabs('select', '#trace');"> Nephropathy </span></div></td>
      </tr>
 -->
  </table>
	<p>&nbsp;</p>
 
 
</div>
  
	
