<style type="text/css">
<link href="../css/interpretome.css" rel="stylesheet" type="text/css">
</style>
<body leftmargin="20" marginwidth="20"><div class='main2'>
	<h2>Lean Body Mass</h2>
<p><img src="media/template/lean/six-pack-abs_14_4.jpg" alt="lean" width="288" height="171" hspace="30" style = "float:left"
;></p>
<p><strong>Lean Body Mass</strong>&nbsp;is body&nbsp;weight minus&nbsp;body&nbsp;fat. Typically,&nbsp;lean body mass&nbsp;is 60-90% of the total&nbsp;body mass. Lean body mass is a good index for quantity and quality of skeletal muscle. </p>
<p>Extremely low body lean mass is related to a series of health problems, such as sarcopenia, impaired protein balance and osteoporosis (<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3682481/#R13" rid="R13" id="__tag_350057095" role="button" aria-expanded="false" aria-haspopup="true">Fry and Rasmussen 2011</a>;&nbsp;<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3682481/#R20" rid="R20" id="__tag_350057096" role="button" aria-expanded="false" aria-haspopup="true">Lee et al. 2011</a>;&nbsp;<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3682481/#R6" rid="R6" id="__tag_319377800" role="button" aria-expanded="false" aria-haspopup="true">Capozza et al. 2008</a>).&nbsp;</p>
<p>Lean body mass is measured by dual energy X-ray absorptionmetry (DXA). </p>
<p>Lean body mass is under strong genetic determination with heritability ranging from 52% to 84% <a href="http://www.ncbi.nlm.nih.gov/pubmed/15800289" rid="bib5 bib6 bib7" role="button" aria-expanded="false" aria-haspopup="true">(Hsu et al., 2005).</a>&nbsp;</p>

	<div>
	<p>(Use ANY RACE for your race.)</p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
      <div>
<button id='get-gwas' type='submit'>
	    Show my lean body mass SNPs
	  </button>
	</div>
  <br/>
  <br/>
	<table id='lean-table' class='results-table hidden tablesorter'>
    <thead>
	  <tr>
      <th>Disease</th>
      <th>Genes</th>
	    <th>dbSNP</th>
      <th>Genotype</th>
      <th>Risk Allele</th>
      <!--<th>Genes</th>-->
      <th>OR</th>
      <th>P-Valuetest</th>
  
      <!--<th>Study Size</th>-->
      <th>Link</th>
	  </tr>
    </thead>
    <tbody>
	  <script id='lean-template' type='text/template'>
		  <tr>
      <td><%= disease_trait %></td> <td><%=  reported_genes %></td>
    <td><%= strongest_snp %></td><td><%= genotype %></td><td><%= risk_allele %></td>
     
      <td><%=  or_or_beta %></td><td><%=  p_value %></td>
      
      <!--<td><%=  initial_sample_size %></td>-->
      <td><a href='<%=  link %>'><%=  pubmedid %></a></td>
		</script>
    </tbody>
	</table>
	
</div>

<div class='help2'>
  <div id='help-disease-help'>
    <p class="MsoNormal1">Subjects carrying the TT genotype at rs7832552 had 2.55 kg higher LBM compared to subjects with CC or CT genotypes. </p>
    <p class="MsoNormal1"><a href="http://www.ncbi.nlm.nih.gov/pubmed/19268274?ordinalpos=1&itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_DefaultReportPanel.Pubmed_RVDocSum">From Liu et al., 2009</a><em>: &quot;TRHR</em>&nbsp;encodes the thyrotropin-releasing hormone receptor, which belongs to the G protein-coupled receptor 1 family. Thyrotropic-releasing hormone (TRH) is a tripeptide (Glu-His-Pro) hormone secreted by the hypothalamus. TRH&nbsp;exerts its effect by binding to TRHR on the surface of&nbsp;pituitary thyrotrophs. The primary consequence of TRH:TRHR binding is activation of the inositol phospholipid-calcium-protein kinase C transduction pathway, which, in turn, stimulates secretion of thyroid-stimulating hormone (TSH) and prolactin (PRL). The TSH response to TRHR is the first step in the hormonal cascade of hypothalamic-pituitary-thyroid axis (HPTA) that eventually leads to the release of thyroxin, which is important in the development of vertebrate skeletal muscle.<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2668008/#bib16" rid="bib16" id="__tag_221694466" role="button" aria-expanded="false" aria-haspopup="true">16</a>&nbsp;Mutations in the&nbsp;<em>TRHR</em>&nbsp;gene may decrease affinity of TRHR for TRH and result in central hypothyroidism,<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2668008/#bib17" rid="bib17" id="__tag_221694457" role="button" aria-expanded="false" aria-haspopup="true">17</a>which causes impaired expression of myosin heavy chain (MHC) isoforms<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2668008/#bib18" rid="bib18" id="__tag_221694467" role="button" aria-expanded="false" aria-haspopup="true">18</a>&nbsp;and diminished muscle cross-sectional areas.<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2668008/#bib19" rid="bib19" id="__tag_221694465" role="button" aria-expanded="false" aria-haspopup="true">19</a>&nbsp;Furthermore, thyroxin is necessary for full anabolic action of the growth hormone-insulin-like growth factor-I (GH-IGF1) axis,<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2668008/#bib20" rid="bib20" id="__tag_221694469" role="button" aria-expanded="false" aria-haspopup="true">20</a>&nbsp;which plays an important role in muscle protein balance and adaptative changes to load.<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2668008/#bib21" rid="bib21 bib22" role="button" aria-expanded="false" aria-haspopup="true">21,22</a>&quot;</p>
    <p class="MsoNormal1"><em>rs2507838</em>&nbsp;is located in <em>GLYAT,</em>&nbsp;which encodes the glycine-N-acyltransferase protein, a metabolic enzyme conjugating glycine with acyl-CoA substrates in the mitochondria.&nbsp;</p>
    <p class="MsoNormal1">&nbsp;</p>
  </div>
</div>