<style type="text/css">
<link href="../css/interpretome.css" rel="stylesheet" type="text/css">
</style>
<body leftmargin="20" marginwidth="20">
<div class='main2'>
<h1>Lung Disease
</h1>
<p><strong>Idiopathic Pulmonary Fibrosis and Interstial Lung Disease:</strong> chronic  diseases characterized by a progressive scarring of lung tissue and decline in lung function. Idiopathic pulmonary fibrosis occurs in people between 50-70 yrs, and affects men more than women.Prevalence of idiopathic pulmonary fibrosis ranges from .004%  for persons aged 18 to 34 yr to .2% among those 75 yr or older.</p>
<p>Symptoms:</p>
<ul>
  <li>Dry, non-productive cough on exertion</li>
  <li>Progressive shortness of breath with exercise</li>
  <li>a crackling sound in the lungs during inhalation similar to Velcro being torn apart slowly, heard with a stethoscope</li>
  <li>disfigurement of the finger tips or toes </li>
  <li>abnormal lung function test<a href="https://en.wikipedia.org/wiki/Pulmonary_function_test" title="Pulmonary function test"></a>&nbsp;results</li>
</ul>
<p><strong>Chronic Obstructive Pumonary Disease:</strong> Refers to a set of pulmonary diseases, primarily <strong>emphysema</strong> and chronic <strong>bronchitis</strong>. Together, pulmonary emphysema and chronic obstructive pulmonary disease (COPD) are the third leading cause of death in the United States. Chronic bronchitis is an inflammation of the lining of your bronchial tubes, which carry air to and from your lungs. Emphysema occurs when the air sacs (alveoli) at the end of the smallest air passages (bronchioles) in the lungs are gradually destroyed.The prevalence of COPD varies by state, from &lt;<em>4%</em>&nbsp;in California, Washington and Minnesota to &gt;<em>9%</em>&nbsp;in Alabama and Kentucky. Smoking is the major environmental cause of COPD. Pulmonary emphysema is common in the general population, occurring in 30&ndash;50% of cigarette smokers, 8% of cigar smokers, and 3% of never-smokers at autopsy.</p>
<p>Symptoms</p>
<ul>
  <li>Shortness of breath, especially during physical activities</li>
  <li>Wheezing</li>
  <li>Chest tightness</li>
  <li>Having to clear your throat first thing in the morning, due to excess mucus in your lungs</li>
  <li>A chronic cough that produces sputum that may be clear, white, yellow or greenish</li>
  <li>Blueness of the lips or fingernail beds (cyanosis)</li>
  <li>Frequent respiratory infections</li>
  <li>Lack of energy</li>
  <li>Unintended weight loss (in later stages)</li>
</ul>
<p>&nbsp;</p>
	<div>
	<p>(Use ANY RACE for your race.)</p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
      <div>
<button id='get-gwas' type='submit'>
	    Show my lung disease SNPs
	  </button>
	</div>
  <br/>
  <br/>
  <
	
</div>

<div class='help2'>
  <div id='help-disease-help'>
    <p class="MsoNormal1"><strong>Idiopathic Pulmonary Fibrosis</strong></p>
<p class="MsoNormal1"><strong>TOLLIP</strong> is an important regulator of innate immune responses mediated by Toll-like receptor and the transforming growth factor &beta; (TGF-&beta;) signalling pathway.&nbsp;<em>TOLLIP</em>&nbsp;polymorphisms are involved in regulation of TLR2 and TLR4 and are associated with susceptibility to tuberculosis,<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3894577/#R23" rid="R23" id="__tag_349946330" role="button" aria-expanded="false" aria-haspopup="true">23</a>&nbsp;atopic dermatitis,<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3894577/#R24" rid="R24" id="__tag_349946350" role="button" aria-expanded="false" aria-haspopup="true">24</a>&nbsp;and sepsis<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3894577/#R25" rid="R25" id="__tag_349946305" role="button" aria-expanded="false" aria-haspopup="true">25</a>.&nbsp;Low expression of the <em>TOLLIP </em>gene may be associated with increased risk for idiopathic pulmonary fibrosis. Two closely-linked SNPs in <em>TOLLIP </em>are associated with IPF and with variation in <em>TOLLIP </em>expression (rs111521887 and rs5743894). For both SNPs, the risk allele for IPF is associated with lower <em>TOLLIP </em>expression.</p>
<p class="MsoNormal1">Mushiroda et al. 2008 (PMID <a href="http://www.ncbi.nlm.nih.gov/pubmed/18835860">18835860</a>) found that rs2736100 located in an intron of the <em>TERT</em> gene is associated with IPF. This is interesting as <em>TERT</em> encodes <strong>telomerase</strong>, which is needed to extend telomeres at cell division. Individuals that are heterozygous for rare, null alleles of TERT are associated with familial IPF.</p>
<p class="MsoNormal1"><strong>COPD/Pulmonary Emphysema</strong></p>
<p class="MsoNormal1">In Manichaikul et al. 2014 (PMID <a href="http://www.ncbi.nlm.nih.gov/pubmed/24383474">24383474</a>), the scores are <strong>beta</strong> scores, refering to <strong>percent emphysema</strong>. For example, each T allele for rs7698250 is associated with 0.46% increased percent of emphysema.</p>
<p class="MsoNormal1"> Kim et al. 2012 (PMID <a href="http://www.ncbi.nlm.nih.gov/pubmed/23144326">23144326</a>) performed a GWAS for association with two <strong>biomarkers of COPD (CC16 and SP-D)</strong>. Clara cell secretory protein (CC16) and surfactant protein D (SP-D) are produced predominantly in the respiratory system (pneumoproteins) and have recently been related to COPD susceptibility and COPD-related clinical phenotypes. The authors first found 35 SNPs that showed an association with levels of CC16 and SP-D. In the next stage of analysis, they found that 5 of the 35 SNPs were also associated with COPD susceptibility. </p>
  </div>
</div>