<style type="text/css">
<!--
div.MsoNormal {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;}
li.MsoNormal {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;}
p.MsoNormal {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;}
div.MsoNormal1 {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;}
li.MsoNormal1 {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;}
p.MsoNormal1 {mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:minor-latin;}
span.SpellE {mso-style-name:"";
	mso-spl-e:yes;}
span.apple-converted-space {mso-style-name:apple-converted-space;
	mso-style-unhide:no;}
-->
</style>

<div class='main2'>

  <h2>Melanoma</h2>
    <hr style = "clear:both;margin:0;display:block">
    <br/>
    <table>
      <tr>
        <td style="text-align:center"><strong>Contents</strong></td>
      </tr>
      <tr>
        <td><a href='#melanoma-intro'>1 Introduction</a></td>
      </tr>
       <tr>
        <td><a href='#melanoma-risk-factors'>2 Risk factors</a></td>
      </tr>
      <tr>
        <td><a href='#melanoma-genetics'>3 Genetics</a></td>
      </tr>
      <tr>
       <td><a href='#melanoma-treatment'>4 Treatment</a></td>
      </tr>
      <tr>
       <td><a href='#melanoma-rehabilitation'>5 Rehabilitation</a></td>
      </tr>
      <tr>
       <td><a href='#melanoma-references'>6 References</a></td>
      </tr>
    </table>

  <div id="melanoma-intro">
    
    <p><strong>Osteoarthritis (OA)</strong> is a debilitating joint disease that is characterized by age and activity-related degeneration of the articular cartilage, the shock-absorbing tissue within a joint. The breakdown of the articular cartilage eventually leads to pain and joint stiffness due to increasing friction between exposed bones. As a result, calcium is deposited on the bone to provide stability to the joint—resulting in bony overgrowth and exacerbated discomfort. Bone spurs, called osteophytes, can also arise as a result of this bone-on-bone contact (Frontera 2008). In addition to loss of articular cartilage, OA can involve changes in the other joint tissues (ie. bone, ligaments, and muscle) as well as inflammation. The joints most commonly affected are the knees, hips, hands and spine (Frontera 2008).</p>

    <p>OA is the most common form of arthritis, affecting up to 40% of US adults over the age of 70 (Dieppe 2005). Onset of the disease is gradual and usually begins after the age of 40. The healthcare and socioeconomic cost of OA is quite high since the primary symptoms are pain and loss of physical function, leading to impaired mobility and reduced quality of life (Moskowitz 2009).</p>

    <p>Development of OA results from a combination of mechanical, biological, and/or genetic factors. It is now accepted that OA is a multifactorial disease, not just a wear-and-tear condition of old age. Heritability estimates for OA range from 40-65% depending on gender, affected joint, and disease severity (Valdes 2011).
</p>
<p>Athletes participating in high-impact sports are at increased risk for developing osteoarthritis earlier in life. They not only induce more cartilage lesions, but are also more susceptible to joint injuries, both of which may cause early onset of the disease (Bennell 2012). </p>
   
  </div>





</div>

<div>
<p>&nbsp;</p>
<h3 id ="melanoma-risk-factors">Risk factors</h3>
<hr/>
<p>Besides genetics, there are four primary risk factors for developing osteoarthritis (Johnson 2014).</p>
<div style="margin-left:30px">
<li><strong>Age:</strong> Age is the most predictive risk factor for osteoarthritis. Approximately 80% of people older than 65 years of age have some evidence of osteoarthritis (Felson 2000).</li>
<li><strong>Obesity:</strong> Being overweight increases force applied to joints and exacerbates joint degradation. Obesity not only predisposes people to osteoarthritis but also speeds up the progression of OA (Felson 2000). For each 5-unit increase in BMI, the risk of knee osteoarthritis increases by 35% (Jiang 2012).</li>
<li><strong>Sex:</strong> Elderly women (over the age of 50) develop osteoarthritis more frequently and with greater severity than elder men (Srikanth 2005). Gender disparities may be caused by differences in bone strength, muscle strength, joint alignment, ligament laxity, and/or post-pregnancy hormonal changes.</li>
<li><strong>Low Bone Mineral Density:</strong> Low BMD has been shown to increase the incidence of osteoarthritis (Hunter 2002).</li>

</div>
<br/>
<img src="media/template/osteoarthritis_files/OARiskFactors.jpg" title="OA risk factors" alt="OA risk factors" style = 'float:right; margin:20px' height = "300px" width = "450px"/>
Risk factors that are more applicable to athletes include abnormal joint anatomy and alignment, joint instability, underlying muscle weakness, being overweight, significant amounts of exercise, and long-term competitive sports (Bierma-Zeinstra 2007).

<br/><br/>

Physical activity may contribute to the development of osteoarthritis through repetitive joint use and placing excessive strain on the joint tissue. There is no evidence to support a causal link between low-to-moderate volume exercise (such as running) and osteoarthritis (Hansen 2012). However, there is an association between elite level athletes and the development of osteoarthritis, most likely due to the repetitive, intense, high-impact nature of endurance and team sports (Hunter 2009). Two studies in athletes have shown that the increased risk for osteoarthritis was due to sports-related injuries rather than training load or sports participation (von Porat 2004; Lohamander 2004).
<br/><br/>

Joint injuries and surgery are also more prevalent in an athletic population and may contribute to the development of osteoarthritis (Saxon 1999). Knee injuries can cause ACL tears, meniscus tears, and articular cartilage damage that all increase the chance of early-onset osteoarthritis within 10 years of the injury (Lohmander 2007). Athletes sustaining a knee injury were 20-40% more likely to have signs of osteoarthritis within 15 years (Oiestad 2009).  Conversely, many recent studies have shown that surgery on injured joints does not increase the chance of osteoarthritis later in life (Lohmander 2007; Hoffelner 2012). Athletes who restrict physical activity to moderate levels post-surgery have a low rate of osteoarthritis (Neuman 2008).


<br/><p>&nbsp;</p>
</div>


<div id='melanoma-genetics'>

<h3>Genetics</h3>
<hr/>




<p>Click to look up all of your osteoarthritis SNPs. (Use ANY RACE for your race.)</p>
  <div>
<button id='get-gwas' type='submit'>
      Show my melanoma SNPs
    </button>
  </div>
  <br/>
  <br/>

  
  <div id ='table'></div>


   <p>Genome-wide association studies (GWAS) have identified 14 genetic loci associated with OA that reach genome-wide significance in European and Asian populations (Gonzalez 2013, Panoutsopoulou 2013, Rodriguez-Fontenla 2014). Together these genes explain up to 6.2% of the variability in the occurrence of osteoarthritis (Evangelou 2013).

    </p>
    <br/>
    <table>
    <tbody>
    <tr>
      <td><strong>rs143383</strong>
       (GDF5, growth/differentiation factor 5):</td> <td>This protein is expressed in the developing central nervous system and plays a role in the development, maintenance and repair of bone, cartilage, and joint tissue (Francis-West 1999). rs143383 is located in the 5’-UTR of the GDF5 gene and the risk allele (T) reduces the levels of GDF5 in the joint tissue (Egli 2009). Studies have shown that mutations in GDF5 lead to musculoskeletal disorders in humans and mice (Cornelis 2011).</td>
    </tr>
<tr>
<td><strong>rs10492367</strong> (PTHLH, parathyroid hormone-like hormone):</td><td>PTHLH regulates bone development by inhibiting chondrocyte cells from growing (Zhang 2012). In humans with pathologic articular cartilage from OA, the levels of PTHLH protein are higher than normal (Okano 1997).</td>
</tr>
<tr>
<td><strong>rs835487</strong> (CHST11, carbohydrate sulfotransferase 11):</td><td>The CHST11 enzyme plays a role in skeletal development by acting on chondroitin sulfate which is a component of cartilage proteoglycans. There is higher expression of CHST11 in osteoarthritic cartilage than there is in normal articular cartilage (Karlsson 2010). Moreover, mice with mutations in CHST11 die due to chondrocyte pathologies and growth plate defects.</td>
</tr>
<tr>
<td><strong>rs11842874</strong> (MCF2L, MCF.2 cell line derived transforming sequence-like):</td><td> MCF2L affects both skeletal and pain related outcomes in OA patients. Studies in zebrafish and mice have implicated MCF2L in cartilage development and shown that it is expressed in articular cartilage (Appleton 2007). In human cells the protein regulates neurotrophin-3-induced cell migration (Liu 2009).</td>
</tr>
<tr>
<td><strong>rs4730250</strong> (DUS4L, dihydrouridine synthase 4-like):</td><td>The DUS4L gene is located in the 7q22 locus with 5 other genes including: GRP22, HPB1, BCAP29 (Evangelou 2013). The risk allele (G) of rs4730250 causes reduced expression of DUS4L in joint tissue. In a mouse model of OA, the GRP22 protein was found in the cartilage and bone of affected joints but not normal tissue (Kerkhof 2010). The HPB1 transcription factor controls the WNT signaling pathway, which is implicated in osteoarthritis pathogenesis, and HPB1 expression is lower in joint tissue from OA patients (Raine 2012).</td>
</tr>
<tr>
<td><strong>rs12982744</strong> (DOT1L, DOT1-like histone H3 methyltransferase):</td><td>This enzyme is a key player in the Wnt/B-catenin signaling pathway that controls the formation of cartilage and bone during joint development (Castano Betancourt 2012).
rs788748 (IGFBP3, insulin-like growth factor binding protein 3): IGFBP’s modulate IGF signaling in the body and the IGFBP3 protein specifically plays a role in cartilage homeostasis during development of the joints. OA patients have higher levels of IGFBP3 in the articular cartilage which leads to faster break down of the cartilage. The risk allele (G) of rs788748 also decreases circulating levels of IGFBP3 which prevents chondrocyte growth (Evans 2014).</td>
</tr>
<tr>
<td><strong>rs788748</strong> (IGFBP3, insulin-like growth factor binding protein 3):</td><td>IGFBP’s modulate IGF signaling in the body and the IGFBP3 protein specifically plays a role in cartilage homeostasis during development of the joints. OA patients have higher levels of IGFBP3 in the articular cartilage which leads to faster break down of the cartilage. The risk allele (G) of rs788748 also decreases circulating levels of IGFBP3 which prevents chondrocyte growth (Evans 2014).</td>
</tr>
</tbody>
</table>

<img src="media/template/osteoarthritis_files/OABiolPathsFig1edit.jpg" title="Genetic regions associated with OA" alt="Genetic regions associated with OA" style = 'float:right; margin:20px' height = "300px" width = "450px"/>
<p>The figure to the right illustrates genes that are located in the genetic regions found to be associated with osteoarthritis in the GWAS studies. The genes are grouped by biological function and a few of the genes are involved in multiple biological processes.</p><p>&nbsp;</p>
</div>

<div id = "melanoma-treatment">
<h3>Treatment</h3>
<hr/>

<p>There is currently no cure for osteoarthritis, only surgical and non-surgical pain management treatments. Initially, the focus is on pain management through pharmaceuticals and supplements. Acetaminophen (commonly known as Tylenol) and non-steroidal anti-inflammatory drugs (NSAIDs) alleviate discomfort and restore functionality (Pincus 2001). Chondroitin and glucosamine are naturally-occurring substances involved in the synthesis of articular cartilage. When taken together, they have demonstrated efficacy in augmenting the articular matrix and slowing the onset of osteoarthritis (Ghosh 1992). 
</p>

<p>If initial treatment does not work, joint injections are a secondary course of action. Corticosteroids reduce inflammation, suppress the immune system, and are usually combined with a painkiller to provide immediate relief to the joint for approximately one month. Steroid injections have also demonstrated improvements in 90% of mildly arthritic patients but only 9-20% of those with severe arthritis (Canle 2012).</p>

<p>Viscosupplementation is the injection of hyaluronic acid directly into the joint. They are administered in a series of three to five weekly injections to increase the "elastoviscosity" of the fluid surrounding the joint. The additional lubrication and shock-absorption improves functionality. An advantage to local injections is that the side effects are limited to that joint. Risks are very low and include damage to the joint tissue, infection, thinning of the cartilage, and more inflammation due to crystallized corticosteroid (DeLee 2010).</p>

<p>Surgery is only implemented in very severe cases where previous treatments have been ineffective at treating symptoms (Altman 2010). In many cases of advanced OA a total joint replacement (TJR) surgery is performed (Katz 2006).</p>
<br/>
</div>

<div id = "melanoma-rehabilitation">
<h3>Rehabilitation</h3>
<hr/>

<p>Rehabilitation has proven to be effective regardless of disease severity. Stretching, strength conditioning, passive motion, and aerobic exercise help develop the joint, which reduces both chronic and acute stressors placed on it. Strengthening exercises provide relief quickly, but are less effective than aerobic exercise over a long period of time (Bennel 2005). These rehabilitative suggestions are generally prescribed to older sedentary populations. Athletes should take care when rehabilitating from sports-induced osteoarthritis with the same exercise that led to the osteoarthritis onset in the first place. 
</p>
<br/>
</div>

<div id = "melanoma-references" >
<h3>References</h3>
<hr/>
<div class='columns2' style='padding-left:1.5em; text-indent:-1.5em'>
<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/20297876">Altman R. Early management of osteoarthritis. Am J Manag Care 2010; 16:S41-7.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/17530714">Appleton C, et al. Global analyses of gene expression in early experimental osteoarthritis. Arthritis Rheum 2007; 56:1854-68.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/16093845">Bennell K & Hinman R. Exercise as a treatment for osteoarthritis. Curr Opin Rheumatol 2005; 17:634-40.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/22847471">Bennell K, Hunter DJ, Vicenzino B. Long-term effects of sport: preventing and managing OA in the athlete. Nat Rev Rheumatol 2012; 8(12):747-52.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/17299445">Bierma-Zeinstra S & Koes B. Risk factors and prognostic factors of hip and knee osteoarthritis. Nat Clin Pract Rheumatol 2007; 3:78-85.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmedhealth/PMH0020970/">Brosseau L, Pelland L, Wells G, et al. Efficacy of aerobic exercises for osteoarthritis. Part II: a meta-analysis. Phys Ther Rev 2004; 9:125-145.</a></p>

<p class="reference">Canale & Beaty: Campbell's Operative Orthopaedics (12th ed.) 2012.</p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/22566624">Castano Betancourt M, et al. Genome-wide association and functional studies identifies the DOT1L gene to be involved in cartilage thickness and hip osteoarthritis. Proc Natl Acad Sci USA 2012; 109:8218-23.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/21878190">Cornelis F, Luyten F, Lories R. Functional effects of susceptibility genes in osteoarthritis. Discov Med 2011; 12:129-39.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/10680190">Delafuente J. Glucosamine in the treatment of osteoarthritis. Rheum Dis Clin North Am 2000; 26:1-11.</a>
</p>
<p class="reference">DeLee J, Drez D, & Miller M. Delee and Drez's orthopaedic sports medicine. (3rd ed., Vol. 1) 2010. Philadelphia, PA: Saunders Elsevier.
</p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/15766999">Dieppe P & Lohmander L. Pathogenesis and management of pain in osteoarthritis. Lancet 2005; 365:965-73.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/19565498">Egli R, et al. Functional analysis of the osteoarthritis susceptibility–associated GDF5 regulatory polymorphism. Arthritis Rheum 2009; 60:2055-64.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/21068099">Evangelou E, et al. Meta-analysis of genome-wide association studies confirms a susceptibility locus for knee osteoarthritis on chromosome 7q22. Ann Rheum Dis 2013; 70(2):349-55.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/24928840">Evans D, et al. Genome-wide association and functional studies identify a role for IGFBP3 in hip osteoarthritis. Ann Rheum Dis 2014.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/11033593">Felson D, et al. Osteoarthritis: new insights. Part: the disease and its risk factors. Ann Intern Med 2000;133:635–44.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/10021348">Francis-West P,  et al. Mechanisms of GDF-5 action during skeletal development. Development 1999; 126 (6):1305–15.</a></p>

<p class="reference">Frontera W, Silver J, Rizzo T. Osteoarthritis. Essentials of Physical Medicine and Rehabilitation: Musculoskeletal Disorders, Pain, and Rehabilitation (2nd ed.) 2008. Philadelphia, PA: Saunders Elsevier.</p>

<p class="reference">Ghosh P, Smith M, Wells C. Second-line agents in osteoarthritis. In: Dixon J, Furst D, ed. Second Line Agents in the Treatment of Rheumatic Diseases.1992; p363-427. New York: Marcel Dekker.</p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/23845519">Gonzalez A. Osteoarthritis year 2013 in review: genetics and genomics. Osteoarthr Cartil 2013; 21(10):1443-51.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/22632690">Hansen P, English M, Willick S. Does running cause osteoarthritis in the hip or knee. Am Acad Phys Med Rehab 2012; 4:117–21.</a> 
</p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/22265043">Hoffelner T, Resch H, Moroder P. No increased occurrence of osteoarthritis after anterior cruciate ligament reconstruction after isolated anterior cruciate ligament injury in athletes. Arthroscopy 2012; 28;517–25.</a> </p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/19207981">Hunter D & Eckstein F. Exercise and osteoarthritis. J Anat 2009; 214:197–207.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/11892719">Hunter D, March L, Sambrook P. Knee osteoarthritis: the influence of environmental factors. Clin Exp Rheumatol 2002; 20:93-100.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/10356418">Hurley M. The role of muscle weakness in the pathogenesis of osteoarthritis. Rheum Dis Clin North Am 1999; 25:283-98.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/21803633">Jiang L, et al. Body mass index and susceptibility to knee osteoarthritis: a systematic review and meta-analysis. Joint Bone Spine 2012; 79:291–7.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/24792942">Johnson V & Hunter D. The epidemiology of osteoarthritis. Best Practice & Research Clinical Rheumatology 2014; 28:5–15.</a></p>



<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/20060954">Karlsson C, et al. Genome-wide expression profiling reveals new candidate genes associated with osteoarthritis. Osteoarthritis Cartilage 2010; 18:581-92.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/16483913">Katz J. Total joint replacement in osteoarthritis. Best Pract Res Clin Rheumatol 2006; 20:154-53.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/20112360">Kerkhof H, et al. A genome-wide association study identifies an osteoarthritis susceptibility locus on chromosome 7q22, Arthritis Rheum 2010; 62:499-510.</a></p>



<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/19366686">Liu Z, Adams H, Whitehead I. The rhospecific guanine nucleotide exchange factor Dbs regulates breast cancer cell migration. J Biol Chem 2009; 284:15771-80.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/15476248">Lohamnder L, et al. High prevalence of knee osteoarthritis,pain and functional limitations in female soccer players twelve years after anterior cruciate ligament injury. Arthritis Rheum 2004; 50:3145–52. </p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/17761605">Lohmander L, et al. The long-term consequences of anterior cruciate ligament and meniscus injuries. Am J Sports Med 2007; 35:1756–69.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/19817508">Moskowitz R. The burden of osteoarthritis: clinical and quality-of-life issues. Am J Manag Care 2009; 15:S223-9.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/18483197">Neuman P, Englund M, Kostogiannis I. Prevalence of tibiofemoral osteoarthritis 15 years after nonoperative treatment of anterior cruciate ligament injury: a prospective cohort study. Am J Sports Med 2008; 36:1717–25.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/19567666">Oiestad B, Engebretsen L, Storheim K. Knee osteoarthritis after anterior cruciate ligament injury. Am J Sports Med 2009;; 37:1434–43.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/9167618">Okano K, et al. Expression of parathyroid hormone-related peptide in human osteoarthritis. J Orthop Res 1997; 15:175-80.</a></p>


<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/23868913">Panoutsopoulou K & Zeggini E. Advances in osteoarthritis genetics. J Med Genet 2013; 50:715-24.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmedhealth/PMH0020970/">Pelland L, Brosseau L, Wells G, et al. Efficacy of strengthening exercises for osteoarthritis. Part I: a meta-analysis. Phys Ther Rev 2004; 9:77-108.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/11465710">Pincus T, Koch G, Sokka T, et al. A randomized, double-blind, crossover clinical trial of diclofenac plus misoprostol versus acetaminophen in patients with osteoarthritis of the hip or knee. Arthritis Rheum 2001; 44:1587-98.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/22586168">Raine E, et al. Gene expression analysis reveals HBP1 as a key target for the osteoarthritis susceptibility locus that maps to chromosome 7q22. Ann Rheum Dis 2012; 71:2020-7.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/23958796">Reynard L & Loughlin J. Insights from human genetic studies into the pathways involved in osteoarthritis. Nat Rev Rheumatol 2013; 9(10):573-83.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/24992825">Rodriguez-Fontenla C & Gonzalez A. Genetics of osteoarthritis. Reumatol Clin. 2014.</a></p>

<p class="reference">Saxon L, Finch C, Bass S. Sports participation, sports injuries and osteoarthritis: implications for prevention. Sports Med 1999; 28:123-35.</p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/15978850">Srikanth V, et al. A meta-analysis of sex differences prevalence, incidence and severity of osteoarthritis. Osteoarthritis Cartil 2005;13:769–81.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/21079645">Valdes A & Spector T. Genetic epidemiology of hip and knee osteoarthritis. Nat Rev Rhematol 2011; 7:23-35.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/14962961">von Porat A, Roos E, Roos H. High prevalence of knee osteoarthritis 14 years after an anterior cruciate ligament tear in male soccer players: a study of radiographic and patient relevant outcomes. Ann Rheum Dis 2004; 63:269–73.</a></p>

<p class="reference"><a href="http://www.ncbi.nlm.nih.gov/pubmed/22971952">Zhang W, et al. Inhibitory function of parathyroid like-hormone protein on chondrocyte hypertrophy: the implication for articular cartilage repair. Arthritis Res Ther 2012: 14:221.</a></p>
</div>
</div>


<div><span
class="apple-converted-space">
  <o:p></o:p>
</span></span></p>
    <p class="MsoNormal1">
      <o:p>&nbsp;</o:p>
    </p>
    <p class="MsoNormal1"><span style='color:black;background:white'>
      <o:p>&nbsp;</o:p>
    </span></p>
    <p class="MsoNormal1"><span style='mso-no-proof:yes'>
      <!--[if gte vml 1]><v:shapetype
 id="_x0000_t75" coordsize="21600,21600" o:spt="75" o:preferrelative="t"
 path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
 <v:stroke joinstyle="miter"/>
 <v:formulas>
  <v:f eqn="if lineDrawn pixelLineWidth 0"/>
  <v:f eqn="sum @0 1 0"/>
  <v:f eqn="sum 0 0 @1"/>
  <v:f eqn="prod @2 1 2"/>
  <v:f eqn="prod @3 21600 pixelWidth"/>
  <v:f eqn="prod @3 21600 pixelHeight"/>
  <v:f eqn="sum @0 0 1"/>
  <v:f eqn="prod @6 1 2"/>
  <v:f eqn="prod @7 21600 pixelWidth"/>
  <v:f eqn="sum @8 21600 0"/>
  <v:f eqn="prod @7 21600 pixelHeight"/>
  <v:f eqn="sum @10 21600 0"/>
 </v:formulas>
 <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
 <o:lock v:ext="edit" aspectratio="t"/>
</v:shapetype><v:shape id="Picture_x0020_1" o:spid="_x0000_i1025" type="#_x0000_t75"
 alt="Description: An external file that holds a picture, illustration, etc.&#10;Object name is nihms10068f1.jpg"
 style='width:323pt;height:377pt;visibility:visible;mso-wrap-style:square'>
 <v:imagedata src="AMD_files/image001.jpg" o:title="An external file that holds a picture, illustration, etc.&#10;Object name is nihms10068f1.jpg"/>
</v:shape><![endif]-->
     


<![if !vml]>
    <!-----  <img
src="/media/template/AMD_files/image002.png"
alt="Description: An external file that holds a picture, illustration, etc.
Object name is nihms10068f1.jpg" width="325" height="379" hspace="20" vspace="20" align="left"
v:shapes="Picture_x0020_1" />
      <![endif]>
      </span><span class="apple-converted-space"><span
style='color:black;background:white'><span
style="mso-spacerun:yes">&nbsp;</span>
      <o:p></o:p>
    </span></span></p>
    <p class="MsoNormal1"><span class="apple-converted-space"><span style='color:black;
background:white'>We see that the AA (CC) genotype is associated with increased
      risk of AMD for SNP rs380390 and the BB (CC) genotype is associated with
      protection from AMD in the SNP rs1329428, but the latter was not significant
      after including re-genotyped individuals who previously were unable to be
      genotyped for this SNP.<span style="mso-spacerun:yes">&nbsp; </span></span></span><span
style='color:black;background:white'>
  <o:p></o:p>
</span></p>
    <p class="MsoNormal1">
      <o:p>&nbsp;</o:p>
    </p>
    <p class="MsoNormal1">
      <o:p>&nbsp;</o:p>
    </p>
    <p align="left" class="MsoNormal1">Sources: </p>
    <p><a href="https://www.nei.nih.gov/health/errors/hyperopia">Facts about Hyperopia. National Eye Institute (NEI).&nbsp; The National Institutes of Health</a>. &nbsp;<a href="https://www.nei.nih.gov/health/errors/hyperopia"></a></p>
    <p><a href="http://www.sciencedirect.com/science/article/pii/S0002939412007635">Miller, Joan (2013). Age-Related Macular Degeneration
      Revisited &#8211; Piecing the Puzzle: The LXIX Edward Jackson Memorial
    Lecture.<span style="mso-spacerun:yes">&nbsp; </span><i style='mso-bidi-font-style:
normal'>American Journal of Ophthalmology</i> 155: 1-35</a></p>
<p class="MsoNormal1" style='margin-left:.5in;mso-layout-grid-align:none;
text-autospace:none'><a href="http://www.ncbi.nlm.nih.gov/pubmed/15761122">Klein, Robert J. et al (2005).<span
style="mso-spacerun:yes">&nbsp; </span>Complement Factor H Polymorphism in
  Age-Related Macular Degeneration.<span style="mso-spacerun:yes">&nbsp; </span>Science 308 (5720): 385-389</a> <span
style='font-size:10.0pt;font-family:Arial;color:black;background:white'>
    <o:p></o:p>
    </span></p>
<p>&nbsp;</p>
  </div>
</div>
---->
<br class='clear'>