<p>&nbsp;</p>
<p>&nbsp;</p>
<div class='main2'>
	
<h3><a href="#symptoms">Symptoms</a></h3>
<h3><a href="#genetics">Genetics</a></h3>
<h3><a name="symptoms" id="symptoms"></a>Symptoms</h3>
<p>Migraines may progress through four stages: prodrome, aura, headache and postdrome.</p>
<h3>Prodrome</h3>
<p>One or two days before a migraine, you may notice subtle changes that signify an oncoming migraine, including:</p>
<ul>
  <li>Constipation</li>
  <li>Depression</li>
  <li>Food cravings</li>
  <li>Hyperactivity</li>
  <li>Irritability</li>
  <li>Neck stiffness</li>
  <li>Uncontrollable yawning</li>
</ul>
<h3>Aura</h3>
<p>Aura may occur before or during migraine headaches. Auras are nervous system symptoms that are usually visual disturbances, such as flashes of light. Examples of aura include:</p>
<ul>
  <li>Visual phenomena, such as seeing various shapes, bright spots or flashes of light</li>
  <li>Vision loss</li>
  <li>Pins and needles sensations in an arm or leg</li>
  <li>Speech or language problems (aphasia)</li>
</ul>
<p>Less commonly, an aura may be associated with limb weakness (hemiplegic migraine).  Aura symptoms usually  last for 20 to 60 minutes. </p>
<h3>Attack</h3>
<p>When untreated, a migraine usually lasts from four to 72 hours, but the frequency with which headaches occur varies from person to person. During a migraine, you may experience:</p>
<ul>
  <li>Pain on one or both sides of your head</li>
  <li>Pain that has a pulsating, throbbing quality</li>
  <li>Sensitivity to light, sounds and sometimes smells</li>
  <li>Nausea and vomiting</li>
  <li>Blurred vision</li>
  <li>Lightheadedness, sometimes followed by fainting</li>
</ul>
<h3>Postdrome</h3>
<p>The final phase, known as postdrome, occurs after a migraine attack. During this time you may feel drained and washed out, though some people report feeling mildly euphoric.</p>
<p>Click to look up your migraine SNPs. (use ANY race, do not use your specific race.)</p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
	<div>
<button id='get-gwas' type='submit'>
	    Show my migraine SNPs
	  </button>
	</div>
  <br/>
  <br/>


<div class='help2'>
  <div id='help-disease-help'>
    <h3><a name="genetics" id="genetics"></a>Genetics</h3>
    <p>rs1835740 can explain 1.5-2.5% of the variance in migaines.</p>
    <p>rs1835740 is an expression SNP for the MTDH gene (risk T is higher, C is lower, expression).</p>
    <p>MTDH (metadherin) down-regulates the major glutamate receptor in the brain (GLT1). So variation in glutamate neurotransmitter levels may be a mechanism for causing migraines.</p>
    <p>&nbsp;</p>
  </div>
</div>

<br class='clear'>