<link href="../css/interpretome.css" rel="stylesheet" type="text/css">
<div class='main2'>
	
<
<p>Click to look up your XXX SNPs (use ANY Race, do not use your specific race). </p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
<p>&nbsp;</p>
	<div>
<button id='get-gwas-1' type='submit'>
	    Show my XXX SNPs
	  </button>
    
  <br/>
  <br/>
  
 
  <p>Click to look up your XXX SNPs (use ANY Race, do not use your specific race). </p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
<p>&nbsp;</p>
	<div>
<button id='get-gwas-2' type='submit'>
	    Show my XXX SNPs
	  </button>
    
  <br/>
  <br/>
	
	
</div>

<div class='help2'>
  <div id='help-disease-help'>
  
    <p>&nbsp;</p>
  </div>
</div>

<br class='clear'>