<div class='main2'>
	
<h2>Musician's Dystonia </h2>
<table width="1046" border="0">
  <tr>
    <td width="633"><img src="/media/graphics/musicians dystonia.png" alt="mus dyst" width="633" height="438" hspace="20" /></td>
    <td width="403">Musician&rsquo;s dystonia most commonly affects the hand, causing fingers to curl under or jut out inappropriately. The Figure shows several examples of Musician's dystonia. It occurs not only among pianists but also among string and woodwind players, guitarists and percussionists. In addition, brass and woodwind players are susceptible to embouchure dystonia, which may cause the lips to tremble or the jaw to lock, or otherwise affect the face, mouth and tongue. </td>
  </tr>
</table>
<p>&nbsp;</p>
<p>One-two percent of musician's are affected with musician's dystonia, 93 percent of whom are classical musicians, and 81 percent are male. Part of the problem of being a classical musician is that &ldquo;you have to hit the target exactly&rdquo; every time.</p>
<p>Notable musician's with dystonia (<a href="http://www.nytimes.com/2012/03/14/arts/music/dystonia-which-struck-glenn-gould-and-other-musicians.html?_r=0">2</a>):</p>
<blockquote>
  <p>Canadian pianist&nbsp;<a title="Web site for Gould." href="http://www.glenngould.com/">Glenn Gould</a>&nbsp;- Gould&rsquo;s &ldquo;hand that does not easily widen&rdquo; and noted that his &ldquo;middle and ring fingers keep close company (<a href="http://www.handoc.com/Documents/GOULD_Tubiana20001.pdf">1</a>). </p>
  <p>19th-century composer Robert Schumann had fingering difficulties at the keyboard.</p>
  <p><a title="Web page for Mr. Fleisher." href="http://franksalomon.com/artist.php?aid=36">Leon Fleisher</a>&nbsp;and&nbsp;<a title="New York Times articles about Mr. Graffman." href="http://www.nytimes.com/keyword/gary-graffman">Gary Graffman</a>, two of the brightest lights of a stellar generation of American pianists, in the 1960s and &rsquo;70s.&nbsp;</p>
  <p><a title="Web site for Mr. McLaughlin." href="http://www.billymclaughlin.com/">Billy McLaughlin</a>, an acoustic guitarist, and&nbsp;<a title="Web site for Mr. Thomson." href="http://www.captainfiddle.com/">Ryan J. Thomson</a>, a multistyle violinist.</p>
  <p>German early-music violinist Reinhard Goebel.</p>
  <p>&nbsp;<a title="New York Times article on the cases of Mr. Leisner, Mr. Goebel and Mr. Oundjian by James R. Oestreich." href="http://www.nytimes.com/1996/08/27/arts/in-music-as-well-as-sports-injuries-can-end-a-career.html">Classical guitarist David Leisner</a></p>
</blockquote>
<p>Click to look up your Musician's dystonia SNPs (use ANY Race, do not use your specific race). </p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend</span>
<div>
  <button id='get-gwas' type='submit'>
	    Show my Musician's dystonia SNPs
  </button>
    
  <br/>
  <br/>
	
	
</div>

<div class='help2'>
  <div id='help-disease-help'>
  
    <p>rs11655081 is located in the intron of the&nbsp;<em>ARSG</em>&nbsp;gene. <em>ARSG</em> encodes a sulfatase that hydrolyzes sulfate esters, and is important for in cell signaling, protein degradation, and hormone biosynthesis. In dogs, a homozygous mutation in the&nbsp;<em>arsg</em>&nbsp;gene causes neuronal ceroid lipofuscinosis [<a href="http://onlinelibrary.wiley.com/enhanced/doi/10.1002/mds.25791/#mds25791-bib-0029" rel="references:#mds25791-bib-0029" title="Link to bibliographic citation">3</a>], whereas<em>arsg</em>-deficient mice accumulate heparan sulfate in visceral organs and the central nervous system and develop neuronal cell death and behavioral deficits [<a href="http://onlinelibrary.wiley.com/enhanced/doi/10.1002/mds.25791/#mds25791-bib-0030" rel="references:#mds25791-bib-0030" title="Link to bibliographic citation">4</a>]. Interestingly, dystonia has been described as a feature of ceroid lipofucscinosis.</p>
    <p>The frequency of the risk of rs11655081 varies substantially across different populations ( 5% to 56%). This observation suggests that rs11655081is not the causal variant, but is linked to a mutation associated with musician's dystonia near  the&nbsp;<em>ARSG</em>&nbsp;gene.&nbsp;</p>
  </div>
</div>

<br class='clear'> 
