<div class='main'>
  <h2>Neandertal Exercise</h2>
  <br/>
  <div>
    <div>
      <textarea readonly='readonly' id='neandertal-snps-textarea' rows='6' cols='30'>
10484939
10494778
10800485
10852939
10915846
10971319
10971346
11252810
11750694
11792454
11815066
12216299
12416000
12571093
1330692
1556249
16845098
16870040
16917040
16918958
16965666
17133762
17226291
17231602
17254301
17324630
17324756
17430552
17503834
17628931
17745316
2290349
2297216
2753977
332951
4692788
4794826
6670818
7100599
7536180
9609421
963660
</textarea>
<br/>

<button id='predict_neandertal' type='submit' class='button'>
    Quantify my Neandertal ancestry
</button>

<br/>
<br/>

<div id='show_pics', class='hidden'>
  <span id='man' class='left_third'>
    <img src='/media/graphics/man.jpg' width='200'>
  </span>
  <span id='neandertal_chart' class='middle_third'>
  </span>
  <span id='neandertal-image' class='right_third'>
    <img src='/media/graphics/neandertal.jpg' width='200'>
  </span>
</div>
</div>
<br/>

<div id='count_neandertal', class='hidden'>
  <h2>
  My Neandertal index is
  <span id='total_neandertal_index'>
    
  </span>
  /
  <span id='total_neandertal'>
    
  </span>
  !
  </h2>
</div>

<div id='neandertal_23andMe', class='hidden'>
      Enter your 23andMe Neandertal Ancestry Percentage <textarea id='neandertal_23andMe_box' rows='1' cols='10'></textarea>
</div>

<div id='submit-button'>
  <button id='submit-neandertal' type='submit', class='button'>
    Submit my Neandertal ancestry
  </button>
</div>


<br/>
<br/>
<table id='neandertal_table' class='results-table hidden'>
  <thead>
  <tr>
    <th>dbSNP</th>
    <th>Derived Allele</th>
    <th>Ancestral Allele</th>
    <th>Out of Africa Allele</th>
    <th>Genotype</th>
    <th>Count</th>
  </tr>
  </thead>
  <tbody>
  <script id='neandertal_template' type='text/template'>
    <tr>
      <td><%= dbsnp %></td>
      <td><%= derived_allele %></td>
      <td><%= ancestral_allele %></td>
      <td><%= out_of_africa_allele %></td>
      <td><%= genotype %></td>
      <td><%= count %></td>
    </tr>
  </script>
  </tbody>
</table>
<br/>
<br/>
<!-- <a href='https://www.23andme.com/you/labs/neanderthal/' target="_blank">Check out your Neandertal ancestry at 23andMe.</a> -->

</div>
</div><!-- .main -->

<div class='help'>
  <div id='help-neandertal-help'>
 	<h2>Neandertal</h2>
	Recent evidence has suggested that humans may have interbred with Neandertals after their migration out of Africa.
	With the <a href='http://www.sciencemag.org/content/328/5979/710.abstract'>sequencing of the Neandertal genome</a>,
	variants have been found in Neandertals and Europeans and Asians, but not Africans.
	<br/><br/>
	In this exercise, you can count the number of Neandertal alleles in your personal genotype.
	Note that this index is not an actual measure of your physical similarity to a Neandertal.
	<br/><br/>
	This analysis is adapted from <a href='http://spittoon.23andme.com/2010/05/06/new-evidence-suggests-interbreeding-between-humans-and-neanderthals/'>David Lonard's analysis on the Spittoon Blog</a>.
  </div>
</div><!-- .help -->

<br class='clear'>