<!--<link href="../css/interpretome.css" rel="stylesheet" type="text/css" />-->
<div class='main2'>
	<h2>Obesity</h2>
	
<p>Obesity is defined as Body Mass Index &gt; 30, where BMI is kg/m<sup>2</sup>.</p>
<p>Click to look up your Obesity Genetic Risk Score for Europeans. (use ANY Race, do not use your specific race). </p>
<p>&nbsp;</p>
	<div>
	<p>(Use ANY RACE for your race.)</p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
      <div>
<button id='get-gwas' type='submit'>
	    Show my Obesity CEU score
	  </button>
	</div>
  <br/>
  <br/>

  <div id='Obesity-chart' class='google-charts'></div> <br /><br />


	<table id='obesity-table' class='results-table hidden tablesorter'>
    <thead>
	  <tr>
	    <th>dbSNP</th>
      <th>Genotype</th>
      <th>Risk Allele</th>
      <th>β</th>
      <th>Score</th>
	  </tr>
    </thead>
    <tbody>
	  <script id='obesity-template' type='text/template'>
		  <tr>
        <td><%= dbsnp %></td>
        <td><%= genotype %></td>
        <td><%= risk_allele %></td>
        <td><%= beta %></td>
      </tr>
		</script>
    </tbody>
	</table>
	
</div>

<div class='help2'>
  <p><a href="http://www.ncbi.nlm.nih.gov/pubmed/23701538">Belsky et al., 2013</a> derived a genetic risk score for obesity. The genetic risk score involves 32 SNPs associated with obesity weighted by their effect sizes.  </p>
  <table width="936" border="0">
    <tr>
      <td width="329"><img src="/media/template/obesity/obesitygrs1.png" alt="obesity" width="289" height="355" hspace="20" align="left" /></td>
      <td width="591">1. The correlation of the Obesity Genetic Risk score with BMI was 0.13 for 8,236 European participants. The <a href="http://www.ncbi.nlm.nih.gov/pubmed/23701538">figure </a> at left shows that the bottom quintile has about a 16% chance of being obese and the top quintile has about a 27% chance of being obese. This effect size corresponded to a 0.60 unit increase in BMI per standard-deviation increase in the GRS. For each standard deviation increase in weighted GRSs, risk for obesity increases by  20.51%.</td>
    </tr>
  </table>
  <table width="936" border="0">
    <tr>
      <td width="331"><table width="200" border="0">
        <tr>
          <td><img src="/media/template/obesity/obesity2.png" width="290" height="265" alt="auc" /></td>
          <td>&nbsp;</td>
        </tr>
      </table></td>
      <td width="589">2. The <a href="http://www.ncbi.nlm.nih.gov/pubmed/23701538">area under the curve</a> for the obesity genetic risk score is 0.57. The baseline model uses only gender and age to predict obesity. Socioeconomic status has an AUC of .53.</td>
    </tr>
  </table>
  <p>The GRS improved prediction of BMI and obesity over and above demographic and geographic information, FTO and MC4R genotypes, and information about socioeconomic status. The obesity GRS did not work very well for African Americans, so this genetic risk score is best suited for Europeans.</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
 
</div>

<br class='clear'>