<style type="text/css">
<link href="../css/interpretome.css" rel="stylesheet" type="text/css">
</style>
<body leftmargin="20" marginwidth="20"><div class='main2'>
	<h2>PON1 activity</h2>
<p> PON1 is an esterase and also a component of high density lipoprotein. High HDL levels are correlated with protection from cardiovascular disease. However, results from PON1 as well as other studies show that HDL levels correlate with cardiovascular disease but do not directly cause the disease. </p>
<p>The activity of  PON1 can be measured using different substrates. When the substrate is paraoxon, the activity is referred to as paraoxonase activity. When the subtrate is  phenyl acetate, the activity is arylesterase. </p>
<div>
  <p>(Use ANY RACE for your race.)</p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
      <div>
<button id='get-gwas' type='submit'>
	    Show my PON1 activity SNPs
	  </button>
	</div>
  <br/>
  <br/>
	<table id='paraoxonase-table' class='results-table hidden tablesorter'>
    <thead>
	  <tr>
      <th>Disease</th>
      <th>Genes</th>
	    <th>dbSNP</th>
      <th>Genotype</th>
      <th>Risk Allele</th>
      <!--<th>Genes</th>-->
      <th>OR</th>
      <th>P-Valuetest</th>
  
      <!--<th>Study Size</th>-->
      <th>Link</th>
	  </tr>
    </thead>
    <tbody>
	  <script id='paraoxonase-template' type='text/template'>
		  <tr>
      <td><%= disease_trait %></td> <td><%=  reported_genes %></td>
    <td><%= strongest_snp %></td><td><%= genotype %></td><td><%= risk_allele %></td>
     
      <td><%=  or_or_beta %></td><td><%=  p_value %></td>
      
      <!--<td><%=  initial_sample_size %></td>-->
      <td><a href='<%=  link %>'><%=  pubmedid %></a></td>
		</script>
    </tbody>
	</table>
	
</div>

<div class='help2'>
  <div id='help-disease-help'>
    <p class="MsoNormal1"><strong>rs2057681</strong> is in near complete linkage disequilibrium with rs662, which is a missense mutation affecting PON1 activity (Q192R).  rs2057681 predominantly affects paraoxonase rather than arylesterase activity. The A allele has about 3.8 times more activity than the G allele; GG, AG and AA individuals have mean paraoxonase levels of 377, 929, and 1433 nmoles/min/ml, respectively. </p>
    <p class="MsoNormal1"><strong>rs854572</strong> predominantly affects arylesterase activity. The C allele has about 1.35 times more activity than the G allele; GG, GC and CC individuals have mean arylestase activities of 88, 104 and 119&micro;moles/min/ml, respectively.&nbsp;</p>
    <p class="MsoNormal1">PON1 activity is not associated with cardiovascular disease risk, indicating that HDL associates with cardiovascular disease but does not cause it.</p>
  </div>
</div>