<div class='main'>
  <h2>Phasing</h2>
  <br/>
  <h3><i>Under development</i></h3>
  <br/><br/>
  <div>
    <button id='compute-phasing' type='submit'>
      Phase my Chromosomes
    </button>
  </div>
  <br/>
  <div id='submit-button'>
    <button id='download-phase' type='submit', class='button'>
      Download phased SNPs
    </button>
  </div>
  <div id='phasing-genome' title='Phasing' class='dialog hidden'>
    Please be patient. This will take an undetermined amount of time.
    <br/>
    <br/>
    <strong>Phasing</strong>: <span id='chrom-phased'></span>
    <div id='phasing-bar' class='progress-bar'>
    </div>
  </div>
</div>

<div class='help'>
  <div id='help-phasing-help'>
    <h2>Chromosome Phasing</h2>
    We will hopefully be performing population-based phasing of chromosomes soon!
    <!--This will use African American, European, Chinese, Mexican, and Yoruban HapMap reference populations.
    Please choose one of these populations listed above.-->
    <!--As humans migrated out of Africa ~100,000 years ago, populations began to form and differentiate.
    As populations separated, selection and genetic drift led to variable allele frequencies at various loci.
    This variation in allele frequencies can be used to identify the origin of an individual's personal genome.
    <br/><br/>
    In this exercise, we use a heuristic method to paint ancestry onto your chromosomes.
    We identify the most informative population-differentiating SNPs (which can be varied by the Chi-Squared cutoff parameter)
    and get allele frequencies for these SNPs in the selected reference panels.
    Since we do not have phased information, we cannot reliably call the two alleles separately.
    <br/><br/>
    Therefore, we use a Monte Carlo-like method to determine the most likely populations from which the chromosomes originated.
    For each block (set by the 'block size' parameter), we sample an allele from each genotype randomly and get the allele frequency for that SNP.
    We then update a Bayesian model for the likelihood of the block originating from each population given the data.
    The "best" population is chosen for each block, and this simulation is run multiple times (set by the 'Samples' parameter) to generate a number of "votes" for each block.
    <br/><br/>
    The "votes" are then aggregated and ancestry is assigned to both blocks:
    if the proportion of votes goes over the 'heterozygosity threshold,' both blocks are considered the highest voted ancestry; otherwise, the highest and 2nd highest ancestries are chosen.
    The results are then smoothed (window set by the 'smoothing parameter') and the results are displayed.
    <br/><br/>-->
    <!--Hapmap2 with the default parameters should provide a reliable estimate of ancestry for many individuals.-->
  </div>
</div>

<br class='clear' />