<div class='main2'>
	<h2>Phenylketonuria</h2>
<p>(Written by Amalia Hadjitheodorou)</p>
<p><strong>Introduction</strong></p>
<p>Phenylketonuria (PKU) is a Mendelian autosomal recessive inherited disorder (<a href="http://www.omim.org/entry/261600">OMIM #261600</a>) that increases the levels of phenylalanine in the blood leading, if not managed, to impaired cognitive development and function (1). Other typical medical problems include heart conditions, epilepsies, abnormal physical growth as well as behavioral problems. PKU has a rate of incidence of 1 in 10,000 in Caucasian populations, varying widely amongst different countries and/or regions. Mutations in the phenylalanine hydroxylase (<em>PAH</em>) gene, on chromosome 12 (Figure 1), constitute the predominant cause of PKU (2). Mutations in this gene change the activity of the hepatic enzyme PAH, making it unable to catalyze the conversion of the essential amino acid&nbsp;l-phenylalanine (L-Phe) to&nbsp;L-tyrosine (L-Tyr). As a result, phenylalanine builds up in the blood, causing irreparable neurological damage and intellectual disability. </p>
<p align="center"><a href="media/graphics/pku_Figure1.jpeg"><img src="media/graphics/pku_Figure1.jpeg" alt="fig 1" width="345" height="193" hspace="20" vspace="20" align="left" /></a><br />
  <strong>Figure 1:</strong> Schematic representation of the PAH gene location. The PAH gene is located on the long arm of chromosome 12 between positions 22 and 24.2 (2).</p>
<p>Early diagnosis and management is crucial for PKU and newborns in all 50 states of America are routinely tested for the disease. The signs and symptoms of PKU vary from mild to severe. Disease severity can be classified by Phenylalanine blood levels (Table 1). The most severe form of this disorder is known as classic PKU. Less severe forms of this condition, called non-PKU hyperphenylalaninemia (non-PKU HPA), have a smaller risk of brain damage. PKU patientts must follow a low-protein diet, since nearly all proteins contain phenylalanine. Artificial sweeteners with aspartame also contain phenylalanine and thus should be avoided. Hence, current treatment of PKU consists of limitation of dietary protein intake, which in the long term is associated with low compliance and problems related to malnutrition. The only alternative therapeutic strategy approved nowadays consists of supplements of BH4, the requisite co-factor of PAH. Nevertheless, this treatment option is only effective for about 30% of PKU patients (3). Current research efforts are targeted towards addressing the loss of PAH activity at the core: using, for instance, enzyme replacement via virus-mediated gene transfer, donor liver transplantation and recombinant PAH protein, enzyme substitution with the use of phenylalanine ammonia lyase (PAL) to provide an alternative pathway for the metabolism of phenylalanine, and restoration of native PAH activity with chemical chaperones and nonsense read-through agents (3). </p>
<table cellspacing="0" cellpadding="0">
  <col width="209" />
  <col width="149" span="2" />
  <tr>
    <td width="209">Phenylalanine   blood level (&mu;mol/L)</td>
    <td width="149">Patient type</td>
    <td width="149">Current treatment</td>
  </tr>
  <tr>
    <td width="209">&gt;1,200</td>
    <td width="149">Classic PKU</td>
    <td width="149">Diet required</td>
  </tr>
  <tr>
    <td width="209">900-1,200</td>
    <td width="149">Moderate/Mild</td>
    <td width="149">Diet required</td>
  </tr>
  <tr>
    <td width="209">600-900</td>
    <td width="149">Non-PKU HPA</td>
    <td width="149">No treatment required</td>
  </tr>
  <tr>
    <td width="209">~120</td>
    <td width="149">Healthy individual</td>
    <td width="149">No treatment required</td>
  </tr>
</table>
<blockquote>
  <blockquote>
    <p align="left"><em>Table 1:</em><em> PKU d</em><em>isease severity </em><em>classification based on </em><em>Phenylalanine blood levels </em>(4)    </p>
    <p><a href="media/template/PKU/pku_geneticbasis.html"><strong>Genetic Basis</strong></a></p>
    <p><strong><a href="media/template/PKU/references.html">References</a></strong><a href="media/template/PKU/references.html"></a></p>
<p>&nbsp;</p>
    <p>Click to look up your phenylketonuria SNPs. (Use ANY RACE for your race.)</p>
    <span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
<div>
  
      <button id='get-gwas' type='submit'>
        Show my PKU SNPs
        </button>
  
	
</div>

<div class='help2'>
  <div id='help-disease-help'>
    <p><u>Genetic Results Interpretation</u>:<br />
Interpretation is based on the following classification:<u></u></p>
    <ol>
      <li>An individual with 2 mutations in the PAH&nbsp;gene linked to severe PKU typically has severe PKU.</li>
      <li>An individual with 2 or more mutations in the PAH gene, one of which is linked to mild PKU, typically has mild PKU, but may have severe PKU due to other mutations in the PAH gene not included in the 23andMe kit.</li>
      <li>An individual with 1 mutation in the PAH&nbsp;gene linked to PKU typically does not have PKU, but can pass the mutation to offspring. </li>
      <li>An individual without any of the PAH mutations reported by 23andMe is a non-carrier. Nevertheless, note that they may still have other mutations in the PAH gene,&nbsp;not reported in the 23andMe kit, that can cause some form of PKU.<u></u></li>
    </ol>
    <p><strong>Conclusion</strong><br />
    Phenylketonuria (PKU), an inborn error of metabolism, increases the levels of phenylalanine in the blood leading, if not managed, to impaired cognitive development and function. The Mendelian PKU phenotype has no single explanation as every patient has their unique complex PKU phenotype. Rigorous scientific efforts are needed to extensively characterize the numerous culpable PKU mutations and help towards phenotype prediction, diagnosis refinement, and therapeutic strategy development.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
  </div>
</div>

<br class='clear'>