<div class='main2'>
	<h2>QT Interval</h2>
<p>(Written by Teresa Purzner)</p>
<p>Congenital long QT syndrome (LQTS) is a life-threatening cardiac disease characterized by delayed repolarization of the heart resulting in a prolonged &ldquo;QT&rdquo; interval on electrocardiograms (ECGs).&nbsp; This delay in repolarization can result arrhythmias that lead to a variety of symptoms from palpitations and syncope (loss of consciousness), to seizures, cardiac arrest and sudden cardiac death.&nbsp;&nbsp; It is estimated that congenital long QT syndrome affects 1:2500 to 1:7000 people in America.&nbsp; </p>
<p>Patients without family history are often asymptomatic until their first arrhythmia, which is typically brought on by exercise or emotional stress, though loud noises and even sleep have been reported as the inciting events.&nbsp; This initial arrhythmia can result in anything from palpitations to sudden cardiac death.&nbsp; Patients who lose consciousness often have seizure-like movements and so are often misdiagnosed as having a seizure disorder.&nbsp; As a result, many patients have delayed diagnosis.&nbsp; In a study involving index patients (ie. patients without family history of LQTS), 80% had syncope or cardiac arrest requiring resuscitation prior to diagnosis, highlighting the tremendous need for earlier diagnosis.</p>
<p>There are many highly effective, genotype-specific therapies for LQTS.&nbsp; These range from oral medications to automated internal defibrillators. </p>
<p>Click to look up your QT Interval SNPs. (Use ANY RACE for your race.)</p>
	<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
	<div>
<button id='get-gwas' type='submit'>
	    Show my QT Interval SNPs
	  </button>
	</div>
  
<div class='help2'>
<div id='help-disease-help'>
    <div>
      <p><strong>While many genes normally involved in cardiac depolarization and repolarization have been linked to long QT syndromeme, &gt;75% of cases can be attributed to three genes: LQT1 (43%), LQT2 (32%), and LQT3 (18%).&nbsp; Mutations are often de novo and demonstrate variable penetrance.&nbsp; This accounts for the observation that only 39% of patients with LQTS had a family history of LQTS or sudden cardiac death.</strong>    </p>
      <p><strong>Here we have two sets of SNPs.&nbsp; The excel sheet includes&nbsp;SNPs found within long QT syndrome genes (LQT1, LQT2 and LQT3) in patients with confirmed congenital long QT syndrome.&nbsp; These SNPs are extremely rare in the general population.&nbsp; Of note, these represent a fraction of all possible LQT1-3 mutations that drive long QT syndrome.&nbsp; In contrast, the second group of SNPs found in genotation (what you get when you click &quot;show my QT interval SNPs&quot;) are related to QT interval in the normal, healthy population.&nbsp; Only two of these sites,&nbsp;rs12143842 and&nbsp;s11153730, reached genome wide significance and account for 0.82 and 0.74% of variance in QT interval respectively.&nbsp; There is no evidence that any of these SNPs are related to congenital long QT syndrome.</strong>    </p>
  </div>
    <div><strong><a href="/media/graphics/tpurzner_SNPs.xlsx">See Excel sheet for SNPs</a> </div>
</div>

<br class='clear'>