<div class='main2'>
  <h2>Regina's Testing</h2>

<div>
<button id='get-gwas' type='submit'>
      Show my Asthma SNPs
    </button>
</div>
  <br/>
  <br/>

    <!--<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Average Score of 2000 People', 'Your Score'],
          [12.2,null],
          [9.1,null],
          [12.2,null],
          [22.9,null],
          [0.9,null],
          [36.6,null],
          [40.9,null],
          [5.5,null],
          [7.9,null],
          [10.5,null],
          [7.9,null],
          [20.0,null],
          [45.7,null],
          [12.2,null],
          [30.5,null],
          [null,20]]);

        var options = {
          title: 'Lengths of dinosaurs, in meters',
          legend: { position: 'bottom' },
          isStacked: true,
          histogram: { hideBucketItems: true },
          tooltip: { trigger: 'none' },
        };

        var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>-->

   <!--<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Type', 'Average Score of 2000 People', 'Your Score'],
          [ 56.9419046, 1, null],
          [ 57.7419046, 0, null],
          [ 58.5419046, 2, null],
          [ 59.3419046, 4, null],
          [ 60.1419046, 9, null],
          [ 60.9419046, 20, null],
          [ 61.7419046, 38, null],
          [ 62.5419046, 66, null],
          [ 63.3419046, 93, null],
          [ 64.1419046, 105, null],
          [ 64.9419046, 123, 5],
          [ 65.7419046, 106, null], 
          [ 66.5419046, 78, null],
          [ 67.3419046, 57, null],
          [ 68.1419046, 33, null],
          [ 68.9419046, 10, null],
          [ 69.7419046, 4, null],
          [ 70.5419046, 4, null],
          [ 71.3419046, 0, null],
          [ 72.1419046, 1, null]]);

        var options = {
          title: 'Lengths of dinosaurs, in meters',
          legend: { position: 'bottom' },
          isStacked: true,
          bar: { groupWidth: "95%" },
          tooltip: { trigger: 'none' },
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>-->
    <div id='regina-chart' class='google-charts'></div> <br /><br />

  
  <br />
  <table id='regina-table' class='results-table hidden tablesorter'>
    <thead>
    <tr>
      <th>Disease</th>
      <th>dbSNP</th>
      <th>Genotype</th>
      <th>Risk Allele</th>
      <!--<th>Genes</th>-->
      <th>OR</th>
      <th>P-Value</th>
      <!--<th>Study Size</th>-->
      <th>Link</th>
    </tr>
    </thead>
    <tbody>
    <script id='regina-template' type='text/template'>
      <tr>
      <td><%= disease_trait %></td>
    <td><%= strongest_snp %></td><td><%= genotype %></td><td><%= risk_allele %></td>
      <!--<td><%=  reported_genes %></td>-->
      <td><%=  or_or_beta %></td><td><%=  p_value %></td>
      <!--<td><%=  initial_sample_size %></td>-->
      <td><a href='<%=  link %>'><%=  pubmedid %></a></td>
    </script>
    </tbody>
  </table>
  
</div>

<div class='help2'>
  <div id='help-disease-help'>
    <p>rs7216389 is a strong eQTL with ORMDL3 (risk T high, C low, expression). The rs7216389 locus is genetically heterogeneous, indicating that there is likely to be more than one underlying mutation.</p>
    <p>Many of the asthma SNPs are in genes that encode interleukins/SMAD. This suggests activation of helper T cells as an underlying mechanism.    </p>
    <p>For the SNPs from <a href="http://www.ncbi.nlm.nih.gov/pubmed/20860503">20860503</a>, the combined SNPs gave an area under the curve of 0.58. The population attributable risk for the joint action of the significant loci is 38%. This means that about 38% of the cases of childhood-onset asthma are attributable to SNP combinations. </p>
    <p>&nbsp;</p>
  </div>
</div>

<br class='clear'>


