<h2>Rheumatoid Arthritis</h2>
<p>Rheumatoid arthritis is a chronic inflammatory disorder that typically affects the small joints in your hands and feet.&nbsp;Rheumatoid arthritis is an autoimmune disease that occurs when your immune cells attack antigens in your joints. Rheumatoid arthritis has a prevalence of about 1%.</p>
<p>Learn more about rheumatoid arthritis: <a href="http://www.arthritis.org/about-arthritis/types/rheumatoid-arthritis/">Arthritis Foundation, Mayo clinic</a>, <a href="http://www.webmd.com/rheumatoid-arthritis/guide/rheumatoid-arthritis-basics">WebMD</a>, </p>
<p>Click to look up your Rheumatoid Arthritis SNPs (use ANY Race, do not use your specific race). </p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
	<div>
<button id='get-gwas' type='submit'>
	    Show my Rheumatoid Arthritis SNPs
	  </button>
    
  <br/>
  <br/>
	
	
</div>

<div class='help2'>
  <div id='help-disease-help'>
  
    <p>Association of alleles of the&nbsp;<em>HLA-DRB1</em>&nbsp;locus with rheumatoid arthritis is among the strongest of all alleles in the GWAS catalog. </p>
    <p> The T allele of  rs2476601  and the A allele of rs6679677are tightly linked. These SNPs are in &nbsp;<em>PTPN22</em>&nbsp;(protein tyrosine phosphatase, non-receptor type 22). The SNPs are strongly associated with RA, and confer a genetic relative risk of approximately 1.8. </p>
    <p><em>HLA-DRB1</em>&nbsp;and&nbsp;<em>PTPN22</em>explain around 50% of the familial aggregation of RA.</p>
  </div>
</div>

<br class='clear'>