<div>
  <h2>Selection Exercise</h2>
  <br/>
  <div class='description'>
    <div id='help-selection-help'>
    </div>
  </div>
  <div>
    <div>
      <textarea readonly='readonly' id='selection-snps-textarea' rows='6' cols='30'>
Population-specific SNPs
      </textarea>
      <br/>
      <button id='predict_selection' type='submit' class='button'>
          Quantify selection SNPs
      </button>
      
      <br/>
      <br/>
      <div id='submit-button'>
        <button id='submit-selection' type='submit', class='button'>
          Submit my selection SNPs
        </button>
      </div>
      
      <br/>

<div id='count_selection', class='hidden'>
  <h2>
  I have 
  <span id='total_selection_index'>
    
  </span>
  selected SNPS out of 
  <span id='total_selection'>
    
  </span>
  =
  <span id='stuart_cant_divide'>
    
  </span>
  !
  </h2>
</div>

<br/>
<br/>
<div id='selection_chart'></div>
<table id='selection_table' class='results-table hidden'>
  <thead>
  <tr>
    <th class='dbsnp'>dbSNP</th>
    <th class='dbsnp'>Genotype</th>
    <th>Ancestral allele</th>
    <th>Selected allele</th>
    <th>Selected allele frequency</th>
    <th>Population</th>
    <th>Genes</th>
    <th class='imputed'>Imputed from</th>
    <th class='rsq'>R<sup>2</sup></th>
  </tr>
  </thead>
  <tbody>
  <script id='selection_template' type='text/template'>
    <tr>
      <td><%= dbsnp %></td>
      <td><%= genotype %></td>
      <td><%= ancestral %></td>
      <td><%= selected %></td>
      <td><%= selected_freq %></td>
      <td><%= pop %></td>
      <td><%= genes %></td>
      <td class='imputed'><%= imputed_from %> <%= explain %></td>
      <td class='rsq'><%= r_squared %></td>
    </tr>
  </script>
  </tbody>
</table>


    </div>
  </div>
</div>

<div class=class='help'>
  <div id='help-selection-help'>
    <h3>Positive selection</h3>
    <p>
    This exercise looks up your genotype at one of 200 positions in the human genome thought to be 
    under recent positive selection.  
    When a new mutation appears that has a selective advantage, it can have a very rapid rise in the 
    population before recombination can occur with nearby linked SNPs.  
    The result is that there is a long region of the chromosome with one haplotype.  
    Two methods (long range haplotype and integrated haplotype score) have been developed to search 
    for long haplotypes, indicative of recent positive selection.
    </p>
    <br/>
    <p>
    The table appears from <a href='http://www.nature.com/nature/journal/v449/n7164/abs/nature06250.html'>Sabeti et al.</a>
    When you input your information, the application searches for haplotypes in your population under positive selection.  
    The table lists one of the SNPs in the haplotype with positive selection, 
    which is linked to the new mutation conferring selection.
    The listed SNP could have the ancestral or derived allele, depending on its state on the 
    chromosome in which the new mutation occurred.
    </p>
    <br />
    <p>
    The table lists: <br />
    <strong>dbSNP:</strong> identity of the SNP
    <br />
    <strong>Genotype:</strong> your genotype
    <br />
    <strong>Ancestral:</strong> the ancestral allele 
    <br />
    <strong>Selected:</strong> the allele on the long range haplotype that is under positive selection. 
    <br />
    <strong>Genes</strong>: nearby genes
    <br />
    <strong>Imputed from</strong>: the SNP used for imputation
    <br />
    <strong>R<sup>2</sup></strong>: the variance between the snp and the imputed SNP 
    </p>
  </div>
</div>
<div class='description'>
  <div id='help-selection-help'>
    Blah.
  </div>
</div>
<br class='clear' />
