<style type="text/css">
<link href="../css/interpretome.css" rel="stylesheet" type="text/css">
</style>
<body leftmargin="20" marginwidth="20"><div class='main2'>
	<h2>Sickle Cell Trait</h2>
<h2>General Information</h2>
    <p> Athletes with Sickle Cell Trait (SCT) are at increased risk for sudden collapse during strenuous exercise, especially in hot and humid climates.&nbsp; In stressful conditions, red blood cells in people with SCT can sickle, which will block important blood vessels and restrict blood flow to important tissues and organs.&nbsp; This can lead to further complications, and in extreme cases, this condition can be fatal.&nbsp; Individuals who have one normal allele (A) and one mutant (S) allele for beta-hemoglobin have SCT.&nbsp; This condition is usually an asymptomatic trait that will only affect athletes in extreme conditions.&nbsp; Those who have SCT can take precautions such as staying hydrated, avoiding strenuous exercise in extreme conditions and avoiding exercise at altitude.</p>
    <p>Sickle Cell Trait is caused by a deformation in the beta chain of hemoglobin that causes red blood cells to sickle.&nbsp; The prevalence of sickle cell train is 8% in African Americans and 0.05% in nonblack populations (<a href="http://www.ncbi.nlm.nih.gov/pubmed/10791557">Ashley-Koch et al., 1999</a>).&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>In August of 2010, the NCAA implemented a nation-wide screening program for Sickle Cell Trait that is mandatory for all Division I athletes.&nbsp; This policy resulted from a legal settlement with the family of Dale Lloyd II, a Rice University football player who collapsed during practice and later died from acute exertional rhabdomyolysis attributed to SCT.&nbsp; At Stanford, many athletes take a blood test for sickling already.&nbsp; Our program involves directly testing your DNA, and includes the sickle cell mutation as one of the tests for sports risk (out of hundreds that we offer).</p>
<div>
  <p>(Use ANY RACE for your race.)</p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
      <div>
<button id='get-gwas' type='submit'>
	    Show my sickle cell trait SNP
	  </button>
	</div>
  <br/>
  <br/>
	<table id='sickle-table' class='results-table hidden tablesorter'>
    <thead>
	  <tr>
      <th>Disease</th>
      <th>Genes</th>
	    <th>dbSNP</th>
      <th>Genotype</th>
      <th>Risk Allele</th>
      <!--<th>Genes</th>-->
      
	  </tr>
    </thead>
    <tbody>
	  <script id='sickle-template' type='text/template'>
		  <tr>
      <td><%= disease_trait %></td> <td><%=  reported_genes %></td>
    <td><%= strongest_snp %></td><td><%= genotype %></td><td><%= risk_allele %></td>
     
    
		</script>
    </tbody>
	</table>
	
</div>

<div class='help2'>
  <div id='help-disease-help'>
    <h2>What is the role of hemoglobin in SCT?</h2>
    <p>Hemoglobin is the iron-containing, globular protein in red blood cells that is responsible for transporting oxygen molecules.&nbsp; Normal hemoglobin (hemoglobin A) is comprised of two alpha subunits and two beta subunits.&nbsp; There are variant forms of hemoglobin, however, that cause disease. &nbsp;Sickle Cell Trait occurs when a person inherits one abnormal beta-chain gene encoding hemoglobin S from one parent, and a normal beta-chain gene from the other.&nbsp; The abnormal hemoglobin forms long, inflexible chains when it is deoxygenated, which causes red blood cells to sickle.&nbsp; Sickled cells are fragile, and prone to rupture.&nbsp; They can block small blood vessels, which results in pain and organ damage.</p>
    <p><em><strong>HBB,&nbsp;</strong></em><strong>rs334</strong>:&nbsp;<em>HBB&nbsp;</em>codes for the &beta; chain of hemoglobin. Individuals with two copies of thymine (T) nucleotides will have normal hemoglobin A. Individuals with two copies of adenine (A) nucleotides will have Sickle Cell&nbsp;<em>Disease</em>, a very serious condition that offen leads to Sickle Cell Anemia. These individuals have hemoglobin S, which is freqently causes red blood cells to sickle. Sickle Cell&nbsp;<em>Trait</em>, however, is produced when an individual has one A copy and one T copy at rs334. This A,T combination produces hemoglobin AS, which can be considered a combination of hemoglobin A and hemoglobin S. Individuals with hemoglobin AS are almost always asymptomatic, and only observe sickling of the red blood cells when placed in very stressful environments. The A allele is almost non-existent in populations of European descent. In populations of Sub-Saharan African descent, however, the A allele has a frequency of 12.5%. Please note that 23andme tests this SNP in the name of i3003137on the plus orientation (A normal, T risk), whereas other databases use the minus orientation and the name rs334 (T normal, A risk).</p>
    <h2 align="left">Exercise-Induced Complications</h2>
    <p align="left">Athletes with SCT are at increased risk of sudden collapse during strenuous exercise, especially in hot and humid climates.&nbsp; Under such conditions, skeletal muscle can degrade and leak enzymes into the bloodstream (a syndrome called exertional rhabdomyolysis).&nbsp; This release of muscle protein into the bloodstream can initiate a cycle of metabolic complications that, in severe cases, lead to renal failure and death.&nbsp; The predominant cause of red blood cell sickling in for persons with hemoglobin AS is low levels of oxygen in the cell.&nbsp; Intense forms of exercise can deprive certain tissues of oxygen, which can produce sickling, which in turn blocks of important blood vessels.&nbsp; Signs and symptoms of this syndrome include: coca-cola colored urine, muscle pain, cramping, muscular weakness and swelling.</p>
    <p align="left">Risk factors for persons with SCT include: extreme heat and humidity, heat stroke, high altitude, exercise-induced asthma, pre-event fatigue (due to factors such as illness or lack of sleep), and dehydration.&nbsp; People with SCT are generally 30 times at greater risk for sudden unexplained exercise-induced deaths than the average population.</p>
    <p align="left">Sickle Cell Trait is usually asymptomatic and people who have it do not display the severe symptoms of sickle cell disease.&nbsp; The number of people with sickle cell train (SCT) in the U.S. is not accurately known, however extrapolations of newborn screening data suggest a prevalence rate of 8% in African Americans and 0.046% in nonblack Americans.&nbsp; It is generally regarded as a benign condition, however, rare complications can occur as a result of having SCT.</p>
    <h2>What you can do about it</h2>
<p>There are a number of preventative measures that can be taken to avoid sudden collapse during strenuous exercise.&nbsp; Get yourself back into reasonable shape before partaking in intense team training.&nbsp; Modify conditioning exercises during intense workouts if needed.&nbsp;&nbsp;<em>Stay hydrated</em>.&nbsp; You should be giving your body adequate fluids before, during and after workouts.&nbsp; Avoid strenuous exercise in extremely hot and humid conditions.&nbsp; Avoid exercise over 2500 feet in elevation.&nbsp; Modify your training activities after any viral infection, especially those involving diarrhea or vomiting (which quickly dehydrate your body).&nbsp; Modify your training after nights of poor sleep.&nbsp; Inform your athletic trainer or team physician that you have SCT so they can quickly respond in the case that you do display complications related to the condition.  </p>
  </div>
</div>