<h2>Purpose of GENOtation</h2>
<p>The purpose of GENOtation is to provide an application for users to look up their genotype and interpret how their specific genotype affects their risk for disease, ancestry, and traits. There is an immense amount of  information about how DNA variation affects individual disease risk and traits.  There are millions of people that have access to their genotype files from companies, such as 23andme. GENOtation will let users look up their own genotype for the SNPs identified in these GWAS studies. We hope to provide users with a means to unlock the vast amount of information in the published scientific literature.</p>
<p>For GWA studies, GENOtation uses the <a href="https://www.ebi.ac.uk/gwas/">NHGRI/EBI GWAS</a> catalog as a source of information. This is a database of the compiled information from all GWA studies, which we manually curate to only include GWA results that are genome-wide significant (p&lt; 5E-8). As of July 2015, the catalog contains information on the associataion of 8278 SNPs in 1252 GWA studies.</p>
<h2>How to explore your genome</h2>
<li>
  Load your genome file (upper-right corner) and choose some of the analyses above. Currently, only raw data files from 23andme and Lumigenix (<b>unzipped</b>) are supported.
</li>
<li>
Sample genotype files (and a description of the individuals) can be found <a href="http://stanford.edu/class/gene210/files/data/Genomes/">here</a>.
</li>
<li>
A detailed description of the website design and some of the modules can be found in our
<a href="http://psb.stanford.edu/psb-online/proceedings/psb12/karczewski.pdf">PSB paper</a>
as well as in blog posts <a href="http://konradjkarczewski.com/2011/06/14/genome-interpretation-2-0/">here</a>
and <a href="http://konradjkarczewski.com/2011/06/23/more-on-interpretome/">here</a>.
</li>
<br/>
<h3>GENOtation is intended for <i>educational and research purposes only</i>.</h3>
<p>No information should be considered diagnostic and as with any genetic testing service, the interpretation is not regulated by the FDA.
  We assume no responsibility for any injury or damage to persons or property arising out of or related to any use of interpretome annotations
  or for any errors or omissions: consult your physician with any medical concerns.
  We retain copyright to the materials herein.
  By using this website, you agree that you accept these terms and are aware of the risks and benefits of genome interpretation.
  For more information, please read the full <span class='link' onclick='$("#terms").dialog({
  modal: true, width: "80%", buttons: {
    "Close": function() {$(this).dialog("close");}
  }});'>Terms and Conditions</span>.</p>
<br/>
<h3>How are my data kept private?</h3>
<p>
  Your genome will not be sent to any server, it remains on your computer.
  This website will make requests to a database that only contain "rsid" (without genotypes) and "population" (self-reported in the top-right) information.
  At no point will any genotypes be sent across the wires (all computation will be done in the browser).
  Some exercises may have an option to submit personal information, including genotypes or results of analyses, which will be anonymously stored on a secure server.
</p>
<br/>
<div id='not-compatible' class='hidden' style='text-align: center;>'><span style='padding: 10px; color: #FFFFFF; background-color: #FF2222'><strong>Your browser is NOT compatible with the Interpretome! Please use one of the supported browsers</strong></span><br/><br/></div>
<h4>Compatibility</h4>
<p>
  This website requires an HTML5 compatible browser, including current versions of:
  <li>
    <a href="http://www.google.com/chrome">Google Chrome</a> (&#x2265 6.0), the <i>preferred</i> browser
  </li>
  <li>
    <a href="http://www.mozilla.com">Mozilla Firefox</a> (&#x2265 4.0)
  </li>
  <li>
    <a href="http://www.rockmelt.com/">RockMelt</a>
  </li>
  <li>
    (<a href="http://www.apple.com/safari/">Safari</a> coming soon with Safari 6!)
  </li>
</p>
<br/>
<h4>Happy Exploring!</h4>
-The GENOteam
(<span class='link' onclick='$("#about").dialog({
  modal: true, width: "60%", height: 400, buttons: {
    "Close": function() {$(this).dialog("close");}
  }});'>About us</span>)
<br/>
<br/>
<p>
  <a href='mailto:help@interpretome.com'>Email us</a> with questions, comments, or concerns.
</p>
<div id='about' title='About the GENOteam' class='dialog hidden'>
  The GENOtation platform was developed for the Stanford University course on
  <a href="http://gene210.stanford.edu">Personalized Medicine and Genomics</a>,
  run by Stuart Kim.
  We thank a number of contributors, as well as the students of the course for valuable feedback.
  <br/>
  <br/>
  <div class='multicolumn'>
    <h4>Founding Team</h4>
    <p>
    <li>
      <a href="http://www.konradjkarczewski.com">Konrad Karczewski</a>
    </li>
    <li>
      <a href="http://www.stanford.edu/~rpt/">Robert Tirrell</a>
    </li>
    <li>
      <a href="http://www.tatonetti.com">Nicholas Tatonetti</a>
    </li>
    <li>
      <a href='http://cmgm.stanford.edu/~kimlab/'>Stuart Kim</a>
    </li>
    </p>
    <h4>Developers</h4>
    <p>
    <li>
      <a href='http://www.ofworldsandwoes.com/rm-rf'>Pablo Cordero</a>
    </li>
    <li>
      <a href='http://aliciarmartin.com/'>Alicia Martin</a>
    </li>
    </p>
    <h4>Contributors</h4>
    <p>
    <li>
      <a href="http://www.joeldudley.com">Joel Dudley</a>
    </li>
    <li>
      <a href="http://www.stanford.edu/~noahz/">Noah Zimmerman</a>
    </li>
    <li>
      <a href="http://med.stanford.edu/profiles/Keyan_Salari/">Keyan Salari</a>
    </li>
    </p>
  </div>
  <br/>
</div>
