
<div class='main2'>
	<div id = "tablelegend" class='dialog hidden' ><h2>Table Legend</h2>
<p><strong>Disease</strong>: describes the phenotype that was tested in the gene association study.</p>
<p><strong>Genes</strong>: candidate genes near to the SNP. In most cases, which gene(s) is responsible for the disease or trait, so data in this column is speculative. </p>
<p><strong>dbSNP</strong>: the number of the SNP; e.g. rs123 is listed as 123. * means that the genotype of this SNP was imputed using a nearby SNP. ?? means that the query SNP is missing from your DNA file and there are no nearby SNPs for imputation.</p>
<p><strong>genotype:</strong> your genotype from the genotype file.</p>
<p><strong>risk allele</strong>: the allele that is associated with the disease or trait.</p>
<p><strong>OR/beta</strong>: allelic odds ratio or beta score. These scores are informative about the effect size of the risk allele for the SNP. A risk allele with a high odds ratio or beta score means that it has a larger effect in causing the disease or trait phenotype than an allele with a smaller score. Beta values can be added to derive a combined score from many SNPs in a genetic risk score. </p>
<p><strong>p value</strong>: the liklihood that association would be observed by chance. For a genome-wide study, many SNPs are tested in parallel so a threshold of p &lt; 5 E-8 is used.</p>
<p><strong>link</strong>: original publication for the data.</p>
<p>Note: click on any of the headings to <strong>sort</strong> the columns. Click on dbSNP to sort the SNPs to see if the same SNP has been identified in multiple studies. Click on the link to sort the results by each different study.</p>
<p>&nbsp;</p>
</div>
</div>

<div class='help2'>
  <div id='help-disease-help'>
    <p class="MsoNormal1">&nbsp;</p>
  </div>
</div>