<style type="text/css">
<link href="../css/interpretome.css" rel="stylesheet" type="text/css">
</style>
<body leftmargin="20" marginwidth="20"><div class='main2'>
<h1>Telomere Length
</h1>
<p>Telomeres are located at the ends of chromosomes and are needed for successful chromosomal replication during a cell division. As cells divide, telomere length decreases gradually eventually resulting is a cell with short telomeres that cannot replicate and that undergoes senescence. Telomere length can serve as a clock for cell divisions in your lifetime. Within a given cell type, the length of telomeres shortens with age. The length of telomeres varies between cell types, depending on the level of telomerase present in that cell lineage and the number of cell divisions required to generate the cell from conception. </p>
<p>Women have longer telomeres than men and African Americans have longer telomeres than whites of European ancestry&nbsp;</p>
<p>Short telomere length is a marker for many aging-related diseases, such as osteoporosis, hypertension, myocardial infarction (MI), coronary heart disease (CHD), type 2 diabetes (T2D), and Alzheimer&rsquo;s disease.</p>
<p>The heritability of telomere length has been evaluated using twin studies, but the results show a wide range of heritability estimates ranging from 0.36&ndash;0.84 (<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4106467/#R14" rid="R14" id="__tag_390681563" role="button" aria-expanded="false" aria-haspopup="true">Jeanclos et al., 2000.</a>,<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4106467/#R16" rid="R16" id="__tag_390681550" role="button" aria-expanded="false" aria-haspopup="true">Aviv, 2012)</a>. </p>
<p>&nbsp;</p>
	<div>
	<p>(Use ANY RACE for your race.)</p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
      <div>
<button id='get-gwas' type='submit'>
	    Show my telomere length SNPs
	  </button>
	</div>
  

<div class='help2'>
  <div id='help-disease-help'>
    <p class="MsoNormal1">The beta scores indicate the change in telomere length per allele, in kb. Mean telomere length is about 5-7 kb.</p>
    <p class="MsoNormal1"><em>TERT </em>codes for the protein subunit of telomerase, a complex with an integral role in telomere maintenance. <em>TERC</em>&nbsp;is a gene that makes the RNA subunit of telomerase.</p>
    <p class="MsoNormal1">CTC1 is a Conserved Telmerase Component. The minor allele (T) of rs3027234 is highly associated with lower expression of&nbsp;<em>CTC1 </em>and shorter (60 bp per T allele) telomere length. Point mutations in&nbsp;<em>CTC1</em>&nbsp;were identified in Coats plus disorder, a rare recessive Mendelian syndrome (<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3510758/#DDS382C34" rid="DDS382C34" id="__tag_288235752" role="button" aria-expanded="false" aria-haspopup="true">Anderson et al., 2012</a>)</p>
<p class="MsoNormal1">Rare mutations in telomere maintenance genes result in critically short  telomere length and cause  diseases such as: dyskeratosis congenita, idiopathic pulmonary fibrosis and liver cirrhosis. Common alleles in TERT and TERC show an association with telomere length.</p>
<p class="MsoNormal1">rs4387287 in OBFC1 explains about 2.26% of the variance in telomere length.</p>
<p class="MsoNormal1">&nbsp;</p>
    <p class="MsoNormal1">&nbsp;</p>
<p class="MsoNormal1">&nbsp;</p>
  </div>
</div>