
<h2 style="float:left;">Traits</h2>


<!--this makes that little button that says sort-->
  <span id = "sort" style="float:right;margin-left:12px;border:1px solid #c6c6c6;border-radius:3px;padding:4px;font-size:10px">Sort <span style="font-size:7px">▼</span></span> 
<!--this makes the search bar.-->
  <input id = "traits-search" style="width:30%; float:right; font-size:16px;"type="search" placeholder="Search"><br/>
  
  <div id='traits-break' class='hidden'><br/></div>

  <div id='sort-options' class='hidden align-right' style='float:right;font-size:12px'> 
      <p id='alphabetically' class='bold'>Alphabetically</p> 
      <p id='ralph' class='link2'>Reverse</p>
      <p id='risk134' class='link2'>By risk</p>
      <br/>
  </div>

  <br/>
      <hr style = 'clear:both;margin:0;display:block'>
    <br/>

<div class='main2' >


    
    <div id = 'traits-page-buttons'>

    <!--where clinical columns are populated-->
    <div id='traits-butts' class='columns'></div>
    <div id='traits-buttons-reverse' class='columns hidden'></div>
    <div id='traits-buttons-risk' class='columns hidden'></div>

    </div>

    <div id ="traits-search-failed" style = "display:none" > No search results found</div>
  

</div>


<br class='clear' />


<script>

var string;
var nicknameIndex;
      //for every element in every array inside arrayList...

        for(var l = 0; l < traitsList.length; l++)
        {

          string = traitsList[l];

          nicknameIndex = $.inArray(traitsList[l], hasNicknameList);
            //then add buttons in a list with class clinical that render and link to the page
            if(nicknameIndex==-1)
            {
              document.getElementById('traits-butts').innerHTML+='<button class="traits-buttons '+string+'" id="'+string+'"style="width:100%" onclick="goTo(\''+string+'\')">'+capitalize(string, true)+'</button>';
            }
            else{
            document.getElementById('traits-butts').innerHTML+='<button class="traits-buttons '+string+'" id = "'+string+'"style="width:100%" onclick="goTo(\''+string+'\')">'+ nicknameList[nicknameIndex] +'</button>';
            }
          

       }

       for(var l = traitsList.length-1; l >= 0; l--)
        {

          string = traitsList[l];

          nicknameIndex = $.inArray(traitsList[l], hasNicknameList);
            //then add buttons in a list with class clinical that render and link to the page
            if(nicknameIndex==-1)
            {
              document.getElementById('traits-buttons-reverse').innerHTML+='<button class="traits-buttons '+string+'" id="'+string+'-r"style="width:100%" onclick="goTo(\''+string+'\')">'+capitalize(string, true)+'</button>';
            }
            else{
            document.getElementById('traits-buttons-reverse').innerHTML+='<button class="traits-buttons '+string+'" id = "'+string+'-r"style="width:100%" onclick="goTo(\''+string+'\')">'+ nicknameList[nicknameIndex] +'</button>';
            }
          

       }

       


</script>
