<p>Type 1 Diabetes is caused by a lack of insulin. Normally, insulin is made by the beta cells in the pancreas. In Type 1 Diabetics, the beta cells are diminished or missing, usually due to autoimmune activity against the beta cells. </p>
<p>The classical symptoms are frequent urination, increased thirst,&nbsp;increased hunger and weight loss.</p>
<p>For diabetics, 5%  have Type 1 and 95% have Type 2 diabetes. The risk of a child developing type 1 diabetes is about 10% if the father has it, about 10% if a sibling has it, about 4% if the mother has type 1 diabetes and was aged 25 or younger when the child was born, and about 1% if the mother was over 25 years old when the child was born.</p>
<p>Twin studies show  that over 85% of the risk for Type 1 diabeetes is genetic. The strongest gene,&nbsp;<em>IDDM1</em>, is located in the&nbsp;MHC Class II&nbsp;region on chromosome 6, at staining region 6p21. Certain variants of this gene increase the risk for decreased&nbsp;histocompatibility&nbsp;characteristic of type&nbsp;1. Such variants include DRB1 0401, DRB1 0402, DRB1 0405, DQA 0301, DQB1 0302 and DQB1 0201, which are common in  Europeans.</p>
<p>Learn more: <a href="http://www.diabetes.org/diabetes-basics/type-1/">American Diabetes Association</a>, <a href="http://www.mayoclinic.org/diseases-conditions/type-1-diabetes/basics/definition/con-20019573">Mayo Clinic</a>.</p>
<p>Click to look up your Type 1 Diabetes SNPs (use ANY Race, do not use your specific race). </p>
<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
<p>&nbsp;</p>
	<div>
<button id='get-gwas' type='submit'>
	    Show my Type 1 Diabetes SNPs
	  </button>
    
  <br/>
  <br/>
	
	
</div>

<div class='help2'>
  <div id='help-disease-help'>
  
    <p>The two SNPs with the biggest effects are rs2647044  and rs9272346, with odds ratios of 8.3 and 5.5, respectively. </p>
  </div>
</div>

<br class='clear'>