
<div class='main2'>
	<h2>Vitamins</h2>
	<table width="704" height="142" border="0">
	  <tr>
	    <td width="141"><div align="center"><span class="link" onclick="$('#tabs').tabs('select', '#vb12');"> Vitamin B12 </span></div></td>
	    <td width="115"><div align="center"><span class="link" onclick="$('#tabs').tabs('select', '#vitd');"> Vitamin D </span></div></td>
	    <td width="146"><div align="center"><span class="link" onclick="$('#tabs').tabs('select', '#phyto');"> Phytosterol </span></div></td>
      </tr>
	  <tr>
	    <td width="146"><div align="center"><span class="link" onclick="$('#tabs').tabs('select', '#vite');"> Vitamin E </span></div></td>
	    <td width="146"><div align="center"><span class="link" onclick="$('#tabs').tabs('select', '#iron');"> Iron Levels </span></div></td>
	    <td width="146"><div align="center"><span class="link" onclick="$('#tabs').tabs('select', '#calcium');"> Calcium Levels </span></div> </td>
      </tr>
	  <tr>
	    <td width="146"><div align="center"><span class="link" onclick="$('#tabs').tabs('select', '#magnesium');"> Magnesium Levels </span></div></td>
	    <td width="146"><div align="center"><span class="link" onclick="$('#tabs').tabs('select', '#homocysteine');"> Homocysteine Levels </span></div></td>
	    <td width="146"><div align="center"><span class="link" onclick="$('#tabs').tabs('select', '#trace');"> Trace Elements </span></div></td>
      </tr>
  </table>
	<p>&nbsp;</p>
 
 
</div>
  
	
