<div class='main'>
	<h2>Vitiligo	</h2>
	<p>Vitiligo is a disease affecting less than 1% that causes the loss of skin color in blotches. It can affect the skin on any part of your body, including hair, the inside of the mouth and even the eyes.	&nbsp;It occurs when&nbsp;skin pigment cells&nbsp;die or are unable to function. </p>
<p>Click to look up your vitiligo SNPs.</p>
	<span class = 'link' onClick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
	<div>
<button id='get-gwas' type='submit'>
	    Show my Vitiligo SNPs
	  </button>
	</div>
  
<div class='help'>
  <div id='help-disease-help'>
    <p>&nbsp;</p>
  </div>
</div>

<br class='clear'>