<div class='main2'>
	<h2>Blood Parameters</h2>
	(by Thomas Roos and Andrew Roos, still under construction)</span></u></b></h2>
	
	  <p>The number of red blood cells per unit
      volume in blood.<b style='mso-bidi-font-weight:normal'>
      <o:p></o:p>
      </b></span></span></p>
		    <h3>
	      <o:p></o:p>
	    Red Blood Cells: </h3>
		    <p><span class="MsoNormal21"><span
     style='mso-bidi-font-size:10.0pt;font-family:Arial;mso-bidi-font-family:
     &quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;mso-fareast-language:
     EN-US'>Red blood cells, also called erythrocytes, are the most common
        blood cells and are responsible for delivering oxygen to body tissues. The
        RBC count is the number of red blood cells per microliter (uL) of blood.
        Low RBC levels are a sign of anemia, iron deficiency, and/or extreme
        fatigue. High levels of RBCs are a sign of erythrocytosis, or the abnormal
        increase in the number or circulating red blood cells. Normal ranges vary
        slightly by laboratory. RBC count is affected by metabolism, hormones, and
        body composition [<a href="http://www.ncbi.nlm.nih.gov/pubmed/10723803">Evans 1999</a>; <a href="http://www.ncbi.nlm.nih.gov/pubmed/12082254">Brun 2002</a>]. </span></span></p>
		    <p>Normal Clinical Range [Male]: 4.3 - 5.9 million cells/uL.</p>
<p>Normal Clinical Range [Female]: 3.5 - 5.5 million cells/uL.
<o:p></o:p>
		      </span></p>
  <o:p>&nbsp;</o:p>
		      </span></p>
  </p>
<p>(Use ANY RACE for your race.)</p>
<span class = 'link' onclick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span></div>
	  <div>
	    <button id='get-gwas-1' type='submit'> Show my RBC score</button>
      </div>
	  <br/>
	  <br/>
  </div>
  
  <h3>Hb -&nbsp;Hemoglobin</span></b>: </h3>
  <p><span class="MsoNormal21" style="margin-top:.1pt;margin-bottom:.1pt;mso-para-margin-top:
     .01gd;mso-para-margin-bottom:.01gd;mso-list:l6 level1 lfo1;tab-stops:list .5in"><span
     style='mso-bidi-font-size:10.0pt;font-family:Arial;mso-bidi-font-family:
     &quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;mso-fareast-language:
     EN-US'>Hemoglobin is the iron-containing protein in RBCs that delivers
      oxygen around the body and removes carbon dioxide. Hemoglobin accounts for
      ~35% of RBC volume [<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC289318/">Weed 1963</a>] and has an oxygen binding capacity of
      1.34mL O<sub>2</sub> per gram of Hb [<a href="http://www.ncbi.nlm.nih.gov/pubmed/7317251">Dominguez 1981</a>]. Levels of hemoglobin
      are measured in units of grams per deciliter (g/dL). Low hemoglobin levels
      are a sign of anemia, a deficiency of RBCs or hemoglobin in the blood.
  <o:p></o:p>
  </span></span></p>
  <p>Normal Clinical Range [Male]: 13.5 - 17.5 g/dL.
  <o:p></o:p>
    </span></p>
  </p>
  <p>Normal Clinical Range [Female]: 12.0 - 16.0 g/dL.
  <o:p></o:p>
    </span></p>
    
  </p>
<p>(Use ANY RACE for your race.)</p>
<span class = 'link' onclick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>

      <div>
        <button id='get-gwas-2' type='submit'> Show my Hemoglobin score</button>
      </div>
      
 <h3>Hct &#8211; Hematocrit: </h3>
 <p><span class="MsoNormal21" style="margin-top:.1pt;margin-bottom:.1pt;mso-para-margin-top:
     .01gd;mso-para-margin-bottom:.01gd;mso-list:l6 level1 lfo1;tab-stops:list .5in"><span
     style='mso-bidi-font-size:10.0pt;font-family:Arial;mso-bidi-font-family:
     &quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;mso-fareast-language:
     EN-US'>Hematocrit (or packed cell volume) is the fraction of total blood
      volume comprised of red blood cells, expressed as a percent. Hematocrit is
      measured by spinning down a blood sample so that the RBCs pack at the
      bottom of a test tube. Low hematocrit levels are indicative of anemia.
<o:p></o:p>
 </span></span></p>
 <p>Normal Clinical Range [Male]: 41 &#8211; 53 %.
   <o:p></o:p>
   </span></p>
 </p>
 <p>Normal Clinical Range [Female]: 36 &#8211; 46 %.</span>
   <o:p></o:p>
   </span></p>
   
   
 </p>
    <div class='main2'>
      <p>(Use ANY RACE for your race.)</p>
   <span class = 'link' onclick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
   
      <div>
        <button id='get-gwas-3' type='submit'> Show my hematocrit score</button>
      </div>
      <br/>
      <br/>
    </div>
    
    
    <h3>MCH&#8211; Mean Corpuscular Hemoglobin/Mean Corpuscular Hemoglobin Concentration: </h3>
 <p><span class="MsoNormal21" style="margin-top:.1pt;margin-bottom:.1pt;mso-para-margin-top:
     .01gd;mso-para-margin-bottom:.01gd;mso-list:l6 level1 lfo1;tab-stops:list .5in"><span
     style='mso-bidi-font-size:10.0pt;font-family:Arial;mso-bidi-font-family:
     &quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;mso-fareast-language:
     EN-US'>Mean corpuscular hemoglobin (or mean cell hemoglobin) 
     is the average amount of hemoglobin per red blood cell, measured in picograms (pg). MCH is calculated 
     from hemoglobin levels and RBC count. Mean corpuscular hemoglobin concentration (or mean cell hemoglobin concentration) is the average concentration of hemoglobin 
     in red blood cells, measured in grams per deciliter (g/dL). MCHC is calculated from the hemoglobin and hematocrit levels.
<o:p></o:p>
 </span></span></p>

   <o:p></o:p>
   </span></p>
   
   
 </p>
    <div class='main2'>
      <p>(Use ANY RACE for your race.)</p>
  <span class = 'link' onclick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
  
      <div>
        <button id='get-gwas-4' type='submit'> Show my MCH/MCHC score</button>
      </div>
      <br/>
      <br/>
    </div>
   
   
    
    <h3>MCV&#8211; Mean Corpuscular Volume: </h3>
 <p><span class="MsoNormal21" style="margin-top:.1pt;margin-bottom:.1pt;mso-para-margin-top:
     .01gd;mso-para-margin-bottom:.01gd;mso-list:l6 level1 lfo1;tab-stops:list .5in"><span
     style='mso-bidi-font-size:10.0pt;font-family:Arial;mso-bidi-font-family:
     &quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;mso-fareast-language:
     EN-US'>Mean corpuscular volume (or mean cell volume) is the average volume of a 
     single red blood cell, measured in femtoliters (fL). MCV is calculated from hematocrit levels and RBC count. 
     Anemia is classified as microcytic, normocytic, or macrocytic depending on whether MCV is low, normal, or high, 
     respectively. RBC size can vary based on inherited conditions such as thalassemia, nutritional deficiencies 
     (vitamin B12, folate), and exposures (alcohol, chemotherapy) [Evans 1999].
<o:p></o:p>
 </span></span></p>
add ranges here
   <o:p></o:p>
   </span></p>
   
   
 </p>
    <div class='main2'>
      <p>(Use ANY RACE for your race.)</p>
    <span class = 'link' onclick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
    
      <div>
        <button id='get-gwas-5' type='submit'> Show my MCV score</button>
      </div>
      <br/>
      <br/>
    </div>
    
    
     <div class='main2'>
      <h3>Hematological parameters</h3>
      <p>(Use ANY RACE for your race.)</p>
     <span class = 'link' onclick="$('#tablelegend').dialog({
          modal: true, width: '80%', buttons: {
            'Close': function() {$(this).dialog('close');}
          }});"> Table Legend </span>
     
      <div>
        <button id='get-gwas-6' type='submit'> Show my hematological parameters score</button>
      </div>
      <br/>
    </div>
   
    
    
    <h3>What Your Results Mean
      <o:p></o:p>
    </span></u></b></h3>
    
    If your genetic score indicates increased risk for one
      or more of the blood parameters, please remember that your genetics only
      contribute a small portion to your overall risk. See the Interventions section
      for more information on modifiable risk factors that contribute to your overall
      risk.&nbsp;</span>    </p>
    <p>Normal Values in Athletes.
      <o:p></o:p>
      </span></u>
      Blood parameters in athletes are different from the
      normal ranges for the general population. The differences between athletes and the general population are
      different for male and female athletes. Hence, blood test results need to be interpreted differently for
      athletes compared to the normal population. Between different athletes, differences
      in physiological and genetic factors can also affect the expected range for his
      or her blood parameters [<a href="http://www.ncbi.nlm.nih.gov/pubmed/12905092">Bagger 2003</a>].
      <o:p></o:p>
      </span></p>
    </p>
<p>The table below lists the normal ranges for each of the 6 blood parameters in the general population as compared to
      athletes. Each range represents where 95% of the population will fall, with the lower and upper extremes being at the highest risk for
      blood disorders. The population ranges were derived from Complete
      Blood Count test results from 164,000 European individuals pooled from over 48
      cohorts [<a href="shttp://www.ncbi.nlm.nih.gov/pubmed/23222517">van der Haarst 2012</a>; <a href="http://www.ncbi.nlm.nih.gov/pubmed/19862010">Ganesh 2009</a>],. The athlete ranges were derived
      from blood test results from 750 elite-level athletes competing in a variety of
      endurance or strength based sports pooled from 11 studies [Lenczowska 2013]. We
      report combined as well as separate ranges for male and female athletes, for
      purposes of comparison.
      <o:p></o:p>
  </span></p>
      
      <a href="BloodParametersStuart_clip_image018.png"><img
src="/media/template/blood parameters/BloodParametersStuart_clip_image018.png" alt="18" width="470" height="96" hspace="9" align="left" v:shapes="_x0000_s1029" /></a>
      <![endif]>
      <span
style='font-family:Arial;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:
minor-bidi'>
      <o:p></o:p>
      </span>
      </p>
      For hemoglobin (Hb) and mean cell hemoglobin
      concentration (MCHC), the normal range in athletes (men and women combined) is
      slightly higher than for the range in the general population [see &ldquo;Combined&rdquo;
      column for Population vs Athletes]. This agrees with published studies showing
      elevated total hemoglobin content in highly trained athletes as a result of
      physiological adaptation. Conversely, athletes have slightly lower normal ranges
      for hematocrit (Hct) and mean cell volume (MCV). These differences, however, likely
      have only a small effect of athletic performance. As expected, the gender
      differences in RBC count, hemoglobin, and hematocrit are also evident in the
      athlete-only population [see Men vs Women columns for Athletes]. Women tend to
      be lower for each of these three parameters. There are no gender differences
      evident for the other three parameters.</span><span style='font-family:Arial;
mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi'>
      <o:p></o:p>
      </span>
      </p>
    </p>
<p>Correlation Among Blood Parameters
  <o:p></o:p>
      </span></u></p>
      <p>The 6 blood parameters we report on are related
      to each other. The six parameters influence physical aspects of red blood cells
      (size, number) and physiological aspects of red blood cells (hemoglobin
      content). Thus, each parameter measures a different detail of the same
      physiological thing in your body: how well you can transport oxygen.
        <o:p></o:p>
      </span></p>
      The overlap among blood parameters is measured
      by calculating Pearson&rsquo;s correlation coefficients among each pair for all
      combinations. A value of 1 means perfect correlation, whereas values of 0 mean
      no correlation. Data from 156,000 European individuals [<a href="http://www.ncbi.nlm.nih.gov/pubmed/23222517">van der Harst 2012</a>] was
      used to calculate phenotypic correlation and genetic correlation.
<o:p></o:p>
      </span></p>
      
      </a>
      
      <img
src="/media/template/blood parameters/BloodParametersStuart_clip_image020.png" alt="20" width="283" height="149" hspace="20" align="left" v:shapes="_x0000_s1028" />
      <![endif]>
      : The phenotypic correlation among blood
      parameters represents how related the phenotypic scores for each parameter are.
      It is a measure of how many people who had a high score on a specific parameter
      also had a high score on another parameter of interest. For example, MCV and
      MCH are highly correlated, meaning that if you have large red blood cells you
      are more likely to have more hemoglobin in each cell. Relationships are color
      coded in order of increasing correlation: white, yellow, orange, red.  </p>
      <p>Genetic Correlation: The
      genetic correlation among blood parameters represents how related the genetic
      risk scores for each parameter are. It is a measure of how many of the
      genome-wide significant SNPs associated with a specific parameter are also
      associated with another parameter of interest. For example, many of the SNPs
      associated with MCH are also associated with MCV, and likewise your genetic
      scores for these parameters will be more similar. Relationships are color coded
      in order of increasing correlation: white, yellow, orange, red. <img
src="/media/template/bloodparameters/BloodParametersStuart_clip_image022.png" alt="22" width="283" height="149" hspace="9" align="left" v:shapes="_x0000_s1027" />
    <![endif]>
    </p>
      <p>Biological Evidence for Genes Associated with
    Blood Parameters
<o:p></o:p>
    </span></u></p>
        
    Below are descriptions of the biological functions of the top genes
    associated with blood parameters. These genes were selected based on the
    combination of genetic effect size, bioinformatics, and biological evidence in
    humans and animal models.    </p>
      <p>
      <o:p></o:p>
    rs741959 (TAL1, T-cell acute lymphocytic leukemia 1)
    TAL1 is a transcription factor with a key role in hematopoiesis. In humans, this gene is
    required for differentiation and maturation of red blood cells [<a href="http://www.ncbi.nlm.nih.gov/pubmed/20566737">Kassouf 2010</a>].
        This SNP is associated with MCV.
    <o:p></o:p>
    </span>
      </p>
      </p>
      <p>SPTA, Spectrin alpha erthrocytic 1): SPTA1 is a molecular scaffold protein that functions to crosslink
      actin. In humans, it determines red blood cell shape and mutations in this gene
      cause hereditary blood disorders (such as elliptocytosis and spherocytosis) [<a href="http://www.ncbi.nlm.nih.gov/pubmed/16730867">Delaunay
        2007</a>]. This SNP is associated with MCV and MCHC.
        <o:p></o:p>
      </span></p>
      </p>
      <p>BCL11A</i>, B-cell CLL/lymphoma 11A): BCL11A is a zinc-finger protein essential for hematopoiesis. In
      humans, it controls the levels of fetal hemoglobin (HbF) and modulates disease
      severity in beta-thalassemia patients [<a href="http://www.ncbi.nlm.nih.gov/pubmed/20183929">Nuinoon 2010</a>]. This SNP is associated
      with RBC, MCH, and MCV.<strong>
      <o:p></o:p>
      </strong></p>
      <p>TFRC</i>, Transferrin receptor): TFRC is the key receptor that controls the uptake of iron by red
      blood cells. In humans, it is required for hemoglobin synthesis [<a href="http://www.ncbi.nlm.nih.gov/pubmed/15313461">Aisen 2004</a>].
      This SNP is associated with MCH and MCV.
      <o:p></o:p>
      </span></p>
      </p>
      <p>    HFE</i>, Hemochromatosis): HFE is a membrane protein that controls the uptake of iron by red
      blood cells. In humans, it regulates the interaction between transferrin
      receptor and transferrin [<a href="http://www.ncbi.nlm.nih.gov/pubmed/11479183">Hanson 2001</a>]. Mutations in this gene result in
      hemochromatosis, a disorder where too much iron accumulates in the body. This
      SNP is associated with Hb, Hct, MCH, MCHC, and MCV.
      <o:p></o:p>
      </p>
      <p>rs9389269 (HBS1L, HBS1-like): HBS1L
      is a GTP-binding elongation factor. In humans, HBS1L influences red blood cell
      count, volume, and hemoglobin content [<a href="http://www.ncbi.nlm.nih.gov/pubmed/17712044">Menzel 200</a>7]. Mutations in this gene are
      associated with fetal hemoglobin (HbF) levels [<a href="http://www.ncbi.nlm.nih.gov/pubmed/17592125">Thein 2007</a>], pain in sickle cell
      disease [<a href="http://www.ncbi.nlm.nih.gov/pubmed/18667698">Lettre 2008</a>], and severity of beta-thalassemia. This SNP is associated
      with RBC, Hb, Hct, MCH, MCHC, and MCV.      </p>
      <p>
        <o:p></o:p>
      rs12718598 (IKZF1, IKAROS family zinc finger 1): IKZF1 is a transcription factor expressed in the hematological
      tissues in fetuses and adults. In humans, it regulates lymphocyte (white blood
      cells of the immune system) differentiation [<a href="http://www.ncbi.nlm.nih.gov/pubmed/9143685">Georgopoulos 1997</a>]. This SNP is
      associated with RBC and MCV.
      <o:p></o:p>
      </span></p>
      </p>
      <p>rs2075672 (TFR2, Transferrin receptor 2): TFR2 is another receptor that controls the uptake of iron already
      bound to transferrin. In humans, it is involved in iron metabolism and
      erythrocyte differentiation [<a href="http://www.ncbi.nlm.nih.gov/pubmed/20826723">Forejtnikova 2010</a>]. This SNP is associated with
      RBC, Hct, MCH, MCHC, and MCV.<strong><span style='font-weight:normal'>
      <o:p></o:p>
      </span></strong></p>
      <p><strong><span style='font-weight:normal'>rs4737009 (ANK1, Ankyrin 1): ANK1
      is a membrane protein of the actin cytoskleton that is expressed in erythrocytes
      [<a href="http://www.ncbi.nlm.nih.gov/pubmed/492324">Bennett 1979</a>]. Mutations in this gene cause hereditary blood disorders
        (spherocytosis) [<a href="http://www.ncbi.nlm.nih.gov/pubmed/21099109">Gallagher 2010</a>]. This SNP is associated with MCHC.
      </span></strong></p>
      <p><strong><span style='font-weight:normal'>
        <o:p></o:p>
      rs579459 (ABO</i>, ABO blood group): ABO is a glycosyltransferase that converts the H antigen present
        on the outside of red blood cells into A or B antigen. This SNP is associated
        with RBC, Hb, and Hct.
      </span></strong></p>
      <p><strong><span style='font-weight:normal'>
      <o:p></o:p>
      rs10159477 (HK1</i>, Hexokinase 1): HK1 is a mitochondrial hexokinase involved in glycolysis.
        Mutations in this gene cause hemolytic anemia [<a href="http://www.ncbi.nlm.nih.gov/pubmed/12393545">van Wijk 2003</a>]. This SNP is
        associated with Hb, Hct, and MCV.
        <o:p></o:p>
      </span></strong></p>
      <p><strong><span style='font-weight:normal'>rs3184504 (SH2B3</i>, SH2B adaptor protein 3): SH2B3 is an adaptor protein that regulates
        cytokine signaling. In humans, it is involved in hematopoiesis and mutations in
        this gene cause erythrocytosis [<a href="http://www.ncbi.nlm.nih.gov/pubmed/21723852">Devalliere 2011</a>]. This SNP is associated with RBC, Hb, and Hct.
        </span></strong></span></p>
      </p>
      <p>rs2269906 (SLC4A1</i>, Solute carrier family 4, anion
      exchanger, member 1): SLC4A1 is an anion
      exchanger in red blood cell membranes [Scmukler 2000]. In humans, it regulates
      carbon dioxide transport from body tissue back to the lungs. Mutations in this
      gene cause hereditary red blood cell disorders (spherocytosis, ovalocytosis)
      and can result in anemia [<a href="http://www.ncbi.nlm.nih.gov/pubmed/12432217">Delaunay 2002</a>]. This SNP is associated with MCHC.      </p>
      <p>
        <o:p></o:p>
      rs855791 (TMPRSS6</i>, Transmembrane protease, serine
      6): TMPRSS6 is a transmembrane serine proteinase
      involved in iron metabolism [<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2430097/">Du 2008</a>]. In humans, mutations in this gene cause
      iron-deficiency anemia [<a href="http://www.ncbi.nlm.nih.gov/pubmed/18408718">Finberg 2008</a>]. This SNP is associated with Hb, Hct,
      MCH, MCHC, and MCV.
      <o:p></o:p>
      </p>
<p>Risk Estimates for Phenotypes Based on Genotypes
  <o:p></o:p>
        </span></u></p>
        <p>The genetic risk scores reported for each blood
        parameter tell you how different your score is from the overall population
        average score. In turn, these genetic risk scores can also predict how likely
        you are to be in the highest versus lowest quartile for population distribution
        of each blood parameter. For each phenotype the population distribution is
        divided into 4 groups of equal size: the top 25%, top-middle 25%, middle-bottom
        25%, and bottom 25%. Then risk estimates are calculated (red squares) as well
        as 95% confidence intervals (red horizontal bars on either side of squares).
          <o:p></o:p>
        </span></p>
        The graph below [Figure 3 from</span><a href="http://www.ncbi.nlm.nih.go/pubmed/23222517" style='mso-comment-reference:GG_2;mso-comment-date:20141021T0943'> van der Harst 2012</a>] illustrates the
          association between genetic SNP score and actual blood parameter values from a
          blood test. The results for each parameter are presented as the odds of you
          being in the highest phenotypic quartile for each quartile of genetic score.
          For example, if your genetic score for hemoglobin (Hb) is in the top 25%, then
          you have ~2.5x greater odds of also being in the top 25% of actual hemoglobin
          levels in your blood.</span> <a href="http://www.ncbi.nlm.nih.go/pubmed/23222517" style='mso-comment-reference:GG_2;mso-comment-date:20141021T0943'><span class="MsoCommentReference">
        <img
src="/media/template/bloodparameters/BloodParametersStuart_clip_image024.png"
alt="" width="198" height="232" align="left"
v:shapes="Picture_x0020_4" /></span></a></p>
        <h3><span class="MsoCommentReference">
        <![endif]>
        Interventions
        <o:p></o:p>
        </span></u></b></p>
</h3>
        <p>
          
          If your genetic scores indicate that you are at
          risk for low levels of any of the blood parameters, the first step is to
          monitor yourself for symptoms of anemia (fatigue, weakness, pale skin, a fast
          or irregular heartbeat, shortness of breath, dizziness, and headache). If you
          experience symptoms of anemia, consult your physician and/or health care
          professional. They can order a blood test (or more complex test) to measure the
          actual levels of your blood parameters.
  <o:p></o:p>
        </p>
        <p>Complete Blood Count (CBC): This
          test includes the 6 blood parameters that we report. It is the most commonly
          used test as a first level intervention.
        </p>
        <o:p></o:p>
        </p>
Hemoglobin Electrophoresis: This
          test measures the different types of hemoglobin in your body. It can be used to
          help distinguish between different types of anemia.
<o:p></o:p>
</span>
        </p>
Reticulocyte Count: This
          test measures the levels of immature red blood cells (reticulocytes) in your
          blood. It can be used for diagnosing the cause of low RBC levels.
        <p>
          <o:p></o:p>
          Iron Biomarkers: These
          tests measure the levels of serum iron, ferritin, soluble transferrin, and
        total iron-binding capacity in your body. </p>
        <p>If your blood parameter levels are below the
          normal range, then your physician can develop a set of interventions for you.
          The goal of these interventions is to increase the amount of oxygen your blood
          can carry to body tissues (ie. the oxygen carrying capacity to muscles during
          exercise). This can be accomplished in two ways: 1) by increasing the number of
          red blood cells (RBC) and/or 2) by increasing the amount of hemoglobin (Hb) in
          each red blood cell. Dietary modifications are the most common interventions,
          since only in extreme cases are medications (ie. synthetic EPO, iron
          supplements) or blood transfusions (ie. adding RBCs) necessary.
<o:p></o:p>
        </p>
        <p>Hematological Disorders in Athletes.
          <o:p></o:p>
          Anemia is the most common blood disorder and
          results when you have too little hemoglobin, too few red blood cells and/or
          your red blood cells do not function properly [<a href="http://www.nhlbi.nih.gov/health/health-topics/topics/anemia/">NHLBI</a>]. As a result, your blood
          does not adequately transport oxygen from your lungs to your body and your
          heart works harder than normal to compensate. These effects can severely impact
        athletic performance<a href="http://www.ncbi.nlm.nih.go/pubmed/23222517" style='mso-comment-reference:GG_2;mso-comment-date:20141021T0943'> [Haas 2001</a>]. </span><span style='mso-bidi-font-size:10.0pt;
font-family:Arial;mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:
minor-bidi;mso-fareast-language:EN-US'>Whether interventions in healthy
            non-symptomatic athletes can improve performance is controversial and not well
            understood [<a href="http://www.ncbi.nlm.nih.gov/pubmed/16004921">Mercer 2005</a>].</span><span style='font-family:Arial;mso-bidi-font-family:
&quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi'>
            <o:p></o:p>
            Anemia symptoms may include: fatigue, weakness,
            dizziness, shortness of breath, headache and/or fainting, cold hands/feet, pale
            skin and/or chest pain [<a href="http://www.hematology.org/Patients/Anemia/">ASH</a>]. It is important to know that many of these
            symptoms can be absent in well-trained athletes with mild to moderate anemia
            [<a href="http://www.ncbi.nlm.nih.gov/pubmed/16004921">Mercer 2005</a>].
            <o:p></o:p>
              
            <img
src="BloodParametersStuart_clip_image026.png" alt="26" width="470" height="65" hspace="9" align="left" v:shapes="_x0000_s1026" />
            <![endif]>
        </span></p>
        <p><span style='font-family:Arial;mso-bidi-font-family:
&quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi'>Dilutional Pseudoanemia: Dilutional pseudoanemia is a benign temporary
            condition common in athletes that occurs during periods of training. This
            condition does not affect overall health, does not compromise athletic
            performance [<a href="http://www.ncbi.nlm.nih.gov/pubmed/7265409">Dressendorfer 1981</a>], and reverses back to normal after a week of
              rest [<a href="http://www.ncbi.nlm.nih.gov/pubmed/6991463">Convertino 1980</a>]. Nonetheless it is important to distinguish it from the
              more severe versions of anemia.
          <o:p></o:p>
              
        During exercise plasma volume decreases 6-20%
        below baseline, but within a few hours after exercise plasma volume increases
        6-28% above baseline [<a href="http://www.ncbi.nlm.nih.gov/pubmed/4415099">Costill 1974</a>]. The amount of post-exercise change depends
              proportionally on the duration and intensity of effort [<a href="http://www.ncbi.nlm.nih.gov/pubmed/8066468">Selby 1994</a>]. With an
              increase in blood volume, hemoglobin concentrations fall on average 5% [<a href="http://www.ncbi.nlm.nih.gov/pubmed/5647638">Oscai
                1968</a>], resulting in the appearance of anemia.
            <o:p></o:p>
        Athletes should be aware of this condition but
        no interventions are necessary.
        <o:p></o:p>
        </span></p>
        <p><span style='font-family:Arial;mso-bidi-font-family:
&quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi'>Prelatent Anemia
  <o:p></o:p>
        Prelatent anemia is a mild stage of iron
        deficiency without clinical anemia. It is somewhat common among the general
        population, and occurs in approximately 11% of females and 4% of men [<a href="http://easyebook.org/book/9781451121032/sports-medicine-conditions-return-to-play-recognition-treatment-planning">Miller
            2013</a>].&nbsp;
        <o:p></o:p>
        Prelatent anemia is diagnosed by measuring
        levels of ferritin, the protein that stores iron in the liver and heart.
        Hemoglobin, MCV, and haptoglobin levels will all be normal, but ferritin levels
        will be decreased in athletes with prelatent anemia [<a href="http://www.ncbi.nlm.nih.gov/pubmed/16004921">Mercer 2005</a>].
        <o:p></o:p>
        Treatment and prevention of prelatent anemia
        include ensuring the athlete obtains enough iron on a daily basis from their
        diet since this condition is caused by a minor iron deficiency. If you are
        vegetarian or exclude red meat from your diet, you should talk with your
        physician about taking a daily iron supplement. &nbsp;
        </span></p>
        <p><span style='font-family:Arial;mso-bidi-font-family:
&quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi'>
        <o:p></o:p>
        Nutritional Anemia (Iron-Deficiency Anemia)
        <o:p></o:p>
        </span></u></i></p>
          
          <p>Nutritional anemia
          is a progressed stage of prelatent anemia caused by iron-deficiency, which has
          more severe consequences on health and athletic performance. Iron-deficiency
          anemia is less common in the general population, and occurs in 1-2% of adults
          [<a href="http://www.ncbi.nlm.nih.gov/pubmed/9091669">Looker 1997</a>]. It is unclear whether the rate of iron-deficiency anemia is
          elevated in endurance athletes, female athletes, or adolescent athletes, since
          multiple studies have reported conflicting results [<a href="http://www.ncbi.nlm.nih.gov/pubmed/16004921">Mercer 2005</a>].
          <o:p></o:p>
          Athletes with anemia
          typically experience a gradual onset of fatigue and an inability to exercise. Anemia
          may be caused by inadequate dietary iron intake [<a href="http://www.ncbi.nlm.nih.gov/pubmed/1521949">Weight 1992</a>], poor iron
          absorption in the intestine [<a href="http://www.ncbi.nlm.nih.gov/pubmed/7392904">Ehn 1980</a>], loss of iron through sweat while
          exercising [<a href="http://www.ncbi.nlm.nih.gov/pubmed/8912060">Nachtigall 1996</a>], and/or gastrointestinal hemorrhage after intense
          exercise [<a href="http://www.ncbi.nlm.nih.gov/pubmed/6609656">Stewart 1984</a>]. Nutritional anemia is more common in female athletes
          due to regular menstrual iron loss and low calorie intakes [&ldquo;<a href="www.hss.edu/athletic_anemia.pdf">Preventing
          Athletic Anemia</a>&rdquo;].
          <o:p></o:p>
          There is strong evidence to support that iron
          deficiency anemia limits athletic performance by reducing aerobic capacity,
          endurance, and energy utilization in the body [<a href="http://www.ncbi.nlm.nih.gov/pubmed/11160598">Haas 2001</a>]. These effects on
          performance can be effectively reversed by interventions guided by your
          physician [<a href="http://www.ncbi.nlm.nih.gov/pubmed/427041">Ohira 1979</a>].
          <o:p></o:p>
          Treatment and prevention of nutritional anemia often involves increasing
          the dietary intake of iron through diet and/or ferrous sulfate supplements. Athletes
          should ensure that they are meeting the recommended dietary allowances (RDAs)
          of iron from their regular diet or through supplements. Normal levels of RBCs
          and MCV should return within a few weeks after successful treatment for anemia,
          but increases in hemoglobin and ferritin can take up to a year [<a href="http://www.ncbi.nlm.nih.gov/pubmed/11323542">Friedmann 2001</a>].
          <o:p></o:p>
          </span></p>
          </p>
          <p>Intravascular Hemolysis:
            <o:p></o:p>
          Intravascular hemolysis is a condition in athletes
          where red blood cells are ruptured (hemolysis) inside the blood vessels. This
          condition is most common in middle to long-distance runners [<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC1479038/">Deitrick 1991</a>],
          but also can occur in triathletes, swimmers, cyclists, rowers, weightlifters,
          and martial artists. Clinically significant anemia is rare in athletes with
          hemolysis since the body usually compensates by producing more red blood cells
          [<a href="http://www.ncbi.nlm.nih.gov/pubmed/7740249">Smith 1995</a>].
          <o:p></o:p>
          Hemolysis is caused by physical forces [<a href="http://www.ncbi.nlm.nih.gov/pubmed/12391035">Telford
            2003</a>], hot temperature [<a href="http://www.ncbi.nlm.nih.gov/pubmed/1591788">Balaban 1992</a>], and/or oxidative/osmotic stress [<a href="http://www.ncbi.nlm.nih.gov/pubmed/7671878">Smith
              1995</a>] during exercise. An athlete&rsquo;s symptoms can include: dark colored urine,
          increased size of red blood cells, and/or decreased levels of serum haptoglobin,
          a protein that binds to free hemoglobin in the blood plasma [<a href="http://www.ncbi.nlm.nih.gov/pubmed/1653657">Weight 1991</a>].
          <o:p></o:p>
          If your physician suspects hemolysis, lab tests
          can be performed immediately after a workout to confirm it. Interventions to
          consider include: changing training from a hard to soft surface, alterations in
          running gait, limiting training intensity, and/or changing footwear. Episodes
          of hemolysis usually resolve in a few days and cessation of training is rarely
          necessary.
          <o:p></o:p>
          </p>
        <p>Dietary Interventions:
          <o:p></o:p>
          Dietary modifications can help prevent anemia
          and increase blood parameter levels. A well-balanced nutrient-rich diet is the
          best way to prevent nutritional anemia. Additionally, limiting alcohol
          consumption can help prevent anemia since excessive alcohol consumption can
          cause anemia. Three nutrients are essential for maintaining normal blood
          parameter levels: Iron, Vitamin B<sub>9</sub> (folic acid), and Vitamin B<sub>12</sub>.
          Your body also needs trace amounts of Vitamin C, Riboflavin, and Copper to make
          red blood cells properly. If dietary intake is not sufficient, supplements of
          these nutrients can be taken.
          <o:p></o:p>
          Iron: Iron is an essential
          component of hemoglobin, which is the oxygen transporting part of red blood cells. The RDA for males over the age of
            19 is 8 mg per day. The RDA for females between 19 and 50 is 18 mg per day, and
            for females over the age of 50, the RDA is 8mg per day [Dietary Supplement Fact
            Sheet]. </span><span style='font-family:Arial;mso-bidi-font-family:&quot;Times New Roman&quot;;
mso-bidi-theme-font:minor-bidi'>Foods rich in iron include: red meat, liver, shrimp,
              spinach, dark-green leafy vegetables, dried fruits, and nuts.
            <o:p></o:p>
              
            Vitamin B<sub>9</sub> (or Folate/Folic acid): Folate is important for red blood cell production. Foods rich in
              folate include: citrus juices, dark-green leafy vegetables, broccoli, eggs,
              legumes, and fortified cereals.
            <o:p></o:p>
            Vitamin B<sub>12</sub></span></i>: Vitamin
          B<sub>12</sub> is important for red blood cell production. Foods rich in
          Vitamin B<sub>12</sub> include: meat, dairy, and fortified cereals.
          <o:p></o:p>
    </p>
    <div class='help2'>
      <div id='help-disease-help'>
<div></div>
    <div></div>
  </div>
</div>

<br class='clear'>