<div id='ashley_diabetes_chart' class='exercise_template'>
	<section>
		You have <strong><span id='ashley_diabetes_count'></span></strong> out of <span id='ashley_diabetes_total'></span> Diabetes risk alleles.
	</section>
	<section>	
  		Risk Score: <strong><span id='ashley_diabetes_risk' class='submission'></span></strong>
  	</section>
</div>
<br/>
<br/>
<table id='ashley_diabetes_table' class='results-table hidden'>
  <thead>
  <tr>
    <th class='dbsnp'>dbSNP</th>
    <th class='dbsnp'>Genotype</th>
    <th class='risk_allele'>Risk</th>
    <th class='risk_frequency'>Risk frequency</th>
    <th class='genes'>Genes</th>
    <th class='pvalue'>P-value</th>
    <th class='odds_ratio'>OR</th>
    <th class='imputed'>Imputed From</th>
    <th class='rsq'>R<sup>2</sup></th>
  </tr>
  </thead>
  <tbody>
  <script id='ashley_diabetes_template' type='text/template'>
    <tr>
      <td class='key'><%= dbsnp %></td>
      <td class='value'><%= genotype %></td>
      <td><%= risk_allele %></td>
      <td><%= risk_frequency %></td>
      <td><%= genes %></td>
      <td><%= combined_p %></td>
      <td><%= combined_or %></td>
      <td class='imputed'><%= imputed_from %> <%= explain %></td>
      <td class='rsq'><%= r_squared %></td>
    </tr>
  </script>
  </tbody>
</table>
