<div id='ashley_cad_chart'>
  You have <strong><span id='ashley_cad_count'></span></strong> out of <span id='ashley_cad_total'></span> Coronary Artery Disease risk alleles.
</div>
<br/>
<br/>
<table id='ashley_cad_table' class='results-table hidden'>
  <thead>
  <tr>
    <th class='dbsnp'>dbSNP</th>
    <th class='dbsnp'>Genotype</th>
    <th class='risk_allele'>Risk allele</th>
    <th class='risk_frequency'>Gene</th>
    <th class='genes'>Drug</th>
    <th class='pvalue'>Gene Description</th>
    <th class='odds_ratio'>Drug effect</th>
    <th class='imputed'>Imputed From</th>
    <th class='rsq'>R<sup>2</sup></th>
  </tr>
  </thead>
  <tbody>
  <script id='ashley_cad_template' type='text/template'>
    <tr>
      <td class='key'><%= dbsnp %></td>
      <td class='value'><%= genotype %></td>
      <td><%= risk_allele %></td>
      <td><%= gene %></td>
      <td><%= drug %></td>
      <td><%= gene_long %></td>
      <td><%= drug_effect %></td>
      <td class='imputed'><%= imputed_from %> <%= explain %></td>
      <td class='rsq'><%= r_squared %></td>
    </tr>
  </script>
  </tbody>
</table>