<table id='class_writeups2_table' class='results-table hidden'>
  <thead>
  <tr>
    <th>dbSNP</th>
    <th>Genotype</th>
    <th>Risk Variant</th>
    <th>Disease/Trait</th>
    <th>Odds Ratio</th>
    <th>P-value</th>
    <th>Imputed From</th>
    <th>R<sup>2</sup></th>
  </tr>
  </thead>
  <tbody>
  <script id='class_writeups2_template' type='text/template'>
    <tr>
      <td class='key'><%= dbsnp %></td>
      <td class='value'><%= genotype %></td>
      <td><%= risk_variant %></td>
      <td><%= disease %></td>
      <td><%= odds_ratio %></td>
      <td><%= p_value %></td>
      <td><%= imputed_from %></td>
      <td><%= r_squared %></td>
    </tr>
  </script>
  </tbody>
</table>