<div id='disease_ckd_chart' class='exercise_template'>
	<section>
		You have <strong><span id='disease_ckd_count'></span></strong> out of <span id='disease_ckd_total'></span> Chronic Kidney Disease risk alleles.
	</section>
</div>
<br/>
<br/>
<table id='disease_ckd_table' class='results-table hidden'>
  <thead>
  <tr>
    <th class='dbsnp'>dbSNP</th>
    <th class='dbsnp'>Genotype</th>
    <th class='dbsnp'>Major Allele</th>
    <th class='dbsnp'>Minor Allele</th>
    <th class='risk_allele'>Risk Allele</th>
    <th class='risk_frequency'>Risk Frequency</th>
    <th class='genes'>Genes</th>
    <th class='p_value'>P-Value</th>
    <th class='odds_ratio'>Odds Ratio</th>
  </tr>
  </thead>
  <tbody>
  <script id='disease_ckd_template' type='text/template'>
    <tr>
      <td class='key'><%= dbsnp %></td>
      <td class='value'><%= genotype %></td>
      <td><%= major %></td>
      <td><%= minor %></td>
      <td><%= risk_allele %></td>
      <td><%= risk_frequency %></td>
      <td><%= genes %></td>
      <td><%= p_value %></td>
      <td><%= odds_ratio %></td>
    </tr>
  </script>
  </tbody>
</table>