<div id='disease_bmd_chart' class='exercise_template'>
	<section>
		You have <strong><span id='disease_bmd_count'></span></strong> out of <span id='disease_bmd_total'></span> Bone Mineral Density risk alleles.
	</section>
	<section>	
  		Risk Score: <strong><span id='disease_bmd_risk' class='submission'></span></strong>
  	</section>
</div>
<br/>
<br/>
<table id='disease_bmd_table' class='results-table hidden'>
  <thead>
  <tr>
    <th class='dbsnp'>dbSNP</th>
    <th class='dbsnp'>Genotype</th>
    <th class='dbsnp'>Major Allele</th>
    <th class='dbsnp'>Minor Allele</th>
    <th class='risk_allele'>Risk Allele</th>
    <th class='risk_frequency'>Risk Frequency</th>
    <th class='genes'>Genes</th>
    <th class='beta'>Beta-Coefficient</th>
    <th class='imputed'>Imputed From</th>
    <th class='rsq'>R<sup>2</sup></th>
  </tr>
  </thead>
  <tbody>
  <script id='disease_bmd_template' type='text/template'>
    <tr>
      <td class='key'><%= dbsnp %></td>
      <td class='value'><%= genotype %></td>
      <td><%= major %></td>
      <td><%= minor %></td>
      <td><%= risk_allele %></td>
      <td><%= risk_frequency %></td>
      <td><%= genes %></td>
      <td><%= beta %></td>
      <td class='imputed'><%= imputed_from %> <%= explain %></td>
      <td class='rsq'><%= r_squared %></td>
    </tr>
  </script>
  </tbody>
</table>