<div id='disease_egfrcys_chart' class='exercise_template'>
	<section>
		You have <strong><span id='disease_egfrcys_count'></span></strong> out of <span id='disease_egfrcys_total'></span> GFR Cystatin C risk alleles.
	</section>
	<section>	
  		Risk Score: <strong><span id='disease_egfrcys_risk' class='submission'></span></strong>
  	</section>
</div>
<br/>
<br/>
<table id='disease_egfrcys_table' class='results-table hidden'>
  <thead>
  <tr>
    <th class='dbsnp'>dbSNP</th>
    <th class='dbsnp'>Genotype</th>
    <th class='dbsnp'>Major Allele</th>
    <th class='dbsnp'>Minor Allele</th>
    <th class='risk_allele'>Risk Allele</th>
    <th class='risk_frequency'>Risk Frequency</th>
    <th class='genes'>Genes</th>
    <th class='p_value'>P-Value</th>
    <th class='beta'>Beta-Coefficient</th>
  </tr>
  </thead>
  <tbody>
  <script id='disease_egfrcys_template' type='text/template'>
    <tr>
      <td class='key'><%= dbsnp %></td>
      <td class='value'><%= genotype %></td>
      <td><%= major %></td>
      <td><%= minor %></td>
      <td><%= risk_allele %></td>
      <td><%= risk_frequency %></td>
      <td><%= genes %></td>
      <td><%= p_value %></td>
      <td><%= beta %></td>
    </tr>
  </script>
  </tbody>
</table>