<div id='gitler_neuro_chart'>
  You have :
  <br/>
  <br/>
  <li><strong><span id='gitler_neuro_pd'></span></strong> out of <strong><span id='gitler_neuro_pd_total'></span></strong> Parkinson's risk alleles (<strong><span id='gitler_neuro_pd_ratio'></span>%</strong>), </li>
  <li><strong><span id='gitler_neuro_ad'></span></strong> out of <strong><span id='gitler_neuro_ad_total'></span></strong> Alzheimer's risk alleles (<strong><span id='gitler_neuro_ad_ratio'></span>%</strong>), </li>
  <li><strong><span id='gitler_neuro_als'></span></strong> out of <strong><span id='gitler_neuro_als_total'></span></strong> ALS risk alleles (<strong><span id='gitler_neuro_als_ratio'></span>%</strong>), and </li>
  <li><strong><span id='gitler_neuro_ftd'></span></strong> out of <strong><span id='gitler_neuro_ftd_total'></span></strong> Frontotemporal Dementia risk alleles (<strong><span id='gitler_neuro_ftd_ratio'></span>%</strong>). </li>
</div>
<br/>
<br/>
<table id='gitler_neuro_table' class='results-table hidden'>
  <thead>
  <tr>
    <th class='dbsnp'>dbSNP</th>
    <th class='dbsnp'>Genotype</th>
    <th>Genes</th>
    <th>Risk allele</th>
    <th>Odds ratio</th>
    <th>Disease</th>
    <th class='imputed'>Imputed from</th>
    <th class='rsq'>R<sup>2</sup></th>
  </tr>
  </thead>
  <tbody>
  <script id='gitler_neuro_template' type='text/template'>
    <tr>
      <td class='key'><%= dbsnp %></td>
      <td class='value'><%= genotype %></td>
      <td><%= genes %></td>
      <td><%= risk_allele %></td>
      <td><%= odds_ratio %></td>
      <td><%= disease %></td>
      <td class='imputed'><%= imputed_from %> <%= explain %></td>
      <td class='rsq'><%= r_squared %></td>
    </tr>
  </script>
  </tbody>
</table>