<div id='kim_neandertal_chart' class='exercise_template'>
	<section>
		You have <strong><span id='kim_neandertal_count'></span></strong> out of <span id='kim_neandertal_total'></span> Neandertal alleles.
	</section>
</div>
<br/>
<br/>
<table id='kim_neandertal_table' class='results-table hidden'>
  <thead>
  <tr>
    <th class='dbsnp'>dbSNP</th>
    <th class='dbsnp'>Genotype</th>
    <th class='gene'>Genes</th>
    <th class='dbsnp'>Major Allele</th>
    <th class='dbsnp'>Minor Allele</th>
    <th class='risk'>Effect Allele</th>
    <th class='risk_freq'>Effect Frequency</th>
    <th class='beta'>Beta-Coefficient</th>
  </tr>
  </thead>
  <tbody>
  <script id='kim_neandertal_template' type='text/template'>
    <tr>
      <td class='key'><%= dbsnp %></td>
      <td class='value'><%= genotype %></td>
      <td><%= gene %></td>
      <td><%= major %></td>
      <td><%= minor %></td>
      <td><%= risk %></td>
      <td><%= risk_freq %></td>
      <td><%= beta %></td>
    </tr>
  </script>
  </tbody>
</table>