<table id='kim_linkage_p1_table' class='results-table hidden tablesorter {sortlist: [[3,0]]}'>
  <thead>
  <tr>
    <th>dbSNP</th>
    <th>Your Genotype</th>
  </tr>
  </thead>
  <tbody>
  <script id='kim_linkage_p1_template' type='text/template'>
    <tr>
      	<td class='dbsnp key'><a href='<%= info_url %>' target='_blank'><%= dbsnp %></a></td>
		<td class='genotype value'><%= genotype %></td>
    </tr>
  </script>
  </tbody>
</table>