<div id='submission-return' class='exercise_template' style="display:none; font-size: 1.3em;background-color:#0073EA;border:1px solid #005ab7;padding:10px;border-radius:4px;color:#fff;">
	<p>You <strong>MUST</strong> save your id number. You will need it to fill out your survey (see info on right) and find your match.</p>
	<p><strong>Your id is: <span id='submission-return-data' style="font-size:3em;margin-left:15px;"></span><strong></p>
</div>


<br/>
<br/>

<table id='mating_superproject_table' class='results-table hidden tablesorter {sortlist: [[3,0]]}'>
  <thead>
  <tr>
    <th>dbSNP</th>
    <th>Your Genotype</th>
  </tr>
  </thead>
  <tbody>
  <script id='mating_superproject_template' type='text/template'>
    <tr>
      	<td class='dbsnp key'><%= dbsnp %></td>
		<td class='genotype value'><%= genotype %></td>
    </tr>
  </script>
  </tbody>
</table>
