<table id='montgomery_intro_table' class='results-table hidden tablesorter {sortlist: [[3,0]]}'>
  <thead>
  <tr>
    <th>dbSNP</th>
    <th>Your Genotype</th>
    <th>Protective Allele</th>
    <th>Risk Allele</th>
  </tr>
  </thead>
  <tbody>
  <script id='montgomery_intro_template' type='text/template'>
    <tr>
      	<td class='dbsnp key'><%= dbsnp %></td>
		<td class='genotype value'><%= genotype %></td>
		<td><%= protective %></td>
		<td><%= risk %></td>
    </tr>
  </script>
  </tbody>
</table>
