<table id='montgomery_eqtl_table' class='results-table hidden'>
  <thead>
  <tr>
    <th class='dbsnp'>dbSNP</th>
    <th class='dbsnp'>Genotype</th>
    <th class='ref'>Reference</th>
    <th class='alt'>Alternate</th>
    <th class='gene'>Gene</th>
    <th class='rho'>Rho</th>
    <th class='pvalue'>P-value</th>
    <th class='trait'>Trait</th>
    <th class='imputed'>Imputed From</th>
    <th class='rsq'>R<sup>2</sup></th>
  </tr>
  </thead>
  <tbody>
  <script id='montgomery_eqtl_template' type='text/template'>
    <tr>
      <td class='key'><%= dbsnp %></td>
      <td class='value'><%= genotype %></td>
      <td><%= ref %></td>
      <td><%= alt %></td>
      <td><%= gene %></td>
      <td><%= rho %></td>
      <td><%= pvalue %></td>
      <td><%= trait %></td>
      <td class='imputed'><%= imputed_from %> <%= explain %></td>
      <td class='rsq'><%= r_squared %></td>
    </tr>
  </script>
  </tbody>
</table>