<table id='montgomery_expression_table' class='results-table hidden tablesorter {sortlist: [[3,0]]}'>
  <thead>
  <tr>
    <th>dbSNP</th>
    <th>Your Genotype</th>
    <th>Gene</th>
    <th>Phenotype</th>
    <th>Effect Allele</th>
  </tr>
  </thead>
  <tbody>
  <script id='montgomery_expression_template' type='text/template'>
    <tr>
      	<td class='dbsnp key'><%= dbsnp %></td>
		<td class='genotype value'><%= genotype %></td>
		<td><%= gene %></td>
		<td><%= phenotype %></td>
		<td><%= effect %></td>
    </tr>
  </script>
  </tbody>
</table>
