<table id='neuro_pd_table' class='results-table hidden tablesorter {sortlist: [[3,0]]}'>
  <thead>
  <tr>
    <th>dbSNP</th>
    <th>Your Genotype</th>
    <th>Gene</th>
    <th>Major allele</th>
    <th>Minor allele</th>
	<th>Risk</th>
	<th>Odds ratio</th>
  </tr>
  </thead>
  <tbody>
  <script id='neuro_pd_template' type='text/template'>
    <tr>
      	<td class='dbsnp key'><%= dbsnp %></td>
		<td class='genotype value'><%= genotype %></td>
		<td><%= gene %></td>
		<td><%= major %></td>
		<td><%= minor %></td>
		<td><%= risk %></td>
		<td><%= oddsratio %></td>
    </tr>
  </script>
  </tbody>
</table>
