<div id='neuro_education_chart' class='exercise_template'>
	<section>
		You have <strong><span id='neuro_education_count'></span></strong> out of <span id='neuro_education_total'></span> Education alleles.
	</section>
</div>
<br/>
<br/>
<table id='neuro_education_table' class='results-table hidden'>
  <thead>
  <tr>
    <th class='dbsnp'>dbSNP</th>
    <th class='dbsnp'>Genotype</th>
    <th class='dbsnp'>Major allele</th>
    <th class='dbsnp'>Minor allele</th>
    <th class='risk_allele'>Effect allele</th>
    <th class='risk_frequency'>Effect frequency</th>
    <th class='genes'>Genes</th>
    <th class='pvalue'>P-value</th>
    <th class='odds_ratio'>Odds ratio</th>
  </tr>
  </thead>
  <tbody>
  <script id='neuro_education_template' type='text/template'>
    <tr>
      <td class='key'><%= dbsnp %></td>
      <td class='value'><%= genotype %></td>
      <td><%= major %></td>
      <td><%= minor %></td>
      <td><%= risk %></td>
      <td><%= risk_freq %></td>
      <td><%= gene %></td>
      <td><%= pvalue %></td>
      <td><%= oddsratio %></td>
    </tr>
  </script>
  </tbody>
</table>
