<table id='pgx_2013_table' class='results-table hidden tablesorter {sortlist: [[3,0]]}'>
  <thead>
  <tr>
    <th>dbSNP</th>
    <th>Your Genotype</th>
    <th>Gene</th>
    <th>Wild type allele</th>
    <th>Mutant allele</th>
	<th>Function</th>
	<th>Drug effects</th>
  </tr>
  </thead>
  <tbody>
  <script id='pgx_2013_template' type='text/template'>
    <tr>
      	<td class='dbsnp key'><%= dbsnp %></td>
		<td class='genotype value'><%= genotype %></td>
		<td><%= gene %></td>
		<td><%= wildtype %></td>
		<td><%= mutant %></td>
		<td><%= functional %></td>
		<td><%= drug %></td>
    </tr>
  </script>
  </tbody>
</table>
