<table id='snyderome_2014_table' class='results-table hidden tablesorter {sortlist: [[3,0]]}'>
  <thead>
  <tr>
    <th>dbSNP</th>
    <th>Your Genotype</th>
    <th>Phenotype</th>
    <th>Gene</th>
    <th>Risk Allele</th>
    <th>Risk Frequency</th>
    <th>Odds Ratio</th>
  </tr>
  </thead>
  <tbody>
  <script id='snyderome_2014_template' type='text/template'>
    <tr>
      	<td class='dbsnp key'><%= dbsnp %></td>
		<td class='genotype value'><%= genotype %></td>
		<td><%= phenotype %></td>
		<td><%= gene %></td>
		<td><%= risk %></td>
		<td><%= freq %></td>
		<td><%= oddsratio %></td>
    </tr>
  </script>
  </tbody>
</table>
