<h2>Diabetes SNPs</h2>
<br>
Many genetic variants have been associated with diabetes.
<br><br>
In this exercise, we will explore a set of variants associated with diabetes.
Note that this is not an exhaustive list of variants,
nor is the total number of risk alleles an official indicator of developing diabetes.
These variants are purely for educational and research purposes only.