<h2>Neurodegenerative SNPs</h2>
<br/>
Genetics can play an influential role in neurodegenerative diseases, including Alzheimer's disease,
Parkinson's disease, ALS, and Frontotemporal Dementia, which will be explored in this exercise.
Some of these diseases have genetic variants associated with them with a high predictive value.
It should be noted, however, that people with these genetic variants will not necessarily get the disease,
nor do people without these variants have no risk of the disease. Family history and other clinical factors
still play a large role in the susceptibility to these diseases. SNPs with a strong predictive value
for Alzheimer's and Parkinson's disease are not shown here for ethical reasons.
<br/><br/>
In this exercise, we will explore our variants at the sites discovered by a few studies.
As with any exercise, these variants are not diagnostic
and the number of alleles cannot be used as an official indicator of neurodegenerative disease.