<h2>Genetic Linkage</h2>

<p>A <strong>haplotype</strong> is the combination of alleles at two or more genes in a single individual. The alleles of independent genes assort randomly into gametes. For independently assorting genes, their haplotype frequencies in a population can be calculated based on the allele frequencies of each gene.</p>

<p><strong>Linkage disequilibrium</strong> is the non-random association of alleles at two or more loci. Linkage disequilibrium can occur due to factors such as close physical proximity (linkage) or population structure. SNPs that are near each other on the chromosome co-segregate except when they become separated by recombination. Populations that are distinct can also cause SNPs to co-segregate; for example, Asian-specific SNPs and European-specific SNPs co-segregate because the races are fairly distinct.</p>
