<h2>Longevity</h2>
There have been documented cases of families where multiple family members become supercentenarians (>110 years old),
suggesting the heritability of extreme longevity.
Various groups have begun to study this phenomenon, attempting to find genetic markers associated with long life.
A recent controversial paper, <a href='http://www.sciencemag.org/content/early/2010/11/10/science.1190532.abstract'>Sebastiani et al</a>,
has identified putative loci linked with extreme longevity.
<br/><br/>
You can look up longevity snps identified from a new statistical framework to find genetic variants associated with extreme human longevity. The method, informed GWAS (iGWAS), takes advantage of knowledge from large studies of age-related disease in order to narrow the search for SNPs associated with longevity.  iGWAS  harnessed information from 14 meta-analyses of disease and trait GWAS to identify longevity loci in two studies of long-lived humans. In total, eight genetic loci were found to associate significantly (false discovery rate &lt; 10%) with exceptional human longevity.  The loci that replicated (false discovery rate &lt; 5%) included APOE/TOMM40 (a locus associated with Alzheimer&rsquo;s disease), CDKN2B/ANRIL (implicated in the regulation of cellular senescence), ABO (tags the O blood group), and SH2B3/ATXN2 (a signaling gene that can extend lifespan in Drosophila and a gene involved in neurological disease). 