<h2>eQTLs</h2>
<br/>
While analyzing genetic variants gives us a piece of the picture, variation can also happen at the level of gene expression. With the advent of RNA sequencing, this can now be done at a highly quantitative level by analyzing the number of sequencing reads that map to a region of the genome.
<br/><br/>
eQTLs are expression quantitative trait loci. More simply, they are variants in the genome that regulate the level of gene expression. Here, we explain how much expression changes with <b><u>rho</u></b>.
<br/><br/>
Rho can be positive or negative and is a quantitative value. It is alphabetical in the direction of effect and quatitative for each allele present. For example, C&#060;T is positive, while C&#62;T is negative. The magnitude of the effect is in terms of a Spearman Rank Correlation coefficient. Therefore, a higher rho indicates higher expression, but is not a direct measure of the level of expression.