<h2>Neandertal</h2>
Recent evidence has suggested that humans may have interbred with Neandertals after their migration out of Africa.
With the <a href='http://stanford.edu/class/gene210/files/readings/green_neandertal.pdf'>sequencing of the Neandertal genome</a>,
variants have been found in Neandertals and Europeans and Asians, but not Africans.
<br/><br/>
In this exercise, you can count the number of Neandertal alleles in your personal genotype.
Note that this index is not an actual measure of your physical similarity to a Neandertal.
<br/><br/>
This analysis is adapted from <a href='http://spittoon.23andme.com/2010/05/06/new-evidence-suggests-interbreeding-between-humans-and-neanderthals/'>David Lonard's analysis on the Spittoon Blog</a>.<br/><br/>
<a href='http://stanford.edu/class/gene210/files/readings/23andme_Neanderthal_Ancestry.pdf'>23andme neandertal methodology</a>
